<div class="page-documents">
    <div data-ng-if="$ctrl.isLoading" class="loading-overlay"></div>

    <section class="padding white-bg padding margin-vertical box-shadow header-pill-menu-section">
        <h3>Mailings</h3>

        <nav class="nav nav-pills justify-content-center">
            <a class="nav-item nav-link" data-ng-href="#!/Mailing/Invoice" id="info-sub-view-link-invoices"
               data-ng-class="{'active':$ctrl.selectedView==='Invoice'}">
                Invoices
            </a>

            <a class="nav-item nav-link" href="#!/Mailing/Newsletter" id="info-sub-view-link-newsletters"
               data-ng-class="{'active':$ctrl.selectedView==='Newsletter'}">
                Newsletters
            </a>

            <a class="nav-item nav-link" href="#!/Mailing/History" id="info-sub-view-link-history"
               data-ng-class="{'active':$ctrl.selectedView==='History'}">
                History
            </a>
        </nav>
    </section>

    <div class="padding white-bg margin-vertical spinner-effect" data-ng-if="$ctrl.selectedView === 'Invoice'">
        <mailing-invoice></mailing-invoice>
    </div>

    <div class="padding white-bg margin-vertical spinner-effect" data-ng-if="$ctrl.selectedView === 'Newsletter'">
        Newsletter mailing coming soon. In the meantime, you can <a href="https://help.communityally.org/how-to-send-an-e-mail-with-an-attachment/">send your newsletter via email</a> if you want.
    </div>

    <div class="padding white-bg margin-vertical spinner-effect" data-ng-if="$ctrl.selectedView === 'History'">
        <mailing-history></mailing-history>
    </div>
</div>