<div>
    <div data-ng-if="$ctrl.isLoading" class="loading-overlay"></div>

    <h2 style="display: inline-block;">Send Invoices</h2>
    <a class="help-link" style="display: inline-block; margin-left: 20px;" target="_blank" href="https://help.communityally.org/sending-invoices/">View Help</a>
    <p>
        Here you can quickly and easily send out invoices to all of the members of your association. Follow the steps below to send e-mail and/or
        mailed paper invoices to your members. Paper letters cost {{$ctrl.paperInvoiceDollars | currency}} (total, includes print, prep, and postage. +$1 for international mailing) per sent
        invoice. Paper letters are sent via presorted first class mail and take about 7 calendar days to arrive.
    </p>
    <br />
    <br />
    <!--<h1 style="color: blue;">TEST MODE: No e-mails will be sent, no paper letters will be sent, and your credit card will not be charged.</h1>
    <br />
    <br />-->

    <wizard data-ng-hide="$ctrl.hideWizard" on-finish="$ctrl.onFinishedWizard()">
        <wz-step title="Info">
            <h2 class="StepTitle"></h2>
            <p>
                First, please provide some basic information we need to generate the invoice document.
            </p>
            <div>
                <div class="mb-3 row">
                    <div class="form-group col-12">
                        <label for="due-date-textbox" class="col-form-label">
                            From Address:
                        </label>
                        <!--<textarea type="text" class="form-control form-control-sm" data-ng-model="$ctrl.fullMailingInfo.fromAddress" rows="4"></textarea>-->
                        <street-address-form data-street-address="$ctrl.fullMailingInfo.fromStreetAddress"></street-address-form>
                    </div>
                </div>

                <!--<div class="mb-3 row">
                    <div class="form-group col-12">
                        <label class="col-2 col-form-label">
                            Sending Reason:
                        </label>
                        <div class="col-10" style="display: inline-block;">
                            <label><input type="radio" name="sending-reason" data-ng-model="$ctrl.fullMailingInfo.sendingReason" value="Assessment" />Assessment</label>
                            <label class="ml-4"><input type="radio" name="sending-reason" data-ng-model="$ctrl.fullMailingInfo.sendingReason" value="Special Assessment" />Special Assessment</label>
                            <label class="ml-4"><input type="radio" name="sending-reason" data-ng-model="$ctrl.fullMailingInfo.sendingReason" value="Other" />Other</label>
                        </div>  
                    </div>                    
                </div>-->

                <div class="mb-3 form-group row">
                    <label for="due-date-textbox" class="col-2 col-form-label">
                        Due Date:
                    </label>
                    <div class="col-5">
                        <input type="text" class="form-control" id="due-date-textbox" data-ng-model="$ctrl.fullMailingInfo.dueDateString">
                    </div>
                </div>

                <div class="mb-3 form-group row">
                    <label for="dues-label-textbox" class="col-2 col-form-label">
                        Dues Label:
                    </label>
                    <div class="col-5">
                        <input type="text" class="form-control" id="dues-label-textbox" data-ng-model="$ctrl.fullMailingInfo.duesLabel">
                    </div>
                </div>

                <div class="mb-3 form-group row">
                    <div class="form-group col-12">
                        <label for="notes-textbox" class="col-form-label">
                            Notes:
                        </label><br />
                        <textarea id="notes-textbox" type="text" class="form-control form-control-sm" data-ng-model="$ctrl.fullMailingInfo.notes" rows="4"></textarea>
                        <span class="note-text">
                            These notes will appear at the bottom of the invoice. For example, use them to provide payment instructions and/or thank your member.
                        </span>
                    </div>
                </div>
            </div>

            <input id="next-button-0" type="submit" class="btn btn-sign-up-wiz" style="width:95%; float: none; margin: 0 auto;" wz-next value="Next Step" />
        </wz-step>

        <wz-step title="Recipients">
            <h2 class="StepTitle"></h2>
            <p>
                Select to which homes an invoice will be sent and how much will be listed due. You can preview the invoices on the third step.
            </p>
            <div style="text-align: right;">
                Set all amounts due to: $<input type="number" style="width: 70px;" data-ng-model="$ctrl.allDuesSetAmount" /><button type="button" data-ng-click="$ctrl.setAllDues()">Set</button>
            </div>
            <div>
                <div data-ng-if="$ctrl.activeStepIndex === 1" data-ui-grid="$ctrl.homesGridOptions" ui-grid-auto-resize ui-grid-selection ui-grid-resize-columns class="gridStyle margin-top-20"></div>
                <div>
                    {{$ctrl.selectedEntries.length}} recipient{{$ctrl.selectedEntries.length === 1 ? '' : 's'}} selected
                </div>
            </div>
            <br />
            <input type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: left;" wz-previous value="Back" />
            <input type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: right;" wz-next value="Next Step" />
            <div class="clearfix"></div>
        </wz-step>

        <wz-step title="Delivery Method">
            <h2 class="StepTitle"></h2>
            <p>
                Select how you want to send the invoice to these homeowners.
            </p>
            <div>
                <div>
                    <span class="text-link" data-ng-click="$ctrl.toggleAllSending('email')">Toggle All E-mail Sending</span>
                    <span class="text-link ml-3" data-ng-click="$ctrl.toggleAllSending('paper')">Toggle All Paper Mail Sending</span>
                </div>
                <div class="border p-2 m-2" style="position: relative;" data-ng-repeat="recipient in $ctrl.selectedEntries">
                    <div class="loading-overlay" data-ng-if="recipient.isValidating"></div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <h2>{{ recipient.homeNames }}</h2>
                                </td>
                                <td>
                                    {{ recipient.ownerNames }} owes  {{ recipient.amountDue - (recipient.balanceForward || 0) + (recipient.lateFee || 0) | currency }}.
                                </td>
                                <td></td>
                            </tr>
                            <tr data-ng-if="recipient.amountDue > 0">
                                <td class="AlignRightBold">
                                    <label><input type="checkbox" data-ng-model="recipient.shouldSendEmail" />Send E-mail</label>
                                </td>
                                <td style="width: 600px;">
                                    <input type="text" class="form-control form-control-sm" data-ng-model="recipient.emailAddresses" />
                                    <div class="text-error" data-ng-if="recipient.shouldSendEmail && (!recipient.emailAddresses || recipient.emailAddresses.length === 0)">E-mail Required</div>
                                </td>
                                <td></td>
                            </tr>
                            <tr data-ng-if="recipient.amountDue > 0">
                                <td class="AlignRightBold">
                                    <label><input type="checkbox" data-ng-change="$ctrl.onShouldSendPaperMailChange( recipient )" data-ng-model="recipient.shouldSendPaperMail" />Send Paper Mail</label>
                                </td>
                                <td style="width: 600px;">
                                    <!--<textarea type="text" class="form-control form-control-sm" data-ng-change="$ctrl.onAddressChanged( recipient )" data-ng-model-options="{ debounce: 1000 }" data-ng-model="recipient.streetAddress" rows="4"></textarea>-->
                                    <street-address-form data-street-address="recipient.streetAddressObject"></street-address-form>
                                </td>
                                <td>
                                    <!--<div class="text-error" data-ng-if="recipient.shouldSendPaperMail && (!recipient.streetAddress || recipient.streetAddress.length === 0)">Address Required</div>-->

                                    <div class="text-error" data-ng-if="recipient.isValid === false">{{recipient.validationMessage}}</div>

                                    <div class="text-error" data-ng-if="recipient.isValid === true" style="color: darkgreen;">
                                        {{recipient.validationMessage}}:<br />
                                        <div style="white-space: pre;">{{recipient.validatedAddress}}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr data-ng-if="recipient.amountDue > 0">
                                <td colspan="2" style="text-align: center;">
                                    <span class="text-link" data-ng-click="$ctrl.previewInvoice( recipient )">Preview Invoice PDF</span>
                                </td>
                                <td></td>
                            </tr>
                            <tr data-ng-if="!recipient.amountDue">
                                <td></td>
                                <td class="note-text">
                                    You indicated this member owes nothing so no invoice will be sent.
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <input type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: left;" wz-previous value="Back" />
            <input type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: right;" wz-next value="Next Step" />
            <div class="clearfix"></div>
        </wz-step>

        <wz-step title="Confirm">
            <h2 class="StepTitle"></h2>
            <p>
                Confirm these numbers are correct, pay any mailing fees, and your letters and e-mails will be sent.
            </p>

            <div class="text-center text-large">
                <div>E-mails to send: <span style="font-weight: bold;">{{$ctrl.numEmailsToSend}}</span></div>
                <div>Paper letters to mail: <span style="font-weight: bold;">{{$ctrl.numPaperLettersToSend}}</span></div>
                <div data-ng-if="$ctrl.numPaperLettersToSend > 0">Total Cost: <span style="font-weight: bold;">{{$ctrl.numPaperLettersToSend * 2 | currency}}</span></div>
                <div data-ng-if="$ctrl.numPaperLettersToSend === 0">Total Cost: <span style="font-weight: bold;">Free</span></div>
            </div>

            <br />
            <br />
            <!--<h1 style="color: blue;">Use this information to checkout:<br />
            Credit Card Number: 4242424242424242<br />
            Expiration: 12/21<br />
            CVC: 123<br />
            ZIP: 12345</h1>-->
            <input type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: left;" wz-previous value="Back" />
            <input id="finish-button" type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: right;" wz-next value="Finish" />
            <div class="clearfix"></div>
        </wz-step>
    </wizard>

</div>