.page-documents {
    .info-welcome {
        display: flex;
        justify-content: center;

        .nav-pills {
            flex-wrap: wrap;

            li {
                padding: 0px 40px;

                a {
                    padding: 4px;

                    &.selected {
                        border: 1px solid #08c;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
    /* Docs page start */
    .info li {
        list-style-position: inside;
    }

    .form-control.search-box {
        font-size: 14px;
        padding: 4px 12px;
    }

    h2 small {
        font-size: 13px;
        font-weight: normal;
    }

    .Document_Folder, .Document_File, .Document_Folder_Selected, .Document_File_Selected {
        cursor: pointer;
    }

    .Document_Folder_Selected, .Document_File_Selected {
        background-color: #4BF;
        font-weight: bold;
    }

    .Document_Folder_DropHover {
        background-color: #6CF;
    }

    .Document_Folder > table, .Document_Folder_Selected > table, .Document_File > table, .Document_File_Selected > table {
        table-layout: fixed;
        width: 100%;
    }

    #DirectoryTree, #FileList, #SelectedFileInfo, #NoSelectedFileInfo, #SelectedFolderInfo {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    #DirectoryTree {
        left: 0px;
        border-right: 2px solid #000;
    }

    #FileList {
        border-right: 2px solid #000;
    }

    #FileTreeContainer {
        position: relative;
    }

    #CreateDirectoryPanel {
        position: absolute;
        left: 40%;
        top: 5%;
        background-color: #FFF;
        border: 5px solid #39A2C0;
        padding: 1em;
        text-align: center;

        input.form-control {
            display: inline-block;
            width: 200px;
            padding: 3px 6px;
        }

        button {
            width: 75px;
        }
    }

    #FileUploadProgressContainer {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 600;
    }

    #FileUploadProgressPanel {
        position: relative;
        top: 100px;
        margin: 0 auto;
        height: 200px;
        width: 500px;
        background-color: #FFF;
        border: solid 2px #000;
        padding: 1em;
        text-align: center;
        z-index: 500;
    }

    #FileUploadProgressBarContainer {
        margin: 0 auto;
        width: 250px;
        height: 50px;
        border: solid 2px #000;
    }

    #FileUploadProgressBar {
        position: relative;
        top: 0%;
        width: 75%;
        height: 100%;
        background-color: #0C0;
    }

    #documents-area {
        border: 1px solid #ddd;

        > .row > div {
            min-height: 300px;

            &:first-child {
                padding-right: 15px !important;
                min-height: 600px;

                @media (min-width: 620px) {
                    padding-right: 0px !important;
                }
            }
        }
    }

    #directory-panel {
        background: #f3f3f3;
        height: 100%;
        overflow-y: hidden;
        padding: 7px;
    }

    .directory-list-panel, .directory-list-panel-full {
        width: 100%;
        overflow-y: scroll;
        border: 1px solid #CCC;
        background-color: #fff;
    }

    .directory-list-panel {
        height: 81%;
    }

    .directory-list-panel-full {
        height: 93%;
    }

    .file-list-panel {
        height: 100%;
        overflow-y: auto;
    }

    #private-folder-note {
        background-color: #FFA;
        border: 1px solid #000;
        padding: 0.5em;
    }

    div {
        &.directory, &.directory-private {
            height: 33px;
            color: #000;
            font-weight: 600;
            margin: 12px 0 4px 0;
            cursor: pointer;
        }

        &.sub-directory {
            margin: 4px 0;
        }
    }

    .directory > span.folder-icon, .directory-private > span.folder-icon,
    .directory > span.folder-multi-icon, .directory-private > span.folder-multi-icon {
        height: 100%;
        background: url(/assets/images/folders.png) no-repeat 0 0;
        width: 41px;
        display: inline-block;
    }

    .directory > span.folder-multi-icon {
        background-position: 0 -92px;
    }

    .directory-private > span.folder-icon {
        background: url(/assets/images/folders-private.png) no-repeat 0 0;
    }

    .directory-private > span.folder-multi-icon {
        background: url(/assets/images/folders-private.png) no-repeat 0 0;
        background-position: 0 -92px;
    }

    .directory-selected > span.folder-icon, .directory-selected > span.folder-multi-icon {
        background-position: 0 -54px !important;
    }

    .directory > span.directory-name, .directory-private > span.directory-name {
        position: relative;
        top: -14px;
    }

    .directory-selected > span.directory-name {
        color: #4583b6;
        font-weight: bold;
    }

    .media-item {
        label {
            font-weight: 600;
        }

        .uploader {
            font-style: italic;
            color: #a3a2a2;
            font-size: 12px;
        }

        .file_settings {
            text-align: right;
            padding-right: 40px;

            a {
                color: #4583b6;
                margin: 0px 4px;
                font-size: 13px;
            }

            @media (max-width: 700px) {
                text-align: left;
            }
        }
    }


    .btn-create-folder {
        background: #ccc;
        background: -moz-linear-gradient(top,#ccc 0%,#e9e7e6 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ccc),color-stop(100%,#e9e7e6));
        background: -webkit-linear-gradient(top,#ccc 0%,#e9e7e6 100%);
        background: -o-linear-gradient(top,#ccc 0%,#e9e7e6 100%);
        background: -ms-linear-gradient(top,#ccc 0%,#e9e7e6 100%);
        background: linear-gradient(to bottom,#ccc 0%,#e9e7e6 100%);
        padding: 6px 12px;
        color: #4583b6;
        width: auto;
        margin: 0 0 1em 1em;
        border-radius: 5px;
        display: inline-block;
    }
    /* Docs page end */
}
