<link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800' rel='stylesheet' type='text/css'>

<div class="page page-my-profile margin-vertical padding white-bg" style="font-family: Raleway,sans-serif;">
    <div>
        <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
        <div data-ng-show="$ctrl.hideWizard">
            {{ $ctrl.resultMessage }}
        </div>
        
        <wizard data-ng-hide="$ctrl.hideWizard" on-finish="$ctrl.onFinishedWizard()">
            <wz-step title="Association Info">

                <h2 class="StepTitle"></h2>
                <div>
                    <span style="font-weight: bold; font-size: large; color: #0188f3;">As promised, signing-up for a brand new site is fast and easy. We said no credit card required and we meant it! Just start with the address of your association and you're almost done.</span><br />
                    <br />
                    <div data-ng-if="$ctrl.signUpInfo.buildings.length < 2">
                        <label style="font-weight: bold;">Association's Address:</label> <input type="text" id="building-0-address-text-box" style="width:100%;" data-ng-change="$ctrl.shouldCheckAddress = true" data-ng-model="$ctrl.signUpInfo.buildings[0].streetAddress" /><br />
                        <span>If your building has a range of addresses, use the lowest street number</span><br />
                        <span style="display: none;" class="text-button">My condo association is made up of more than one building.</span>
                    </div>
                    <br />

                    <div style="position: relative;">
                        <div id="map-loading-overlay" class="loading-overlay" data-ng-show="$ctrl.isLoadingMap"></div>
                        <label style="font-weight: bold;">Association's Name:</label> <input id="association-name-text-box" type="text" style="width:100%;" data-ng-focus="$ctrl.checkAddress()" data-ng-model="$ctrl.signUpInfo.name" data-ng-keyup="$ctrl.onAssociationNameChanged()" /><br />
                        <div data-ng-if="$ctrl.shouldShowHoaMessage" class="alert alert-warning mt-2" style="font-weight: bold; font-size: 1.2em;">
                            Are you an HOA rather than a condo association? If so, you'd probably prefer to <a href="https://login.hoaally.org/#!/HoaSignUp">sign-up for HOA Ally</a> instead.
                        </div>
                        <br />
                        <div data-ng-if="$ctrl.signUpInfo.buildings.length > 1">
                        </div>

                        <div id="address-map" style="width:100%; height: 300px;">
                        </div>
                    </div>
                </div>
                <br />
                <input id="next-button-0" type="submit" class="btn btn-sign-up-wiz" style="width:95%; float: none; margin: 0 auto;" wz-next value="Next Step" />

            </wz-step>

            <wz-step title="Units">

                <h2 class="StepTitle"></h2>
                <div>
                    <div style="display:inline-block; width: 100%;">
                        <span class="Question" style="font-weight: bold;">How many units are in your building?</span>
                        <input type="number" data-ng-model="$ctrl.numUnits" data-ng-change="$ctrl.onNumUnitsChanged()" style="background-color: #FFF; padding: 0; width: 100%;" />
                    </div>
                    <div style="display:inline-block; width: 100%;">
                        <span class="Question" style="font-weight: bold;">How are your units identified?</span><br />
                        <div>
                            <label style="display: inline;">
                                <input type="radio" name="UnitNumbering" data-ng-model="$ctrl.unitNumberingType" data-ng-change="$ctrl.onNumberingTypeChange()" value="Numbered" checked="checked" />Numbered
                            </label>
                            <label style="display: inline; padding-left: 50px;">
                                <input type="radio" name="UnitNumbering" data-ng-model="$ctrl.unitNumberingType" data-ng-change="$ctrl.onNumberingTypeChange()" value="Lettered" />Lettered
                            </label>
                            <label style="display: inline; padding-left: 50px;">
                                <input id="unit-name-type-EW" type="radio" name="UnitNumbering" data-ng-model="$ctrl.unitNumberingType" data-ng-change="$ctrl.onNumberingTypeChange()" value="EW" />East/West Numbered
                            </label>
                            <label style="display: inline; padding-left: 50px;">
                                <input type="radio" name="UnitNumbering" data-ng-model="$ctrl.unitNumberingType" data-ng-change="$ctrl.onNumberingTypeChange()" value="NS" />North/South Numbered
                            </label>
                            <label style="display: inline; padding-left: 50px;">
                                <input type="radio" name="UnitNumbering" data-ng-model="$ctrl.unitNumberingType" data-ng-change="$ctrl.onNumberingTypeChange()" value="Other" />Other
                            </label>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="text-center">
                        <span class="Question" style="font-weight: bold;">Confirm your units are all identified correctly below:</span><br />
                        <span style="font-style: italic; font-size: small; display: inline-block; margin-top: 2px;">The order doesn't matter, just make sure every unit in your building is represented below</span>

                        <div style="margin: 0 auto; width: 95%;">
                            <label data-ng-repeat="unit in $ctrl.signUpInfo.buildings[0].units track by $index" style="display: inline-block; margin: 1em;">
                                {{ $index + 1 }}.
                                <input id="unit-name-textbox-{{ $index }}" type="text" style="width: 60px;" data-ng-model="unit.name" />
                            </label>
                        </div>
                    </div>
                </div>

                <input type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: left;" wz-previous value="Back" />
                <input id="next-button-1" type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: right;" wz-next value="Next Step" />
                <div class="clearfix"></div>
            </wz-step>

            <wz-step title="Your Info">

                <h2 class="StepTitle">Your Info</h2>
                <span style="font-weight: bold;">First Name:</span><br />
                <input type="text" style="width: 100%;" data-ng-model="$ctrl.signUpInfo.signerUpInfo.firstName" /><br />
                <span style="font-weight: bold;">Last Name:</span><br />
                <input type="text" style="width: 100%;" data-ng-model="$ctrl.signUpInfo.signerUpInfo.lastName" /><br />
                <span style="font-weight: bold;">E-mail Address:</span><br />
                <input type="text" style="width: 100%;" data-ng-model="$ctrl.signUpInfo.signerUpInfo.email" /><br />
                <span style="font-weight: bold;">Your Unit:</span><br />
                <select id="signer-up-unit-select"
                        cssclass="RegularDDl"
                        style="width: 100%; height: 31px;"
                        ng-model="$ctrl.signUpInfo.signerUpInfo.unitIndex"
                        ng-options="index as unit.name for (index, unit) in $ctrl.signUpInfo.buildings[0].units">
                    <option value=""></option>
                </select>
                <br />
                <span style="font-weight: bold;">Board Position:</span><br />
                <select id="signer-up-board-select" data-ng-model="$ctrl.signUpInfo.signerUpInfo.boardPositionValue" style="width: 100%;">
                    <option value="1">President</option>
                    <option value="4">Secretary</option>
                    <option value="2">Treasurer</option>
                    <option value="8">Director/Trustee</option>
                    <option value="16">Vice President</option>
                    <option value="0">Resident</option>
                    <option value="32">Property Manager</option>
                </select>
                <br />
                <br />
                <div class="form-group row mb-1 text-center">
                    <div id="recaptcha-check-elem" class="g-recaptcha" style="display: inline-block; margin: 0 auto;" data-sitekey="6LfNM3UUAAAAAENjycvvELqQ7PzRQ1y0PtxGFMvF"></div>
                </div>
                <br />
                <input type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: left;" wz-previous value="Back" />
                <input id="finish-button" type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: right;" wz-next value="Finish" />
                <div class="clearfix"></div>
            </wz-step>

            <!--<wz-step title="Residents">

                <h2 class="StepTitle">Residents</h2>
                <p>
                    Enter as much of your neighbor information below as you can. An e-mail address is required to for log-in. You
                    will be able to add to and edit this information at any time.
                </p>
                <br />
                <br />
                <div>
                    <div data-ng-repeat="unit in $ctrl.signUpInfo.buildings[0].units track by $index">
                        <h4 style="font-size: 1.25em;">Unit {{ unit.name }}</h4>
                        <div data-ng-repeat="resident in unit.residents track by $index" style="margin-bottom: 0.5em;">
                            <select>
                                <option>Owner</option>
                                <option>Renter</option>
                            </select>

                            <input type="text" style="padding: 1em; margin-bottom: 0;" data-ng-model="resident.firstName" placeholder="First Name" />

                            <input type="text" style="padding: 1em; margin-bottom: 0;" data-ng-model="resident.lastName" placeholder="Last Name" />

                            <input type="email" style="padding: 1em; margin-bottom: 0;" data-ng-model="resident.email" placeholder="E-mail Address" />

                            <span class="text-link" data-ng-if="$index > 0">Remove</span>
                        </div>
                        <span class="text-link" data-ng-click="$ctrl.addResident( unit )">Add Resident</span>
                        <br />
                        <br />
                    </div>
                </div>
                <input type="submit" wz-previous value="Back" />
                <input type="submit" wz-next value="Complete Association Sign-up" />
            </wz-step>-->

        </wizard>
    </div>
</div>

<!-- Google Code for Add to Cart Conversion Page
    In your html page, add the snippet and call goog_report_conversion
    when someone clicks on the chosen link or button. -->
<script type="text/javascript">
    /* <![CDATA[ */
    goog_snippet_vars = function()
    {
        var w = window;
        w.google_conversion_id = 1009028090;
        w.google_conversion_language = "en";
        w.google_conversion_format = "3";
        w.google_conversion_color = "ffffff";
        w.google_conversion_label = "9-YdCMHdw3IQ-peS4QM";
        w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function( url )
    {
        goog_snippet_vars();
        window.google_conversion_format = "3";
        var opt = new Object();
        opt.onload_callback = function()
        {
            if( typeof ( url ) != 'undefined' )
            {
                window.location = url;
            }
        }
        var conv_handler = window['google_trackConversion'];
        if( typeof ( conv_handler ) == 'function' )
        {
            conv_handler( opt );
        }
    }

    //document.getElementById( "app-header" ).outerHTML = "<header id='app-header' style='height: 66px; min-height: 66px; background-color:#fff; background-image: inherit; border: none;'><img style='float: left; margin-left: 5px; margin-top: 5px; height: 100%; width: auto;' src='/Public/condo/v3_landing/assets/img/condo-ally-logo.png' alt='Condo Ally logo' /></header>"
	/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"></script>