<div class="page">
    <div data-ng-if="$ctrl.isLoading" class="loading-overlay"></div>

    <h2>Discussion Notifications</h2>
    
    <!--<p data-ng-if="$ctrl.discussion">
        Are you sure you want to unsubscribe from the "{{ $ctrl.discussion.title }}" discussion?<br />
        <button type="button" class="btn btn-primary">Yes, Unsubscribe</button><br />
        You can unsubscribe from all discussions by visiting <a href="#!/MyProfile">your profile</a>.
    </p>-->

    <div ng-switch on="$ctrl.activeView" class="padding white-bg margin-vertical" ng-cloak>
        <div ng-switch-when="unsubscribed">
            <span style="font-weight: bold;">You have been successfully unsubscribed from the "{{ $ctrl.discussion.title }}" discussion.</span><br />
            You can unsubscribe from all discussions by visiting <a href="#!/MyProfile">your profile</a>.<br />
            <br />
            Was this a mistake?<br />
            <button type="button" class="btn btn-primary" data-ng-click="$ctrl.resubscribeUser()">Resubscribe to the Discussion</button>
        </div>

        <div ng-switch-when="resubscribed">
            <span style="font-weight: bold;">You have successfully resubscribed to the "{{ $ctrl.discussion.title }}" discussion.</span><br />
            You can unsubscribe from all discussions by visiting <a href="#!/MyProfile">your profile</a>.<br />
            <br />
            Want to unsubscribe again?<br />
            <button type="button" class="btn btn-primary" data-ng-click="$ctrl.unsubscribeUser()">Unsubscribe from this Discussion</button>
        </div>

        <div ng-switch-when="loading">
            Loading...
        </div>

        <div ng-switch-when="error">
            <span class="text-error">{{ $ctrl.errorMessage }}</span>
        </div>
    </div>
</div>