<link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800' rel='stylesheet' type='text/css'>

<div class="page margin-vertical padding white-bg" style="font-family: Raleway,sans-serif;">

    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
    <div data-ng-show="$ctrl.hideWizard">
        {{ $ctrl.resultMessage }}
    </div>

    <div class="alert alert-info">
        <strong>Hold up!</strong> We appreciate you being here, but we have temporarily disabled new sign-ups. We're very happy with the number
        of associations we're currently helping so we are pausing new sign-ups. There are many, many great options out there for HOA software
        so please go take a moment to search around a bit. If you search around and are not happy with your options, you may put your e-mail
        address here and you'll be notified if sign-ups reopen.
        <div class="mt-3" data-ng-if="!$ctrl.didSignUpForHoaAlert">
            <div class="form-group">
                <label for="numHomesField">Number of homes in your HOA</label>
                <input type="text" class="form-control" id="numHomesField" data-ng-model="$ctrl.hoaAlertNumHomes" maxlength="200">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Your email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" data-ng-enter="$ctrl.submitEmailForHoaNotify()" placeholder="Enter email" data-ng-model="$ctrl.hoaAlertEmail">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <button type="button" data-ng-click="$ctrl.submitEmailForHoaNotify()" class="btn btn-primary ml-3">Submit</button>
        </div>

        <div class="mt-3 font-weight-bold" data-ng-if="$ctrl.didSignUpForHoaAlert">
            Your request has been successfully logged.
        </div>
    </div>

    <wizard data-ng-if="false" data-ng-hide="$ctrl.hideWizard" on-finish="$ctrl.onFinishedWizard()">
        <wz-step title="Name">

            <h2 class="StepTitle"></h2>
            <div>
                <span style="font-weight: bold; font-size: large; color: #0188f3;">As promised, signing-up for a brand new site is fast and easy. We said no credit card required and we meant it! Just start with the address of your association and you're almost done.</span><br />
                <br />
                <label style="font-weight: bold;">HOA Name:</label> <input id="association-name-text-box" type="text" style="width:100%;" data-ng-keyup="$ctrl.onHoaNameChanged()" data-ng-model="$ctrl.signUpInfo.name" /><br />
                <div id="suggestCondoMessageLabel" style="font-weight: bold;">
                    Are you a condo association rather than an HOA? If so, you'd probably prefer to <a href="https://login.condoally.com/#!/SignUp">sign-up for Condo Ally</a> instead.
                </div>
            </div>
            <br />
            <input id="next-button-0" type="submit" class="btn btn-sign-up-wiz" style="width:95%; float: none; margin: 0 auto;" wz-next value="Next Step" />

        </wz-step>

        <wz-step title="Location">

            <h2 class="StepTitle"></h2>
            <div>

                <div style="position: relative;">
                    <div id="map-loading-overlay" class="loading-overlay" data-ng-show="$ctrl.isLoadingMap"></div>
                    <p>
                        Enter your home street address. If you don't live in the HOA, enter the address of any home in the association. It
                        is required that you enter a valid street address.
                    </p>
                    <label style="font-weight: bold;">Your Address:</label> <input id="association-address-text-box" type="text" style="width:100%;" data-ng-change="$ctrl.checkAddress()" data-ng-model-options="{ debounce: 750 }" data-ng-model="$ctrl.signUpInfo.address" /><br />

                    <br />
                    <p>
                        Define the boundries of your HOA. Move the points of the blue box so that it covers your
                        entire HOA, as accurately as possible, but you don't need to be perfect. Drag the edit mid-points
                        in order to adjust the shape. An HOA Ally representative
                        will reach out to you after sign-up to review list of homes in your HOA. If you already have a list of all
                        addresses in your HOA, please complete sign-up and provide the list to the representative when contacted.
                    </p>

                    <google-map-poly-editor data-on-map-editor-ready="$ctrl.onMapEditorReady( mapInstance )" data-enable-map-controls="true"
                                            data-ng-if="$ctrl.showMap" edit-poly-verts="$ctrl.hoaPoly"></google-map-poly-editor>

                    <!--<div id="address-map" style="width:100%; height: 500px;"></div>-->
                </div>

            </div>
            <br />

            <input type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: left;" wz-previous value="Back" />
            <input id="next-button-1" type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: right;" wz-next value="Next Step" />
            <div class="clearfix"></div>
        </wz-step>

        <wz-step title="Your Info">

            <h2 class="StepTitle">Your Info</h2>
            <span style="font-weight: bold;">First Name:</span><br />
            <input type="text" style="width: 100%;" data-ng-model="$ctrl.signUpInfo.signerUpInfo.firstName" /><br />
            <br />
            <span style="font-weight: bold;">Last Name:</span><br />
            <input type="text" style="width: 100%;" data-ng-model="$ctrl.signUpInfo.signerUpInfo.lastName" /><br />
            <br />
            <span style="font-weight: bold;">E-mail Address:</span><br />
            <input type="email" style="width: 100%;" data-ng-model="$ctrl.signUpInfo.signerUpInfo.email" /><br />
            <br />
            <span style="font-weight: bold;">Board Position:</span><br />
            <select id="signer-up-board-select" data-ng-model="$ctrl.signUpInfo.signerUpInfo.boardPositionValue" style="width: 100%;">
                <option ng-value="1">President</option>
                <option ng-value="4">Secretary</option>
                <option ng-value="2">Treasurer</option>
                <option ng-value="8">Director/Trustee</option>
                <option ng-value="16">Vice President</option>
                <option ng-value="0">Resident</option>
                <option ng-value="32">Property Manager</option>
            </select>
            <br />
            <br />
            <input type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: left;" wz-previous value="Back" />
            <input id="finish-button" type="submit" class="btn btn-sign-up-wiz" style="width:47%; float: right;" wz-next value="Finish" />
            <div class="clearfix"></div>
        </wz-step>
    </wizard>
</div>

<!-- Google Code for Add to Cart Conversion Page
    In your html page, add the snippet and call goog_report_conversion
    when someone clicks on the chosen link or button. -->
<script type="text/javascript">
    /* <![CDATA[ */
    goog_snippet_vars = function()
    {
        var w = window;
        w.google_conversion_id = 1009028090;
        w.google_conversion_language = "en";
        w.google_conversion_format = "3";
        w.google_conversion_color = "ffffff";
        w.google_conversion_label = "9-YdCMHdw3IQ-peS4QM";
        w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function( url )
    {
        goog_snippet_vars();
        window.google_conversion_format = "3";
        var opt = new Object();
        opt.onload_callback = function()
        {
            if( typeof ( url ) != 'undefined' )
            {
                window.location = url;
            }
        }
        var conv_handler = window['google_trackConversion'];
        if( typeof ( conv_handler ) == 'function' )
        {
            conv_handler( opt );
        }
    }

</script>

<!-- Capterra conversion tracking -->
<script type="text/javascript">
    var capterra_vkey = 'd0f2e6030433d41b304f0962f72723f9',
        capterra_vid = '2122598',
        capterra_prefix = ( ( 'https:' == document.location.protocol ) ? 'https://ct.capterra.com' : 'http://ct.capterra.com' );

    function capterra_report_conversion()
    {
        var ct = document.createElement( 'script' ); ct.type = 'text/javascript'; ct.async = true;
        ct.src = capterra_prefix + '/capterra_tracker.js?vid=' + capterra_vid + '&vkey=' + capterra_vkey;
        var s = document.getElementsByTagName( 'script' )[0]; s.parentNode.insertBefore( ct, s );
    }
</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"></script>