<div class="page">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
    <div class="container">
        <div class="row">
            <h1>Association Amenities</h1>
            <p>
                This is a totally optional page that doesn't affect your site functionality in any way. Filling out this survey helps the greater
                community of HOAs immensely! We anonymize the data (Make it impossible
                to link this data to you and your association) and use it to provide helpful research. Like knowing a normal range for annual dues. You
                can find a link to this page at the bottom of your <a href="#!/Settings/SiteSettings">settings</a> page.
            </p>
        </div>

        <h4 class="mt-4" style="text-decoration: underline;">General Questions</h4>
        <form class="row">
            <div class="row mb-3 col-sm-12 col-md-6 px-4">
                <label style="text-align: left;" class="form-label">Roughly, when was your association constructed?</label>
                <div class="note-text ps-0">Or had it's last major rehab. We're looking for the average relating to electrical, plumbing, and lead paint.</div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="constructionDecade1960" name="constructionDecade" value="1960" data-ng-model="$ctrl.groupAmenities.constructionDecade">
                    <label class="form-check-label" for="constructionDecade1960">1960s or earlier</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="constructionDecade1970" name="constructionDecade" value="1970" data-ng-model="$ctrl.groupAmenities.constructionDecade">
                    <label class="form-check-label" for="constructionDecade1970">1970s</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="constructionDecade1980" name="constructionDecade" value="1980" data-ng-model="$ctrl.groupAmenities.constructionDecade">
                    <label class="form-check-label" for="constructionDecade1980">1980s</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="constructionDecade1990" name="constructionDecade" value="1990" data-ng-model="$ctrl.groupAmenities.constructionDecade">
                    <label class="form-check-label" for="constructionDecade1990">1990s</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="constructionDecade2000" name="constructionDecade" value="2000" data-ng-model="$ctrl.groupAmenities.constructionDecade">
                    <label class="form-check-label" for="constructionDecade2000">2000s</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="constructionDecade2010" name="constructionDecade" value="2010" data-ng-model="$ctrl.groupAmenities.constructionDecade">
                    <label class="form-check-label" for="constructionDecade2010">2010s</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="constructionDecade2020" name="constructionDecade" value="2020" data-ng-model="$ctrl.groupAmenities.constructionDecade">
                    <label class="form-check-label" for="constructionDecade2020">2020s</label>
                </div>
            </div>

            <div class="row mb-3 col-sm-12 col-md-6 px-4">
                <label class="form-label">Does your association pay for any of these services?</label>
                <div class="note-text ps-0">As opposed to residents paying themselves</div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="associationPaysForWater" data-ng-model="$ctrl.groupAmenities.associationPaysForWater">
                    <label class="form-check-label" for="associationPaysForWater">Water</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="associationPaysForElectric" data-ng-model="$ctrl.groupAmenities.associationPaysForElectric">
                    <label class="form-check-label" for="associationPaysForElectric">Electric</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="associationPaysForGas" data-ng-model="$ctrl.groupAmenities.associationPaysForGas">
                    <label class="form-check-label" for="associationPaysForGas">Gas</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="associationPaysForGarbage" data-ng-model="$ctrl.groupAmenities.associationPaysForGarbage">
                    <label class="form-check-label" for="associationPaysForGarbage">Garbage</label>
                </div>
            </div>

            <div class="row mb-3 col-sm-12 col-md-6 px-4">
                <label class="form-label">Does your association hire a property manager?</label>
                <div class="note-text ps-0">Choose no if you consider your group self-managed</div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="hiresPropertyManagerYes" name="hiresPropertyManager" data-ng-value="true" data-ng-model="$ctrl.groupAmenities.hiresPropertyManager">
                    <label class="form-check-label" for="hiresPropertyManagerYes">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="hiresPropertyManagerNo" name="hiresPropertyManager" data-ng-value="false" data-ng-model="$ctrl.groupAmenities.hiresPropertyManager">
                    <label class="form-check-label" for="hiresPropertyManagerNo">No</label>
                </div>
            </div>
        </form>

        <div style="display: flex; flex-direction: column;">
            <div style="order: 2;">
                <h4 class="mt-5" style="text-decoration: underline;">HOA-Related Questions</h4>
                <div class="note-text mb-3" data-ng-if="$ctrl.appShortName === 'condo'">We know you're a condo association, but please answer any of these that are applicable</div>
                <form class="row">
                    <div class="row mb-3 col-sm-12 col-md-6 px-4">
                        <label class="form-label">Does your association have any community-run pools?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="numPools0" name="numPools" value="0" data-ng-model="$ctrl.groupAmenities.numPools">
                            <label class="form-check-label" for="numPools0">None</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="numPools1" name="numPools" value="1" data-ng-model="$ctrl.groupAmenities.numPools">
                            <label class="form-check-label" for="numPools1">1</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="numPools2" name="numPools" value="2" data-ng-model="$ctrl.groupAmenities.numPools">
                            <label class="form-check-label" for="numPools2">2</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="numPools3" name="numPools" value="3" data-ng-model="$ctrl.groupAmenities.numPools">
                            <label class="form-check-label" for="numPools3">3 or more</label>
                        </div>
                    </div>

                    <div class="row mb-3 col-sm-12 col-md-6 px-4">
                        <label class="form-label">How much does your association spend on landscaping?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="landscapeSpending0" name="landscapeSpending" value="0" data-ng-model="$ctrl.groupAmenities.landscapeSpending">
                            <label class="form-check-label" for="landscapeSpending0">Less than $5k</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="landscapeSpending5" name="landscapeSpending" value="5" data-ng-model="$ctrl.groupAmenities.landscapeSpending">
                            <label class="form-check-label" for="landscapeSpending5">$5k-$50k</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="landscapeSpending50" name="landscapeSpending" value="50" data-ng-model="$ctrl.groupAmenities.landscapeSpending">
                            <label class="form-check-label" for="landscapeSpending50">$50k-$100k</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="landscapeSpending100" name="landscapeSpending" value="100" data-ng-model="$ctrl.groupAmenities.landscapeSpending">
                            <label class="form-check-label" for="landscapeSpending100">$100k-$150k</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="landscapeSpending150" name="landscapeSpending" value="150" data-ng-model="$ctrl.groupAmenities.landscapeSpending">
                            <label class="form-check-label" for="landscapeSpending150">More than $150k</label>
                        </div>
                    </div>

                    <div class="row mb-3 col-sm-12 col-md-6 px-4">
                        <label class="form-label">Does your association have a stand-alone club house?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="hasClubHouseYes" name="hasClubHouse" data-ng-value="true" data-ng-model="$ctrl.groupAmenities.hasClubHouse">
                            <label class="form-check-label" for="hasClubHouseYes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="hasClubHouseNo" name="hasClubHouse" data-ng-value="false" data-ng-model="$ctrl.groupAmenities.hasClubHouse">
                            <label class="form-check-label" for="hasClubHouseNo">No</label>
                        </div>
                    </div>

                    <div class="row mb-3 col-sm-12 col-md-6 px-4">
                        <label class="form-label">Does your association maintain its own roads?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="maintainsOwnRoadsTrue" name="maintainsOwnRoads" data-ng-value="true" data-ng-model="$ctrl.groupAmenities.maintainsOwnRoads">
                            <label class="form-check-label" for="maintainsOwnRoadsTrue">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="maintainsOwnRoadsFalse" name="maintainsOwnRoads" data-ng-value="false" data-ng-model="$ctrl.groupAmenities.maintainsOwnRoads">
                            <label class="form-check-label" for="maintainsOwnRoadsFalse">No</label>
                        </div>
                    </div>

                    <div class="row mb-3 col-sm-12 col-md-6 px-4">
                        <label class="form-label">Are you considered a gated community?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="isGatedCommunityTrue" name="isGatedCommunity" data-ng-value="true" data-ng-model="$ctrl.groupAmenities.isGatedCommunity">
                            <label class="form-check-label" for="isGatedCommunityTrue">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="isGatedCommunityFalse" name="isGatedCommunity" data-ng-value="false" data-ng-model="$ctrl.groupAmenities.isGatedCommunity">
                            <label class="form-check-label" for="isGatedCommunityFalse">No</label>
                        </div>
                    </div>
                </form>
            </div>

            <div data-ng-style="{'order': $ctrl.appShortName === 'condo' ? 1 : 3}">
                <h4 class="mt-5" style="text-decoration: underline;">Condo-Related Questions</h4>
                <div class="note-text mb-3" data-ng-if="$ctrl.appShortName === 'hoa'">We know you're an HOA, but please answer any of these that are applicable</div>
                <form class="row">
                    <div class="row mb-3 col-sm-12 col-md-6 px-4">
                        <label class="form-label">Does your association have a doorman?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="hasDoormanTrue" name="hasDoorman" data-ng-value="true" data-ng-model="$ctrl.groupAmenities.hasDoorman">
                            <label class="form-check-label" for="hasDoormanTrue">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="hasDoormanFalse" name="hasDoorman" data-ng-value="false" data-ng-model="$ctrl.groupAmenities.hasDoorman">
                            <label class="form-check-label" for="hasDoormanFalse">No</label>
                        </div>
                    </div>

                    <div class="row mb-3 col-sm-12 col-md-6 px-4">
                        <label class="form-label">Do you have balconies maintained as common area?</label>
                        <div class="note-text ps-0">Association pays for maintenance/repairs as opposed to resident paying</div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="hasCommonBalconiesTrue" name="hasCommonBalconies" data-ng-value="true" data-ng-model="$ctrl.groupAmenities.hasCommonBalconies">
                            <label class="form-check-label" for="hasCommonBalconiesTrue">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="hasCommonBalconiesFalse" name="hasCommonBalconies" data-ng-value="false" data-ng-model="$ctrl.groupAmenities.hasCommonBalconies">
                            <label class="form-check-label" for="hasCommonBalconiesFalse">No</label>
                        </div>
                    </div>

                    <div class="row mb-3 col-sm-12 col-md-6 px-4">
                        <label class="form-label">What is the primary material of the exterior of your building or building(s)?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="exteriorMaterialBrick" name="exteriorMaterial" value="brick" data-ng-model="$ctrl.groupAmenities.exteriorMaterial">
                            <label class="form-check-label" for="exteriorMaterialBrick">Brick</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="exteriorMaterialWood" name="exteriorMaterial" value="wood" data-ng-model="$ctrl.groupAmenities.exteriorMaterial">
                            <label class="form-check-label" for="exteriorMaterialWood">Wood</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="exteriorMaterialStone" name="exteriorMaterial" value="stone" data-ng-model="$ctrl.groupAmenities.exteriorMaterial">
                            <label class="form-check-label" for="exteriorMaterialStone">Stone</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="exteriorMaterialVinyl" name="exteriorMaterial" value="vinyl" data-ng-model="$ctrl.groupAmenities.exteriorMaterial">
                            <label class="form-check-label" for="exteriorMaterialVinyl">Vinyl</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="exteriorMaterialOther" name="exteriorMaterial" value="other" data-ng-model="$ctrl.groupAmenities.exteriorMaterial">
                            <label class="form-check-label" for="exteriorMaterialOther">Other</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-12 text-center">
                <button type="button" class="btn btn-primary btn-lg" data-ng-click="$ctrl.saveForm()">Save</button>
            </div>
        </div>
    </div>
</div>
