<div class="page" data-ng-if="$ctrl.shouldShowPremiumPlanSection">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading || $ctrl.isLoadingPremiumPlanInfo"></div>
    <h2>Premium Plan</h2>

    <div>
        <div data-ng-if="$ctrl.isPremiumPlanActive">Thank you and your association for being premium members!</div>
        <br />
        Premium Plan Cost: <span style="font-weight: bold; color: green;">${{$ctrl.settings.premiumPlanCostDollars}}/month</span>
        <br />
        <span class="note-text">The cost is based on the number of {{$ctrl.homeNamePlural}} in your association, according to the home listing. If that cost is incorrect, please reach out to support (use tech support form in bottom right) and we will adjust.</span>
        <br />
        <br />

        <div data-ng-if="$ctrl.settings.premiumPlanIsAutoRenewed">
            Your premium membership will auto-renew on <span style="font-weight: bold; color: green;">{{$ctrl.premiumPlanRenewDate | date:'shortDate'}}</span>.
            <br />
            <button class="btn btn-primary" type="button" data-ng-click="$ctrl.cancelPremiumAutoRenew()">Cancel Auto-Renew</button>
        </div>

        <div data-ng-if="!$ctrl.settings.premiumPlanIsAutoRenewed">
            Premium Plan Expires On: <span style="font-weight: bold; color: red;">{{$ctrl.settings.premiumPlanExpirationDate | date:'shortDate'}}</span>
            <br />
            <div data-ng-if="$ctrl.isPremiumPlanActive">
                <span style="color: red;">You're membership will not auto-renew.</span> After that date you will be downgraded to the free plan. <a href="https://help.communityally.org/why-go-premium/" target="_blank">Why go premium?</a>
            </div>
            <div data-ng-if="!$ctrl.isPremiumPlanActive">
                You're currently on the free plan. <a href="https://help.communityally.org/why-go-premium/" target="_blank">Why go premium?</a>
            </div>
            <br />
            <button class="btn btn-primary" type="button" data-ng-click="$ctrl.activatePremiumRenewal()" data-ng-if="!$ctrl.shouldShowPaymentForm">View Premium Plan Renewal Options</button>
        </div>
        <br />
        <br />

        <div class="card-deck w-50 mx-auto" data-ng-if="$ctrl.shouldShowPaymentForm">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Pay Monthly</h3>
                    <h2 class="card-text" style="color: green;">${{$ctrl.settings.premiumPlanCostDollars}}</h2>
                    <p data-ng-if="!$ctrl.monthlyDisabled">
                        <button href="#" data-ng-class="{'btn-outline-primary':$ctrl.isActivatingAnnual,'btn-primary':!$ctrl.isActivatingAnnual}" data-ng-click="$ctrl.isActivatingAnnual = false; $ctrl.updateCheckoutDescription();" class="btn stretched-link">{{$ctrl.isActivatingAnnual ? "Select" : "Selected"}}</button>
                    </p>
                    <p data-ng-if="$ctrl.monthlyDisabled" style="color: red;">Due to your association having 10 or fewer homes, you must pay annually. Sorry! You can <a href="https://help.communityally.org/why-go-premium/" target="_blank">learn more here</a>.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Pay Annually</h3>
                    <h2 class="card-text" style="color: green;">${{$ctrl.settings.premiumPlanCostDollars * 11}}</h2>
                    <p>
                        <button href="#" data-ng-class="{'btn-outline-primary':!$ctrl.isActivatingAnnual,'btn-primary':$ctrl.isActivatingAnnual}" data-ng-click="$ctrl.isActivatingAnnual = true; $ctrl.updateCheckoutDescription();" class="btn stretched-link">{{$ctrl.isActivatingAnnual ? "Selected" : "Select"}}</button>
                    </p>
                    <p class="card-text">Get 1 month free! Comes out to ${{$ctrl.settings.premiumPlanCostDollars * 0.92 | number:2}}/mo.</p>
                </div>
            </div>
        </div>

        <div data-ng-if="$ctrl.shouldShowPaymentForm" class="card w-50 mt-4" style="margin: 0 auto;">
            <div class="card-body">
                <h5 class="card-title">Enter Credit Card Info</h5>
                <p class="card-text">
                    <div id="stripe-card-element" class="border"></div>
                </p>
                <p>
                    <div id="card-errors" class="text-error" role="alert"></div>
                </p>
                <p>{{$ctrl.checkoutDescription}}</p>
                <button class="btn btn-primary" type="button" data-ng-click="$ctrl.submitCardToStripe()">{{$ctrl.payButtonText}}</button>
                <div data-ng-if="$ctrl.showInvoiceSection">
                    <p class="mt-4">Or you can generate an invoice and pay with an alternate method</p>
                    <span data-ng-if="!$ctrl.isActivatingAnnual">You must pay annually to use the invoice feature.</span>
                    <button data-ng-if="$ctrl.isActivatingAnnual" class="btn btn-primary" type="button" data-ng-click="$ctrl.generateStripeInvoice()">Generate Invoice</button>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h4>Email Usage</h4>
                    <div>
                        Number emails sent this month: <span style="font-weight: bold;">{{$ctrl.meteredUsage.numEmailsSentThisMonth}}</span>
                    </div>
                    <br />
                    <div data-ng-if="$ctrl.emailUsageAverageNumMonths > 1">
                        <h5>Email usage for last {{$ctrl.emailUsageAverageNumMonths}} months</h5>
                        <canvas id="email-usage-chart" style="width: 100%; height: 250px;" class="chart chart-line" data-chart-data="$ctrl.emailUsageChartData" data-chart-labels="$ctrl.emailUsageChartLabels" data-chart-options="$ctrl.emailUsageChartOptions" legend="true"></canvas>
                        <div data-ng-if="$ctrl.emailUsageAverageSent > 0">Average over last {{$ctrl.emailUsageAverageNumMonths}} months: <span class="font-weight-bold">{{$ctrl.emailUsageAverageSent | number}}</span></div>
                        <span data-ng-click="$ctrl.goToEmailHistory()" class="text-link">View your email history</span> below the residents grid.
                    </div>
                    <div data-ng-if="$ctrl.emailUsageAverageNumMonths <= 1">
                        Once you have more than a month of email usage to show, you'll see a chart here.
                    </div>
                </div>

                <div class="col-6">
                    <h4>Document Storage Usage</h4>
                    <div data-ng-if="$ctrl.meteredUsage.totalNumDocuments > 0">
                        Your association is storing <span class="font-weight-bold">{{$ctrl.meteredUsage.totalDocumentsBytesUsed / (1024 * 1024) | number : 2}}</span> MB across <span class="font-weight-bold">{{$ctrl.meteredUsage.totalNumDocuments}}</span> file{{$ctrl.meteredUsage.totalNumDocuments === 1 ? '' : 's'}}.
                    </div>
                    <div data-ng-if="$ctrl.meteredUsage.totalNumDocuments === 0">
                        Your association is not storing any documents.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>