<div class="page" data-ng-if="$ctrl.shouldShowPremiumPlanSection">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
    <h2>Premium Plan</h2>

    <div>
        <div data-ng-if="$ctrl.isPremiumPlanActive">Thank you and your association for being premium plan members!</div>
        <br />
        Premium Plan Cost: <span style="font-weight: bold; color: green;">${{$ctrl.settings.premiumPlanCostDollars}}/month</span>
        <br />
        <span class="note-text">The cost is based on the number of {{$ctrl.homeNamePlural}} in your association, according to the home listing. If that cost is incorrect, please reach out to support (use tech support form in bottom right) and we will adjust.</span>
        <br />
        <br />

        <div data-ng-if="$ctrl.settings.premiumPlanIsAutoRenewed">
            Your premium plan will auto-renew on <span style="font-weight: bold; color: green;">{{$ctrl.premiumPlanRenewDate | date:'shortDate'}}</span>.
            <br />
            <button class="btn btn-primary" type="button" data-ng-click="$ctrl.cancelPremiumAutoRenew()">Cancel Auto-Renew</button>
            <a class="btn ml-3" data-ng-if="$ctrl.stripePortalUrl" data-ng-href="{{$ctrl.stripePortalUrl}}">View Stripe Billing Portal</a>
        </div>

        <div data-ng-if="!$ctrl.settings.premiumPlanIsAutoRenewed">
            <div data-ng-if="$ctrl.isPremiumPlanActive">
                Premium Plan Expires On: <span style="font-weight: bold;" data-ng-style="{'color':$ctrl.planExpirationColor}">{{$ctrl.settings.premiumPlanExpirationDate | date:'shortDate'}}</span>
                <br />
                <span style="color: red;">Your premium plan will not auto-renew.</span> After that date you will be downgraded to the free plan. <a href="https://help.communityally.org/why-go-premium/" target="_blank">Why go premium?</a>
            </div>
            <div data-ng-if="!$ctrl.isPremiumPlanActive">
                Premium Plan Expired On: <span style="font-weight: bold;" data-ng-style="{'color':$ctrl.planExpirationColor}">{{$ctrl.settings.premiumPlanExpirationDate | date:'shortDate'}}</span>
                <br />
                You're currently on the free plan. <a href="https://help.communityally.org/why-go-premium/" target="_blank">Why go premium?</a>
            </div>
            <br />
            
            <button data-ng-if="$ctrl.settings.premiumPlanCostDollars >= 3" class="btn btn-primary" type="button" data-ng-click="$ctrl.activatePremiumRenewal()" data-ng-if="!$ctrl.shouldShowPaymentForm">View Premium Plan Renewal Options</button>
            <div data-ng-if="$ctrl.settings.premiumPlanCostDollars < 3" class="mt-2 mb-2 alert alert-warning">
                It looks like you have not yet setup your homes. Our pricing is based on number of homes so we need that information before you can sign-up for our premium plan.
                <br />
                <a href="https://help.communityally.org/how-to-add-or-edit-homes/" target="_blank">How to Add or Edit Homes</a>
                <br />
                <br />
                We'd be happy to help you bulk load your data in. Simply fill out this spreadsheet and email it to <a href="mailto:hello@communityally.org">hello@CommunityAlly.org</a>:
                <br />
                <a href="/assets/files/AllyResidentsImport.csv" download="AllyResidentsImport.csv">Download Bulk Import Spreadsheet</a>
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="card-deck col-sm-12 col-md-6 mx-auto" data-ng-if="$ctrl.shouldShowPaymentForm">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Pay Monthly</h3>
                        <h2 class="card-text" style="color: green;">${{$ctrl.settings.premiumPlanCostDollars}}</h2>
                        <p data-ng-if="!$ctrl.monthlyDisabled">
                            <button data-ng-class="{'btn-outline-primary':$ctrl.isActivatingAnnual,'btn-primary':!$ctrl.isActivatingAnnual}" data-ng-click="$ctrl.isActivatingAnnual = false; $ctrl.updateCheckoutDescription();" class="btn stretched-link">{{$ctrl.isActivatingAnnual ? "Select" : "Selected"}}</button>
                        </p>
                        <p data-ng-if="$ctrl.monthlyDisabled" style="color: red;">Due to your association having 10 or fewer homes, you must pay annually. Sorry! You can <a href="https://help.communityally.org/why-go-premium/" target="_blank">learn more here</a>.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Pay Annually</h3>
                        <h2 class="card-text" style="color: green;">${{$ctrl.settings.premiumPlanCostDollars * 11}}</h2>
                        <p>
                            <button data-ng-class="{'btn-outline-primary':!$ctrl.isActivatingAnnual,'btn-primary':$ctrl.isActivatingAnnual}" data-ng-click="$ctrl.isActivatingAnnual = true; $ctrl.updateCheckoutDescription();" class="btn stretched-link">{{$ctrl.isActivatingAnnual ? "Selected" : "Select"}}</button>
                        </p>
                        <p class="card-text">Get 1 month free! Comes out to ${{$ctrl.settings.premiumPlanCostDollars * 0.92 | number:2}}/mo.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div data-ng-if="$ctrl.shouldShowPaymentForm" class="card col-sm-12 col-md-6" style="margin: 0 auto;">
                <div class="card-body">
                    <h5 class="card-title">Payment Options</h5>
                    <p class="card-text">
                        You can pay via a credit card below. We also accept just about any other methods such as check, wire transfer, Chase Quick Pay, etc. If
                        you'd prefer this, let us know using the chat box in the lower right of the page. Also, we can send an invoice
                        for your records with any payment method.
                        <div class="mt-3 text-center" style="font-size: large;">
                            <label><input type="radio" name="paymentType" ng-model="$ctrl.paymentType" value="ach" data-ng-change="$ctrl.onPaymentTypeChange()" />Checking Account</label>
                            <label class="ml-4"><input type="radio" name="paymentType" ng-model="$ctrl.paymentType" value="creditCard" data-ng-change="$ctrl.onPaymentTypeChange()" />Credit Card</label>
                        </div>
                    </p>
                    <div data-ng-if="$ctrl.paymentType === 'ach'">
                        <h5 class="card-title">Checking Account Payment</h5>
                        <div class="card-text">
                            <div data-ng-if="!$ctrl.settings.hasStripeAchAccount">
                                We use Plaid to connect to bank accounts for security and simplicity.
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.startPlaidAchConnection()">Connect Checking Account</button>
                                </div>
                                <span class="note-text">Once you connect a bank account you'll be able to make payment via ACH.</span>
                            </div>
                            <div data-ng-if="$ctrl.settings.hasStripeAchAccount">
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.makeAchStripePayment()">{{$ctrl.payButtonText}}</button>
                                </div>
                                <div>{{$ctrl.checkoutDescription}}</div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="$ctrl.paymentType === 'creditCard'">
                        <h5 class="card-title">Enter Credit Card Info</h5>
                        <p class="card-text">
                            Credit Card Number:
                            <br />
                            <div id="stripe-card-element" class="border"></div>
                        </p>
                        <p>
                            <div id="card-errors" class="text-error" role="alert"></div>
                        </p>
                        <button class="btn btn-primary" type="button" data-ng-click="$ctrl.submitCardToStripe()">{{$ctrl.payButtonText}}</button>
                        <p>{{$ctrl.checkoutDescription}}</p>
                    </div>

                    <div data-ng-if="$ctrl.showInvoiceSection" class="mt-5">
                        <p class="mt-4">Or you can generate an invoice and pay with an alternate method</p>
                        <span data-ng-if="!$ctrl.isActivatingAnnual">You must pay annually to use the invoice feature.</span>
                        <button data-ng-if="$ctrl.isActivatingAnnual" class="btn btn-primary" type="button" data-ng-click="$ctrl.generateStripeInvoice(12, $ctrl.genInvoiceShouldIncludeWireInfo)">Generate Invoice</button>
                        <br />
                        <br />
                        Num Months: <input type="number" data-ng-model="$ctrl.genInvoiceNumMonths" min="1" max="10" />
                        <br />
                        <label><input type="checkbox" data-ng-model="$ctrl.genInvoiceShouldIncludeWireInfo" />Include Wire Info</label>
                        <br />
                        <button class="btn btn-primary" type="button" data-ng-click="$ctrl.generateStripeInvoice($ctrl.genInvoiceNumMonths, $ctrl.genInvoiceShouldIncludeWireInfo)">Generate {{$ctrl.genInvoiceNumMonths}} Month Invoice</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="position: relative;">
            <div class="loading-overlay" data-ng-if="$ctrl.isLoadingUsage"></div>
            <div class="row">
                <div class="col-6">
                    <h4>Email Usage</h4>

                    <div data-ng-if="$ctrl.emailUsageAverageNumMonths > 1" class="mb-4">
                        <h6 style="text-decoration: underline;">Group Emails Processed</h6>
                        <div class="note-text mb-2">
                            The number of incoming group emails processed. Group emails can be found at the bottom of the <a href="#!/BuildingResidents">Residents page</a>.
                        </div>
                        <canvas id="email-usage-chart" style="width: 100%; height: 250px;" class="chart chart-line" data-chart-data="$ctrl.groupEmailChartData" data-chart-labels="$ctrl.emailUsageChartLabels" data-chart-options="$ctrl.emailUsageChartOptions" legend="true"></canvas>
                        <div>Number of group emails processed this month: <span style="font-weight: bold;">{{$ctrl.meteredUsage.numGroupEmailsProcessedThisMonth}}</span></div>
                        <div data-ng-if="$ctrl.emailUsageAverageSent > 0">Monthly average over last {{$ctrl.emailUsageAverageNumMonths}} months: <span class="font-weight-bold">{{$ctrl.groupEmailAverage | number}}</span></div>
                    </div>

                    <div data-ng-if="$ctrl.emailUsageAverageNumMonths > 1">
                        <h6 style="text-decoration: underline;">Total Emails Delivered</h6>
                        <div class="note-text mb-2">
                            The number of emails delivered to your residents. These numbers include group emails and individual-to-individual emails.
                        </div>
                        <canvas id="email-usage-chart" style="width: 100%; height: 250px;" class="chart chart-line" data-chart-data="$ctrl.emailUsageChartData" data-chart-labels="$ctrl.emailUsageChartLabels" data-chart-options="$ctrl.emailUsageChartOptions" legend="true"></canvas>
                        <div>Number of emails delivered this month: <span style="font-weight: bold;">{{$ctrl.meteredUsage.numEmailsSentThisMonth}}</span></div>
                        <div data-ng-if="$ctrl.emailUsageAverageSent > 0">Monthly average over last {{$ctrl.emailUsageAverageNumMonths}} months: <span class="font-weight-bold">{{$ctrl.emailUsageAverageSent | number}}</span></div>
                    </div>

                    <div data-ng-if="$ctrl.emailUsageAverageNumMonths <= 1">
                        Once you have more than a month of email usage to show, you'll see a chart here.
                    </div>
                    <br />
                    <div>You can <span data-ng-click="$ctrl.goToEmailHistory()" class="text-link">view your email history</span> below the residents grid.</div>
                </div>

                <div class="col-6">
                    <h4>Document Storage Usage</h4>
                    <div data-ng-if="$ctrl.meteredUsage.totalNumDocuments > 0">
                        Your association is storing <span class="font-weight-bold">{{$ctrl.meteredUsage.totalDocumentsBytesUsed / (1024 * 1024) | number : 2}}</span> MB across <span class="font-weight-bold">{{$ctrl.meteredUsage.totalNumDocuments}}</span> file{{$ctrl.meteredUsage.totalNumDocuments === 1 ? '' : 's'}}.
                    </div>
                    <div data-ng-if="$ctrl.meteredUsage.totalNumDocuments === 0">
                        Your association is not storing any documents.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>