<div class="page-documents">
    <section class="padding white-bg padding margin-vertical box-shadow header-pill-menu-section" data-ng-if="$ctrl.shouldShowPremiumPlanSection">
        <nav class="nav nav-pills justify-content-center">
            <a class="nav-item nav-link" data-ng-href="#!/Settings/SiteSettings"
               data-ng-class="{'active':$ctrl.selectedView==='SiteSettings'}">
                Site Settings
            </a>

            <a class="nav-item nav-link" href="#!/Settings/PremiumPlan"
               data-ng-class="{'active':$ctrl.selectedView==='PremiumPlan'}">
                Premium Plan
            </a>
        </nav>
    </section>

    <chtn-site-settings data-ng-if="$ctrl.selectedView === 'SiteSettings'"></chtn-site-settings>

    <premium-plan-settings data-ng-if="$ctrl.selectedView === 'PremiumPlan'"></premium-plan-settings>
</div>