<script type="text/javascript">
    var SettingsJS =
    {
        _defaultBG: "",

        Init: function ()
        {
            // Hook up the event handlers to toggle the image
            //$( ".test-bg-image" ).click( SettingsJS.OnImageClick );

            SettingsJS._defaultBG = $( ".test-bg-image-selected" ).attr( 'src' );
        }
    };
</script>

<div class="page page-manage-settings">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

    <div class="text-end mb-1">
        <button class="btn btn-primary" style="margin-top: 0.5em;" id="top-save-button" data-ng-click="$ctrl.saveAllSettings()">Save Settings</button>
    </div>

    <h2>Association's Full Name</h2>

    <div class="row">
        <div class="col-8">
            <input type="text" id="full-name-textbox" class="form-control" data-ng-model="$ctrl.settings.fullName" data-ng-enter="$ctrl.saveAllSettings()" maxlength="128" autocomplete="off" data-lpignore="true" data-form-type="other">
        </div>
    </div>

    <div class="note-text">
        This is used in financial documents, email correspondence, and the browser tab.
    </div>

    <div data-ng-if="$ctrl.showRightColumnSetting">
        <h2 class="mt-5">
            Home Page Right Column
        </h2>

        <div class="mb-2">
            <label class="mb-0">
                <input type="radio" data-ng-model="$ctrl.settings.homeRightColumnType" value="localnews">
                Local News
            </label>
            <div class="note-text">Show various local news stories.</div>
        </div>

        <div class="mb-2">
            <label class="mb-0">
                <input type="radio" data-ng-model="$ctrl.settings.homeRightColumnType" value="chatwall">
                Discussion
            </label>
            <div class="note-text">An open chat similar to Facebook's "wall".</div>
        </div>

        <div>
            <label class="mb-0">
                <input type="radio" data-ng-model="$ctrl.settings.homeRightColumnType" value="localnews,chatwall">
                Show Both Local News and Discussion
            </label>
        </div>
    </div>



    <div data-ng-if="$ctrl.showLocalNewsSetting">
        <h2 class="mt-5">
            Home Page
        </h2>

        <div>
            <label>
                <input type="checkbox" data-ng-model="$ctrl.settings.homeRightColumnType" ng-true-value="'localnews'" ng-false-value="''">
                Show Local News
            </label>
        </div>

        <div class="note-text">Show various local news stories.</div>
    </div>

    <h2 class="mt-5">
        Login Image
    </h2>

    <div>
        <input id="JQLoginImageFileUploader" type="file" name="files[]" data-url="" multiple style="display:none;" />
        <button type="button" class="btn btn-primary" onclick="$('#JQLoginImageFileUploader').click();">Choose Image</button>
        <button data-ng-show="$ctrl.loginImageUrl" style="margin-left: 1em;" data-ng-click="$ctrl.removeLoginImage()" type="button">Remove Image</button>
    </div>

    <div class="note-text">Image will be resized to 706x396</div>
    <p>
        <img alt="Login Image" style="max-width: 100%;" data-ng-show="$ctrl.loginImageUrl" data-ng-src="{{ $ctrl.loginImageUrl }}" />
    </p>

    <h2 class="mt-5">
        Welcome Message
    </h2>
    <p>
        This message will be displayed at the top of the home page.
    </p>
    <div class="row">
        <!--<div class="col-12">
            <textarea class="form-control" type="text" id="welcome-message-textbox" data-ng-model="$ctrl.settings.welcomeMessage" rows="5" maxlength="1024"></textarea>
        </div>-->
        <div class="col-12">
            <textarea id="tiny-mce-editor"></textarea>

            <div class="text-error" data-ng-if="$ctrl.shouldShowWelcomeTooLongError">Your welcome message is too long. It must be less than 10,000 characters. Formatting uses extra characters.</div>
        </div>
    </div>

    <div data-ng-if="$ctrl.isPta">
        <h2 class="mt-5">
            PTA Unit ID
        </h2>
        <p>
            When you're registered with your state's PTA organization, you should receive a local unit number/ID.
        </p>
        <div class="row">
            <div class="col-12">
                <input class="form-control" type="number" id="pta-unit-id-textbox" data-ng-model="$ctrl.settings.ptaUnitId" />
            </div>
        </div>
    </div>

    <div style="display: none;">
        <h2>Background</h2>
        Customize your site's background.<br />
        <div>
            <!--<img data-ng-repeat="bgImage in $ctrl.settings.backgroundImageFiles" id="bg-image-{{ $index }}" data-ng-mouseenter="$ctrl.onImageHoverOver( bgImage );" data-ng-mouseleave="$ctrl.onImageHoverOut();" data-ng-class="bgImage == $ctrl.settings.bgImageFileName && 'test-bg-image-selected' || ''" data-ng-click="$ctrl.onImageClick( bgImage );" class="test-bg-image" src="{{ bgImagePath + bgImage }}">-->
        </div>
    </div>

    <div class="text-end mt-4">
        <button class="btn btn-primary" style="margin-top: 0.5em;" id="bottom-save-button" data-ng-click="$ctrl.saveAllSettings()">Save Settings</button>
    </div>

    <div class="mt-4 text-start">
        <a href="#!/GroupAmenities">View your amenity survey</a>
    </div>

    <button id="qa-delete-site-button" data-ng-if="$ctrl.showQaButton" data-ng-click="$ctrl.onQaDeleteSite()">d</button>
</div>

<div class="page">
    <div class="note-text">
        Web App Build <span style="font-weight: bold;">{{$ctrl.frontEndVersion}}</span>. Sometimes tech support will ask for this number. If you're asked to force refresh
        the site then you can <span class="text-link" data-ng-click="$ctrl.forceRefresh()">try clicking here</span>, pressing CTRL+F5, or holding SHIFT while clicking your browser's
        refresh button.
    </div>
</div>