<script type="text/javascript">
    var SettingsJS =
    {
        _defaultBG: "",

        Init: function ()
        {
            // Hook up the event handlers to toggle the image
            //$( ".test-bg-image" ).click( SettingsJS.OnImageClick );

            SettingsJS._defaultBG = $( ".test-bg-image-selected" ).attr( 'src' );
        }
    };
</script>

<div class="page page-manage-settings">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

    <div class="text-right mb-1">
        <button class="btn btn-primary" style="margin-top: 0.5em;" id="top-save-button" data-ng-click="$ctrl.saveAllSettings()">Save Settings</button>
    </div>

    <h2>Association's Full Name</h2>

    <div class="row">
        <div class="col-8">
            <input type="text" id="full-name-textbox" class="form-control" data-ng-model="$ctrl.settings.fullName" data-ng-enter="$ctrl.saveAllSettings()" maxlength="128">
        </div>
    </div>

    <div class="note-text">
        This is used in financial documents, e-mail correspondence, and the browser tab.
    </div>

    <div data-ng-if="$ctrl.showRightColumnSetting">
        <h2 class="mt-5">
            Home Page Right Column
        </h2>

        <div class="mb-2">
            <label class="mb-0">
                <input type="radio" data-ng-model="$ctrl.settings.homeRightColumnType" value="localnews">
                Local News
            </label>
            <div class="note-text">Show various local news stories.</div>
        </div>

        <div class="mb-2">
            <label class="mb-0">
                <input type="radio" data-ng-model="$ctrl.settings.homeRightColumnType" value="chatwall">
                Discussion
            </label>
            <div class="note-text">An open chat similar to Facebook's "wall".</div>
        </div>

        <div>
            <label class="mb-0">
                <input type="radio" data-ng-model="$ctrl.settings.homeRightColumnType" value="localnews,chatwall">
                Show Both Local News and Discussion
            </label>
        </div>
    </div>



    <div data-ng-if="$ctrl.showLocalNewsSetting">
        <h2 class="mt-5">
            Home Page
        </h2>

        <div>
            <label>
                <input type="checkbox" data-ng-model="$ctrl.settings.homeRightColumnType" ng-true-value="'localnews'" ng-false-value="''">
                Show Local News
            </label>
        </div>

        <div class="note-text">Show various local news stories.</div>
    </div>

    <h2 class="mt-5">
        Login Image
    </h2>

    <div>
        <input id="JQLoginImageFileUploader" type="file" name="files[]" data-url="" multiple style="display:none;" />
        <button type="button" class="btn btn-primary" onclick="$('#JQLoginImageFileUploader').click();">Choose Image</button>
        <button data-ng-show="$ctrl.loginImageUrl" style="margin-left: 1em;" data-ng-click="$ctrl.removeLoginImage()" type="button">Remove Image</button>
    </div>

    <div class="note-text">Image will be resized to 706x396</div>
    <p>
        <img alt="Login Image" style="max-width: 100%;" data-ng-show="$ctrl.loginImageUrl" data-ng-src="{{ $ctrl.loginImageUrl }}" />
    </p>

    <h2 class="mt-5">
        Welcome Message
    </h2>
    <p>
        This message will be displayed at the top of the home page.
    </p>
    <div class="row">
        <!--<div class="col-12">
            <textarea class="form-control" type="text" id="welcome-message-textbox" data-ng-model="$ctrl.settings.welcomeMessage" rows="5" maxlength="1024"></textarea>
        </div>-->
        <div class="col-12">
            <div class="btn-toolbar" data-role="editor-toolbar" data-target="#welcome-rich-editor">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu"></ul>
                </div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                        <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                        <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                    <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                    <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
                    <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
                    <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
                    <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
                    <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
                    <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
                    <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
                    <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a>
                    <div class="dropdown-menu input-append">
                        <input class="span2" placeholder="URL" value="https://" type="text" data-edit="createLink" />
                        <button class="btn" type="button">Add</button>
                    </div>
                    <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>
                </div>

                <div class="btn-group">
                    <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
                    <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                    <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
                </div>
                <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">
            </div>

            <div id="welcome-rich-editor" class="rich-text-editor"></div>
        </div>
    </div>

    <div data-ng-if="$ctrl.isPta">
        <h2 class="mt-5">
            PTA Unit ID
        </h2>
        <p>
            When you're registered with your state's PTA organization, you should receive a local unit number/ID.
        </p>
        <div class="row">
            <div class="col-12">
                <input class="form-control" type="number" id="pta-unit-id-textbox" data-ng-model="$ctrl.settings.ptaUnitId" />
            </div>
        </div>
    </div>

    <div style="display: none;">
        <h2>Background</h2>
        Customize your site's background.<br />
        <div>
            <!--<img data-ng-repeat="bgImage in $ctrl.settings.backgroundImageFiles" id="bg-image-{{ $index }}" data-ng-mouseenter="$ctrl.onImageHoverOver( bgImage );" data-ng-mouseleave="$ctrl.onImageHoverOut();" data-ng-class="bgImage == $ctrl.settings.bgImageFileName && 'test-bg-image-selected' || ''" data-ng-click="$ctrl.onImageClick( bgImage );" class="test-bg-image" src="{{ bgImagePath + bgImage }}">-->
        </div>
    </div>

    <div class="text-right mt-4">
        <button class="btn btn-primary" style="margin-top: 0.5em;" id="bottom-save-button" data-ng-click="$ctrl.saveAllSettings()">Save Settings</button>
    </div>

    <button id="qa-delete-site-button" data-ng-if="$ctrl.showQaButton" data-ng-click="$ctrl.onQaDeleteSite()">d</button>
</div>

<div class="page">
    <div class="note-text">
        Web App Build <span style="font-weight: bold;">{{$ctrl.frontEndVersion}}</span>. Sometimes tech support will ask for this number. If you're asked to force refresh
        the site then you can <span class="text-link" data-ng-click="$ctrl.forceRefresh()">try clicking here</span>, pressing CTRL+F5, or holding SHIFT while clicking your browser's
        refresh button.
    </div>
</div>