<div style="position: relative;">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

    <!--Loop through all the polls-->
    <article class="last" data-ng-repeat="poll in $ctrl.polls">
        <div data-ng-if="$index > 0"><br /><br /></div>

        <!--Show the question text-->
        <div class="text-12 text-bold">POLL<span data-ng-if="poll.hasUsersUnitVoted && poll.canViewResults"> RESULTS</span>:</div>
        <p id="poll-question-text-{{ $index }}" class="no-margin text-large text-bold">{{ poll.questionText }}</p>
        <p class="no-margin note-text">
            <span>Posted by {{ poll.authorName }} on {{ poll.postDate | date:'M/d/yyyy' }} - Poll {{ poll.canViewResults ? "closed" : "closes" }} 12pm CT {{ poll.expirationDate | date:'M/d/yyyy' }}</span>
             - 
            <span data-ng-if="poll.isAnonymous">This is an anonymous poll. Your identity will not be shown with your response.</span>
            <span data-ng-if="!poll.isAnonymous">This is NOT an anonymous poll. Your identity will be shown with your response.</span>
        </p>

        <!--Show the poll responses for the user to vote on-->
        <div data-ng-if="!poll.hasUsersUnitVoted">
            <div>
                <div id="poll-detail-{{ $index }}" data-ng-show="poll.detailText.length > 0" style="font-size: 16px;" class="mt-3 mb-4">{{ poll.detailText }}</div>
            </div>

            <div class="polls" data-ng-if="poll.maxNumResponses<2">
                <div class="poll-answer" data-ng-repeat="pollAnswer in poll.answers" id="poll-answer-{{ $parent.$index }}-{{ $index }}" data-ng-click="$ctrl.onPollAnswer( poll, pollAnswer, null )">
                    <span id="poll-answer-text-{{ $parent.$index }}-{{ $index }}">{{ pollAnswer.answerText }}</span>
                    <div id="poll-answer-detail-text-{{ $parent.$index }}-{{ $index }}" class="poll-answer-detail" data-ng-show="pollAnswer.detailText.length > 0">
                        {{ pollAnswer.detailText }}
                    </div>
                </div>

                <div class="row" data-ng-if="poll.allowOtherAnswer">
                    <div class="col-sm-3 text-end" style="color: #4583b6;">Or write in your own response:</div>
                    <div class="col-sm-6">
                        <input type="text" style="width: 100%;" maxlength="80" data-ng-model="poll.writeInAnswer" />
                    </div>
                    <div class="col-sm-3 text-start"><button class="btn btn-primary" type="button" data-ng-click="$ctrl.onPollAnswer( poll, null )">Submit Write-in Response</button></div>
                </div>
            </div>

            <!-- Multi-response -->
            <div class="polls" data-ng-if="poll.maxNumResponses>1">
                <div class="note-text">
                    You may select up to {{poll.maxNumResponses}} options.
                </div>

                <label class="poll-answer" data-ng-repeat="pollAnswer in poll.answers" id="poll-answer-{{ $parent.$index }}-{{ $index }}" data-ng-style="{'background':pollAnswer.isLocalMultiSelect ? 'lightgreen' : null}">
                    <input type="checkbox" data-ng-change="$ctrl.onMultiResponseChange(poll, pollAnswer)" data-ng-model="pollAnswer.isLocalMultiSelect" />
                    <span id="poll-answer-text-{{ $parent.$index }}-{{ $index }}">{{ pollAnswer.answerText }}</span>
                    <span id="poll-answer-detail-text-{{ $parent.$index }}-{{ $index }}" class="poll-answer-detail" data-ng-show="pollAnswer.detailText.length > 0">
                        {{ pollAnswer.detailText }}
                    </span>
                </label>

                <label class="poll-answer" data-ng-if="poll.allowOtherAnswer" data-ng-style="{'background':poll.isWriteInMultiSelected ? 'lightgreen' : null}">
                    <input type="checkbox" data-ng-change="$ctrl.onMultiResponseChange(poll, $ctrl.multiSelectWriteInPlaceholder)" data-ng-model="poll.isWriteInMultiSelected" />
                    <span style="color: #4583b6;">Or write in your own response:</span>
                    <input type="text" style="width: 55%;" maxlength="80" data-ng-model="poll.writeInAnswer" />
                </label>

                <div class="text-center">
                    <button class="btn btn-primary" type="button" data-ng-click="$ctrl.onSubmitMultiAnswer(poll)">Submit {{poll.localMultiSelectedAnswers.length}} Vote{{poll.localMultiSelectedAnswers.length===1?'':'s'}}</button>
                </div>
            </div>

        </div>

        <!-- The user has voted, show results or a wait message -->
        <div data-ng-if="poll.hasUsersUnitVoted">

            <!-- Show the results -->
            <div data-ng-show="poll.canViewResults">
                <div style="width:49%; float:left;">
                    <canvas id="poll-result-chart-{{ $index }}"
                            width="469"
                            height="234"
                            class="chart chart-doughnut"
                            data-chart-data="poll.chartData"
                            data-chart-labels="poll.chartLabels"></canvas>
                </div>
                <div style="width:50%; float:left;">
                    Your unit voted:<br>
                    <span style="font-weight:bold;">{{ poll.unitVoteText }}</span>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- Make the user wait -->
            <div data-ng-hide="poll.canViewResults">
                <div>
                    Your unit has voted:<br>
                    <span id="selected-vote-text" style="font-weight:bold;">{{ poll.unitVoteText }}</span><br>
                    You must wait until the poll closes 12pm CT on {{ poll.expirationDate | date:'fullDate' }} to view the results.<br>
                    <span id="change-vote-button" class="text-link" ng-click="poll.hasUsersUnitVoted = false">Change vote.</span><br>
                    <span style="font-size: small;">You can change your vote as much as you want until the poll closes.</span>
                </div>
            </div>

        </div>

    </article>
</div>