<div class="portlet-box white payment_bl margin-vertical">
    <div class="portlet-header">
        <div class="title">Payment</div>
    </div>

    <div class="portlet-body">
        <div class="loading-overlay" data-ng-show="$ctrl.isLoading_Payment"></div>

        <p class="single_p">{{ $ctrl.allyAppName }} uses <a target="_blank" href="https://www.wepay.com/"><img src="/assets/images/small_wepay_logo.png" alt="" /></a> to safely and securely handle payments. </p>
        <form action="#">
            <div class="pay_for">
                <div class="text-16 font-600">I am paying for</div>

                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio">
                        <input id="radioStacked1" name="payment" type="radio" value="periodic" class="form-check-input" data-ng-click="$ctrl.onSelectPaymentType('periodic')" ng-model="$ctrl.paymentInfo.paymentType">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Assessment</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="other" name="payment" type="radio" data-ng-click="$ctrl.onSelectPaymentType('other')" value="other" ng-model="$ctrl.paymentInfo.paymentType" class="form-check-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Other</span>
                    </label>
                </div>
            </div>

            <div class="amount_field row">
                <div class="col-sm-4 pay_check">
                    <label>Amount</label>
                    <input class="form-control grey" type="text" value="" data-ng-disabled="$ctrl.paymentInfo.paymentType == 'periodic'" data-ng-model="$ctrl.paymentInfo.amount" />
                </div>
                <div class="col-sm-8 memo">
                    <label>Memo</label>
                    <input class="form-control grey" type="text" placeholder="" data-ng-model="$ctrl.paymentInfo.note" />
                    <div data-ng-show="$ctrl.paymentInfo.paymentType == 'periodic'" data-ng-click="$ctrl.onIncorrectPayDetails()" class="text-link margin-top-10">{{ $ctrl.errorPayInfoText }}</div>
                </div>
                <i class="error" ng-show="$ctrl.paymentError">{{$ctrl.paymentErrorMessage}}</i>
            </div>

            <p class="buttons margin-top-30">
                <span class="text-center d-inline-block">
                    <input type="button" class="btn btn-primary" data-ng-click="$ctrl.makePayment('ach');" value="Pay with E-Check">
                    <br />
                    {{ $ctrl.assessmentAchFeeLabel }}
                </span>
                <span class="text-center d-inline-block">
                    <input type="button" style="margin-left:1em;" class="btn btn-primary" data-ng-click="$ctrl.makePayment('cc');" value="Pay with Debit/Credit Card">
                    <br />
                    {{ $ctrl.assessmentCreditCardFeeLabel }}
                </span>
            </p>
            <br />
            <br />
            <br />
            <div class="buttons margin-top-30 text-center" data-ng-if="$ctrl.showParagon">
                <p class="single_p text-left">{{ $ctrl.allyAppName }} uses <a target="_blank" href="https://paragonsolutions.com/"><img src="/assets/images/paragon-logo-black.png" alt="" /></a> to safely and securely handle payments. </p>

                <div class="text-center d-inline-block" data-ng-if="$ctrl.paragonCheckingLast4 || $ctrl.paragonCardLast4">
                    <!--<a id="paragon-pay-button" onclick="if( $ctrl.paymentInfo.amount < 1 ) return false; $( this ).hide(); $( '#paragon-spinner' ).show(); return true;" data-ng-href="https://stage.paragonsolutions.com/ws/hosted2.aspx?Username=54cE7DU2p%2bBh7h9uwJWW8Q%3d%3d&Password=jYvmN41tt1lz%2bpiazUqQYK9Abl73Z%2bHoBG4vOZImo%2bYlKTbPeNPwOcMB0%2bmIS3%2bs&MerchantKey=1293&Amount={{$ctrl.paymentInfo.amount}}{{$ctrl.paragonPaymentParams}}" class="btn btn-info" role="button">Pay Now</a>-->
                    <!--<input type="button" style="margin-left:1em;" class="btn btn-primary" data-ng-click="$ctrl.showParagonCheckingSignUpModal = true" value="Pay Modal">-->
                    <div data-ng-if="$ctrl.paragonPaymentMessage" style="font-size: x-large; color: blue;">{{ $ctrl.paragonPaymentMessage }}</div>
                    <div data-ng-if="$ctrl.paragonCheckingLast4">
                        <input type="button" class="btn btn-primary" data-ng-click="$ctrl.submitParagonPayment('check')" value="Complete eCheck Payment Now Via Paragon">
                        <br />
                        Clicking this button will submit payment using the account ending in {{ $ctrl.paragonCheckingLast4 }}. $1 fee applies.
                    </div>
                    <div data-ng-if="$ctrl.paragonCardLast4" class="mt-3">
                        <input type="button" class="btn btn-primary" data-ng-click="$ctrl.submitParagonPayment('card')" value="Complete Credit Card Payment Now Via Paragon">
                        <br />
                        Clicking this button will submit payment using the account ending in {{ $ctrl.paragonCardLast4 }}. 2.9% + $0.30 fee applies.
                    </div>
                </div>

                <div class="text-center" data-ng-if="!$ctrl.paragonCheckingLast4 || !$ctrl.paragonCardLast4">
                    <br />
                    <input data-ng-if="!$ctrl.paragonCheckingLast4" type="button" style="margin-left:1em;" class="btn btn-primary" data-ng-click="$ctrl.showParagonSignUp()" value="Sign-up To Make Online Payments via Checking or Savings">
                    <br />
                    <input data-ng-if="!$ctrl.paragonCardLast4" type="button" style="margin-left:1em; margin-top: 1em;" class="btn btn-primary" data-ng-click="$ctrl.showParagonCreditSignUp()" value="Sign-up To Make Online Payments via Credit Card">
                </div>
            </div>

            <div class="modal-container" data-ng-show="$ctrl.showParagonCheckingSignUpModal" data-ng-escape="$ctrl.showParagonCheckingSignUpModal = false">
                <div class="modal-overlay" data-ng-click="$ctrl.showParagonCheckingSignUpModal = false"></div>
                <div class="ca-modal-dialog modal-lg">
                    <div class="loading-overlay" data-ng-show="$ctrl.isLoading_Payment"></div>
                    <span style="float: right;" class="close-x" data-ng-click="$ctrl.showParagonCheckingSignUpModal = false">&times;</span>
                    <h2>Your Payment Information</h2>
                    Enter your bank account information below to complete sign-up.
                    <h4 class="mt-2" style="text-decoration: underline">Your Contact Information</h4>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-first-name">First Name</label>
                            <input type="text" class="form-control" id="billing-sign-up-first-name" placeholder="First Name" data-ng-model="$ctrl.paragonSignUpInfo.firstName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-last-name">Last Name</label>
                            <input type="text" class="form-control" id="billing-sign-up-last-name" placeholder="Last Name" data-ng-model="$ctrl.paragonSignUpInfo.lastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-email">E-mail Address</label>
                            <input type="text" class="form-control" id="billing-sign-up-email" placeholder="E-mail Address" data-ng-model="$ctrl.paragonSignUpInfo.email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-phone">Phone Number</label>
                            <input type="text" class="form-control" id="billing-sign-up-phone" placeholder="Phone Number" data-ng-model="$ctrl.paragonSignUpInfo.phoneNumber">
                        </div>
                    </div>
                    <street-address-form data-should-hide-name="true" data-street-address="$ctrl.paragonSignUpInfo.billingAddress"></street-address-form>
                    <h4 class="mt-2" style="text-decoration: underline">Your Bank Account Information</h4>
                    <div class="row">
                        <label for="edit-user-first-text-box" class="col-sm-2 col-xs-12">Account Type:</label>
                        <div class="col-sm-5 col-xs-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="acct-type-checking" data-ng-value="'CHECKING'" data-ng-model="$ctrl.paragonSignUpInfo.accountType">
                                <label class="form-check-label" for="acct-type-checking">Checking</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="acct-type-savings" data-ng-value="'SAVINGS'" data-ng-model="$ctrl.paragonSignUpInfo.accountType">
                                <label class="form-check-label" for="acct-type-savings">Savings</label>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="check-type-personal" data-ng-value="'PERSONAL'" data-ng-model="$ctrl.paragonSignUpInfo.checkType">
                                <label class="form-check-label" for="check-type-personal">Personal</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="check-type-savings" data-ng-value="'BUSINESS'" data-ng-model="$ctrl.paragonSignUpInfo.checkType">
                                <label class="form-check-label" for="check-type-business">Business</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-routing">Routing Number</label>
                            <input id="billing-sign-up-routing" type="text" class="form-control" placeholder="Routing Number" data-ng-model="$ctrl.paragonSignUpInfo.routingNumber" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-account">Account Number</label>
                            <input id="billing-sign-up-account" type="text" class="form-control" placeholder="Account Number" data-ng-model="$ctrl.paragonSignUpInfo.checkAccountNumber" />
                        </div>
                    </div>
                    <div class="row" style="text-align: right;">
                        <div class="col-12">
                            <div class="text-error" data-ng-if="$ctrl.paragonSignUpError">Failed to Sign-up: {{$ctrl.paragonSignUpError}}</div>
                            <input type="button" style="margin-left:1em;" class="btn btn-primary" data-ng-click="$ctrl.submitParagonSignUp()" value="Submit">
                            <br />
                            <span class="note-text">
                                Your information will be transmitted to Paragon using a highly secure connection. Community Ally does not store any of your bank information.
                                <br />
                                This may take up to a minute.
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-container" data-ng-show="$ctrl.showParagonCreditSignUpModal">
                <div class="modal-overlay"></div>
                <div class="ca-modal-dialog modal-lg">
                    <span style="float: right;" class="close-x" data-ng-click="$ctrl.hideParagonCreditSignUp()">&times;</span>
                    <h2>Enter Credit Card Information</h2>
                    <div class="note-text">This form is hosted on Paragon's servers so your information is never transmitted through Community Ally.</div>
                    <div data-ng-if="!$ctrl.paragonCardTokenizedUrl">
                        <img data-ng-if="$ctrl.paragonCardTokenizationMessage === 'Connecting...'" src="/assets/images/spinner-large.gif" />
                        <br />
                        {{ $ctrl.paragonCardTokenizationMessage }}
                    </div>
                    <iframe data-ng-if="$ctrl.paragonCardTokenizedUrl" style="width: 100%; height: 600px;" ng-src="{{$ctrl.paragonCardTokenizedUrl}}"></iframe>
                    </div>
            </div>

            <fieldset data-ng-style="{'display': $ctrl.isAutoPayActive ? 'block':'none'}">
                <legend>Auto-Pay</legend>
                <div data-ng-show="$ctrl.isAutoPayActive">
                    Auto-pay is successfully enabled. {{ $ctrl.nextAutoPayText }}<br />
                    <span class="text-button" data-ng-click="$ctrl.onDisableAutoPay()">Disable Auto-pay</span>
                </div>
                <div data-ng-hide="$ctrl.isAutoPayActive">
                    <p>You can automatically send your assessment payment. {{ $ctrl.nextAutoPayText }}</p>
                    <div>
                        <div style="display:inline-block; text-align: center;">
                            <input type="button" class="btn btn-primary" data-ng-click="$ctrl.onSetupAutoPay('ach');" value="Setup with E-Check">
                            <br />
                            {{ $ctrl.assessmentAchFeeLabel }}
                        </div>

                        <div style="display:inline-block; text-align: center;">
                            <input type="button" style="margin-left:1em;" class="btn btn-primary" data-ng-click="$ctrl.onSetupAutoPay('cc');" value="Setup with Debit/Credit Card">
                            <br />
                            {{ $ctrl.assessmentCreditCardFeeLabel }}
                        </div>
                    </div>
                    <br />
                    <p class="note-text" style="color: red; display: none;" data-ng-show="$ctrl.payerPaysAchFee">
                        NOTE: There is currently an issue with WePay charging a higher transaction fee (1% + $1.30) than it should ($1.50)
                        on ACH pre-approvals. We'll update this as soon as we hear an update. In the meantime, consider making manual
                        payments.
                    </p>
                    <br />
                    <p class="note-text">
                        <cite>
                            Unfortunately, we cannot make any guarantees regarding the automatic payment system as that is handled by our
                            secure third-party payment provider. You are responsible for making sure your payments are made on time to
                            avoid any late penalties that your association may enforce.
                        </cite>
                    </p>
                </div>
            </fieldset>
        </form>

        <div class="margin-top-20">
            <div class="manage_pannel text-right">
                <a href="javascript:void(0)" id="btn_view_pay_history">View Payment History </a>
                <a href="javascript:void(0)" id="btn_view_pay_info">View Payment Information</a>
            </div>

            <div class="mt-4">
                <div id="payment_history" class="collapse">
                    <h4>Payment History</h4>
                    <span class="hide note-text text-link">hide</span>
                    <div data-ng-if="$ctrl.recentPayments.length > 0">
                        <p data-ng-repeat="payment in $ctrl.recentPayments">{{ payment.date | date:'shortDate' }}   <strong>{{ payment.amount | currency }}</strong></p>
                    </div>
                    <p data-ng-if="!$ctrl.recentPayments.length">You have no payment history.</p>
                </div>

                <div id="pm_info" class="collapse">
                    <h4>Payment Information</h4>
                    <span class="hide note-text text-link">hide</span>
                    <p>You can pay your assessment online. {{ $ctrl.allyAppName }} uses a service called WePay to process payment. We do not store your payment information at any time. Both {{ $ctrl.allyAppName }} and WePay use the same security used by major banks to secure all information and data transfer. <a href="https://support.wepay.com/entries/23064032-Security" target="_blank">Learn more about WePay's security</a>. </p>

                    <p><!--You can pay your assessment online. {{ $ctrl.allyAppName }} uses a service called Paragon to process payment. We do not store your payment information at any time. Both {{ $ctrl.allyAppName }} and Paragon use the same security used by major banks to secure all information and data transfer. <a href="https://paragonsolutions.com/compliance-security/" target="_blank">Learn more about Paragon's security</a>.--> </p>

                    <div data-ng-if="$ctrl.paragonCheckingLast4" class="mt-3 text-center">
                        <input type="button" class="btn btn-primary" data-ng-click="$ctrl.unenrollParagonAccount('check')" value="Un-enroll your checking account">
                    </div>

                    <div data-ng-if="$ctrl.paragonCardLast4" class="mt-3 text-center">
                        <input type="button" class="btn btn-primary" data-ng-click="$ctrl.unenrollParagonAccount('card')" value="Un-enroll your credit card account">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>