<div class="portlet-box white payment_bl margin-vertical">
    <div class="portlet-header">
        <div class="title">Payment</div>
    </div>

    <div class="portlet-body">
        <div class="loading-overlay" data-ng-show="$ctrl.isLoading_Payment"></div>

        <div id="dwolla-form" class="mb-4" data-ng-if="$ctrl.shouldShowDwolla">
            <div ng-if="$ctrl.isDwollaAccountVerified && !$ctrl.hasDwollaFundingSource">
                <div>
                    Your Dwolla account is verified, you can now associate a bank account to make payments from:
                    <br />
                    <br />
                    <div data-ng-if="$ctrl.hasComplexPassword">
                        <input type="button" class="btn btn-primary" id="start" value="Add Bank Account" ng-click="$ctrl.dwollaStartIAV()" data-ng-if="!$ctrl.isLoadingDwolla" />
                        <img src="/assets/images/spinner-large.gif" data-ng-if="$ctrl.isLoadingDwolla" />
                    </div>
                    <div data-ng-if="!$ctrl.hasComplexPassword" style="font-weight: bold;">
                        In order to sign-up to make Dwolla payments you must use a complex password. Please visit <a href="#!/MyProfile">your profile</a> to update your password.
                    </div>
                </div>
            </div>
            <div ng-if="!$ctrl.isDwollaAccountVerified">
                <div id="dwolla-sign-up" data-ng-if="$ctrl.dwollaUserStatus === 'checking'">
                    <img src="/assets/images/spinner-large.gif" />
                </div>
                <div id="dwolla-sign-up" class="container" data-ng-if="$ctrl.dwollaUserStatus !== 'checking'">
                    <div data-ng-if="$ctrl.dwollaUserStatus === 'new' || $ctrl.dwollaUserStatus === 'retry'">
                        <div class="row mb-3" data-ng-if="$ctrl.dwollaUserStatus === 'retry'">
                            <div class="col-12 text-error">
                                The initial identity verification attempt failed because the information provided did not satisfy Dwolla’s verification check. Please try again by entering your full Social Security number and adjusting any fields that are incorrect.
                            </div>
                        </div>
                        <div class="row mb-3" data-ng-if="$ctrl.dwollaUserStatus !== 'retry'">
                            <div class="col-12">
                                In order to make payments, Dwolla needs to verify your identity. Please enter the information below.
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <span class="font-weight-bold">Name:</span> <span>{{$ctrl.userFullName}}</span>
                                <span class="font-weight-bold">Email:</span> <span>{{$ctrl.userEmail}}</span>
                                <br />
                                <span class="note-text">Edit this information in <a href="#!/MyProfile">your profile</a>.</span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">Date of Birth: <input type="text" class="form-control form-control-sm" data-ng-model="$ctrl.dwollaSignUpInfo.dateOfBirth" data-ui-date="{changeYear: true, yearRange: '1900:+0'}" /></div>
                            <div data-ng-if="$ctrl.dwollaUserStatus !== 'retry'" class="col-6">Last 4 of SSN: <input type="password" class="form-control form-control-sm" maxlength="4" data-ng-model="$ctrl.dwollaSignUpInfo.ssnLast4" /></div>
                            <div data-ng-if="$ctrl.dwollaUserStatus === 'retry'" class="col-6">Full SSN: <input type="password" class="form-control form-control-sm" maxlength="11" data-ng-model="$ctrl.dwollaSignUpInfo.ssnFull" /></div>
                        </div>
                        <div class="row mb-3" data-ng-if="!$ctrl.editDwollaSignUpAddress">
                            <div class="col-12"><span class="font-weight-bold">Home Address:</span> <span>{{$ctrl.dwollaSignUpInfo.streetAddress.oneLiner}}</span> <span class="note-text text-link" data-ng-click="$ctrl.editDwollaSignUpAddress = true">edit</span></div>
                        </div>
                        <street-address-form data-ng-if="$ctrl.editDwollaSignUpAddress" data-street-address="$ctrl.dwollaSignUpInfo.streetAddress" should-hide-name="true"></street-address-form>
                        <div class="row mb-2">
                            <div class="col-12">
                                <label><input type="checkbox" data-ng-model="$ctrl.didAgreeToDwollaTerms" /> By checking this box you agree to <a target="_blank" href="https://login.condoally.com/TermsOfService.html">Our Terms of Service</a> and <a target="_blank" href="https://login.condoally.com/PrivacyPolicy.html">Privacy Policy</a>, as well as our partner <a target="_blank" href="https://www.dwolla.com/legal/tos/">Dwolla's Terms of Service</a> and <a target="_blank" href="https://www.dwolla.com/legal/privacy/">Privacy Policy</a>.</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-ng-click="$ctrl.dwollaSignUp();">Agree and Sign-up for Payments</button>
                    </div>

                    <div data-ng-if="$ctrl.dwollaUserStatus === 'document'">
                        <div data-ng-if="$ctrl.dwollaDocUploadMessage">
                            {{$ctrl.dwollaDocUploadMessage}}
                        </div>
                        <div data-ng-if="!$ctrl.dwollaDocUploadMessage">
                            In order for Dwolla to complete your identity verification, you need to upload a document confirming your identify. The image needs to be color and sharp, not blurry. If you have already done this, please
                            give Dwolla up to 2 full days to hear a response before contacting support.
                            <div class="mt-3">
                                <label>
                                    <b>Document Type:</b>
                                    <select data-ng-model="$ctrl.dwollaDocUploadType">
                                        <option value="license">State-Issued Driver's License</option>
                                        <option value="passport">Passport</option>
                                        <option value="idCard">Government-Issued ID Card</option>
                                    </select>
                                </label>
                                <br />
                                <input type="file" on-file-change="$ctrl.onDwollaDocSelected($event)" />
                                <br />
                                <br />
                                <button type="button" class="btn btn-primary" data-ng-click="$ctrl.uploadDwollaDoc()">Upload Document</button>
                            </div>
                        </div>
                    </div>

                    <div data-ng-if="$ctrl.dwollaUserStatus === 'suspended'" class="text-error">
                        It appears your account verification has failed. Please contact tech support using the message form in the bottom right of using <a href="#!/Help">this form</a>.
                    </div>
                </div>
            </div>
        </div>

        <form data-ng-if="$ctrl.isWePayPaymentActive || $ctrl.isDwollaPaymentActive">
            <div class="pay_for">
                <div class="text-16 font-600">I am paying for</div>

                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio">
                        <input id="radioStacked1" name="payment" type="radio" value="periodic" class="form-check-input" data-ng-click="$ctrl.onSelectPaymentType('periodic')" ng-model="$ctrl.paymentInfo.paymentType">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Assessment</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="other" name="payment" type="radio" data-ng-click="$ctrl.onSelectPaymentType('other')" value="other" ng-model="$ctrl.paymentInfo.paymentType" class="form-check-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Other</span>
                    </label>
                </div>
            </div>

            <div class="amount_field row">
                <div class="col-sm-4 pay_check">
                    <label>Amount</label>
                    <input class="form-control grey" type="text" value="" data-ng-disabled="$ctrl.paymentInfo.paymentType == 'periodic'" data-ng-model="$ctrl.paymentInfo.amount" data-ng-change="$ctrl.onPaymentAmountChange()" />
                </div>
                <div class="col-sm-8 memo">
                    <label>Memo</label>
                    <input class="form-control grey" type="text" placeholder="" data-ng-model="$ctrl.paymentInfo.note" />
                    <div data-ng-show="$ctrl.paymentInfo.paymentType == 'periodic'" data-ng-click="$ctrl.onIncorrectPayDetails()" class="text-link margin-top-10">{{ $ctrl.errorPayInfoText }}</div>
                </div>
                <i class="error" ng-show="$ctrl.paymentError">{{$ctrl.paymentErrorMessage}}</i>
            </div>

            <div data-ng-if="$ctrl.isWePayPaymentActive">
                <p class="margin-top-30" style="margin-bottom: 0;">You can use <a target="_blank" href="https://www.wepay.com/">WePay</a> to safely and securely handle payments.</p>
                <p class="buttons">
                    <span class="text-center d-inline-block">
                        <input type="button" class="btn btn-primary" data-ng-click="$ctrl.makePayment('ach');" value="Pay with E-Check">
                        <br />
                        {{ $ctrl.assessmentAchFeeLabel }}
                    </span>
                    <span class="text-center d-inline-block">
                        <input type="button" style="margin-left:1em;" class="btn btn-primary" data-ng-click="$ctrl.makePayment('cc');" value="Pay with Debit/Credit Card">
                        <br />
                        {{ $ctrl.assessmentCreditCardFeeLabel }}
                    </span>
                </p>
            </div>

            <div class="buttons margin-top-30 text-center" ng-if="$ctrl.isDwollaAccountVerified && $ctrl.hasDwollaFundingSource && $ctrl.isDwollaPaymentActive">
                <p class="text-left margin-top-30" style="margin-bottom: 0;">You can use <a target="_blank" href="https://www.dwolla.com/security/">Dwolla</a> to safely and securely handle payments.</p>

                <div class="text-center d-inline-block">
                    <div data-ng-if="$ctrl.dwollaPaymentMessage">
                        <span style="font-size: x-large; color: blue;">{{ $ctrl.dwollaPaymentMessage }}</span>
                        <div class="mt-2">
                            (<span class="text-link note-text" data-ng-click="$ctrl.dwollaPaymentMessage = null">OK</span>)
                        </div>
                    </div>
                    <div data-ng-if="!$ctrl.dwollaPaymentMessage">
                        <input type="button" class="btn btn-primary" data-ng-click="$ctrl.submitDwollaPayment()" value="Submit Payment">
                        <br />
                        Clicking this button will submit payment. {{$ctrl.dwollaFeePercent}}% fee ({{$ctrl.dwollaFeeAmountString}}) applies.
                    </div>
                </div>
                <div class="mt-3 text-right">
                    <span class="text-link note-text" data-ng-click="$ctrl.unlinkDwollaFundingSource()">Unlink bank account</span>
                </div>
            </div>
            <br />
            <br />

            <div class="buttons margin-top-30 text-center" data-ng-if="$ctrl.showParagon">
                <p class="single_p text-left">
                    {{
 $ctrl.allyAppName
                    }} uses <a target="_blank" href="https://paragonsolutions.com/"><img src="/assets/images/paragon-logo-black.png" alt="" /></a> to safely and securely handle payments.
                </p>

                <div class="text-center d-inline-block" data-ng-if="$ctrl.paragonCheckingLast4 || $ctrl.paragonCardLast4">
                    <!--<a id="paragon-pay-button" onclick="if( $ctrl.paymentInfo.amount < 1 ) return false; $( this ).hide(); $( '#paragon-spinner' ).show(); return true;" data-ng-href="https://stage.paragonsolutions.com/ws/hosted2.aspx?Username=54cE7DU2p%2bBh7h9uwJWW8Q%3d%3d&Password=jYvmN41tt1lz%2bpiazUqQYK9Abl73Z%2bHoBG4vOZImo%2bYlKTbPeNPwOcMB0%2bmIS3%2bs&MerchantKey=1293&Amount={{$ctrl.paymentInfo.amount}}{{$ctrl.paragonPaymentParams}}" class="btn btn-info" role="button">Pay Now</a>-->
                    <!--<input type="button" style="margin-left:1em;" class="btn btn-primary" data-ng-click="$ctrl.showParagonCheckingSignUpModal = true" value="Pay Modal">-->
                    <div data-ng-if="$ctrl.paragonPaymentMessage" style="font-size: x-large; color: blue;">{{ $ctrl.paragonPaymentMessage }}</div>
                    <div data-ng-if="$ctrl.paragonCheckingLast4">
                        <input type="button" class="btn btn-primary" data-ng-click="$ctrl.submitParagonPayment('check')" value="Complete eCheck Payment Now Via Paragon">
                        <br />
                        Clicking this button will submit payment using the account ending in {{ $ctrl.paragonCheckingLast4 }}. $1 fee applies.
                    </div>
                    <div data-ng-if="$ctrl.paragonCardLast4" class="mt-3">
                        <input type="button" class="btn btn-primary" data-ng-click="$ctrl.submitParagonPayment('card')" value="Complete Credit Card Payment Now Via Paragon">
                        <br />
                        Clicking this button will submit payment using the account ending in {{ $ctrl.paragonCardLast4 }}. 2.9% + $0.30 fee applies.
                    </div>
                </div>

                <div class="text-center" data-ng-if="!$ctrl.paragonCheckingLast4 || !$ctrl.paragonCardLast4">
                    <br />
                    <input data-ng-if="!$ctrl.paragonCheckingLast4" type="button" style="margin-left:1em;" class="btn btn-primary" data-ng-click="$ctrl.showParagonSignUp()" value="Sign-up To Make Online Payments via Checking or Savings">
                    <br />
                    <input data-ng-if="!$ctrl.paragonCardLast4" type="button" style="margin-left:1em; margin-top: 1em;" class="btn btn-primary" data-ng-click="$ctrl.showParagonCreditSignUp()" value="Sign-up To Make Online Payments via Credit Card">
                </div>
            </div>

            <div class="modal-container" data-ng-show="$ctrl.showParagonCheckingSignUpModal" data-ng-escape="$ctrl.showParagonCheckingSignUpModal = false">
                <div class="modal-overlay" data-ng-click="$ctrl.showParagonCheckingSignUpModal = false"></div>
                <div class="ca-modal-dialog modal-lg">
                    <div class="loading-overlay" data-ng-show="$ctrl.isLoading_Payment"></div>
                    <span style="float: right;" class="close-x" data-ng-click="$ctrl.showParagonCheckingSignUpModal = false">&times;</span>
                    <h2>Your Payment Information</h2>
                    Enter your bank account information below to complete sign-up.
                    <h4 class="mt-2" style="text-decoration: underline">Your Contact Information</h4>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-first-name">First Name</label>
                            <input type="text" class="form-control" id="billing-sign-up-first-name" placeholder="First Name" data-ng-model="$ctrl.paragonSignUpInfo.firstName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-last-name">Last Name</label>
                            <input type="text" class="form-control" id="billing-sign-up-last-name" placeholder="Last Name" data-ng-model="$ctrl.paragonSignUpInfo.lastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-email">E-mail Address</label>
                            <input type="text" class="form-control" id="billing-sign-up-email" placeholder="E-mail Address" data-ng-model="$ctrl.paragonSignUpInfo.email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-phone">Phone Number</label>
                            <input type="text" class="form-control" id="billing-sign-up-phone" placeholder="Phone Number" data-ng-model="$ctrl.paragonSignUpInfo.phoneNumber">
                        </div>
                    </div>
                    <street-address-form data-should-hide-name="true" data-street-address="$ctrl.paragonSignUpInfo.billingAddress"></street-address-form>
                    <h4 class="mt-2" style="text-decoration: underline">Your Bank Account Information</h4>
                    <div class="row">
                        <label for="edit-user-first-text-box" class="col-sm-2 col-xs-12">Account Type:</label>
                        <div class="col-sm-5 col-xs-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="acct-type-checking" data-ng-value="'CHECKING'" data-ng-model="$ctrl.paragonSignUpInfo.accountType">
                                <label class="form-check-label" for="acct-type-checking">Checking</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="acct-type-savings" data-ng-value="'SAVINGS'" data-ng-model="$ctrl.paragonSignUpInfo.accountType">
                                <label class="form-check-label" for="acct-type-savings">Savings</label>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="check-type-personal" data-ng-value="'PERSONAL'" data-ng-model="$ctrl.paragonSignUpInfo.checkType">
                                <label class="form-check-label" for="check-type-personal">Personal</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="check-type-savings" data-ng-value="'BUSINESS'" data-ng-model="$ctrl.paragonSignUpInfo.checkType">
                                <label class="form-check-label" for="check-type-business">Business</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-routing">Routing Number</label>
                            <input id="billing-sign-up-routing" type="text" class="form-control" placeholder="Routing Number" data-ng-model="$ctrl.paragonSignUpInfo.routingNumber" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="billing-sign-up-account">Account Number</label>
                            <input id="billing-sign-up-account" type="text" class="form-control" placeholder="Account Number" data-ng-model="$ctrl.paragonSignUpInfo.checkAccountNumber" />
                        </div>
                    </div>
                    <div class="row" style="text-align: right;">
                        <div class="col-12">
                            <div class="text-error" data-ng-if="$ctrl.paragonSignUpError">Failed to Sign-up: {{$ctrl.paragonSignUpError}}</div>
                            <input type="button" style="margin-left:1em;" class="btn btn-primary" data-ng-click="$ctrl.submitParagonSignUp()" value="Submit">
                            <br />
                            <span class="note-text">
                                Your information will be transmitted to Paragon using a highly secure connection. Community Ally does not store any of your bank information.
                                <br />
                                This may take up to a minute.
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-container" data-ng-show="$ctrl.shouldShowDwollaAddAccountModal">
                <div class="modal-overlay" data-ng-click=""></div>
                <div class="ca-modal-dialog modal-lg">
                    <div class="loading-overlay" data-ng-show="$ctrl.isLoadingDwolla"></div>
                    <span style="float: right;" class="close-x" data-ng-click="$ctrl.showParagonCheckingSignUpModal = false">&times;</span>
                    <h2>Add Bank Account</h2>
                    <span class="note-text">
                        Note: For an extra layer of security, the account addition process takes place through Dwolla's servers only. The information you enter below does not
                        interact with Community Ally's server.
                    </span>
                    <div id="dwolla-iav-container"></div>
                </div>
            </div>

            <div class="modal-container" data-ng-show="$ctrl.showParagonCreditSignUpModal">
                <div class="modal-overlay"></div>
                <div class="ca-modal-dialog modal-lg">
                    <span style="float: right;" class="close-x" data-ng-click="$ctrl.hideParagonCreditSignUp()">&times;</span>
                    <h2>Enter Credit Card Information</h2>
                    <div class="note-text">This form is hosted on Paragon's servers so your information is never transmitted through Community Ally.</div>
                    <div data-ng-if="!$ctrl.paragonCardTokenizedUrl">
                        <img data-ng-if="$ctrl.paragonCardTokenizationMessage === 'Connecting...'" src="/assets/images/spinner-large.gif" />
                        <br />
                        {{ $ctrl.paragonCardTokenizationMessage }}
                    </div>
                    <iframe data-ng-if="$ctrl.paragonCardTokenizedUrl" style="width: 100%; height: 600px;" ng-src="{{$ctrl.paragonCardTokenizedUrl}}"></iframe>
                </div>
            </div>

            <fieldset data-ng-style="{'display': $ctrl.isAutoPayActive ? 'block':'none'}">
                <legend>Auto-Pay</legend>
                <div data-ng-show="$ctrl.isAutoPayActive">
                    Auto-pay is successfully enabled. {{ $ctrl.nextAutoPayText }}<br />
                    <span class="text-button" data-ng-click="$ctrl.onDisableAutoPay()">Disable Auto-pay</span>
                </div>
                <div data-ng-hide="$ctrl.isAutoPayActive">
                    <p>You can automatically send your assessment payment. {{ $ctrl.nextAutoPayText }}</p>
                    <div>
                        <div style="display:inline-block; text-align: center;">
                            <input type="button" class="btn btn-primary" data-ng-click="$ctrl.onSetupAutoPay('ach');" value="Setup with E-Check">
                            <br />
                            {{ $ctrl.assessmentAchFeeLabel }}
                        </div>

                        <div style="display:inline-block; text-align: center;">
                            <input type="button" style="margin-left:1em;" class="btn btn-primary" data-ng-click="$ctrl.onSetupAutoPay('cc');" value="Setup with Debit/Credit Card">
                            <br />
                            {{ $ctrl.assessmentCreditCardFeeLabel }}
                        </div>
                    </div>
                    <br />
                    <p class="note-text" style="color: red; display: none;" data-ng-show="$ctrl.payerPaysAchFee">
                        NOTE: There is currently an issue with WePay charging a higher transaction fee (1% + $1.30) than it should ($1.50)
                        on ACH pre-approvals. We'll update this as soon as we hear an update. In the meantime, consider making manual
                        payments.
                    </p>
                    <br />
                    <p class="note-text">
                        <cite>
                            Unfortunately, we cannot make any guarantees regarding the automatic payment system as that is handled by our
                            secure third-party payment provider. You are responsible for making sure your payments are made on time to
                            avoid any late penalties that your association may enforce.
                        </cite>
                    </p>
                </div>
            </fieldset>
        </form>

        <div class="mb-2 mt-2" data-ng-if="$ctrl.dwollaBalance > 0 && !$ctrl.dwollaBalanceMessage">
            Dwolla Balance:
            <span class="font-weight-bold">{{$ctrl.dwollaBalance | currency}}</span>
            <span class="ml-3 text-link" data-ng-click="$ctrl.withdrawDwollaBalance()">Withdrawal</span>
        </div>

        <div class="mb-2 mt-2" data-ng-if="$ctrl.dwollaBalanceMessage">
            {{$ctrl.dwollaBalanceMessage}}
        </div>

        <div class="margin-top-20">
            <div class="manage_pannel text-right">
                <span class="text-link" data-ng-click="$ctrl.showExtraInfo = ($ctrl.showExtraInfo === 'payment-history' ? null : 'payment-history')" id="btn_view_pay_history">View Payment History</span>
                <span class="text-link ml-3" data-ng-click="$ctrl.showExtraInfo = ($ctrl.showExtraInfo === 'payment-info' ? null : 'payment-info')" id="btn_view_pay_info">View Payment Information</span>
            </div>

            <div class="mt-4">
                <div id="payment_history" data-ng-if="$ctrl.showExtraInfo === 'payment-history'">
                    <h4>Payment History</h4>
                    <div data-ng-if="$ctrl.recentPayments.length > 0" class="row">
                        <div class="col-6" data-ng-repeat="payment in $ctrl.recentPayments">
                            {{ payment.date | date:'shortDate' }}
                            <strong>{{ payment.amount | currency }}</strong>
                            <span class="note-text" data-ng-if="payment.electronic">{{payment.electronic.status}}</span>
                        </div>
                    </div>
                    <p data-ng-if="!$ctrl.recentPayments.length">You have no payment history.</p>
                </div>

                <div id="pm_info" data-ng-if="$ctrl.showExtraInfo === 'payment-info'">
                    <h4>Payment Information</h4>
                    <p>You can pay your assessment online. {{ $ctrl.allyAppName }} uses a service called Dwolla to process payment. There is a 1% processing fee if your association is using the {{ $ctrl.allyAppName }} free plan, or 0.5% if on the premium plan. We do not store your payment information at any time. Both {{ $ctrl.allyAppName }} and Dwolla use the same security used by major banks to secure all information and data transfer. <a href="https://www.dwolla.com/security/" target="_blank">Learn more about Dwolla's security</a>. </p>

                    <!--<p>You can pay your assessment online. {{ $ctrl.allyAppName }} uses a service called WePay to process payment. We do not store your payment information at any time. Both {{ $ctrl.allyAppName }} and WePay use the same security used by major banks to secure all information and data transfer. <a href="https://support.wepay.com/entries/23064032-Security" target="_blank">Learn more about WePay's security</a>. </p>-->

                    <p><!--You can pay your assessment online. {{ $ctrl.allyAppName }} uses a service called Paragon to process payment. We do not store your payment information at any time. Both {{ $ctrl.allyAppName }} and Paragon use the same security used by major banks to secure all information and data transfer. <a href="https://paragonsolutions.com/compliance-security/" target="_blank">Learn more about Paragon's security</a>.--> </p>

                    <div data-ng-if="$ctrl.paragonCheckingLast4" class="mt-3 text-center">
                        <input type="button" class="btn btn-primary" data-ng-click="$ctrl.unenrollParagonAccount('check')" value="Un-enroll your checking account">
                    </div>

                    <div data-ng-if="$ctrl.paragonCardLast4" class="mt-3 text-center">
                        <input type="button" class="btn btn-primary" data-ng-click="$ctrl.unenrollParagonAccount('card')" value="Un-enroll your credit card account">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>