<section class="docs">
    <h1>{{ $ctrl.title }}</h1>
    <div class="mt-2 mb-2">
        Here you can explore your group's documents. You can search for files quickly using the search box in the upper left of the documents area. <span data-ng-if="$ctrl.canManage">You can drag-and-drop files to move them by dragging the file's icon.</span>
    </div>
    <div data-ng-if="$ctrl.showPopUpWarning" class="alert alert-warning" role="alert">
        Your browser appears to be blocking pop-ups which are required to view documents. These guides may help: <a href="https://support.google.com/chrome/answer/95472?co=GENIE.Platform%3DDesktop&hl=en" rel="noreferrer" target="_blank">Chrome</a> - <a href="https://support.mozilla.org/en-US/kb/pop-blocker-settings-exceptions-troubleshooting#w_pop-up-blocker-settings" rel="noreferrer" target="_blank">Firefox</a> - <a href="https://www.digitaltrends.com/computing/how-to-allow-pop-ups-on-a-mac/" rel="noreferrer" target="_blank">Safari</a>
    </div>

    <input id="JQDocsFileUploader" type="file" name="files[]" data-url="Pages/DocumentUpload.aspx?isupload=1" multiple style="display:none;" />

    <div id="documents-area" class="spinner-effect">
        <div id="file-tree-panel-overlay" class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

        <div class="row">
            <div class="col-lg-3 col-md-5 col-sm-12">
                <div id="directory-panel">
                    <div class="form-group">
                        <input type="text" class="form-control search-box" data-ng-change="$ctrl.updateFileFilter()" data-ng-model="$ctrl.fileSearch.all" data-ng-model-options="{ debounce: 1 }" placeholder="Search files" aria-describedby="basic-addon2" />
                    </div>

                    <div data-ng-class="{'directory-list-panel':$ctrl.canManage, 'directory-list-panel-full': !$ctrl.canManage}">

                        <div data-ng-repeat="curDirectory in $ctrl.documentTree.subdirectories">
                            <div id="directory-name-{{ $index }}" data-ng-class="{ droppable:true, directory: !curDirectory.isPrivate, 'directory-private':curDirectory.isPrivate, 'directory-selected':curDirectory === $ctrl.selectedDirectory }"
                                 data-ng-click="$ctrl.onDirectoryClicked(curDirectory);" data-folder-path="{{ curDirectory.fullDirectoryPath }}">
                                <span data-ng-class="{ 'folder-icon': curDirectory.subdirectories.length === 0, 'folder-multi-icon': curDirectory.subdirectories.length > 0 }"></span>
                                <span class="directory-name">{{curDirectory.name}}</span>
                            </div>

                            <div data-ng-if="(curDirectory === $ctrl.selectedDirectory || curDirectory === $ctrl.selectedDirectory.parentDirectory) && $ctrl.shouldShowSubdirectories" data-ng-repeat="subDirectory in curDirectory.subdirectories">
                                <div id="sub-directory-name-{{ $parent.$index }}-{{ $index }}" style="display: inline-block;" data-ng-class="{ 'sub-directory': true, droppable:true, directory: !subDirectory.isPrivate, 'directory-private':subDirectory.isPrivate, 'directory-selected':subDirectory == $ctrl.selectedDirectory }"
                                     data-ng-click="$ctrl.onDirectoryClicked(subDirectory)" data-folder-path="{{ subDirectory.fullDirectoryPath }}">
                                    <span class="folder-icon"></span>
                                    <span class="directory-name">{{subDirectory.name}}</span>
                                </div>
                            </div>
                        </div>

                        <div data-ng-hide="$ctrl.documentTree.subdirectories.length > 0" style="text-align: center; padding-top: 2em;">
                            Your association has not yet uploaded any files.
                        </div>
                    </div>
                    <div class="text-center pt-3" data-ng-show="$ctrl.canManage">
                        <button type="button" class="btn btn-primary" data-ng-click="$ctrl.createDirectory()">+ Create New Folder</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-7 col-sm-12">
                <div class="file-list-panel" data-ng-hide="$ctrl.fileSearch.all">
                    <div id="private-folder-note" data-ng-show="$ctrl.selectedDirectory.isPrivate">
                        This is a private folder. Only site admin and board members can see its contents.
                    </div>
                    <div data-ng-show="$ctrl.selectedDirectory != null" style="margin-top:15px;">
                        <div class="pull-right margin-right-10">
                            Sort By:<br /><span class="text-link" data-ng-class="{'bold-underline': $ctrl.fileSortType === 'title'}" data-ng-click="$ctrl.SetFileSortType('title')">Name</span> - <span data-ng-class="{'bold-underline': $ctrl.fileSortType === 'uploadDate'}" data-ng-click="$ctrl.SetFileSortType('uploadDate')" class="text-link">Upload Date</span>
                        </div>
                        <a href="javascript:void(0)" id="rename-directory-button" class="btn-create-folder" data-ng-show="$ctrl.selectedDirectory != null && $ctrl.canManage" data-ng-click="$ctrl.RenameSelectedDirectory()">Rename Folder</a>
                        <a href="javascript:void(0)" id="delete-directory-button" class="btn-create-folder" data-ng-show="$ctrl.selectedDirectory != null && $ctrl.canManage" data-ng-click="$ctrl.DeleteSelectedDirectory()">Delete Folder</a>
                        <a href="javascript:void(0)" id="create-subdirectory-button" class="btn-create-folder" data-ng-if="!$ctrl.selectedDirectory.parentDirectory && $ctrl.canManage" data-ng-click="$ctrl.CreateSubDirectory()">Create Sub-Folder</a>

                        <a href="javascript:void(0)" class="upload_btn btn-create-folder" data-ng-show="$ctrl.selectedDirectory != null && $ctrl.canManage" onclick="$('#JQDocsFileUploader').click();">+ Upload File</a>
                    </div>
                    <p data-ng-show="$ctrl.selectedDirectory.files.length === 0">
                        This folder contains no files
                    </p>

                    <div id="FileContainer_{{ $index }}" class="file_item p-2" data-ng-class="{'Document_File_Selected': $ctrl.selectedFile === curFile, 'Document_File': $ctrl.selectedFile !== curFile }" data-ng-click="$ctrl.onFileClicked( curFile )" data-ng-repeat="curFile in $ctrl.selectedDirectory.files">
                        <div class="file_info media-item margin-top">
                            <div class="media-thumbnail">
                                <img id="File_{{ $index }}" class="file-thumbnail draggable" ng-dblclick="$ctrl.viewDoc( curFile, false )" ng-src="{{$ctrl.getFileIcon(curFile.fileName)}}" />
                            </div>

                            <div class="media-content">
                                <label id="file-name-{{ $index }}" class="file-name">{{ curFile.title }}</label>
                                <div class="row">
                                    <div class="col-md-6 uploader">
                                        Uploaded {{ curFile.uploadDate | date:'MMMM d, y' }} <span data-ng-show="curFile.uploaderFullName">by {{ curFile.uploaderFullName }}</span> - <span>{{ curFile.fileSizeBytes | filesize }}</span>
                                    </div>
                                    <div class="col-md-6 text-md-right padding-right">
                                        <span ng-click="$ctrl.viewDoc( curFile, false )" class="text-button">View</span>
                                        - <span ng-click="$ctrl.viewDoc( curFile, true )" class="text-button">Download</span>
                                        <span data-ng-if="$ctrl.canManage"> - <a href="javascript:void(0)" id="rename-document-button-{{ $index }}" class="text-button" data-ng-click="$ctrl.RenameDocument(curFile);">Rename</a></span>
                                        <span data-ng-if="$ctrl.canManage"> - <a href="javascript:void(0)" id="delete-document-button-{{ $index }}" class="text-button" data-ng-click="$ctrl.DeleteDocument(curFile);">Delete</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="file-list-panel" data-ng-show="$ctrl.fileSearch.all">
                    <h2>
                        File Search Results<small class="margin-left-15"><i>{{ $ctrl.searchFileList.length }} {{ $ctrl.searchFileList.length == 1 ? 'file' : 'files' }} found</i></small>
                    </h2>
                    <div class="file_item search" data-ng-repeat="curFile in $ctrl.searchFileList">

                        <div class="file_info media-item margin-top">
                            <div class="media-thumbnail">
                                <img id="File_{{ $index }}" class="file-thumbnail draggable" ng-src="{{$ctrl.getFileIcon(curFile.fileName)}}" />
                            </div>
                            <div class="media-content">
                                <label id="file-name-{{ $index }}" class="file-name"><span ng-bind-html="curFile.localFilePath | highlight:$ctrl.fileSearch.all"></span></label>
                                <div class="row">
                                    <div class="col-md-6 uploader">
                                        Uploaded <span ng-bind-html="curFile.uploadDateString | highlight:$ctrl.fileSearch.all"></span> <span data-ng-if="curFile.uploaderFullName"> by <span ng-bind-html="curFile.uploaderFullName | highlight:fileSearch.all"></span></span>
                                    </div>
                                    <div class="col-md-6 text-md-right padding-right">
                                        <a href="{{curFile.url}}" target="_blank">View</a>
                                        <a href="{{curFile.url}}" target="_blank" download="{{curFile.fileName}}">Download</a>
                                        <a id="rename-document-button-{{ $index }}" data-ng-click="$ctrl.RenameDocument(curFile);">Rename</a>
                                        <a id="delete-document-button-{{ $index }}" class="text-button" data-ng-click="$ctrl.DeleteDocument(curFile);">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="text-right mt-2" data-ng-if="$ctrl.downloadZipUrl">
        <a data-ng-href="{{$ctrl.downloadZipUrl}}" target="_blank" data-ng-click="$ctrl.getDownloadZipVid()">Download Zip Of All Files</a>
        <br />
        <span class="note-text">(Can take a few minutes, watch your browser's download area for progress. Please don't click more than once.)</span>
    </div>

    <div id="CreateDirectoryContainer" class="modal-container" data-ng-show="$ctrl.shouldShowCreateFolderModal" data-ng-form data-ng-enter="$ctrl.onCreateDirectoryClicked()" data-ng-escape="$ctrl.onCancelAddDirectory()">
        <div class="modal-overlay"></div>
        <div class="ca-modal-dialog modal-sm">
            <div data-ng-if="$ctrl.isLoading" class="loading-overlay"></div>
            <div>
                Folder Name: <input class="form-control" id="CreateDirectoryNameTextBox" maxlength="32" data-ng-model="$ctrl.newDirectoryName" type="text" /><br />
            </div>
            <div class="text-center margin-top">
                <button id="create-directory-button" class="btn btn-primary" data-ng-click="$ctrl.onCreateDirectoryClicked()">OK</button>&nbsp;
                <button class="btn btn-primary" data-ng-click="$ctrl.onCancelAddDirectory()">Cancel</button>
            </div>
        </div>
    </div>

    <div id="FileUploadProgressContainer" style="display:none;">
        <div style="z-index: 0;" class="loading-overlay"></div>
        <div id="FileUploadProgressPanel">
            <h1>File Upload Progress</h1>
            <h2 id="FileUploadProgressLabel">0%</h2>
            <div id="FileUploadProgressBarContainer">
                <div id="FileUploadProgressBar"></div>
            </div>
            <br>
            <img src="../../assets/images/Spinner_Small.gif">
        </div>
    </div>
</section>