<div class="page-subpage page-document-info info spinner-effect" data-ng-cloak>
    <h1>{{ $ctrl.headerText }}</h1>
    <br />
    <div data-ng-if="$ctrl.infoItems.length > 5">
        <span data-ng-repeat="info in $ctrl.infoItems"><span class="text-link" id="info-item-link-{{ $index }}" data-ng-click="$ctrl.scrollToInfo( $index )">{{ info.title }}</span><br /></span>
    </div>

    <div class="loading-overlay" data-ng-show="$ctrl.isLoadingInfo"></div>

    <div id="info-item-{{ $index }}" class="association-info-item" data-ng-repeat="info in $ctrl.infoItems">
        <a name="info-item-nav-{{ $index }}"><h4 style="display: inline-block;" id="info-item-title-{{ $index }}">{{ info.title }}</h4></a>
        <div data-ng-show="$ctrl.isSiteManager" style="display: inline-block; font-size: small; margin-left: 9px;">
            <a href="javascript:void(0)" id="info-item-edit-{{ $index }}-button" class="text-button" data-ng-click="$ctrl.onStartEditInfoItem( info );">Edit</a>
            <a href="javascript:void(0)" id="info-item-delete-{{ $index }}-button" class="text-button" data-ng-click="$ctrl.onDeleteInfoItem( info );">Delete</a>
        </div>
        <p id="info-item-body-{{ $index }}" class="info-item-body" data-ng-bind-html="info.body">
        </p>
        <br />
    </div>

    <div class="add_info" data-ng-show="$ctrl.isSiteManager">
        <br />
        <h4>Add New Information</h4>
        <form action="" id="info-item-edit-form">
            <p><label>Title</label></p>
            <p><input type="text" class="input_field " id="AddInfoItemTitleTextBox" data-ng-model="$ctrl.editingInfoItem.title" maxlength="128" data-rule-required="true" /></p>
            <p><label>Message:</label></p>
            <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu"></ul>
                </div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                        <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                        <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                    <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                    <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
                    <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
                    <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
                    <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
                    <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
                    <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
                    <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
                    <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a>
                    <div class="dropdown-menu input-append">
                        <input class="span2" placeholder="URL" value="http://" type="text" data-edit="createLink" />
                        <button class="btn" type="button">Add</button>
                    </div>
                    <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>
                </div>

                <div class="btn-group">
                    <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
                    <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                    <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
                </div>
                <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">
            </div>

            <div id="editor"></div>

            <p class="text-right margin-top-10">
                <span data-ng-show="$ctrl.isBodyMissing" class="error">The body is required.</span>
                <button id="AddNewInfoButton" class="btn btn-primary" type="button" data-ng-click="$ctrl.onSubmitItem();">Submit</button>&nbsp;
                <button id="CancelEditInfoButton" class="btn btn-primary margin-left-10"data-ng-show="$ctrl.editingInfoItem.infoItemId != null"data-ng-click="$ctrl.editingInfoItem = {};">
                    Cancel Edit
                </button>
            </p>
        </form>
    </div>

    <div class="add_info" data-ng-hide="$ctrl.isSiteManager" style="padding-top: 3em; font-weight: bold;">
        Site admin can add and edit association information. If you would like to add information, please let someone on your board
        know or ask to be made a site admin.
    </div>
</div>