<div class="page-subpage page-document-info info spinner-effect" data-ng-cloak>
    <h1>{{ $ctrl.headerText }}</h1>
    <br />
    <div data-ng-if="$ctrl.infoItems.length > 5" style="margin-bottom: 30px;">
        <span data-ng-repeat="info in $ctrl.infoItems"><span class="text-link" id="info-item-link-{{ $index }}" data-ng-click="$ctrl.scrollToInfo( $index )">{{ info.title }}</span><br /></span>
        <hr />
    </div>

    <div class="loading-overlay" data-ng-show="$ctrl.isLoadingInfo"></div>

    <div id="info-item-{{ $index }}" class="association-info-item" data-ng-repeat="info in $ctrl.infoItems">
        <a name="info-item-nav-{{ $index }}"><h4 style="display: inline-block;" id="info-item-title-{{ $index }}">{{ info.title }}</h4></a>
        <div data-ng-show="$ctrl.canManage" style="display: inline-block; font-size: small; margin-left: 9px;">
            <a href="javascript:void(0)" id="info-item-edit-{{ $index }}-button" class="text-button" data-ng-click="$ctrl.onStartEditInfoItem( info );">Edit</a>
            <a href="javascript:void(0)" id="info-item-delete-{{ $index }}-button" class="text-button" data-ng-click="$ctrl.onDeleteInfoItem( info );">Delete</a>
        </div>
        <p id="info-item-body-{{ $index }}" class="info-item-body" data-ng-bind-html="info.body">
        </p>
        <br />
    </div>

    <div class="add_info" data-ng-show="$ctrl.canManage">
        <br />
        <h4>Add New Information</h4>
        <form action="" id="info-item-edit-form">
            <p><label>Title</label></p>
            <p><input type="text" class="input_field " id="AddInfoItemTitleTextBox" data-ng-model="$ctrl.editingInfoItem.title" maxlength="128" data-rule-required="true" /></p>
            <p><label>Message:</label></p>
            <textarea id="tiny-mce-editor"></textarea>
            <span class="font-weight-bold note-text">Please resize your images to be below 100KB before inserting to keep the page loading fast for your neighbors.</span>
            <p class="text-right margin-top-10">
                <span data-ng-show="$ctrl.isBodyMissing" class="error">The body is required.</span>
                <button id="AddNewInfoButton" class="btn btn-primary" type="button" data-ng-click="$ctrl.onSubmitItem();">Submit</button>&nbsp;
                <button id="CancelEditInfoButton" class="btn btn-primary margin-left-10" type="button" data-ng-show="$ctrl.editingInfoItem.infoItemId != null" data-ng-click="$ctrl.cancelInfoItemEdit()">
                    Cancel Edit
                </button>
            </p>
        </form>
    </div>

    <div class="add_info" data-ng-hide="$ctrl.canManage" style="padding-top: 3em; font-weight: bold;">
        Site admin can add and edit association information. If you would like to add information, please let someone on your board
        know or ask to be made a site admin.
    </div>
</div>