<div class="send_email portlet-box white margin-vertical" id="send-email-panel">
    <div class="portlet-header">
        <h3 class="title">Send E-mail</h3>
    </div>

    <div class="portlet-body">
        <div class="loading-overlay" data-ng-show="$ctrl.isLoadingEmail"></div>

        <div data-ng-show="$ctrl.showSendEmail">
            <form id="message-form">
                <div class="form-group" data-ng-if="!$ctrl.committee">
                    <label>Choose Recipient Group</label>
                    <select class="form-control" data-ng-model="$ctrl.messageObject.recipientType" data-ng-change="$ctrl.onSelectEmailGroup()" data-ng-options="e.recipientType as e.displayName for e in $ctrl.availableEmailGroups"></select>

                    <div data-ng-if="$ctrl.showUseDiscussSuggestion" style="color: blue; font-size: large;">
                        Primary use of this group is for announcements, questions, and requests for vender recommendations. <span style="font-weight: bold;">For matters of discussion
                        and opinions, please use the discussion group.</span>
                    </div>

                    <div data-ng-if="$ctrl.showRestrictedGroupWarning" style="color: blue; font-weight: bold;">
                        This e-mail group is a restricted group meaning replies will be sent only to you and not the entire
                        group.
                    </div>

                    <div data-ng-if="$ctrl.showDiscussionEveryoneWarning" style="color: red; font-weight: bold;">
                        In general, sending an e-mail to the "Everyone" group should be reserved for urgent notices. Instead, most "everyone" e-mails should be
                        sent to the "discussion" group. The discussion group allows residents to unsubscribe from
                        individual threads, thus residents are more engaged in the threads in which they participate and complain less about e-mail.
                    </div>

                    <div data-ng-if="$ctrl.showDiscussionLargeWarning" style="color: red; font-weight: bold;">
                        Sending an e-mail to this receipient group will send to a lot of people. Please consider the "discussion" group which allows residents to unsubscribe from
                        individual threads. This way, residents are more engaged in the threads in which they participate and complain less about e-mail.
                    </div>

                    <div>
                        <a data-ng-href="mailto:{{ $ctrl.groupEmailAddress }}" class="note-text">{{ $ctrl.groupEmailAddress }}</a><br />
                        <small>For individual {{$ctrl.memberLabel}} messaging or group listings, visit the <a href="#!/BuildingResidents">{{$ctrl.memberPageName}}</a> page </small>
                    </div>
                </div>

                <div class="form-group" data-ng-if="$ctrl.committee">
                    This will send an e-mail to the members of this committee. If you'd prefer to send a message from your own e-mail client, send
                    to this address:<br />
                    <a href="mailto:committee-{{ $ctrl.committee.committeeId }}.{{ $ctrl.siteInfo.publicSiteInfo.shortName }}@{{ $ctrl.groupEmailDomain }}">committee-{{ $ctrl.committee.committeeId }}.{{ $ctrl.siteInfo.publicSiteInfo.shortName }}@{{ $ctrl.groupEmailDomain }}</a>
                </div>

                <div class="form-group">
                    <label>Subject:</label>
                    <input type="text" class="form-control" data-ng-model="$ctrl.messageObject.subject" />
                </div>

                <div class="form-group">
                    <label>E-mail Contents:</label>
                    <textarea class="form-control" data-ng-model="$ctrl.messageObject.message" data-rule-required="true" rows="10"></textarea>
                </div>
                <a class="note-text" target="_blank" href="https://help.communityally.org/how-to-send-an-e-mail-with-an-attachment/">Want to add an attachment or use advanced formatting?</a>
                <p class="text-right">
                    <input class="btn btn-primary" value="Send E-mail" id="send-email-button" type="button" data-ng-click="$ctrl.onSendEmail()" />
                </p>
            </form>
        </div>
        <div data-ng-show="$ctrl.showSendConfirmation">
            Your message has been sent successfully.<br>
            <span class="text-button" data-ng-click="$ctrl.showSendEmail = true; $ctrl.showSendConfirmation = false;">Send Another</span>
        </div>
        <div data-ng-show="$ctrl.showEmailForbidden">
            You do not have permission to send e-mail.
        </div>
    </div>
</div>
