<div class="portlet-box white margin-vertical-lg box-shadow">
    <div class="portlet-header">
        <div class="title" id="local-news-header"><i class="fa-solid fa-newspaper ally-portlet-icon me-2"></i> Local News</div>
    </div>

    <div class="portlet-body spinner-effect min100vh">
        <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
        <div data-ng-if="!$ctrl.isLoading && $ctrl.localNewStories && $ctrl.localNewStories.length === 0" class="note-text">
            No news stories were found or there was an error on the news server
        </div>
        <article data-ng-repeat="news in $ctrl.localNewStories" class="ally-shaded-item">
            <h5><a data-ng-href='{{ ::news.fullStoryUri }}' target="_blank">{{ ::news.title }}</a></h5>
            <p class="date note-text">{{ ::news.date | date:'short' }}</p>
            <p><photo photo-src="news.bodySnippet" /> {{ ::news.bodySnippetText }}</p>
            <p class="m-0"><a data-ng-href='{{ ::news.fullStoryUri }}' target="_blank" class="more">Read more </a></p>
        </article>
    </div>
</div>