<div class="page-subpage page-document-info info spinner-effect" data-ng-cloak>
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

    <div class="row">

        <div class="col-5">
            <h1 style="display: inline-block;">Maintenance</h1>

            <span class="text-link note-text" style="margin-left: 3em;" data-ng-click="$ctrl.shouldShowManageEquipmentModal = true">{{ $ctrl.isSiteManager ? "Manage" : "View" }} Equipment</span>
        </div>

        <div class="col-5">
            <input type="text" class="form-control" style="display: none !important;" placeholder="Search maintenance" />
        </div>

        <div class="col-2" style="text-align: right;">
            <button data-ng-if="$ctrl.isSiteManager" style="float: right;" class="btn btn-primary" data-ng-click="$ctrl.openAddNewProject();" type="button">Add New Entry</button>
        </div>

    </div>

    <div class="row">
        <div class="col-12 mt-5">
            <h3>Entries</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            Sort By:
            <span class="text-link" data-ng-class="{'bold-underline': $ctrl.entriesSortField === 'entryDate'}" data-ng-click="$ctrl.updateEntriesSort('entryDate')">Entry Date</span>
            - <span class="text-link" data-ng-class="{'bold-underline': $ctrl.entriesSortField === 'status'}" data-ng-click="$ctrl.updateEntriesSort('status')">Status</span>
            - <span class="text-link" data-ng-class="{'bold-underline': $ctrl.entriesSortField === 'startDate'}" data-ng-click="$ctrl.updateEntriesSort('startDate')">Start Date</span>
        </div>
    </div>

    <div class="row" data-ng-repeat="entry in $ctrl.maintenanceEntries">

        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{entry.getTitle()}}
                        <span data-ng-show="$ctrl.isSiteManager" class="note-text" style="display: inline-block; font-size: small; margin-left: 9px;">
                            <a href="javascript:void(0)" id="maintenance-item-edit-{{ $index }}-button" class="text-button" data-ng-click="$ctrl.onEditEntry( entry );">Edit</a>
                            <a href="javascript:void(0)" id="maintenance-item-delete-{{ $index }}-button" style="margin-left: 10px;" class="text-button" data-ng-click="$ctrl.onDeleteEntry( entry );">Delete</a>
                        </span>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted note-text">{{entry.getTypeName()}} entered by {{entry.getAuthorName()}} on {{entry.getCreatedDate() | date:'short'}}</h6>

                    <div data-ng-if="entry.todo">
                        <div data-ng-if="entry.todo.dueDate"><label style="font-weight:bold;">Due:</label>&nbsp;{{ entry.todo.dueDate | date:'shortDate' }}</div>
                        <div data-ng-if="entry.todo.assignedToFullName"><label style="font-weight:bold;">Assigned To:</label>&nbsp;{{ entry.todo.assignedToFullName }}</div>
                    </div>

                    <div data-ng-if="entry.project">
                        <div data-ng-if="entry.project.startDate"><label style="font-weight:bold;">Project Date:</label>&nbsp;{{ entry.project.startDate | date:'shortDate' }}<span data-ng-if="entry.project.endDate && entry.project.endDate.getTime() !== entry.project.startDate.getTime()">&nbsp;- {{ entry.project.endDate | date:'shortDate' }}</span></div>
                        <div data-ng-if="entry.project.cost"><label style="font-weight:bold;">Cost:</label>&nbsp;{{ entry.project.cost | currency }}</div>
                        <div data-ng-if="entry.project.vendorCompanyName"><label style="font-weight:bold;">Vendor:</label>&nbsp;{{ entry.project.vendorCompanyName }}</div>
                        <div data-ng-if="entry.project.equipmentName"><label style="font-weight:bold;">Equipment:</label>&nbsp;{{ entry.project.equipmentName }}</div>
                        <div data-ng-if="entry.project.status"><label style="font-weight:bold;">Status:</label>&nbsp;{{ entry.project.status }}</div>
                        <div data-ng-if="entry.project.assignedTo"><label style="font-weight:bold;">Assigned To:</label>&nbsp;{{ entry.project.assignedTo }}</div>
                        <p id="maintenance-item-body-{{ $index }}" data-ng-if="entry.project.descriptionText" class="maintenance-item-body" style="white-space: pre-wrap;" ng-bind-html="entry.project.descriptionText | linky:'_blank':{rel: 'nofollow noopener noreferrer'}">
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="text-right mt-2">
        <a href="javascript:void(0)" class="text-link" data-ng-click="$ctrl.exportMaintenanceCsv()">Export Maintenance Records To CSV</a>
    </div>

    <div class="modal-container" data-ng-if="$ctrl.editingProject || $ctrl.editingTodo" data-ng-escape="$ctrl.editingProject = $ctrl.editingTodo = null">
        <div class="modal-overlay"></div>

        <form class="ca-modal-dialog modal-md">
            <div data-ng-show="$ctrl.isLoading" class="loading-overlay"></div>

            <div data-ng-if="($ctrl.editingProject && $ctrl.editingProject.maintenanceProjectId) || ($ctrl.editingTodo && $ctrl.editingTodo.todoItemId)">
                <span style="float: right;" class="close-x" data-ng-click="$ctrl.editingProject = $ctrl.editingTodo = null">&times;</span>
                <h2>{{ $ctrl.editingProject ? "Edit Maintenance Entry" : "Edit To-Do" }}</h2>
            </div>

            <div data-ng-if="($ctrl.editingProject && !$ctrl.editingProject.maintenanceProjectId) || ($ctrl.editingTodo && !$ctrl.editingTodo.todoItemId)">
                <span style="float: right;" class="close-x" data-ng-click="$ctrl.editingProject = $ctrl.editingTodo = null">&times;</span>
                <h2>Add New Entry</h2>

                <label><input name="new-entry-type" type="radio" data-ng-click="$ctrl.onEntryTypeChange('proj')" checked="checked" />Maintenance Entry</label>
                <label style="margin-left: 2em;"><input name="new-entry-type" type="radio" data-ng-click="$ctrl.onEntryTypeChange('todo')" />To-Do</label>
            </div>

            <div data-ng-if="$ctrl.editingProject">

                <div class="form-group row">
                    <label class="col-sm-3 col-xs-12">Name:</label>
                    <div class="col-sm-9 col-xs-12">
                        <input id="project-title-text-box" class="form-control" type="text" data-ng-enter="$ctrl.saveProject()" data-ng-model="$ctrl.editingProject.title" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-xs-12">Equipment:</label>
                    <div class="col-sm-9 col-xs-12">
                        <select data-ng-model="$ctrl.editingProject.equipmentId" data-ng-change="$ctrl.onEquipmentSelectionChange()" class="form-control" data-ng-options="eq.equipmentId as eq.name for eq in $ctrl.equipmentOptions">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row" data-ng-if="$ctrl.vendorOptions.length > 0">
                    <label class="col-sm-3 col-xs-12">Vendor:</label>
                    <div class="col-sm-9 col-xs-12">
                        <select data-ng-model="$ctrl.editingProject.vendorId" class="form-control" data-ng-options="v.preferredVendorId as v.companyName for v in $ctrl.vendorOptions">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-xs-12">Notes:</label>
                    <div class="col-sm-9 col-xs-12">
                        <textarea data-ng-model="$ctrl.editingProject.descriptionText" class="form-control" rows="4"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-xs-12">Status:</label>
                    <div class="col-sm-9 col-xs-12">
                        <select data-ng-model="$ctrl.editingProject.status" class="form-control">
                            <option></option>
                            <option value="Not Started">Not Started</option>
                            <option value="Active">Active</option>
                            <option value="Complete">Complete</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-xs-12">Assigned To:</label>
                    <div class="col-sm-9 col-xs-12">
                        <input class="form-control" type="text" data-ng-model="$ctrl.editingProject.assignedTo" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-xs-12">Started On:</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" class="form-control" data-ui-date="{changeYear: true, changeMonth: true, yearRange: '1980:+1'}" data-ng-change="$ctrl.onProjectStartDateChange()" data-ng-model="$ctrl.editingProject.startDate" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-xs-12">Finished On:</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" class="form-control" data-ui-date="{changeYear: true, yearRange: '1980:+1'}" data-ng-model="$ctrl.editingProject.endDate" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-xs-12">Cost:</label>
                    <div class="col-sm-9 col-xs-12">
                        $<input type="text" class="form-control" style="display: inline-block; width: 98%;" data-ng-enter="$ctrl.saveProject()" data-ng-model="$ctrl.editingProject.cost" />
                    </div>
                </div>

                <div class="text-right">
                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.saveProject()">Save</button>
                </div>
            </div>


            <div data-ng-if="$ctrl.editingTodo">

                <div class="form-group row">
                    <label class="col-sm-3 col-12">Name:</label>
                    <div class="col-sm-9 col-12">
                        <input id="edit-todo-name-text-box" data-ng-enter="$ctrl.saveTodo()" class="form-control" type="text" data-ng-model="$ctrl.editingTodo.description" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-12">Assignee:</label>
                    <div class="col-sm-9 col-12">
                        <div data-ng-if="$ctrl.assigneeOptions.length <= 10">
                            <select class="form-control" data-ng-model="$ctrl.editingTodo.assignedToUserId" data-ng-options="u.userId as u.fullName for u in $ctrl.assigneeOptions">
                                <option value=""></option>
                            </select>
                        </div>

                        <div data-ng-if="$ctrl.assigneeOptions.length > 10"
                             selection-mode="single"
                             isteven-multi-select
                             input-model="$ctrl.assigneeOptions"
                             output-model="$ctrl.selectedAssignee"
                             helper-elements="filter reset"
                             button-label="fullName"
                             item-label="fullName"
                             max-height="100px"
                             tick-property="isSelectedAssignee">
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-12">Due Date:</label>
                    <div class="col-sm-9 col-12">
                        <input class="form-control" type="text" data-ui-date data-ng-model="$ctrl.editingTodo.dueDate" />
                    </div>
                </div>

                <div class="text-right">
                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.saveTodo()">Save</button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-container" data-ng-if="$ctrl.shouldShowEditEquipmentModal" style="z-index: 721;" data-ng-escape="$ctrl.shouldShowEditEquipmentModal = false">
        <div class="modal-overlay"></div>

        <form class="ca-modal-dialog modal-sm" style="z-index: 723;">
            <div data-ng-show="$ctrl.isLoading" class="loading-overlay"></div>
            <span style="float: right;" class="close-x" data-ng-click="$ctrl.shouldShowEditEquipmentModal = false">&times;</span>
            <h2>{{ $ctrl.editingEquipment.equipmentId ? "Edit Equipment" : "Add New Equipment" }}</h2>

            <div class="form-group row">
                <label class="col-sm-4 col-xs-12">Name:</label>
                <div class="col-sm-8 col-xs-12">
                    <input id="equipment-name-text-box" type="text" class="form-control" data-ng-model="$ctrl.editingEquipment.name" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-xs-12">Type:</label>
                <div class="col-sm-8 col-xs-12">
                    <!--<tags-input style="width: 90%;" ng-model="$ctrl.editingEquipment.typeTags" data-max-tags="1" data-placeholder="" data-replace-spaces-with-dashes="false">
                        <auto-complete data-min-length="0" data-load-on-empty="true" data-load-on-focus="true" data-load-on-down-arrow="true" data-source="$ctrl.getEquipmentTypeAutocomplete($query)"></auto-complete>
                    </tags-input>-->
                    <select class="form-control" ng-model="$ctrl.editingEquipment.type" data-ng-options="o as o for o in $ctrl.equipmentTypeOptions">
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-xs-12">Initial Cost:</label>
                <div class="col-sm-8 col-xs-12">
                    $<input type="text" class="form-control" style="display: inline-block; width: 97%;" data-ng-model="$ctrl.editingEquipment.initialCost" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-xs-12">Installed On:</label>
                <div class="col-sm-8 col-xs-12">
                    <input type="text" class="form-control" data-ui-date data-ng-model="$ctrl.editingEquipment.installDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-xs-12">Manufacturer:</label>
                <div class="col-sm-8 col-xs-12">
                    <input type="text" class="form-control" data-ng-model="$ctrl.editingEquipment.manufacturer" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-xs-12">Model #:</label>
                <div class="col-sm-8 col-xs-12">
                    <input type="text" class="form-control" data-ng-model="$ctrl.editingEquipment.modelNumber" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-xs-12">Serial #:</label>
                <div class="col-sm-8 col-xs-12">
                    <input type="text" class="form-control" data-ng-model="$ctrl.editingEquipment.serialNumber" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-xs-12">Location:</label>
                <div class="col-sm-8 col-xs-12">
                    <!--<tags-input style="width: 90%;" ng-model="$ctrl.editingEquipment.locationTags" data-max-tags="1" placeholder="" data-replace-spaces-with-dashes="false">
                        <auto-complete data-min-length="0" data-load-on-empty="true" data-load-on-focus="true" data-load-on-down-arrow="true" data-source="$ctrl.getEquipmentLocationAutocomplete($query)"></auto-complete>
                    </tags-input>-->
                    <select class="form-control" ng-model="$ctrl.editingEquipment.location" data-ng-options="o as o for o in $ctrl.equipmentLocationOptions">
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="text-right">
                <span data-ng-if="$ctrl.editingEquipment.equipmentId" data-ng-click="$ctrl.deleteEquipment()" class="text-link" style="float: left;">Delete</span>
                <button type="button" class="btn btn-primary" data-ng-click="$ctrl.saveEquipment()">Save</button>
            </div>

        </form>
    </div>


    <div class="modal-container" data-ng-if="$ctrl.shouldShowManageEquipmentModal" data-ng-escape="$ctrl.shouldShowManageEquipmentModal = false">
        <div class="modal-overlay"></div>

        <form class="ca-modal-dialog modal-lg">
            <div data-ng-show="$ctrl.isLoading" class="loading-overlay"></div>
            <span style="float: right;" class="close-x" data-ng-click="$ctrl.shouldShowManageEquipmentModal = false">&times;</span>
            <h2>{{ $ctrl.isSiteManager ? "Manage" : "View" }} Equipment</h2>
            <div style="text-align: right; margin-bottom: 5px;">
                <button data-ng-if="$ctrl.isSiteManager" class="btn btn-primary" data-ng-click="$ctrl.openAddNewEquipment();" type="button">Add New Equipment</button>
            </div>

            <div data-ui-grid="$ctrl.equipmentGridOptions"></div>
        </form>
    </div>
</div>
