<span class="text-link" data-ng-click="$ctrl.showModal()">My Transactions</span>
<div class="modal-container text-start" data-ng-if="$ctrl.shouldShowModal">
    <div class="modal-overlay" data-ng-click="$ctrl.shouldShowModal = false"></div>
    <div class="ca-modal-dialog modal-lg">
        <div class="loading-overlay" data-ng-if="$ctrl.isLoading"></div>
        <span style="float:right" class="close-x" data-ng-click="$ctrl.shouldShowModal = false">×</span>
        <h2>Owner Financial Transactions</h2>
        <div data-ng-if="$ctrl.ownerFinanceTxNote" class="mt-1 mb-1">
            <b>Board Note:</b> {{$ctrl.ownerFinanceTxNote}}
        </div>
        <div data-ng-if="$ctrl.allFinancialTxns.length > 0">
            <div style="float: right;" data-ng-if="$ctrl.ownerBalance">
                Balance: {{$ctrl.ownerBalance | currency}}
            </div>
            <div class="mt-4 mb-2">
                <b class="mr-1">Date Range:</b> <date-range-picker data-on-change="$ctrl.onFilterDateRangeChange()" data-start-date="$ctrl.filterStartDate" data-end-date="$ctrl.filterEndDate"></date-range-picker>
            </div>
            <div data-ng-if="$ctrl.transactionGridOptions.data.length > 0">
                <div data-ui-grid="$ctrl.transactionGridOptions" ui-grid-resize-columns ui-grid-pagination></div>
                <div class="mb-2" style="height: 20px;">
                    <span class="note-text text-link pull-right" data-ng-click="$ctrl.exportTransactionsCsv()">Export To CSV</span>
                </div>
            </div>
            <div data-ng-if="$ctrl.transactionGridOptions.data.length === 0">
                No transactions found for that date range.
            </div>
        </div>
        <div data-ng-if="$ctrl.allFinancialTxns.length === 0">
            No financial transactions found for your {{$ctrl.homeName.toLowerCase()}}.
        </div>
    </div>
</div>