<div class="page margin-vertical padding white-bg spinner-effect">
    
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
    <div style="border:1px solid #000;">
        Find associations for user by e-mail: <input data-ng-model="$ctrl.findUserAssociationsEmail" data-ng-enter="$ctrl.findAssociationsForUser()" type="text" /><button data-ng-click="$ctrl.findAssociationsForUser()">Find</button>
        <div>
            <p data-ng-repeat="shortName in $ctrl.foundUserAssociations">
                <a data-ng-href="https://{{ shortName }}.CondoAlly.com/">{{ shortName }}</a>
            </p>
        </div>
    </div>
    <br />

    <fieldset>
        <legend>Change Short Name</legend>

        Old Short Name: <input data-ng-model="$ctrl.changeShortNameData.old" type="text" /><br />
        New Short Name: <input data-ng-model="$ctrl.changeShortNameData.newShortName" type="text" /><br />

        <button data-ng-click="$ctrl.changeShortName()">Change</button>
    </fieldset>
    <br />

    <h2>{{ $ctrl.groups.length }} Groups</h2>

    <span class="text-button" data-ng-click="$ctrl.retrieveGroups()">Load Associations</span>
    <table border="1">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Type</th>
                <th>Short Name (lowered)</th>
                <th>Long Name</th>
                <th>Address ID</th>
                <th>GPS</th>
                <th>Last Activity</th>
                <th>Created</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="curAssociation in $ctrl.groups">
                <td>
                    <span class="text-button" data-ng-click="$ctrl.deleteAssociation( curAssociation )">Delete</span>
                </td>
                <td>{{ curAssociation.groupId }}</td>
                <td>{{ curAssociation.appNameString }}</td>
                <td>{{ curAssociation.shortName }}</td>
                <td>{{ curAssociation.fullName }}</td>
                <td>{{ curAssociation.fullAddressId }}</td>
                <td><a target="_blank" ng-href="https://www.google.com/maps?ie=UTF8&hq&ll={{ curAssociation.gpsPos.lat }},{{curAssociation.gpsPos.lon }}&z=15">View on Map</a></td>
                <td>{{ curAssociation.lastActivityTime | date:'M/d/yyyy' }}</td>
                <td>{{ curAssociation.creationDate | date:'M/d/yyyy' }}</td>
                <td><a href="{{ curAssociation.baseUrl }}">Visit</a></td>
                <td><a href="https://{{ curAssociation.shortName }}.CondoAlly.com/#!/Admin/ViewActivityLog">View Log</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Type</th>
                <th>Short Name (lowered)</th>
                <th>Long Name</th>
                <th>Address ID</th>
                <th>GPS</th>
                <th>Last Activity</th>
                <th>Created</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>

    <form>
        <fieldset>
            <legend>Add New Association</legend>
            <table>
                <tr>
                    <td class="AlignRight">Short Name:</td>
                    <td>
                        <input type="text" data-ng-model="$ctrl.newAssociation.shortName" data-rule-required="true" />
                        (Note: when changing short name, make sure to update S3)
                    </td>
                </tr>
                <tr>
                    <td class="AlignRight">App Type:</td>
                    <td>
                        <select data-ng-model="$ctrl.newAssociation.appName" data-rule-required="true">
                            <option value="0">Condo</option>
                            <option value="3">Hoa</option>
                            <option value="4">Neighborhood</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="AlignRight">Long Name:</td>
                    <td>
                        <input type="text" data-ng-model="$ctrl.newAssociation.fullName" data-rule-required="true" />
                    </td>
                </tr>
                <tr>
                    <td class="AlignRight">Street 1:</td>
                    <td>
                        <input type="text" data-ng-model="$ctrl.newAssociation.streetAddress1" data-rule-required="true" />
                    </td>
                </tr>
                <tr>
                    <td class="AlignRight">Street 2:</td>
                    <td>
                        <input type="text" data-ng-model="$ctrl.newAssociation.streetAddress2" />
                    </td>
                </tr>
                <tr>
                    <td class="AlignRight">City:</td>
                    <td>
                        <input type="text" data-ng-model="$ctrl.newAssociation.city" data-rule-required="true" />
                    </td>
                </tr>
                <tr>
                    <td class="AlignRight">State:</td>
                    <td>
                        <input type="text" data-ng-model="$ctrl.newAssociation.state" data-rule-required="true" />
                    </td>
                </tr>
                <tr>
                    <td class="AlignRight">Zip:</td>
                    <td>
                        <input type="text" data-ng-model="$ctrl.newAssociation.zip" data-rule-required="true" />
                    </td>
                </tr>

                <tr>
                    <td class="AlignRight">Site Logo:</td>
                    <td>
                        <input type="text" data-ng-model="$ctrl.newAssociation.siteLogo" data-rule-required="true" />
                        <br />
                        For an image logo, use: (600x120 max dimensions, image does not get auto scaled):<br />
                        image:Documents/Public/XXX (Don't forget to upload the file to S3)<br />
                        For text use either of:<br />
                        text:X (just text)<br />
                        text:X,Y (X size in pt) (Y text)<br />
                        text:X,Y,Z (X size in pt) (Y hex color with leading #) (Z text)
                    </td>
                </tr>
            </table>
            <input type="button" value="Create New Association" data-ng-click="$ctrl.onCreateAssociationClick();" />
        </fieldset>
    </form>
    <br />

    <fieldset>
        <legend>Add Full Address</legend>

        Address: <input data-ng-model="$ctrl.newAddress" type="text" style="width: 80%;" /><br />
        <span style="font-weight: bold; color: forestgreen;" data-ng-if="newAddressId">New Address ID: {{$ctrl.newAddressId}}</span>
        <br />
        <button data-ng-click="$ctrl.addAddress()">Add Address</button>
    </fieldset>

    <div style="position: relative;">
        <div class="loading-overlay" data-ng-show="$ctrl.isLoadingHelper"></div>

        <input type="text" data-ng-model="$ctrl.testEmailRecipient"><input type="button" value="Send Test E-mail" data-ng-click="$ctrl.onSendTestEmail()"><br />
        <input type="text" data-ng-model="$ctrl.testTaylorEmailRecipient"><input type="button" value="Send Test E-mail from Taylor at CA" data-ng-click="$ctrl.onSendTaylorTestEmail()"><br />
        <input type="text" data-ng-model="$ctrl.testPostmarkEmail"><input type="button" value="Send Test Postmark E-mail" data-ng-click="$ctrl.onSendTestPostmarkEmail()"><br />
        <input type="button" value="Test Exception" data-ng-click="$ctrl.onTestException()"><br />
        <input type="button" value="Clear ELMAH Logs" data-ng-click="$ctrl.onClearElmahLogs()"><br />
        <input type="button" value="Clear App Group Cache" data-ng-click="$ctrl.onClearAppGroupCache()"><br />
        <input type="text" data-ng-model="$ctrl.logInAsEmail" /><button value="Clear App Group Cache" data-ng-click="$ctrl.logInAs()">Log-in As</button><br />
        <br />
        <textarea data-ng-model="$ctrl.inactiveShortNames" rows="10"></textarea><br />
        <input type="button" value="Send Inactive Mail" data-ng-click="$ctrl.onSendInactiveGroupsMail()"><br />
    </div>

</div>
