<div class="page margin-vertical padding white-bg spinner-effect">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

    <h3>Manage {{$ctrl.homeName}}s</h3>

    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> This is an advanced tool and you can really mess up your data. We, at Community Ally support, are more
        than happy to manage your homes for you for free. If you feel the need to manage your own home data, know that if you seriously mess up
        your home data you will be charged an hourly fee for the time it takes to correct the issue.
    </div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addEditUnit">
  NEW
</button> <br />

<!-- Modal -->
<div class="modal fade" id="addEditUnit" tabindex="-1" role="dialog" aria-labelledby="addEditUnitLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{$ctrl.isEdit == false | iif : "Add New" : "Edit"}} {{$ctrl.homeName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="AddUnitForm">
          <div class="form-group row">
              <label for="homeLabel" class="col-lg-2 col-md-3 col-sm-12 col-form-label">{{$ctrl.homeName}} Label</label>
              <div class="col-lg-10 col-md-9 col-sm-12">
                <input id="unit-name-text-box" class="form-control" name="homeLabel" type="text" data-ng-model="$ctrl.unitToEdit.name" data-ng-enter="$ctrl.onCreateUnitClick()" data-rule-required="true">
              </div>
          </div>
          <div class="form-group row">
              <label for="percentOwner" class="col-lg-2 col-md-3 col-sm-12 col-form-label">&#37; Ownership</label>
              <div class="col-lg-10 col-md-9 col-sm-12">
                <input  id="unit-ownership-text-box" class="form-control" name="percentOwner" type="text" data-ng-model="$ctrl.unitToEdit.percentageInterest" data-ng-enter="$ctrl.onCreateUnitClick()" data-rule-required="true">
              </div>
          </div>
          <div class="form-group row">
              <label for="streetAddr" class="col-lg-2 col-md-3 col-sm-12 col-form-label">Street Address</label>
              <div class="col-lg-10 col-md-9 col-sm-12">
                <input  id="unit-address-text-box" class="form-control" name="streetAddr" type="text" data-ng-model="$ctrl.unitToEdit.streetAddress" data-ng-enter="$ctrl.onCreateUnitClick()" data-rule-required="true">
              </div>
          </div>
          <div class="form-group row">
              <label for="homeNotes" class="col-lg-2 col-md-3 col-sm-12 col-form-label">Notes</label>
              <div class="col-lg-10 col-md-9 col-sm-12">
                <input type="text" id="unit-notes-text-box" class="form-control" data-ng-model="$ctrl.unitToEdit.notes" maxlength="1024" data-ng-enter="$ctrl.onCreateUnitClick()">
              </div>
          </div>
          <div class="float-right">
              <!-- <input class="btn btn-primary" id="add-update-unit-button" type="button" value="{{ $ctrl.isEdit == false | iif : ('CREATE') : 'UPDATE'}}" data-ng-click="$ctrl.onCreateUnitClick()" /> -->
              <!-- <input class="btn btn-light" type="button" data-ng-show="$ctrl.isEdit" value="CANCEL" data-ng-click="$ctrl.isEdit = false; $ctrl.unitToEdit = {}; $ctrl.isLoading = false;" /> -->
              <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-ng-click="$ctrl.isEdit = false; $ctrl.unitToEdit = {}; $ctrl.isLoading = false;" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-primary" id="add-update-unit-button" value="" data-ng-click="$ctrl.onCreateUnitClick()">{{ $ctrl.isEdit == false | iif : ('CREATE') : 'UPDATE'}}</button>
      </div>
    </div>
  </div>
</div>

    <span>Total Number of {{$ctrl.homeName}}s: {{ $ctrl.units.length }}</span><br />

    <div style="position:relative;">
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">% Interest</th>
                  <th scope="col" data-ng-if="$ctrl.isAdmin">Unit ID</th>
                  <th scope="col" data-ng-if="$ctrl.isAdmin">Address ID</th>
                  <th scope="col">Street Address</th>
                  <th scope="col">Notes</th>
                  <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="unit in $ctrl.units">
                <td>{{unit.name}}</td>
                <td>{{unit.percentageInterest}}</td>
                <td data-ng-if="$ctrl.isAdmin">{{unit.unitId}}</td>
                <td data-ng-if="$ctrl.isAdmin">{{unit.addressId}}</td>
                <td>{{unit.fullAddress.oneLiner}}</td>
                <td>{{unit.notes}}</td>
                <td>
                  <span type="button" class="btn btn-primary" data-ng-click="$ctrl.onEditUnitClick( unit );" data-toggle="modal" data-target="#addEditUnit"><i class="icon-pencil"></i></span>
                   <span type="button" class="btn btn-danger" data-ng-click="$ctrl.onDeleteUnitClick( unit );"><i class="icon-remove"></i></span>
                  <span data-ng-if="$ctrl.isAdmin">- <span class="text-button" data-ng-click="$ctrl.onRefreshUnitFromGoogle( unit );">Goog Refresh</span></span>
                </td>
            </tr>
            </tbody>
          </table>
    </div>
    <br />
    
    

    <div>
        <br />
        <br />
        <span class="text-button" data-ng-click="$ctrl.onDeleteAllClick()">Delete All {{$ctrl.homeName}}s</span><br />
        <br />

        <div data-ng-if="$ctrl.isAdmin" style="border: 1px solid #000;">
            Quickly generate units:<br />
            Last Letter or Number:
            <input type="text" data-ng-model="$ctrl.lastFastAddName" maxlength="1" />
            <input type="button" data-ng-click="$ctrl.onFastAddUnits()" value="Add Lettered" />
        </div>

        <div data-ng-if="$ctrl.isCondoAlly || $ctrl.isAdmin" style="border: 1px solid #000;">
            Generate condo units, one name per line:<br />
            <textarea rows="15" data-ng-model="$ctrl.unitNamePerLine"></textarea>
            <input type="button" data-ng-click="$ctrl.onAddUnitsPerLine()" value="Add Units" />
        </div>

        <div data-ng-if="!$ctrl.isCondoAlly || $ctrl.isAdmin" style="border: 1px solid #000;">
            Generate homes, one street address per line:<span class="note-text">&nbsp;(Use a | to specify home short name|home address or short name|home address|notes)</span><br />
            <textarea rows="15" style="width: 70%;" data-ng-model="$ctrl.unitAddressPerLine"></textarea>
            <input type="button" data-ng-click="$ctrl.onAddUnitsByAddressPerLine()" value="Add Homes" />
        </div>
    </div>
</div>