<div class="page margin-vertical padding white-bg spinner-effect">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

    <h3>Manage {{$ctrl.homeName}}s</h3>

    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> This is an advanced tool and you can really mess up your data. We, at Community Ally support, are more
        than happy to manage your homes for you for free. If you feel the need to manage your own home data, know that if you seriously mess up
        your home data you will be charged an hourly fee for the time it takes to correct the issue.
    </div>

    <span>Total Number of {{$ctrl.homeName}}s: {{ $ctrl.units.length }}</span><br />

    <div style="position:relative;">
        <table border="1">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>% Interest</th>
                    <th data-ng-if="$ctrl.isAdmin">Unit ID</th>
                    <th data-ng-if="$ctrl.isAdmin">Address ID</th>
                    <th>Street Address</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="unit in $ctrl.units">
                    <td>
                        <span class="text-button" data-ng-click="$ctrl.onEditUnitClick( unit );">Edit</span>
                        - <span class="text-button" data-ng-click="$ctrl.onDeleteUnitClick( unit );">Delete</span>
                        <span data-ng-if="$ctrl.isAdmin">- <span class="text-button" data-ng-click="$ctrl.onRefreshUnitFromGoogle( unit );">Goog Refresh</span></span>
                    </td>
                    <td>{{unit.name}}</td>
                    <td>{{unit.percentageInterest}}</td>
                    <td data-ng-if="$ctrl.isAdmin">{{unit.unitId}}</td>
                    <td data-ng-if="$ctrl.isAdmin">{{unit.addressId}}</td>
                    <td>{{unit.fullAddress.oneLiner}}</td>
                    <td>{{unit.notes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <fieldset id="unit-edit-panel">
        <legend>{{$ctrl.isEdit == false | iif : "Add New" : "Edit"}} {{$ctrl.homeName}}</legend>
        <form id="AddUnitForm">
            <table>
                <tr>
                    <td class="text-right">{{$ctrl.homeName}} Label:</td>
                    <td style="width: 500px;"><input id="unit-name-text-box" type="text" style="width: 50%;" data-ng-model="$ctrl.unitToEdit.name" data-ng-enter="$ctrl.onCreateUnitClick()" data-rule-required="true" /></td>
                </tr>
                <tr>
                    <td class="text-right">Percent Ownership:</td>
                    <td><input id="unit-ownership-text-box" type="text" style="width: 50%;" data-ng-model="$ctrl.unitToEdit.percentageInterest" data-ng-enter="$ctrl.onCreateUnitClick()" data-rule-required="true" /></td>
                </tr>
                <tr>
                    <td class="text-right">Street Address:</td>
                    <td><input id="unit-address-text-box" type="text" style="width: 100%;" data-ng-model="$ctrl.unitToEdit.streetAddress" data-ng-enter="$ctrl.onCreateUnitClick()" data-rule-required="true" /></td>
                </tr>
                <tr>
                    <td class="text-right">Notes:</td>
                    <td><input id="unit-notes-text-box" type="text" style="width: 100%;" data-ng-model="$ctrl.unitToEdit.notes" maxlength="1024" data-ng-enter="$ctrl.onCreateUnitClick()" /></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-right">
                        <input id="add-update-unit-button" type="button" value="{{ $ctrl.isEdit == false | iif : ('Add New ' + $ctrl.homeName) : 'Save Changes'}}" data-ng-click="$ctrl.onCreateUnitClick()" />
                        <input type="button" data-ng-show="$ctrl.isEdit" value="Cancel" data-ng-click="$ctrl.isEdit = false; $ctrl.unitToEdit = {}; $ctrl.isLoading = false;" />
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>

    <div>
        <br />
        <br />
        <span class="text-button" data-ng-click="$ctrl.onDeleteAllClick()">Delete All {{$ctrl.homeName}}s</span><br />
        <br />

        <div data-ng-if="$ctrl.isAdmin" style="border: 1px solid #000;">
            Quickly generate units:<br />
            Last Letter or Number:
            <input type="text" data-ng-model="$ctrl.lastFastAddName" maxlength="1" />
            <input type="button" data-ng-click="$ctrl.onFastAddUnits()" value="Add Lettered" />
        </div>

        <div data-ng-if="$ctrl.isCondoAlly" style="border: 1px solid #000;">
            Generate condo units, one name per line:<br />
            <textarea rows="15" data-ng-model="$ctrl.unitNamePerLine"></textarea>
            <input type="button" data-ng-click="$ctrl.onAddUnitsPerLine()" value="Add Units" />
        </div>

        <div data-ng-if="!$ctrl.isCondoAlly" style="border: 1px solid #000;">
            Generate homes, one street address per line:<span class="note-text">&nbsp;(Use a | to specify home short name|home address or short name|home address|notes)</span><br />
            <textarea rows="15" style="width: 70%;" data-ng-model="$ctrl.unitAddressPerLine"></textarea>
            <input type="button" data-ng-click="$ctrl.onAddUnitsByAddressPerLine()" value="Add Homes" />
        </div>
    </div>
</div>