<div class="page margin-vertical padding white-bg spinner-effect">
    <div data-ng-show="$ctrl.isLoading" class="loading-overlay"></div>
    <div>
        <label><input type="checkbox" data-ng-change="$ctrl.onHideLoginAndEmailMessagesChange()" data-ng-model="$ctrl.shouldHideLoginAndEmailMessages" />Hide Login and Group Email Messages</label>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Post Date</th>
                <th>Message</th>
                <th>Data</th>
                <th>Url</th>
                <th>IP</th>
            </tr>
        </thead>
        <tbody style="font-size:small;">
            <tr data-ng-repeat="entry in $ctrl.filteredLogEntries">
                <td>{{ ::entry.userName }}</td>
                <td>{{ ::entry.postDate | date:'short' }}</td>
                <td>{{ ::entry.activityMessage }}</td>
                <td>{{ ::entry.activityData }}</td>
                <td><a href="{{ ::entry.url }}">{{ ::entry.url }}</a></td>
                <td>{{ ::entry.ip }}</td>
            </tr>
        </tbody>
    </table>
</div>