<div class="page page-manage-resident spinner-effect">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

    <p>
        Here you can manage other people that can access your Home Ally site.
    </p>

    <h1>This feature is coming soon.</h1>
    <div data-ng-if="false">
        <div class="clearfix">
            <button class="btn btn-primary pull-right" data-ng-click="$ctrl.setEdit( {boardPosition:0, shouldSendWelcomeEmail: false} );">Add New User</button>
        </div>

        <div data-ui-grid="$ctrl.residentGridOptions" data-ui-grid-selection ui-grid-resize-columns class="gridStyle margin-top-20"></div>
    </div>

    <div id="EditUserContainer" class="modal-container" data-ng-show="$ctrl.editUser != null" data-ng-escape="$ctrl.setEdit( null )">
        <div class="modal-overlay"></div>
        <form id="editUserForm" name="$ctrl.editUserForm" novalidate class="ca-modal-dialog modal-lg">
            <div class="loading-overlay" data-ng-show="$ctrl.isSavingUser"></div>

            <span style="float: right;" class="close-x" data-ng-click="$ctrl.setEdit( null )">&times;</span>
            <h2>Resident Details</h2>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">First Name:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="edit-user-first-text-box" type="text" class="form-control form-control-sm" required name="editUserFirstTextBox" data-ng-model="$ctrl.editUser.firstName" />
                            <div class="validation-label" data-ng-show="$ctrl.editUserForm.editUserFirstTextBox.$error.required">Required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-last-name-text-box" class="col-sm-4 col-xs-12">Last Name:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="edit-user-last-name-text-box" type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editUser.lastName" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-email-text-box" class="col-sm-4 col-xs-12">Email:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="edit-user-email-text-box" type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editUser.email" />
                            <div class="note-text" style="color: red;" data-ng-if="$ctrl.editUser.postmarkReportedBadEmailUtc">Email address was reported undeliverable.</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label class="col-sm-4 col-xs-12">{{ $ctrl.homeName }}:</label>
                        <div class="col-sm-8 col-xs-12">
                            <div data-ng-if="!$ctrl.editUser.showAdvancedHomePicker">
                                <select class="form-control form-control-sm" data-ng-model="$ctrl.editUser.singleUnitId" data-ng-options="o.unitId as o.name for o in $ctrl.allUnits">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div data-ng-if="$ctrl.editUser.showAdvancedHomePicker"
                                 selection-mode="{{ $ctrl.multiselectMulti }}"
                                 isteven-multi-select
                                 input-model="$ctrl.allUnits"
                                 output-model="$ctrl.editUser.units"
                                 helper-elements="{{ $ctrl.multiselectOptions }}"
                                 button-label="name"
                                 item-label="name"
                                 max-height="300px"
                                 tick-property="isSelectedForEditUser">
                            </div>

                            <span data-ng-if="$ctrl.multiselectMulti === 'single'" class="text-link note-text" data-ng-click="$ctrl.enableMultiHomePicker()">Click here to select multiple units</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row" data-ng-if="$ctrl.showIsRenter">
                        <label for="is-renter-checkbox" class="col-sm-4 col-xs-12">Is a Renter/Unit Manager:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="is-renter-checkbox" class="validation-label" type="checkbox" data-ng-model="$ctrl.editUser.isRenter" /><br />
                            <span class="note-text">Indicates this person is not a unit owner.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="is-site-manager-checkbox" class="col-sm-4 col-xs-12">Is Admin:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="is-site-manager-checkbox" type="checkbox" data-ng-model="$ctrl.editUser.isSiteManager" /><br>
                            <span class="note-text">Admin users can edit site information.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="phone-number-text-box" class="col-sm-4 col-xs-12">Phone Number:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="phone-number-text-box" type="text" maxlength="30" class="form-control form-control-sm" data-ng-model="$ctrl.editUser.phoneNumber" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label class="col-sm-4 col-xs-12">Board Position:</label>
                        <div class="col-sm-8 col-xs-12">
                            <select class="form-control form-control-sm" data-ng-model="$ctrl.editUser.boardPosition" data-ng-options="bp.id as bp.name for bp in $ctrl.boardPositions"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div data-ng-show="$ctrl.editUser.userId.length > 0">
                        <div data-ng-hide="$ctrl.sentWelcomeEmail">
                            <input class="btn btn-primary" ng-disabled="$ctrl.editUserForm.$dirty" type="button" value="Send Welcome Email" data-ng-click="$ctrl.onSendWelcome();" />
                            <div data-ng-show="$ctrl.editUserForm.$dirty" class="note-text">
                                Save your changes then come back to send a welcome email.
                            </div>
                            <div data-ng-hide="$ctrl.editUserForm.$dirty" class="note-text">
                                This will send login instructions with a new password.
                            </div>
                        </div>
                        <div data-ng-show="$ctrl.sentWelcomeEmail" data-ng-click="$ctrl.setEdit( null )" style="color: blue;">
                            Welcome email has been sent!
                        </div>
                    </div>
                    <div class="text-sm-center" data-ng-show="!$ctrl.editUser.userId">
                        <input id="send-welcome-checkbox" type="checkbox" data-ng-model="$ctrl.editUser.shouldSendWelcomeEmail">&nbsp;<label style="display:inline-block;" for="send-welcome-checkbox">Send Welcome Email with Login Info</label>
                    </div>
                </div>

                <div class="col-sm-6 text-sm-right">
                    <input id="save-edit-button" class="btn btn-primary" ng-disabled="$ctrl.editUserForm.$invalid" type="button" value="Save" data-ng-click="$ctrl.onSaveResident();" />
                    <input id="cancel-edit-button" class="btn btn-secondary" type="button" value="Cancel" data-ng-click="$ctrl.setEdit( null )" />
                    <input id="remove-resident-button" class="btn btn-primary" data-ng-show="$ctrl.editUser.userId.length > 0" type="button" value="Remove Resident" data-ng-click="$ctrl.onDeleteResident();" />
                    <input type="hidden" value="{{$ctrl.editUser.userId}}" />
                    <div class="text-sm-right" data-ng-if="$ctrl.editUser.userId.length > 0">
                        <span class="note-text" data-ng-if="$ctrl.editUser.lastLoginDateUtc">Last logged-in {{ $ctrl.editUser.lastLoginDateUtc | date:'EEEE, MMMM d, y h:mma' }}</span>
                        <span class="note-text" data-ng-if="!$ctrl.editUser.lastLoginDateUtc">Has not logged-in yet</span>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <br />

    <div data-ng-show="$ctrl.isAdmin">
        <br />
        For Admins only.<br />
        <div style="border:1px solid #000;">
            Email: <input type="text" data-ng-model="$ctrl.adminSetPass_Username" /><br />
            Password: <input type="text" data-ng-model="$ctrl.adminSetPass_Password" /><br />
            <input type="button" value="Set Password" data-ng-click="$ctrl.OnAdminSetPassword();" />
        </div>
        <span style="color:#F00;">{{ $ctrl.adminSetPass_ResultMessage }}</span><br />
    </div>
</div>