<section class="content-full-width" data-ng-if="welcomeMessage.length > 0">
    <div>
        <h3>Welcome!</h3>
        <div id="welcome-message-label">{{ $ctrl.welcomeMessage }}</div>
    </div>
</section>

<section class="content">
    <todos></todos>
</section>

<aside>
    <div data-ng-if="$ctrl.homeRightColumnType === 'localnews'">
        <h3 id="local-news-header">Local News</h3>
        <div style="position: relative; min-height: 100px;">
            <div class="loading-overlay" data-ng-show="$ctrl.isLoading_LocalNews"></div>
            <article data-ng-repeat="news in $ctrl.localNews">
                <h4><a data-ng-href='{{ news.fullStoryUri }}' target="_blank">{{ news.title }}</a></h4>
                <p class="date">{{ news.date | date:'short' }}</p>
                <p><photo photo-src="news.bodySnippet" /> {{news.bodySnippetText}}</p>
                <p><a data-ng-href='{{ news.fullStoryUri }}' target="_blank" class="more">Read more </a></p>
            </article>
        </div>
    </div>
    <group-comments data-ng-if="$ctrl.homeRightColumnType === 'chatwall'"></group-comments>
</aside>

<div data-ng-if="$ctrl.showFirstVisitModal && $ctrl.isSiteManager">
    <div id="new-welcome-overlay-background" class="modal-overlay" data-ng-click="$ctrl.hideFirstVisit()"></div>
    <div class="ca-modal-dialog" style="height: 660px; margin-top: -330px; width: 686px; margin-left: -343px;">
        <h1 id="new-welcome-title">Welcome to {{ $ctrl.allyAppName }}!</h1>
        <p style="margin-top: 0.5em;">
            We're happy you've decided to give {{ $ctrl.allyAppName }} a try. We think you'll have no trouble getting up and running on your own, but
            if you'd like some guidance getting started, check out this guide:
        </p>
        <p style="text-align: center; margin-top:0.5em;">
            <a style="font-size:x-large;" href="http://help.communityally.org/getting-started-with-condo-ally/" target="_blank">Setting up Your New {{ $ctrl.allyAppName }} Site</a>
            <br />
            <span class="note-text">(Link opens in new tab)</span>
        </p>
        <div style="text-align:center; margin-top: 0.5em;">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/1lJbysvWJDY" frameborder="0" allowfullscreen></iframe>
        </div>
        <p style="text-align: right">
            <a target="_blank" href="https://www.youtube.com/watch?v=1lJbysvWJDY" class="note-text">Open video in new window</a>
        </p>
        <p>
            We love to help our users, so never hesitate to use the "Help" link at the bottom of the page or the "Contact support"
            button in the bottom right of your window. Congratulations on taking a step toward a better condo association! We're sure
            your condo association was great to begin with, but we're confident {{ $ctrl.allyAppName }} can make it even better.
        </p>
        <p style="text-align:right; margin-top: 0.5em;">
            <span class="note-text">(Click anywhere outside this window to close)</span>
        </p>
    </div>
</div>

<script type="text/javascript">
    $( function ()
    {
        $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
        $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
    } );
    $( '.contact_support h3' ).click( function ()
    {
        $( this ).parent().toggleClass( 'opened' );
    } );

    $( '.hide' ).click( function ()
    {
        $( this ).parent().hide( '' );
    } );
    $( '.pm_info_info' ).click( function ()
    {
        $( '.pm_info' ).show( '' );
        $( '.payment_history' ).hide( '' );
    } );
    $( '.file_item' ).click( function ()
    {
        $( '.file_item' ).removeClass( 'select' );
        $( this ).toggleClass( 'select' );

    } );
    $( ".collapsibleContainer" ).collapsiblePanel();
</script>
