<div class="group-comment-container portlet-box white spinner-effect margin-vertical" data-ng-cloak>
    <div class="portlet-header">
        <button class="btn btn-primary" data-ng-if="$ctrl.canCreateThreads" data-ng-click="$ctrl.setDisplayCreateModal(true)" style="float: right;">Start New Thread</button>
        <h2 style="display: inline-block;" class="title">Discussion</h2>
        <a class="help-link" style="display: inline-block; margin-left: 20px;" target="_blank" href="https://help.communityally.org/discussion-threads/">View Help</a>
    </div>

    <!--portlet body-->
    <div class="portlet-body">
        <div data-ng-show="$ctrl.isLoading" class="loading-overlay"></div>
        
        <div>
            <div data-ng-repeat="thread in $ctrl.commentThreads" class="mt-2 mb-2">
                <div>
                    <h5 class="text-link" style="display: inline;" data-ng-click="$ctrl.displayDiscussModal( thread )">{{ thread.title }}</h5>
                    <img data-ng-if="$ctrl.showBoardOnly" style="cursor: pointer; width: 15px; vertical-align: text-top; margin-left: 6px;" data-ng-click="$ctrl.onClickPin( thread )" data-ng-src="{{thread.pinnedDateUtc ? '/assets/images/pin-24-blue.png' : '/assets/images/pin-24-gray.png'}}" />
                    <img data-ng-if="!$ctrl.showBoardOnly && thread.pinnedDateUtc" style="width: 15px; vertical-align: text-top; margin-left: 6px;" src="/assets/images/pin-24-blue.png" />
                </div>

                <span class="note-text" style="display: block;" data-ng-if="thread.numCommentsSinceLastRead === 0">
                    There are no new comments since you last checked
                </span>

                <span class="note-text" style="display: block;" data-ng-if="thread.numCommentsSinceLastRead > 0">
                    There {{thread.numCommentsSinceLastRead === 1 ? 'is' : 'are'}} {numCommentsSinceLastRead} new comment{{thread.numCommentsSinceLastRead === 1 ? '' : 's'}} since you last checked
                </span>

                <span class="note-text" style="display: block;" data-ng-if="thread.lastCommentDateUtc.getTime() !== thread.createDateUtc.getTime()">
                    Updated by <span style="font-weight:bold;">{{ thread.lastCommentAuthorName }}</span>
                    <span data-livestamp="{{ thread.lastCommentDateUtc | date:'yyyy-MM-ddTHH:mm:ssZ' }}" title="{{ thread.lastCommentDateUtc | date:'medium' }}"></span>
                </span>

                <span class="note-text">
                    Created by <span style="font-weight:bold;">{{ thread.authorFullName }}</span>
                    <span data-livestamp="{{ thread.createDateUtc | date:'yyyy-MM-ddTHH:mm:ssZ' }}" title="{{ thread.createDateUtc | date:'medium' }}"></span>
                </span>

                <hr data-ng-if="$index < $ctrl.commentThreads.length - 1" />
            </div>

            <div class="note-text" data-ng-if="$ctrl.commentThreads.length === 0">
                There are no active discussion threads.
            </div>
        </div>

        <div class="note-text text-link mt-3" data-ng-if="$ctrl.archivedThreads === null" data-ng-click="$ctrl.refreshCommentThreads( true )">View Archived Threads</div>
        
        <div class="mt-3" data-ng-if="$ctrl.archivedThreads !== null && $ctrl.archivedThreads.length > 0">
            <h4 class="mt-4">Archived Threads</h4>
            <div data-ng-repeat="thread in $ctrl.archivedThreads" class="mt-2 mb-2">
                <h5 class="text-link" data-ng-click="$ctrl.displayDiscussModal( thread )">{{ thread.title }}</h5>

                <span class="note-text" style="display: block;" data-ng-if="thread.numCommentsSinceLastRead === 0">
                    There are no new comments since you last checked
                </span>

                <span class="note-text" style="display: block;" data-ng-if="thread.numCommentsSinceLastRead > 0">
                    There {{thread.numCommentsSinceLastRead === 1 ? 'is' : 'are'}} {numCommentsSinceLastRead} new comment{{thread.numCommentsSinceLastRead === 1 ? '' : 's'}} since you last checked
                </span>

                <span class="note-text" style="display: block;" data-ng-if="thread.archiveDateUtc">
                    Archived 
                    <span data-livestamp="{{ thread.archiveDateUtc | date:'yyyy-MM-ddTHH:mm:ssZ' }}" title="{{ thread.archiveDateUtc | date:'medium' }}"></span>
                </span>

                <span class="note-text" style="display: block;" data-ng-if="thread.lastCommentDateUtc.getTime() !== thread.createDateUtc.getTime()">
                    Updated by <span style="font-weight:bold;">{{ thread.lastCommentAuthorName }}</span>
                    <span data-livestamp="{{ thread.lastCommentDateUtc | date:'yyyy-MM-ddTHH:mm:ssZ' }}" title="{{ thread.lastCommentDateUtc | date:'medium' }}"></span>
                </span>

                <span class="note-text">
                    Created by <span style="font-weight:bold;">{{ thread.authorFullName }}</span>
                    <span data-livestamp="{{ thread.createDateUtc | date:'yyyy-MM-ddTHH:mm:ssZ' }}" title="{{ thread.createDateUtc | date:'medium' }}"></span>
                </span>

                <hr data-ng-if="$index < $ctrl.archivedThreads.length - 1" />
            </div>

            <div class="note-text" data-ng-if="$ctrl.archivedThreads.length === 0">
                There are no archived discussion threads.
            </div>
        </div>

        <div data-ng-if="$ctrl.showCreateNewModal" class="modal-container">
            <div class="modal-overlay" data-ng-click="$ctrl.setDisplayCreateModal(false)"></div>
            <div class="ca-modal-dialog">
                <div data-ng-show="$ctrl.isLoading" class="loading-overlay"></div>
                <span style="float: right;" class="close-x" data-ng-click="$ctrl.setDisplayCreateModal(false)">&times;</span>

                <div class="form-group">
                    <label>Title:</label>
                    <input id="new-thread-title-text-box" type="text" data-ng-model="$ctrl.newThreadTitle" data-ng-escape="$ctrl.setDisplayCreateModal(false)" class="form-control form-control-sm" maxlength="256" required />
                </div>

                <div class="form-group">
                    <label>Body:</label>
                    <textarea type="text" data-ng-model="$ctrl.newThreadBody" rows="4" class="form-control" maxlength="1024"></textarea>
                </div>

                <div class="form-group" data-ng-if="$ctrl.showBoardOnly && !$ctrl.committeeId">
                    <label for="is-board-only-thread-check-box">Is Board Only:</label>
                    <input id="is-board-only-thread-check-box" type="checkbox" data-ng-model="$ctrl.newThreadIsBoardOnly" />
                    <br />
                    <span class="note-text">Indicates this discussion thread will only be visible to board members and site admin.</span>
                </div>

                <div class="form-group">
                    <label for="send-notice-check-box">Send Out E-mail Notice:</label>
                    <input id="send-notice-check-box" type="checkbox" data-ng-model="$ctrl.shouldSendNoticeForNewThread" />
                    <br />
                    <span class="note-text">An e-mail will be send out to the discussion group telling them about your new thread.</span>
                </div>

                <div style="text-align: center;">
                    <div class="text-error" data-ng-if="$ctrl.newThreadErrorMessage">{{$ctrl.newThreadErrorMessage}}</div>
                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.createNewThread()">Create Thread</button>
                    <!--&nbsp;<button type="button" class="btn btn-primary" data-ng-click="$ctrl.setDisplayCreateModal(false)">Cancel</button>-->
                </div>
            </div>
        </div>

        <group-comment-thread-view data-ng-if="$ctrl.viewingThread" data-thread="$ctrl.viewingThread" data-on-closed="$ctrl.viewingThread = null"></group-comment-thread-view>
    </div><!--end/portlet body-->

</div>