<div class="modal-container">
    <div class="modal-overlay" data-ng-click="$ctrl.closeModal(true)"></div>

    <div class="ca-modal-dialog modal-lg">
        <div data-ng-show="$ctrl.isLoading" class="loading-overlay"></div>

        <span style="float: right;" class="close-x" data-ng-click="$ctrl.closeModal(false)">&times;</span>

        <h2 style="margin-bottom: 0;">{{ $ctrl.thread.title }}</h2>
        
        <a style="float: right;" data-ng-href="{{$ctrl.threadUrl}}" class="note-text" data-ng-click="$ctrl.copyThreadLink($event)">Copy thread link to clipboard</a>

        <div>
            <span data-ng-if="$ctrl.thread.isBoardOnly" class="badge badge-secondary" style="margin-right: 12px;">Board-Only</span>

            <div data-ng-if="$ctrl.shouldShowAdminControls" style="display: inline;">
                <span data-ng-if="!$ctrl.thread.archiveDateUtc" class="note-text text-link" data-ng-click="$ctrl.archiveThread(true)">Archive Thread</span>
                <span data-ng-if="$ctrl.thread.archiveDateUtc" class="note-text text-link" data-ng-click="$ctrl.archiveThread(false)">Unarchive Thread</span>
            </div>
        </div>

        <div class="mt-2" data-ng-if="!$ctrl.thread.archiveDateUtc && !$ctrl.thread.isReadOnly">
            <div data-ng-if="$ctrl.isPremiumPlanActive">
                Get notified of new comments:
                <label style=""><input type="radio" data-ng-model="$ctrl.commentsState.digestFrequency" data-ng-change="$ctrl.onChangeDigestFrequency()" data-ng-value="null" ng-checked="$ctrl.digestFrequency === null" name="digest-frequency" />Profile Default (<span class="note-text">{{$ctrl.defaultDigestFrequency}} - <a href="#!/MyProfile">edit</a></span>)</label>
                <label style="margin-left: 14px;"><input type="radio" data-ng-model="$ctrl.commentsState.digestFrequency" data-ng-change="$ctrl.onChangeDigestFrequency()" value="none" name="digest-frequency" />None</label>
                <label style="margin-left: 14px;"><input type="radio" data-ng-model="$ctrl.commentsState.digestFrequency" data-ng-change="$ctrl.onChangeDigestFrequency()" value="instant" name="digest-frequency" />Immediately</label>
                <label style="margin-left: 14px;"><input type="radio" data-ng-model="$ctrl.commentsState.digestFrequency" data-ng-change="$ctrl.onChangeDigestFrequency()" value="nightly" name="digest-frequency" />Nightly</label>
                <label style="margin-left: 14px;"><input type="radio" data-ng-model="$ctrl.commentsState.digestFrequency" data-ng-change="$ctrl.onChangeDigestFrequency()" value="weekly" name="digest-frequency" />Weekly on Sunday</label>
            </div>
            <div data-ng-if="!$ctrl.isPremiumPlanActive" class="note-text">
                Get email notifications on our premium plan.
            </div>
        </div>
        
        <div class="mt-2" data-ng-if="!$ctrl.thread.archiveDateUtc && !$ctrl.thread.isReadOnly">
            Add New Comment:<br />
            <textarea data-ng-keydown="$ctrl.onTextAreaKeyDown($event, 'new')" data-ng-model="$ctrl.newCommentText" maxlength="1000" placeholder="Enter your comment here" class="form-control"></textarea>

            <p class="text-right">
                <button class="btn btn-primary" data-ng-click="$ctrl.submitNewComment()">Add Comment</button>
            </p>
        </div>

        <div class="alert alert-info" data-ng-if="$ctrl.thread.archiveDateUtc">
            This discussion thread has been archived and must be unarchived in order to be edited.
        </div>

        <div data-ng-repeat="comment in $ctrl.commentsState.comments" class="mt-2 mb-2">
            <div class="media">
                <img class="d-flex mr-3" style="width: 80px; height: 80px;" alt="Profile for {{ comment.authorFullName }}" data-ng-src="{{ comment.authorAvatarUrl }}" />

                <div class="media-body">
                    <p>
                        <span style="font-weight:bold;">{{ comment.authorFullName }}</span>
                        - <span data-livestamp="{{ comment.postDateUtc | date:'yyyy-MM-ddTHH:mm:ssZ' }}" title="{{ comment.postDateUtc | date:'medium' }}"></span>
                        <span data-ng-if="comment.lastEditDateUtc && !comment.deletedDateUtc" class="note-text">
                            (Edited <span data-livestamp="{{ comment.lastEditDateUtc | date:'yyyy-MM-ddTHH:mm:ssZ' }}" title="{{ comment.lastEditDateUtc | date:'medium' }}"></span>)
                        </span>
                        <span data-ng-if="comment.deletedDateUtc" class="note-text">
                            (Deleted <span data-livestamp="{{ comment.deletedDateUtc | date:'yyyy-MM-ddTHH:mm:ssZ' }}" title="{{ comment.deletedDateUtc | date:'medium' }}"></span>)
                        </span>
                        <span data-ng-if="comment.isMyComment && !comment.deletedDateUtc && !$ctrl.thread.archiveDateUtc">
                            - <span class="text-link" data-ng-click="$ctrl.startEditComment( comment )">Edit</span>
                            - <span class="text-link" data-ng-click="$ctrl.deleteComment( comment )">Delete</span>
                        </span>
                    </p>

                    <p data-ng-if="comment.commentId !== $ctrl.editCommentId" style="white-space: pre-wrap;" ng-bind-html="comment.commentText | linky:'_blank':{rel: 'nofollow noopener noreferrer'}"></p>
                    <div data-ng-if="comment.commentId === $ctrl.editCommentId">
                        <textarea data-ng-keydown="$ctrl.onTextAreaKeyDown($event, 'edit')" data-ng-model="$ctrl.editCommentText" class="form-control"></textarea>
                        <div style="text-align: right;">
                            <button class="btn btn-primary" data-ng-click="$ctrl.submitCommentEdit()">Save Changes</button>
                            <button class="btn btn-primary" data-ng-click="$ctrl.editCommentId = -1;">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="media mt-3 ml-5" data-ng-repeat="replyComment in comment.replies">
                <img class="d-flex mr-3" style="width: 80px; height: 80px;" alt="Profile for {{ replyComment.authorFullName }}" data-ng-src="{{ replyComment.authorAvatarUrl }}" />

                <div class="media-body">
                    <p>
                        <span class="text-bold">{{ replyComment.authorFullName }}</span>
                        - <span data-livestamp="{{ replyComment.postDateUtc | date:'yyyy-MM-ddTHH:mm:ssZ' }}" title="{{ replyComment.postDateUtc | date:'medium' }}"></span>
                        <span data-ng-if="replyComment.lastEditDateUtc && !replyComment.deletedDateUtc" class="note-text">
                            (Edited <span data-livestamp="{{ replyComment.lastEditDateUtc | date:'yyyy-MM-ddTHH:mm:ssZ' }}" title="{{ replyComment.lastEditDateUtc | date:'medium' }}"></span>)
                        </span>
                        <span data-ng-if="replyComment.deletedDateUtc" class="note-text">
                            (Deleted <span data-livestamp="{{ replyComment.deletedDateUtc | date:'yyyy-MM-ddTHH:mm:ssZ' }}" title="{{ replyComment.deletedDateUtc | date:'medium' }}"></span>)
                        </span>
                        <span data-ng-if="replyComment.isMyComment && !replyComment.deletedDateUtc && !$ctrl.thread.archiveDateUtc">
                            - <span class="text-link" data-ng-click="$ctrl.startEditComment( replyComment )">Edit</span>
                            - <span class="text-link" data-ng-click="$ctrl.deleteComment( replyComment )">Delete</span>
                        </span>
                    </p>

                    <p data-ng-if="replyComment.commentId !== $ctrl.editCommentId" style="white-space: pre-wrap;" ng-bind-html="replyComment.commentText | linky:'_blank':{rel: 'nofollow noopener noreferrer'}"></p>
                    <div data-ng-if="replyComment.commentId === $ctrl.editCommentId">
                        <textarea data-ng-keydown="$ctrl.onTextAreaKeyDown($event, 'edit')" class="form-control" data-ng-model="$ctrl.editCommentText" maxlength="1000"></textarea>
                        <div style="text-align: right;">
                            <button class="btn btn-primary" data-ng-click="$ctrl.submitCommentEdit()">Save Changes</button>
                            <button class="btn btn-primary" data-ng-click="$ctrl.editCommentId = -1;">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>

            <p data-ng-show="$ctrl.replyToCommentId !== comment.commentId && !$ctrl.thread.archiveDateUtc && !$ctrl.thread.isReadOnly" class="mt-3">
                <span class="text-button" data-ng-click="$ctrl.startReplyToComment( comment )">Reply to this comment {{ comment.replies.length > 0 ? "thread" : "" }}</span>
            </p>

            <div data-ng-show="$ctrl.replyToCommentId === comment.commentId" class="mt-3">
                <textarea data-ng-keydown="$ctrl.onTextAreaKeyDown($event, 'reply')" class="form-control reply-to-textarea" data-ng-model="$ctrl.replyCommentText" maxlength="1000" placeholder="Enter your reply here"></textarea>
                <div class="text-right">
                    <button class="btn btn-primary" data-ng-click="$ctrl.submitReplyComment()">Add Comment</button>
                    <button class="btn btn-primary" data-ng-click="$ctrl.replyToCommentId = -1;">Cancel</button>
                </div>
            </div>

            <div class="alert alert-info" data-ng-if="$ctrl.thread.isReadOnly">
                This is a read-only discussion thread to serve as a notice and does not allow comments.
            </div>

            <hr data-ng-if="$index < $ctrl.commentsState.comments.length - 1" />
        </div>
    </div>
</div>