<section class="info" data-ng-cloak>
    <div>
        <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
        <div data-ng-if="!$ctrl.isFixedList">
            <div data-ng-repeat="curList in $ctrl.todoLists">
                <h4>{{ curList.name }} <span class="note-text" style="font-size:0.55em;">To-Do List</span><span data-ng-if="$ctrl.canManage" class="ml-2"><span class="text-link note-text" data-ng-click="$ctrl.deleteTodoList( curList )">Delete</span></span></h4>
                <div>
                    <div class="todo-item-box mt-2" data-ng-repeat="curItem in curList.todoItems">
                        <div style="width: 80%; display: inline-block; line-height: 24px; vertical-align: top;">
                            <input type="checkbox" data-ng-click="$ctrl.onToggleComplete( curList.todoListId, curItem.todoItemId )" />
                            {{ curItem.description }}
                            <span class="ml-2" data-ng-if="$ctrl.canManage"><span class="text-link note-text" data-ng-click="$ctrl.deleteTodoItem( curItem )">Delete</span></span>
                        </div>
                    </div>
                    <!--<div class="text-link note-text" data-onaftersave="$ctrl.onAddItem( curList.todoListId )" data-editable-text="$ctrl.newItemDescription">
                Add New To-Do Item
            </div>-->
                    <div class="text-link note-text mt-2" data-ng-if="$ctrl.canManage" data-ng-click="$ctrl.addNewItem( curList.todoListId )">Add To-Do</div>
                </div>
                <hr style="margin-top: 20px; margin-bottom: 20px;" />
            </div>
            <div data-ng-if="$ctrl.canManage">
                <span class="note-text text-link" style="border-bottom-style: none !important;" data-onaftersave="$ctrl.onAddList()" data-editable-text="$ctrl.newListName">
                    Add New To-Do List
                </span>
                <span class="note-text text-link float-right" data-ng-click="$ctrl.exportAllToCsv()">
                    Export to CSV
                </span>
            </div>
            <div data-ng-if="!$ctrl.canManage">
                There are no to-do lists to view.
            </div>
        </div>
        <div data-ng-if="$ctrl.isFixedList">
            <div class="todo-item-box mt-2" data-ng-repeat="curItem in $ctrl.todoLists[0].todoItems">
                <div style="width: 80%; display: inline-block; line-height: 24px; vertical-align: top;">
                    <input type="checkbox" data-ng-click="$ctrl.onToggleComplete( curList.todoListId, curItem.todoItemId )" />
                    {{ curItem.description }}
                    <span class="ml-2" data-ng-if="$ctrl.canManage"><span class="text-link note-text" data-ng-click="$ctrl.deleteTodoItem( curItem )">Delete</span></span>
                </div>
            </div>
            <div class="text-link note-text mt-2" data-ng-if="$ctrl.canManage" data-ng-click="$ctrl.addNewItem( curList.todoListId )">
                Add To-Do
            </div>
        </div>
    </div>
</section>

<div data-ng-if="$ctrl.editTodoItem" class="modal-container">
    <div class="modal-overlay"></div>
    <div class="ca-modal-dialog modal-md">
        <div data-ng-show="$ctrl.isLoading" class="loading-overlay"></div>
        <span style="float: right;" class="close-x" data-ng-click="$ctrl.editTodoItem = null">&times;</span>
        <h2>Add To-Do</h2>

        <div class="form-group row">
            <label class="col-sm-3 col-12">Name:</label>
            <div class="col-sm-9 col-12">
                <input id="edit-todo-name-text-box" data-ng-enter="$ctrl.saveTodoItem()" class="form-control" type="text" data-ng-model="$ctrl.editTodoItem.description" />
            </div>
        </div>

        <div class="form-group row" data-ng-if="!$ctrl.shouldExpandTodoItemModal">
            <div class="col-12" style="text-align: center;">
                <span class="text-link note-text" data-ng-click="$ctrl.shouldExpandTodoItemModal = true">Advanced Options</span>
            </div>
        </div>

        <div data-ng-if="$ctrl.shouldExpandTodoItemModal">
            <div class="form-group row">
                <label class="col-sm-3 col-12">Due Date:</label>
                <div class="col-sm-9 col-12">
                    <input class="form-control" type="text" data-ui-date data-ng-model="$ctrl.editTodoItem.dueDate" />
                </div>
            </div>

            <!--<div class="form-group row">
                <label class="col-sm-3 col-12">Assignee:</label>
                <div class="col-sm-9 col-12">
                    <select class="form-control" data-ng-model="$ctrl.editTodoItem.assignedToUserId"></select>
                </div>
            </div>-->
        </div>

        <div class="form-group row">
            <div class="col-sm-12" style="text-align: right;">
                <button class="btn btn-primary" data-ng-click="$ctrl.saveTodoItem()" type="button">Save</button>
            </div>
        </div>
    </div>
</div>
