.page-home {
    min-height: 70px;

    .alert-box {
        background: #fff url(/assets/images/alert-icon.png) no-repeat 10px 10px;
        border: 3px solid #f7941e;
        border-radius: 4px;
        position: relative;
        margin: 30px 0 0;
        padding: 19px 6% 16px 72px;
        color: #c09853;
    }

    .news_polls article p {
        color: #333;
    }

    .payment_bl {
        .portlet-header {
            background: url(/assets/images/icons.png) no-repeat right -221px;
        }
    }

    .send_email {
        .portlet-header {
            background: url(/assets/images/icons.png) no-repeat 106% -76px;
        }
    }

    .generic {
        .portlet-header {
            background: url(/assets/images/icons.png) no-repeat 106% -147px;
        }
    }

    .manage_pannel a {
        color: #f7941d;
        font-weight: 600;
        font-size: 16px;
        margin-left: 20px;
    }

    .content form textarea {
        width: 100%;
        resize: none;
        height: 212px;
        padding: 10px;
        margin-top: 5px;
    }
}
