#WalkScorePanel
{
    width: 250px;
    margin: 0 auto;
    background-color: #F7FED5;
    border: 2px solid #FFCC00;
    text-align: center;
    padding: 15px;
}

.walkscore-scoretext
{
    margin-left: 7px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}