<div class="form-group mb-5" data-ng-class="{'form-check':$ctrl.fieldEntry.template.type==='checkboxList'}">
    <label for="field-input-{{$ctrl.fieldEntry.template.slug}}">{{$ctrl.fieldEntry.template.label}}</label>
    <span data-ng-if="$ctrl.fieldEntry.template.isRequired" data-ng-style="{'color':!$ctrl.fieldEntry.instance.valuesJson?'red':'black', 'font-weight':!$ctrl.fieldEntry.instance.valuesJson?'bold':'default'}"> (required)</span>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='shortText'">
        <input id="field-input-{{$ctrl.fieldEntry.template.slug}}" type="text" class="form-control" data-ng-change="$ctrl.onFieldChange()" data-ng-model="$ctrl.fieldEntry.instance.valuesJson" />
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='allHomePicker'">
        TODO: Implement allHomePicker
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='assignee'">
        TODO: Implement assignee
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='checkboxList'">
        TODO: Implement checkboxList
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='dateOnly'">
        <input id="field-input-{{$ctrl.fieldEntry.template.slug}}" type="date" class="form-control" style="max-width: 300px;" data-ng-change="$ctrl.onFieldChange()" data-ng-model="$ctrl.fieldEntry.instance.valuesJson" />
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='dateTime'">
        <input id="field-input-{{$ctrl.fieldEntry.template.slug}}" type="datetime" class="form-control" style="max-width: 300px;" data-ng-change="$ctrl.onFieldChange()" data-ng-model="$ctrl.fieldEntry.instance.valuesJson" />
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='fileAttachment'">
        TODO: Implement fileAttachment
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='longText'">
        <textarea class="form-control" rows="4" data-ng-model="$ctrl.fieldEntry.instance.valuesJson"></textarea>
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='number'">
        TODO: Implement number
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='ownerHomePicker'">
        TODO: Implement ownerHomePicker
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='radio'">
        <div class="form-check" data-ng-repeat="curValue in $ctrl.fieldEntry.template.multiValueOptions track by $index">
            <input class="form-check-input" type="radio" name="radio-group-{{$ctrl.fieldEntry.template.slug}}" id="radio-group-{{$ctrl.fieldEntry.template.slug}}-{{$index}}" data-ng-value="curValue" data-ng-change="$ctrl.onFieldChange()" data-ng-model="$ctrl.fieldEntry.instance.valuesJson">
            <label class="form-check-label" for="radio-group-{{$ctrl.fieldEntry.template.slug}}-{{$index}}">{{curValue}}</label>
        </div>
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='richTextLabel'">
        TODO: Implement richTextLabel
    </div>
    <div data-ng-if="$ctrl.fieldEntry.template.type==='timeOnly'">
        <input id="field-input-{{$ctrl.fieldEntry.template.slug}}" type="time" class="form-control" style="max-width: 300px;" data-ng-change="$ctrl.onFieldChange()" data-ng-model="$ctrl.fieldEntry.instance.valuesJson" />
    </div>

    <small data-ng-if="$ctrl.fieldEntry.template.noteText" class="form-text text-muted">
        {{$ctrl.fieldEntry.template.noteText}}
    </small>
</div>