<div class="portlet-box white payment_bl margin-vertical-lg box-shadow" data-ng-if="$ctrl.shouldShowWidget">
    <div class="portlet-header">
        <span class="ms-4" style="color: blue; font-size: large; font-weight: bold; float: right;" title="We're looking for helpful feedback!">Beta</span>
        <h2 class="title"><i class="fa-solid fa-pen-to-square ally-portlet-icon me-2"></i> E-forms</h2>
    </div>

    <div class="portlet-body">
        <div data-ng-if="$ctrl.isLoading" class="loading-overlay" style="position: relative;"></div>

        <div data-ng-if="$ctrl.widgetInfo">
            <div class="mb-4">
                <h6>Your Active E-forms</h6>
                <ul data-ng-if="$ctrl.widgetInfo.activeInstances.length > 0">
                    <li data-ng-repeat="curInstance in $ctrl.widgetInfo.activeInstances">
                        <span data-ng-if="curInstance.formStatus === 'draft'">(Draft) </span><a href="#!/ViewEform/{{curInstance.eformInstanceId}}">{{curInstance.template.templateName}}</a> ({{curInstance.submitDateUtc | date:'short'}})
                    </li>
                </ul>
                <div data-ng-if="$ctrl.widgetInfo.activeInstances.length === 0" class="note-text">
                    You currently have no active E-forms
                </div>
            </div>

            <div class="mb-4" data-ng-if="$ctrl.widgetInfo.assignedToUserInstances.length > 0">
                <h6>E-forms Assigned to You</h6>
                <ul>
                    <li data-ng-repeat="curInstance in $ctrl.widgetInfo.assignedToUserInstances">
                        <a href="#!/ViewEform/{{curInstance.eformInstanceId}}">{{curInstance.template.templateName}}</a> ({{curInstance.submitDateUtc | date:'short'}})
                    </li>
                </ul>
            </div>

            <h6>Submit a new E-form</h6>
            <ul>
                <li data-ng-repeat="curTemplate in $ctrl.widgetInfo.enabledTemplates">
                    <a href="#!/CreateEform/{{curTemplate.eformTemplateId}}">{{curTemplate.templateName}}</a>
                </li>
            </ul>
            <div class="text-end">
                <a data-ng-href="#!/EformInstanceListing">{{$ctrl.isSiteManager ? 'View All Forms' : 'View Form History'}}</a>
            </div>
        </div>
    </div>
</div>