<section class="info-welcome">
    <div class="sub-view-menu-container">
        <span id="info-sub-view-link-docs" data-ng-if="!$ctrl.hideDocuments" class="sub-view-menu-link" data-ng-class="{'selected':$ctrl.selectedView=='docs'}" data-ng-click="$ctrl.selectedView='docs'">Documents</span>
        <span id="info-sub-view-link-info" class="sub-view-menu-link" data-ng-class="{'selected':$ctrl.selectedView=='info'}" data-ng-click="$ctrl.selectedView='info'">Info/FAQs</span>
        <span id="info-sub-view-link-vendor" class="sub-view-menu-link" data-ng-class="{'selected':$ctrl.selectedView=='vendor'}" data-ng-click="$ctrl.selectedView='vendor'">Vendors</span>
        <!--<span id="info-sub-view-link-todo" class="sub-view-menu-link" data-ng-class="{'selected':selectedView=='todo'}" data-ng-click="selectedView='todo'">To-Dos</span>-->
    </div>
</section>

<div ng-switch on="$ctrl.selectedView" ng-cloak>

    <div ng-switch-when="docs">
        <documents data-ng-if="!$ctrl.hideDocuments"></documents>
    </div>
    <div ng-switch-when="info">
        <faqs ng-cloak></faqs>
    </div>
    <div ng-switch-when="vendor">
        <preferred-vendors></preferred-vendors>
    </div>
    <!--<div ng-switch-when="todo">
        <todos></todos>
    </div>-->

</div>