<div class="page-home">
    <div class="portlet-box white box-shadow margin-vertical" data-ng-if="$ctrl.welcomeMessage.length > 0 || $ctrl.isWelcomeMessageHtml">
        <div class="portlet-header">
            <div class="title">
                Welcome!
            </div>
        </div>
        <div id="portlet-body welcome-message-label">
            <pre id="welcome-message-panel" data-ng-if="!$ctrl.isWelcomeMessageHtml" style="font-family: inherit; font-size: 1rem; white-space: pre-wrap;" data-ng-bind-html="$ctrl.welcomeMessage | linky:'_blank':{rel: 'nofollow noopener noreferrer'}"></pre>
            <div id="welcome-message-panel" data-ng-if="$ctrl.isWelcomeMessageHtml" style="font-family: inherit; font-size: 1rem;" data-ng-bind-html="$ctrl.welcomeMessage"></div>
        </div>
    </div>
    
    <div class="alert-box white-bg spinner-effect" data-ng-show="$ctrl.shouldShowAlertSection">        
        <div class="news_polls" id="news-panel" style="min-height: 100px;">
            <article data-ng-repeat="news in $ctrl.buildingAlerts">
                <div class="text-12 text-bold" id="news-and-polls-header">NOTICES:</div>

                <p id="news-body-{{ $index }}">{{ news.text }}</p>
                <p class="meta_data">
                    Posted by {{ news.authorName}}, {{ news.postDate | date:'M/d/yyyy' }}
                </p>
            </article>

            <active-polls></active-polls>
        </div>
    </div>

    <div class="row">

        <!-- left sidebar -->
        <div class="col-md-6">
            <div data-ng-if="$ctrl.usersCommittees.length > 0" class="portlet-box white margin-vertical">
                <div class="portlet-header">
                    <h3 class="title">Your Committees</h3>
                </div>

                <div class="portlet-body">
                    <p data-ng-repeat="c in $ctrl.usersCommittees">
                        <a data-ng-href="#!/Committee/{{ c.committeeId }}/Home">{{ c.name }}</a>
                    </p>
                </div>
            </div>

            <assessment-payment-form data-ng-if="$ctrl.canMakePayment"></assessment-payment-form>
            
            <div data-ng-if="!$ctrl.canMakePayment && $ctrl.shouldShowOwnerFinanceTxn" class="portlet-box white margin-vertical">
                <div class="portlet-header">
                    <h3 class="title">Financial Transactions</h3>
                </div>

                <div class="portlet-body">
                    <resident-transactions></resident-transactions>
                </div>
            </div>

            <!--<div class="mt-5" data-ng-if="$ctrl.testPay_ShouldShow">
                <h2>Test PayPal Payment</h2>
                Amount: $<input type="number" data-ng-model="$ctrl.testPay_Amt" data-ng-change="$ctrl.onTestPayAmtChange()" />
                <form data-ng-if="$ctrl.testPay_isValid" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_donations">
                    <input type="hidden" name="business" value="musicpix05-buyer@yahoo.com">
                    <input type="hidden" name="item_name" value="{{$ctrl.testPay_Description}}">
                    <input type="hidden" name="amount" value="{{$ctrl.testPay_Amt}}">
                    <input type="hidden" name="no_shipping" value="1">
                    <input type="hidden" name="notify_url" value="{{ $ctrl.testPay_IpnUrl }}">
                    <input type="hidden" name="return" value="{{ $ctrl.testPay_ReturnUrl }}">
                    <input type="hidden" name="cancel_return" value="{{ $ctrl.testPay_ReturnUrl }}">
                    <input type="hidden" name="no_note" value="1">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="lc" value="EN">
                    <input type="hidden" name="first_name" value="{{ $ctrl.testPay_UserFirst }}" />
                    <input type="hidden" name="last_name" value="{{ $ctrl.testPay_UserLast }}" />
                    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynow_LG.gif:NonHosted">
                    <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                <div class="text-error" data-ng-if="!$ctrl.testPay_isValid">Please enter a valid amount between 5 and 5000</div>
            </div>-->

            <group-send-email></group-send-email>
        </div><!--end/left side bar-->

        <!-- right sidebar -->
        <div class="col-md-6">
            <div class="portlet-box white margin-vertical" style="background-color: gold;" data-ng-if="$ctrl.allySurvey">
                <div class="portlet-header pulse animated infinite" style="background: url(/assets/images/happy-outline.svg) no-repeat right center; border-bottom-color: black; animation-duration: 2s;">
                    <h3 class="title">Help Us</h3>
                </div>
                <div class="portlet-body">
                    <p>
                        {{$ctrl.allySurvey.surveyDescription}}
                        <br />
                        <div class="text-center text-large">
                            <a data-ng-href="{{$ctrl.allySurvey.url}}">{{$ctrl.allySurvey.urlDescription}}</a>
                        </div>
                    </p>
                    <p class="note-text">
                        Note: This box you're seeing only appears to residents based on their length of membership and board position.
                    </p>
                </div>
            </div>
            <group-comment-threads data-ng-if="$ctrl.showDiscussionThreads" data-auto-open-thread-id="$ctrl.autoOpenDiscussionThreadId"></group-comment-threads>
            <local-news-feed data-ng-if="$ctrl.showLocalNews"></local-news-feed>
        </div>
    </div>

    <div data-ng-if="$ctrl.showFirstVisitModal && $ctrl.isSiteManager">
        <div id="new-welcome-overlay-background" class="modal-overlay" data-ng-click="$ctrl.hideFirstVisit()"></div>
        <div class="ca-modal-dialog modal-md" style="width: 700px;">
            <h1 id="new-welcome-title">Welcome to {{ $ctrl.allyAppName }}!</h1>
            <p class="margin-top-10">
                We're happy you've decided to give {{ $ctrl.allyAppName }} a try. We think you'll have no trouble getting up and running on your own, but
                if you'd like some guidance getting started, check out this guide:
            </p>
            <p class="text-center margin-top-10">
                <a style="font-size:x-large;" href="http://help.communityally.org/getting-started-with-condo-ally/" target="_blank">Setting up Your New {{ $ctrl.allyAppName }} Site</a>
                <br />
                <span class="note-text">(Link opens in new tab)</span>
            </p>
            <!--<div class="text-center margin-top-10">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/1lJbysvWJDY" frameborder="0" allowfullscreen></iframe>
            </div>
            <p class="text-right">
                <a target="_blank" href="https://www.youtube.com/watch?v=1lJbysvWJDY" class="note-text">Open video in new window</a>
            </p>-->
            <p>
                We love to help our users, so never hesitate to use the "Help" link at the bottom of the page or the "Contact support"
                button in the bottom right of your window. Congratulations on taking a step toward a better condo association! We're sure
                your condo association was great to begin with, but we're confident {{ $ctrl.allyAppName }} can make it even better.
            </p>
            <p class="text-right margin-right-10">
                <span class="note-text">(Click anywhere outside this window to close)</span>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $( function ()
    {
        $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
        $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
    } );
    $( '.contact_support h3' ).click( function ()
    {
        $( this ).parent().toggleClass( 'opened' );
    } );    
    $( '.file_item' ).click( function ()
    {
        $( '.file_item' ).removeClass( 'select' );
        $( this ).toggleClass( 'select' );

    } );
    $( ".collapsibleContainer" ).collapsiblePanel();
</script>
