<div class="page-home">
    <!--<div class="portlet-box white margin-vertical" style="background-color: gold; font-size: large;" data-ng-if="$ctrl.shouldShowGoodNeighbor2024">
        <div class="portlet-body text-center">
            <div>
                <span style="float: right;" class="text-link note-text" data-ng-click="$ctrl.dismissGoodNeighbor2024()">Dismiss</span>
                <h4 style="text-decoration: underline;">National Good Neighbor Day is Saturday September 28</h4>
            </div>
            <div class="mt-4">
                Use our new bulletin board feature to schedule a get-together for Good Neighbor Day!
                <br />
                <a href="https://blog.communityally.org/national-good-neighbor-day-2024/" target="_blank">Learn More Here</a>
            </div>
        </div>
    </div>-->

    <div class="portlet-box white box-shadow margin-vertical" style="margin-bottom: 0;" data-ng-if="$ctrl.welcomeMessage.length > 0 || $ctrl.isWelcomeMessageHtml">
        <div class="portlet-header">
            <div style="float: right; display: inline-block;">
                <div data-ng-if="$ctrl.isSiteManager" class="note-text text-link" data-ng-click="$ctrl.showEditWelcomeModal()">Edit Welcome</div>
                <div class="note-text text-link" data-ng-click="$ctrl.showAppChanges()">App Changes</div>
            </div>
            <div class="title">
                Welcome!
            </div>
        </div>
        <div id="portlet-body welcome-message-label">
            <pre id="welcome-message-panel" data-ng-if="!$ctrl.isWelcomeMessageHtml" style="font-family: inherit; font-size: 1rem; white-space: pre-wrap;" data-ng-bind-html="$ctrl.welcomeMessage | linky:'_blank':{rel: 'nofollow noopener noreferrer'}"></pre>
            <div id="welcome-message-panel" data-ng-if="$ctrl.isWelcomeMessageHtml" style="font-family: inherit; font-size: 1rem;" data-ng-bind-html="$ctrl.welcomeMessage"></div>
        </div>
    </div>

    <div class="alert-box white-bg spinner-effect" data-ng-show="$ctrl.shouldShowAlertSection">
        <div class="news_polls" id="news-panel" style="min-height: 100px;">
            <article data-ng-repeat="news in $ctrl.buildingAlerts">
                <div class="text-12 text-bold" id="news-and-polls-header">NOTICES:</div>

                <p id="news-body-{{ $index }}">{{ news.text }}</p>
                <p class="meta_data">
                    Posted by {{ news.authorName}}, {{ news.postDate | date:'M/d/yyyy' }}
                </p>
            </article>

            <active-polls></active-polls>
        </div>
    </div>

    <div class="row">

        <!-- left sidebar -->
        <div class="col-lg-6">
            <bulletin-board data-ng-if="$ctrl.shouldShowBulletinBoard && $ctrl.isOnMobile"></bulletin-board>

            <group-comment-threads data-ng-if="$ctrl.showDiscussionThreads && $ctrl.isOnMobile" data-auto-open-thread-id="$ctrl.autoOpenDiscussionThreadId"></group-comment-threads>

            <div data-ng-if="$ctrl.usersCommittees.length > 0" class="portlet-box white margin-vertical">
                <div class="portlet-header">
                    <h2 class="title"><i class="fa-solid fa-people-group ally-portlet-icon me-2"></i> Your Committees</h2>
                </div>

                <div class="portlet-body">
                    <p data-ng-repeat="c in $ctrl.usersCommittees">
                        <a data-ng-href="#!/Committee/{{ c.committeeId }}/Home">{{ c.name }}</a>
                    </p>
                </div>
            </div>

            <assessment-payment-form data-ng-if="$ctrl.canMakePayment"></assessment-payment-form>

            <!--Show this box if payments are disabled but custom payment instructions are set-->
            <div class="portlet-box white payment_bl margin-vertical box-shadow" data-ng-if="!$ctrl.canMakePayment && $ctrl.siteInfo.privateSiteInfo.customFinancialInstructions">
                <div class="portlet-header">
                    <h2 class="title">Payment</h2>
                </div>
                <div class="portlet-body">
                    <div style="font-family: inherit; font-size: 1rem;" data-ng-bind-html="$ctrl.siteInfo.privateSiteInfo.customFinancialInstructions"></div>
                </div>
            </div>

            <div data-ng-if="!$ctrl.canMakePayment && $ctrl.shouldShowOwnerFinanceTxn" class="portlet-box white margin-vertical box-shadow">
                <div class="portlet-header">
                    <h3 class="title"><i class="fa-solid fa-credit-card ally-portlet-icon me-2"></i> Financial Transactions</h3>
                </div>

                <div class="portlet-body">
                    <resident-transactions></resident-transactions>
                </div>
            </div>

            <!--<div class="mt-5" data-ng-if="$ctrl.testPay_ShouldShow">
        <h2>Test PayPal Payment</h2>
        Amount: $<input type="number" data-ng-model="$ctrl.testPay_Amt" data-ng-change="$ctrl.onTestPayAmtChange()" />
        <form data-ng-if="$ctrl.testPay_isValid" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="musicpix05-buyer@yahoo.com">
            <input type="hidden" name="item_name" value="{{$ctrl.testPay_Description}}">
            <input type="hidden" name="amount" value="{{$ctrl.testPay_Amt}}">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="notify_url" value="{{ $ctrl.testPay_IpnUrl }}">
            <input type="hidden" name="return" value="{{ $ctrl.testPay_ReturnUrl }}">
            <input type="hidden" name="cancel_return" value="{{ $ctrl.testPay_ReturnUrl }}">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="lc" value="EN">
            <input type="hidden" name="first_name" value="{{ $ctrl.testPay_UserFirst }}" />
            <input type="hidden" name="last_name" value="{{ $ctrl.testPay_UserLast }}" />
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynow_LG.gif:NonHosted">
            <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <div class="text-error" data-ng-if="!$ctrl.testPay_isValid">Please enter a valid amount between 5 and 5000</div>
    </div>-->

            <group-send-email></group-send-email>
        </div><!--end/left side bar-->
        <!-- right sidebar -->
        <div class="col-lg-6">
            <div class="portlet-box white margin-vertical" style="background-color: gold;" data-ng-if="$ctrl.allySurvey">
                <div class="portlet-header pulse animated infinite" style="border-bottom-color: black; animation-duration: 2s;">
                    <div class="title"><i class="fa-regular fa-face-smile me-2"></i> <span data-ng-if="$ctrl.userFirstName">{{$ctrl.userFirstName}}, </span>Please Help Us</div>
                </div>
                <div class="portlet-body">
                    <p>
                        {{$ctrl.allySurvey.surveyDescription}}
                        <br />
                        <div class="text-center text-large">
                            <a data-ng-href="{{$ctrl.allySurvey.url}}">{{$ctrl.allySurvey.urlDescription}}</a>
                        </div>
                    </p>
                    <p class="note-text">
                        Note: This box you're seeing only appears to residents based on their length of membership and board position. To remove this box, simply answer any question on the survey, but it helps us to fill it out completely.
                    </p>
                </div>
            </div>
            
            <bulletin-board data-ng-if="$ctrl.shouldShowBulletinBoard && !$ctrl.isOnMobile"></bulletin-board>
            
            <group-comment-threads data-ng-if="$ctrl.showDiscussionThreads && !$ctrl.isOnMobile" data-auto-open-thread-id="$ctrl.autoOpenDiscussionThreadId"></group-comment-threads>
            
            <local-news-feed data-ng-if="$ctrl.showLocalNews"></local-news-feed>
        </div>
    </div>
    
    <div data-ng-if="$ctrl.showFirstVisitModal && $ctrl.isSiteManager">
        <div id="new-welcome-overlay-background" class="modal-overlay" data-ng-click="$ctrl.hideFirstVisit()"></div>
        <div class="ca-modal-dialog modal-md" style="width: 700px;">
            <h1 id="new-welcome-title">Welcome to {{ $ctrl.allyAppName }}™!</h1>
            <p class="margin-top-10">
                We're happy you've decided to give {{ $ctrl.allyAppName }}™ a try. We think you'll have no trouble getting up and running on your own, but
                if you'd like some guidance getting started, check out this guide:
            </p>
            <p class="text-center margin-top-10">
                <a style="font-size:x-large;" href="http://help.communityally.org/getting-started-with-condo-ally/" target="_blank">Setting up Your New {{ $ctrl.allyAppName }} Site</a>
                <br />
                <span class="note-text">(Link opens in new tab)</span>
            </p>
            <!--<div class="text-center margin-top-10">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/1lJbysvWJDY" frameborder="0" allowfullscreen></iframe>
            </div>
            <p class="text-end">
                <a target="_blank" href="https://www.youtube.com/watch?v=1lJbysvWJDY" class="note-text">Open video in new window</a>
            </p>-->
            <p>
                We love to help our users, so never hesitate to use the "Help" link at the bottom of the page or the "Contact support"
                button in the bottom right of your window. Congratulations on taking a step toward a better condo association! We're sure
                your condo association was great to begin with, but we're confident {{ $ctrl.allyAppName }} can make it even better.
            </p>
            <p class="text-end margin-right-10">
                <span class="note-text">(Click anywhere outside this window to close)</span>
            </p>
        </div>
    </div>

    <div data-ng-if="$ctrl.shouldShowAppChangeModal">
        <div class="modal-overlay" data-ng-click="$ctrl.shouldShowAppChangeModal = false"></div>
        <div class="ca-modal-dialog modal-md" style="width: 700px; height: 80vh !important;">
            <h1>Community Ally Web App Change Log</h1>
            <div class="margin-top-10" style="margin-bottom: 10px;">Here you can see a log of notable improvements to our application.</div>
            <div style="overflow-y: scroll; padding: 0 10px; height: 85%;">
                <div data-ng-if="$ctrl.appChanges === null">Loading...</div>

                <div data-ng-repeat="curChange in $ctrl.appChanges" class="ally-shaded-item" style="margin: 1rem 0;">
                    <span style="float: right;">{{curChange.addedDateUtc | date:'shortDate'}}</span>
                    <span data-ng-style="{'font-weight':curChange.featureSize > 70 ? 'bold': 'default'}">{{curChange.title}}</span>
                    <span data-ng-if="curChange.featureSize > 70" class="badge bg-secondary">Major</span>
                    <hr />
                    <div>{{curChange.description}}</div>
                </div>

                <div data-ng-if="$ctrl.appChanges && $ctrl.appChanges.length > 0" class="text-center ally-shaded-item fw-bold">
                    We recently added this change log feature and will back fill past features as time goes on.
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="$ctrl.shouldShowEditWelcomeModal">
        <div class="modal-overlay" data-ng-click="$ctrl.shouldShowEditWelcomeModal = false"></div>
        <div class="ca-modal-dialog modal-lg">
            <div class="loading-overlay" data-ng-show="$ctrl.isLoadingWelcome"></div>
            <span style="float: right;" class="close-x" data-ng-click="$ctrl.shouldShowEditWelcomeModal = false">&times;</span>
            <h1>Edit Welcome Message</h1>
            <textarea id="welcome-tiny-mce-editor"></textarea>
            <div class="mt-3" style="text-align: right;">
                <button type="button" class="btn btn-primary" data-ng-click="$ctrl.updateWelcomeMessage()">Save</button>
                <button type="button" class="btn btn-secondary" data-ng-click="$ctrl.shouldShowEditWelcomeModal = false">Cancel</button>
            </div>
        </div>
    </div>
</div>