<div class="page page-login text-center">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
    <div>
        <span id="error-label" style="font-size: 1.5em; font-weight: bold;" data-ng-style="{'color':$ctrl.resultTextColor}" class="error-text">{{ $ctrl.resultText }}<br /><br /></span>
    </div>
    <div data-ng-show="$ctrl.shouldHideControls">
        <a href="#!/Login">Back to log-in</a>
    </div>
    <form data-ng-hide="$ctrl.shouldHideControls" style="padding-bottom: 80px;">
        <table cellpadding="0" style="border-collapse:collapse; margin: 0 auto;">
            <tbody>
                <tr>
                    <td align="right">
                        <label for="login-email-textbox">E-mail Address:</label>
                    </td>
                    <td>
                        <input type="text" id="login-email-textbox" data-ng-model="$ctrl.loginInfo.emailAddress" data-rule-required="true">
                    </td>
                </tr>
                <tr>
                    <td align="right" colspan="2" class="text-center">
                        <input type="submit" value="Submit" data-ng-click="$ctrl.onSubmitEmail();" id="submit-button">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>