<div class="page page-follow-residents margin-vertical padding white-bg">
    <div data-ng-show="$ctrl.isSiteManager">
        <a href="/#!/ManageResidents">Manage Residents</a><br />
        <br />
    </div>

    <div class="container" data-ng-if="$ctrl.boardMembers.length > 0 || $ctrl.committees.length > 0">
        <div class="row">
            <div class="portlet-box no-padding col-12 col-md-6" data-ng-if="$ctrl.boardMembers.length > 0">
                <div class="portlet-header">
                    <div style="display: inline-block;" class="title">Board Members</div><div data-ng-if="$ctrl.boardMessageRecipient" style="display: inline-block;">&nbsp;-&nbsp;<send-message data-recipient-info="$ctrl.boardMessageRecipient"></send-message></div>
                </div>

                <div class="portlet-body">
                    <div data-ng-repeat="member in $ctrl.boardMembers">
                        <span style="font-weight: bold;">{{ member.boardPositionName }}</span>&nbsp;-&nbsp;{{ member.fullName }}<span data-ng-if="!member.hasEmail">*</span><span data-ng-if="member.hasEmail">&nbsp;-&nbsp;<send-message data-recipient-info="member"></send-message></span><br />
                    </div>
                    <br />
                </div>
            </div>

            <div class="portlet-box no-padding col-12 col-md-6" data-ng-if="$ctrl.committees.length > 0">
                <div class="portlet-header">
                    <div style="display: inline-block;" class="title">Committees</div>
                </div>

                <div class="portlet-body">
                    <p style="margin-bottom: 7px; display: none;" class="note-text">Contact the residents below if you'd like to learn more about a certain committee</p>
                    <div data-ng-repeat="committee in $ctrl.committees">
                        <span style="font-weight: bold;">{{ committee.committeeName }}</span>&nbsp;(<a data-ng-if="!committee.isPrivate" data-ng-href="#!/Committee/{{ committee.committeeId }}/Home">view</a><span data-ng-if="committee.isPrivate">private</span>)<span data-ng-if="committee.contactUser">&nbsp;-&nbsp;{{ committee.contactUser.fullName }}<span data-ng-if="!committee.contactUser.hasEmail">*</span><span data-ng-if="committee.contactUser.hasEmail">&nbsp;-&nbsp;<send-message data-recipient-info="committee.contactUser"></send-message></span></span><br />
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="portlet-box white no-padding spinner-effect">
        <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

        <div class="portlet-header" data-ng-if="!$ctrl.showMemberList">
            <div class="float-right col-2" style="display: none;">
                <input type="text" class="form-control search-box" data-ng-change="$ctrl.updateMemberFilter()" data-ng-model="$ctrl.memberSearchTerm" data-ng-model-options="{ debounce: 1 }" placeholder="Search" aria-describedby="basic-addon2" />
            </div>

            <div class="title">{{ $ctrl.showMemberList ? "Members" : "Residents" }}</div>
        </div>

        <div class="portlet-body" data-ng-if="!$ctrl.showMemberList">
            <div data-ng-repeat="curUnit in $ctrl.unitList" id="unit-id-{{curUnit.unitId}}">
                <h5 id="unit-name-{{ $index }}">{{ $ctrl.unitPrefix }}{{ curUnit.name }}</h5>
                <div>
                    <span data-ng-if="curUnit.renters.length > 0" style="font-weight:bold;">Owned by:<br></span>
                    <div data-ng-repeat="user in curUnit.owners" class="mb-2">
                        <img style="width: 80px; height: 80px;" data-ng-if="user.shouldShowAvatarInListing && user.avatarUrl" alt="Profile for {{ user.fullName }}" data-ng-src="{{user.avatarUrl}}" />
                        
                        <span id="owner-name-{{ $parent.$index }}-{{ $index }}">{{ user.fullName }}</span><span data-ng-if="!user.hasEmail">*</span>
                        <span data-ng-if="user.email.length > 0 || user.phoneNumber.length > 0">
                            (<a id="owner-email-{{ $parent.$parent.$index }}-{{ $parent.$index }}" href="mailto:{{ user.email }}">{{ user.email }}</a>{{ user.email.length > 0 && user.phoneNumber.length > 0 ? " - " : "" }}<a data-ng-href="tel:{{ user.phoneNumber }}" id="owner-phone-{{ $parent.$parent.$index }}-{{ $parent.$index }}">{{ user.phoneNumber | tel }}</a>)
                        </span>
                        <span data-ng-if="user.hasEmail">-&nbsp;<send-message data-recipient-info="user"></send-message></span>
                        <br />
                    </div>
                </div>
                <div data-ng-show="curUnit.renters.length > 0">
                    <br>
                    <span style="font-weight:bold;">Currently rented by:</span><br>
                    <div data-ng-repeat="user in curUnit.renters" class="mb-2">
                        <span id="renter-name-{{ $parent.$index }}-{{ $index }}">{{ user.fullName }}</span><span data-ng-if="!user.hasEmail">*</span>
                        <span data-ng-if="user.email.length > 0 || user.phoneNumber.length > 0">
                            (<a id="renter-email-{{ $parent.$parent.$index }}-{{ $parent.$index }}" href="mailto:{{ user.email }}">{{ user.email }}</a>{{ user.email.length > 0 && user.phoneNumber.length > 0 ? " - " : "" }}<a data-ng-href="tel:{{ user.phoneNumber }}" id="renter-phone-{{ $parent.$parent.$index }}-{{ $parent.$index }}">{{ user.phoneNumber | tel }}</a>)
                        </span>                        
                        <span data-ng-if="user.hasEmail">-&nbsp;<send-message data-recipient-info="user"></send-message></span>
                        <br />
                    </div>
                </div>
                <hr />
            </div>
        </div>

        <div class="portlet-body" data-ng-if="$ctrl.showMemberList">
            <h4>Members</h4>
            <div class="row">
                <div class="col-md-4 col-sm-12" data-ng-repeat="resident in $ctrl.allResidents">
                    <span id="owner-name-{{ $index }}">{{ resident.fullName }}</span><span data-ng-if="!resident.hasEmail">*</span>
                    <span data-ng-if="resident.email.length > 0 || resident.phoneNumber.length > 0">
                        (<a id="owner-email-{{ $index }}" href="mailto:{{ resident.email }}">{{ resident.email }}</a>{{ resident.email.length > 0 && resident.phoneNumber.length > 0 ? " - " : "" }}<a data-ng-href="tel:{{ resident.phoneNumber }}" id="owner-phone-{{ $index }}">{{ resident.phoneNumber | tel }}</a>)
                    </span>
                    <span data-ng-if="resident.hasEmail">-&nbsp;<send-message data-recipient-info="resident"></send-message></span>                    
                </div>
            </div>
        </div>
        <br />
        <div class="note-text" data-ng-if="$ctrl.hasMissingEmails">* Unable to send messages to this person because we don't have their e-mail address</div>
    </div>

    <div data-ng-if="false">
        <h5>Owner Email Addresses</h5>
        For easy copy-and-paste into your e-mail client.<br /><br />
        {{ $ctrl.allOwnerEmails[0] }}
        <span data-ng-repeat="curOwnerEmail in $ctrl.allOwnerEmails track by $index" ng-hide="$first">, {{ curOwnerEmail }}</span>
        <br />
    </div>

    <div class="portlet-box white margin-top no-padding">
        <div class="portlet-header">
            <div class="title">Group E-mail Addresses</div>
        </div>

        <div class="portlet-body">
            <p class="margin-bottom-10">
                {{ $ctrl.allyAppName }} provides custom e-mail addresses that allow to easily send messages to certain groups within your association. Simply send
                an e-mail to one of the addresses below how you would normally send any old e-mail, and it will be sent to the people listed.
            </p>

            <div data-ng-repeat="g in $ctrl.emailLists">
                <div>
                    Send an e-mail to&nbsp;<h5 id="group-email-address-{{ $index }}" style="display: inline;">{{ g.recipientType }}.{{ $ctrl.groupShortName }}@{{ $ctrl.groupEmailDomain }}</h5>&nbsp;(<span class="text-link clipboard-button" id="group-email-address-copy-button-{{ $index }}" data-clipboard-target="#group-email-address-{{ $index }}" data-clipboard-action="copy">copy to clipboard</span>) and it will send to:
                </div>
                <div class="note-text">
                    {{ g.usersFullNames[0] }}<span data-ng-repeat="personName in g.usersFullNames track by $index" ng-hide="$first">, {{ personName }}<span></span></span>
                </div>
                <div data-ng-if="g.isRestrictedGroup" class="note-text" style="color: blue; font-weight: bold;">
                    This e-mail group is a restricted group meaning replies will be sent only to you and not the entire group.
                </div>
                <div data-ng-if="g.recipientType ==='Everyone'" class="note-text" style="color: red; font-weight: bold;">
                    In general, sending an e-mail to the "Everyone" group should be reserved for urgent notices. Instead, most "everyone" e-mails should be
                    sent to the discussion group. The discussion group allows residents to unsubscribe from
                    individual threads, thus residents are more engaged in the threads in which they participate and complain less about e-mail.<br />
                    <br />
                </div>
                <br />
            </div>

            <div class="text-bold">
                <u>How to Use Group E-mails</u>
            </div>

            <ol>
                <li>Select the group e-mail address to which you want to send (Click and drag the address text)</li>
                <li>Copy the address (CTRL+C/CMD+C)</li>
                <li>Go to your e-mail client or website</li>
                <li>Compose a new e-mail</li>
                <li>Paste the address in the TO field (CTRL+V/CMD+V)</li>
                <li>Write your e-mail like you would any other e-mail</li>
                <li>When you send, that e-mail will go to everyone listed for that group e-mail address</li>
            </ol>
        </div>
    </div>
</div>