<div class="page page-follow-residents margin-vertical padding white-bg">
    <div data-ng-show="$ctrl.isSiteManager">
        <a href="/#!/ManageResidents">Manage Residents</a><br />
        <br />
    </div>

    <div class="container" data-ng-if="$ctrl.boardMembers.length > 0 || $ctrl.committees.length > 0 || $ctrl.boardPropMgrs.length > 0">
        <div class="row">
            <div class="portlet-box no-padding col-12 col-md-6" data-ng-if="$ctrl.boardMembers.length > 0 || $ctrl.boardPropMgrs.length > 0">
                <div class="portlet-header">
                    <div style="display: inline-block;" class="title">Board Members</div><div data-ng-if="$ctrl.boardMessageRecipient && $ctrl.isPremiumPlanActive" style="display: inline-block;"><span>&nbsp;-&nbsp;<send-message data-recipient-info="$ctrl.boardMessageRecipient"></send-message></span></div>
                </div>

                <div class="portlet-body">
                    <div class="note-text" data-ng-if="$ctrl.boardMembers.length === 0">
                        No board members have been assigned
                    </div>
                    <div data-ng-repeat="member in $ctrl.boardMembers">
                        <span style="font-weight: bold;">{{ member.boardPositionName }}</span>&nbsp;-&nbsp;{{ member.fullName }}<span data-ng-if="!member.hasEmail">*</span><span data-ng-if="member.hasEmail && $ctrl.isPremiumPlanActive">&nbsp;-&nbsp;<send-message data-recipient-info="member"></send-message></span><br />
                    </div>
                    <br />
                </div>

                <div class="portlet-body" data-ng-if="$ctrl.boardPropMgrs.length > 0">
                    <h6>Property Managers</h6>
                    <div data-ng-repeat="member in $ctrl.boardPropMgrs">
                        {{ member.fullName }}<span data-ng-if="!member.hasEmail">*</span><span data-ng-if="member.hasEmail && $ctrl.isPremiumPlanActive">&nbsp;-&nbsp;<send-message data-recipient-info="member"></send-message></span><br />
                    </div>
                    <br />
                </div>
            </div>

            <div class="portlet-box no-padding col-12 col-md-6" data-ng-if="$ctrl.committees.length > 0">
                <div class="portlet-header">
                    <div style="display: inline-block;" class="title">Committees</div>
                </div>

                <div class="portlet-body">
                    <p style="margin-bottom: 7px; display: none;" class="note-text">Contact the residents below if you'd like to learn more about a certain committee</p>
                    <div data-ng-repeat="committee in $ctrl.committees">
                        <span style="font-weight: bold;">{{ committee.committeeName }}</span>&nbsp;(<a data-ng-if="!committee.isPrivate" data-ng-href="#!/Committee/{{ committee.committeeId }}/Home">view</a><span data-ng-if="committee.isPrivate">private</span>)<span data-ng-if="committee.contactUser">&nbsp;-&nbsp;{{ committee.contactUser.fullName }}<span data-ng-if="!committee.contactUser.hasEmail">*</span><span data-ng-if="committee.contactUser.hasEmail && $ctrl.isPremiumPlanActive">&nbsp;-&nbsp;<send-message data-recipient-info="committee.contactUser"></send-message></span></span><br />
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="portlet-box white no-padding spinner-effect">
        <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

        <div class="portlet-header" data-ng-if="!$ctrl.showMemberList">
            <div class="float-end col-2" style="display: none;">
                <input type="text" class="form-control search-box" data-ng-change="$ctrl.updateMemberFilter()" data-ng-model="$ctrl.memberSearchTerm" data-ng-model-options="{ debounce: 1 }" placeholder="Search" aria-describedby="basic-addon2" />
            </div>

            <div class="title">{{ $ctrl.showMemberList ? "Members" : "Residents" }}</div>
        </div>

        <div class="portlet-body" data-ng-if="!$ctrl.showMemberList">
            <div data-ng-repeat="curUnit in $ctrl.unitList" id="unit-id-{{curUnit.unitId}}">
                <h5 id="unit-name-{{ $index }}">{{ $ctrl.unitPrefix }}{{ curUnit.name }}</h5>
                <div>
                    <span data-ng-if="curUnit.renters.length > 0" style="font-weight:bold;">Owned by:<br></span>
                    <div data-ng-repeat="user in curUnit.owners" class="mb-2">
                        <img style="width: 80px; height: 80px;" data-ng-if="user.shouldShowAvatarInListing && user.avatarUrl" alt="Profile for {{ user.fullName }}" data-ng-src="{{user.avatarUrl}}" />
                        
                        <span id="owner-name-{{ $parent.$index }}-{{ $index }}">{{ user.fullName }}</span><span data-ng-if="!user.hasEmail">*</span>
                        <span data-ng-if="user.email.length > 0 || user.phoneNumber.length > 0">
                            (<a id="owner-email-{{ $parent.$parent.$index }}-{{ $parent.$index }}" href="mailto:{{ user.email }}">{{ user.email }}</a>{{ user.email.length > 0 && user.phoneNumber.length > 0 ? " - " : "" }}<a data-ng-href="tel:{{ user.phoneNumber }}" id="owner-phone-{{ $parent.$parent.$index }}-{{ $parent.$index }}">{{ user.phoneNumber | tel }}</a>)
                        </span>
                        <span data-ng-if="user.hasEmail && $ctrl.isPremiumPlanActive">-&nbsp;<send-message data-recipient-info="user"></send-message></span>
                        <br />
                    </div>
                </div>
                <div data-ng-show="curUnit.renters.length > 0">
                    <br>
                    <span style="font-weight:bold;">Currently rented by:</span><br>
                    <div data-ng-repeat="user in curUnit.renters" class="mb-2">
                        <span id="renter-name-{{ $parent.$index }}-{{ $index }}">{{ user.fullName }}</span><span data-ng-if="!user.hasEmail">*</span>
                        <span data-ng-if="user.email.length > 0 || user.phoneNumber.length > 0">
                            (<a id="renter-email-{{ $parent.$parent.$index }}-{{ $parent.$index }}" href="mailto:{{ user.email }}">{{ user.email }}</a>{{ user.email.length > 0 && user.phoneNumber.length > 0 ? " - " : "" }}<a data-ng-href="tel:{{ user.phoneNumber }}" id="renter-phone-{{ $parent.$parent.$index }}-{{ $parent.$index }}">{{ user.phoneNumber | tel }}</a>)
                        </span>                        
                        <span data-ng-if="user.hasEmail && $ctrl.isPremiumPlanActive">-&nbsp;<send-message data-recipient-info="user"></send-message></span>
                        <br />
                    </div>
                </div>
                <hr />
            </div>
        </div>

        <div class="portlet-body" data-ng-if="$ctrl.showMemberList">
            <h4>Members</h4>
            <div class="row">
                <div class="col-md-4 col-sm-12" data-ng-repeat="resident in $ctrl.allResidents">
                    <span id="owner-name-{{ $index }}">{{ resident.fullName }}</span><span data-ng-if="!resident.hasEmail">*</span>
                    <span data-ng-if="resident.email.length > 0 || resident.phoneNumber.length > 0">
                        (<a id="owner-email-{{ $index }}" href="mailto:{{ resident.email }}">{{ resident.email }}</a>{{ resident.email.length > 0 && resident.phoneNumber.length > 0 ? " - " : "" }}<a data-ng-href="tel:{{ resident.phoneNumber }}" id="owner-phone-{{ $index }}">{{ resident.phoneNumber | tel }}</a>)
                    </span>
                    <span data-ng-if="resident.hasEmail && $ctrl.isPremiumPlanActive">-&nbsp;<send-message data-recipient-info="resident"></send-message></span>                    
                </div>
            </div>
        </div>
        <br />
        <div class="note-text" data-ng-if="$ctrl.hasMissingEmails">* Unable to send messages to this person because we don't have their email address</div>
    </div>

    <div data-ng-if="false">
        <h5>Owner Email Addresses</h5>
        For easy copy-and-paste into your email client.<br /><br />
        {{ $ctrl.allOwnerEmails[0] }}
        <span data-ng-repeat="curOwnerEmail in $ctrl.allOwnerEmails track by $index" ng-hide="$first">, {{ curOwnerEmail }}</span>
        <br />
    </div>

    <div class="portlet-box white margin-top no-padding" style="position: relative;">
        <div class="portlet-header">
            <div class="title">Group Email Addresses</div>
        </div>
        <div class="loading-overlay" data-ng-if="$ctrl.isLoadingGroupEmails"></div>
        <div class="text-error" data-ng-if="$ctrl.groupEmailsLoadError">{{$ctrl.groupEmailsLoadError}}</div>

        <div class="portlet-body">
            <p class="margin-bottom-10">
                {{ $ctrl.allyAppName }} provides custom email addresses that allow to easily send messages to certain groups within your association. Simply send
                an email to one of the addresses below how you would normally send any old email, and it will be sent to the people listed.
            </p>

            <div data-ng-repeat="g in $ctrl.emailLists">
                <div>
                    &bull; Send an email to&nbsp;<h5 id="group-email-address-{{ $index }}" style="display: inline;">{{ g.recipientType }}.{{ $ctrl.groupShortName }}@{{ $ctrl.groupEmailDomain }}</h5>&nbsp;(<span class="text-link clipboard-button" id="group-email-address-copy-button-{{ $index }}" data-clipboard-target="#group-email-address-{{ $index }}" data-clipboard-action="copy">copy to clipboard</span>) and it will send to:
                </div>
                <div class="note-text">
                    {{ g.usersFullNames[0] }}<span data-ng-repeat="personName in g.usersFullNames track by $index" ng-hide="$first">, {{ personName }}<span></span></span>
                </div>
                <div data-ng-if="g.isRestrictedGroup" class="note-text" style="color: blue; font-weight: bold;">
                    This group email address is restricted meaning replies will be sent only to you and not the entire group.
                </div>
                <div data-ng-if="g.recipientType ==='Everyone'" class="note-text" style="color: red; font-weight: bold;">
                    In general, sending an email to the "Everyone" group should be reserved for urgent notices. Instead, most "everyone" emails should be
                    sent to the discussion group. The discussion group allows residents to unsubscribe from
                    individual threads, thus residents are more engaged in the threads in which they participate and complain less about email.
                    <br />
                    <br />
                </div>
                <div data-ng-if="g.recipientType ==='Treasurer'" class="note-text" style="color: blue;">
                    The "Treasurer" group will forward to the user or users that are marked as treasurer or secretary+treasurer. If no users are marked as treasurer then the whole
                    board will receive messages sent to this group email address. Payment-related messages are automatically sent to this email address.
                </div>
                <br />
            </div>

            <h5 class="mb-0" style="text-decoration: underline;">Custom Group Email Addresses</h5>
            <div class="note-text mb-1">Here you can define your own group email addresses with your own collection of residents.</div>
            <div class="mt-2 mb-2" data-ng-if="$ctrl.customEmailList.length === 0">You do not have any custom group email addresses defined.</div>
            <div data-ng-repeat="g in $ctrl.customEmailList track by $index">
                <div>
                    &bull; Send an email to&nbsp;<h5 id="custom-group-email-address-{{ $index }}" style="display: inline;">{{ g.shortName }}.{{ $ctrl.groupShortName }}@{{ $ctrl.groupEmailDomain }}</h5>&nbsp;(<span class="text-link clipboard-button" id="custom-group-email-address-copy-button-{{ $index }}" data-clipboard-target="#custom-group-email-address-{{ $index }}" data-clipboard-action="copy">copy to clipboard</span>) and it will send to:
                </div>
                <div class="note-text">
                    <span data-ng-repeat="u in g.usersFullNames track by $index"><span data-ng-if="$index > 0">, </span>{{ u }}</span>
                </div>
                <div class="note-text text-danger" data-ng-if="!g.usersFullNames || g.usersFullNames.length === 0">
                    This group has no members so it will not be shown elsewhere on the site.
                </div>
                <div class="note-text mt-1" data-ng-if="g.description">
                    Description: {{g.description}}
                </div>
                <div data-ng-if="g.allowPublicIncoming" class="note-text" style="color: blue; font-weight: bold;">
                    Allows public incoming emails
                </div>
                <div data-ng-if="$ctrl.isSiteManager">
                    <span class="text-link note-text" data-ng-click="$ctrl.editCustomGroupEmail( g )">Edit</span>
                    <span class="text-link note-text ms-2" style="color: red;" data-ng-click="$ctrl.deleteGroupEmail( g )">Delete</span>
                </div>
                <br />
            </div>
            <button data-ng-if="$ctrl.isSiteManager" type="button" class="btn btn-primary" data-ng-click="$ctrl.onAddNewCustomEmailGroup()">Add New Custom Group Email</button>

            <div class="text-bold mt-5">
                <u>How to Use Group Emails</u>
            </div>

            <ol>
                <li>Select the group email address to which you want to send (Click and drag the address text)</li>
                <li>Copy the address (CTRL+C/CMD+C)</li>
                <li>Go to your email client or website</li>
                <li>Compose a new email</li>
                <li>Paste the address in the TO field (CTRL+V/CMD+V)</li>
                <li>Write your email like you would any other email</li>
                <li>When you send, that email will go to everyone listed for that group email address</li>
            </ol>
        </div>
    </div>

    <div class="modal-container" data-ng-if="$ctrl.shouldShowNewCustomEmailModal">
        <div class="modal-overlay" data-ng-click="$ctrl.closeManager()"></div>
        <div class="ca-modal-dialog">
            <div data-ng-show="$ctrl.isLoadingSaveEmailGroup" class="loading-overlay"></div>
            <span style="float: right;" class="close-x" data-ng-click="$ctrl.shouldShowNewCustomEmailModal = false">&times;</span>
            <h2 class="mb-3">Custom Group Email Address</h2>

            <div class="row mb-4 px-3">
                <label class="form-label">Short Name:</label>
                <input id="custom-group-email-short-name-text" type="text" data-ng-model="$ctrl.editGroupEmailInfo.shortName" data-ng-enter="$ctrl.saveCustomGroupEmailInfo()" data-ng-escape="$ctrl.shouldShowNewCustomEmailModal = false" class="form-control form-control-sm" maxlength="30" required />
                <div class="note-text ps-0">An alphanumeric identifier that will make up the email address. Must be 3-30 characters and start with a letter.</div>
                <div data-ng-if="$ctrl.editGroupEmailInfo.shortName" class="ps-0">Email address will be: <b>{{ $ctrl.editGroupEmailInfo.shortName }}.{{ $ctrl.groupShortName }}@{{ $ctrl.groupEmailDomain }}</b></div>
            </div>

            <div class="row mb-4 px-3">
                <label class="form-label">Description:</label>
                <textarea type="text" data-ng-model="$ctrl.editGroupEmailInfo.description" rows="2" data-ng-enter="$ctrl.saveCustomGroupEmailInfo()" data-ng-escape="$ctrl.shouldShowNewCustomEmailModal = false" class="form-control" maxlength="512"></textarea>
                <div class="note-text ps-0">An optional, helpful description of this group</div>
            </div>

            <div class="row mb-4 px-3">
                <label class="col-sm-2 col-12 form-label">Members:</label>
                <div class="col-sm-10 col-12 px-0">
                    <div class="resident-list-box" style="max-height: 250px !important;">
                        <label data-ng-repeat="resident in $ctrl.allResidents" style="display: block" class="form-label">
                            <input type="checkbox" data-ng-model="resident.isAssociated" data-ng-click="$ctrl.onGroupEmailMemberClicked( resident )"> {{resident.fullName}} {{ resident.hasEmail ? "" : "(No email on file)" }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mb-4 px-3">
                <label class="form-label">
                    Allow External Incoming Emails:
                    <input type="checkbox" data-ng-model="$ctrl.editGroupEmailInfo.allowPublicIncoming" />
                </label>
                <div class="note-text ps-0"><a href="https://help.communityally.org/using-custom-group-email-addresses/#external-emails" target="_blank">Learn more</a></div>
            </div>            

            <div style="text-align: center;">
                <div class="text-error" data-ng-if="$ctrl.groupEmailSaveError">{{$ctrl.groupEmailSaveError}}</div>
                <button type="button" class="btn btn-primary" data-ng-click="$ctrl.saveCustomGroupEmailInfo()">Save Group Email Address</button>
                <!--&nbsp;<button type="button" class="btn btn-primary" data-ng-click="$ctrl.setDisplayCreateModal(false)">Cancel</button>-->
            </div>
        </div>
    </div>
</div>