<style>
    /* Prevent the error label from getting a pointer */
    label {
        cursor: default;
    }
</style>

<div data-ng-if="$ctrl.isPageEnabled === true" class="page">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
    <div ng-style="$ctrl.resultStyle">{{ $ctrl.sendResult }}</div>
    <div data-ng-hide="$ctrl.wasMessageSent">
        You can contact Community Ally technical support using the form below and we'll do our best to get back to you within 24 hours. We also have some helpful articles on the:
        <br />
        <a href="https://help.communityally.org/" target="_blank">Community Ally Help Center</a>
        <br />
        <br />
        <form id="help-form">
            <div data-ng-hide="$ctrl.isLoggedIn">
                Your email address: <input id="help-email-input" data-ng-model="$ctrl.sendInfo.emailAddress" data-rule-required="true" type="text" /><br />
                <br />
            </div>
            <div data-ng-if="$ctrl.shouldShowGroupNameField">
                Association Name: <input id="help-group-name-input" data-ng-model="$ctrl.sendInfo.groupName" type="text" /><span class="note-text">(Optional)</span><br />
                <br />
            </div>
            Enter your message here:<br />
            <textarea id="help-message-textarea" data-ng-model="$ctrl.sendInfo.message" maxlength="4096" data-rule-required="true" style="width: 100%;" rows="10"></textarea>
            <br />
            <br />
            <div class="text-end">
                <input type="button" value="Send" class="btn btn-primary" data-ng-click="$ctrl.onSendHelp();" />
            </div>
        </form>
    </div>
</div>

<div data-ng-if="$ctrl.isPageEnabled === false" class="page">
    Unfortunately, the site is in a shut down or hibernate process and support cannot be contacted for an unknown period of time. We know this must be frustrating and are extremely sorry,
    but we have encountered a serious issue. If you can still access your site, it is recommended that you back up your data. (residents list, documents zip, maintenance, assessment history, etc.)
</div>