<div class="page page-calendar">
    <div>
        <p>
            The calendar provides a quick
            view of your association's activity and the ability to add events with notification emails. This is also a good place to keep track of maintenance and improvements.
        </p>
        <br />
        <div style="display:none;">
            <fieldset>
                <legend>Calendar Entries</legend>
                News
                Appointments
                Polls
                Payments (Self for residents, all for site manager)
                Logbook Entries
                Resident Additions?
            </fieldset>
        </div>
        <div id="log-calendar" ui-calendar="uiConfig.calendar" ng-model="$ctrl.calendarEvents"></div>
        <br />

        <div id="calendar-event-panel" class="modal-container" data-ng-show="$ctrl.editEvent != null">
            <div class="modal-overlay" data-ng-click="$ctrl.setEditEvent( null )"></div>
            <form id="calendarEditEvent" data-ng-class="{expanded : $ctrl.showExpandedCalendarEventModel}"
                  name="calendarEditEvent" novalidate class="ca-modal-dialog p-4" action="javascript:(void)"
                  data-ng-escape="$ctrl.setEditEvent( null )">

                <div class="loading-overlay" data-ng-show="$ctrl.isLoadingCalendarEvents"></div>

                <span style="float: right;" class="close-x" data-ng-click="$ctrl.setEditEvent( null )">&times;</span>
                <h2>{{ $ctrl.editEvent.eventId ? "Edit Event" : "Add Event" }}</h2>

                <div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-12 text-end form-label-popup" title="Event ID: {{$ctrl.editEvent.eventId}}">Date:</label>
                        <div class="col-sm-10 col-12">
                            <input id="calendar-event-when" type="text" class="form-control form-control-sm" data-ui-date="{ dateFormat: 'DD, MM d, yy' }" data-ng-model="$ctrl.editEvent.dateOnly" />
                        </div>
                    </div>

                    <div class="row mb-3" data-ng-show="$ctrl.showExpandedCalendarEventModel" data-ng-style="{ 'margin-bottom': $ctrl.localTimeZoneDiffersFromGroup ? '0' : null }">
                        <label class="col-sm-2 col-12 text-end form-label-popup">Time:</label>
                        <div class="col-sm-3 col-12">
                            <input id="calendar-event-time" type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editEvent.timeOnly">
                        </div>
                        <div class="col-sm-3 col-11 note-text" style="vertical-align: middle; line-height: 31px;">
                            Time Zone: {{ $ctrl.currentTimeZoneAbbreviation }}
                        </div>
                    </div>

                    <div class="row mb-3" data-ng-show="$ctrl.showExpandedCalendarEventModel && $ctrl.localTimeZoneDiffersFromGroup">
                        <label class="col-sm-2 hidden-xs"></label>
                        <div class="col-10 note-text">
                            Note: Your local time is currently in {{ $ctrl.currentTimeZoneAbbreviation }}, but your association is in the {{ $ctrl.groupTimeZoneAbbreviation }} time zone
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-12 text-end  form-label-popup">What:</label>
                        <div class="col-sm-10 col-12">
                            <input id="calendar-event-title" class="form-control form-control-sm" required type="text" data-ng-model="$ctrl.editEvent.title" data-ng-enter="$ctrl.saveCalendarEvent()" autocomplete="off" data-lpignore="true" data-form-type="other">
                        </div>
                    </div>

                    <div class="row mb-3" data-ng-if="$ctrl.showExpandedCalendarEventModel">
                        <label class="col-sm-2 col-12 pt-5 text-end form-label-popup">Description:</label>
                        <div class="col-sm-10 col-12">
                            <textarea id="tiny-mce-editor"></textarea>
                        </div>
                    </div>

                    <div data-ng-show="$ctrl.showExpandedCalendarEventModel">
                        <div data-ng-show="$ctrl.isDateInPast( $ctrl.editEvent.dateOnly )" class="text-center text-warning">
                            You cannot add reminder emails because this event date is in the past.
                        </div>

                        <p class="text-center">
                            <label>
                                <input type="checkbox" data-ng-readonly="$ctrl.isDateInPast( $ctrl.editEvent.dateOnly )"
                                       data-ng-change="$ctrl.onShouldSendChange()"
                                       data-ng-disabled="$ctrl.isDateInPast( $ctrl.editEvent.dateOnly )"
                                       data-ng-model="$ctrl.editEvent.shouldSendNotification" />
                                Send a reminder email

                                <span style="display: inline" data-ng-if="$ctrl.editEvent.shouldSendNotification" data-ng-class="{'grayed':!$ctrl.editEvent.shouldSendNotification}">
                                    <input class="form-control form-control-sm d-inline-block"
                                           style="width: 40px;" type="text"
                                           data-ng-readonly="!$ctrl.editEvent.shouldSendNotification"
                                           data-ng-disabled="!$ctrl.editEvent.shouldSendNotification"
                                           data-ng-change="$ctrl.onChangeEmailDaysBefore()"
                                           data-ng-model="$ctrl.editEvent.notificationEmailDaysBefore"
                                           autocomplete="off">
                                    {{ $ctrl.editEvent.notificationEmailDaysBefore == 1 ? 'day' : 'days' }} before event
                                </span>
                                <span data-ng-show="$ctrl.showBadNotificationDateWarning" class="text-warning" style="display: block">
                                    You can only go back {{ $ctrl.maxDaysBack }} {{ $ctrl.maxDaysBack == 1 ? 'day' : 'days' }} for the reminder to be sent.
                                </span>
                            </label>
                        </p>

                        <div data-ng-if="$ctrl.editEvent.shouldSendNotification">
                            <!--<div class="text-center" data-ng-show="!$ctrl.isDateInPast( $ctrl.editEvent.dateOnly )">
                                <p data-ng-class="{'grayed':!$ctrl.editEvent.shouldSendNotification}">
                                    <input class="form-control form-control-sm d-inline-block" style="width: 40px;" type="text" data-ng-readonly="!$ctrl.editEvent.shouldSendNotification"
                                           data-ng-disabled="!$ctrl.editEvent.shouldSendNotification" data-ng-change="$ctrl.onChangeEmailDaysBefore()"
                                           data-ng-model="$ctrl.editEvent.notificationEmailDaysBefore" autocomplete="off" > {{ $ctrl.editEvent.notificationEmailDaysBefore == 1 ? 'day' : 'days' }} before event
                                </p>
                                <p data-ng-show="$ctrl.showBadNotificationDateWarning" class="text-warning">
                                    You can only go back {{ $ctrl.maxDaysBack }} {{ $ctrl.maxDaysBack == 1 ? 'day' : 'days' }} for the reminder to be sent.
                                </p>
                            </div>-->

                            <div class="row mb-3" data-ng-if="$ctrl.residents" data-ng-class="{'grayed':!$ctrl.editEvent.shouldSendNotification}">
                                <label class="col-sm-2 col-12  form-label-popup">Send To:</label>
                                <div class="col-sm-10 col-12">
                                    <select class="form-control form-select" data-ng-model="$ctrl.editEvent.emailGroupShortName" data-ng-options="g.groupShortName as g.displayLabel for g in $ctrl.associatedGroups">
                                        <option></option>
                                    </select>
                                <!--</div>
                            </div>

                            <div class="row" data-ng-if="$ctrl.residents && $ctrl.editEvent.emailGroupShortName === 'Individuals'" data-ng-class="{'grayed':!$ctrl.editEvent.shouldSendNotification}">
                                <label class="col-sm-2 col-12">Send To2:</label>
                                <div class="col-sm-10 col-12">-->
                                    <div class="resident-list-box" data-ng-if="$ctrl.residents && $ctrl.editEvent.emailGroupShortName === 'Individuals'">

                                        <!--<div id="accordion">
        <div class="card">
            <div class="card-header" style="padding: 0;" id="headingGroups">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseGroups" aria-expanded="true" aria-controls="collapseGroups">
                        Groups
                    </button>
                </h5>
            </div>

            <div id="collapseGroups" class="collapse" aria-labelledby="headingGroups" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="padding: 0;" id="headingIndividuals">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseIndividuals" aria-expanded="false" aria-controls="collapseIndividuals">
                        Individuals <span class="note-text">({{$ctrl.residents.filter(r=>r.isAssociated).length}} selected)</span>
                    </button>
                </h5>
            </div>
            <div id="collapseIndividuals" class="collapse" aria-labelledby="headingIndividuals" data-parent="#accordion">
                <div class="card-body">

                    <div data-ng-repeat="resident in $ctrl.residents">
                        <label data-ng-class="{'grayed':!resident.hasEmail}">
                            <input type="checkbox" data-ng-disabled="!$ctrl.editEvent.shouldSendNotification || !resident.hasEmail" data-ng-readonly="!$ctrl.editEvent.shouldSendNotification || !resident.hasEmail"
                                   data-ng-model="resident.isAssociated" data-ng-click="$ctrl.onResidentClicked( resident )"> {{resident.fullName}} {{ resident.hasEmail ? "" : "(No email on file)" }}
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>-->

                                        <!--<div class="mb-1">
                                            <h5 style="display:inline; text-decoration: underline;">Groups</h5>
                                            <span class="note-text ml-2">({{$ctrl.getNumSelectedGroups()}} selected)</span>
                                        </div>
                                        <div data-ng-repeat="curGroup in $ctrl.associatedGroups">
                                            <label>
                                                <input type="checkbox"
                                                       data-ng-disabled="!$ctrl.editEvent.shouldSendNotification"
                                                       data-ng-readonly="!$ctrl.editEvent.shouldSendNotification"
                                                       data-ng-model="curGroup.isAssociated">
                                                {{curGroup.displayLabel}}
                                            </label>
                                        </div>

                                        <div class="mb-1 mt-2">
                                            <h5 style="display: inline; text-decoration: underline;">Individuals</h5>
                                            <span class="note-text ml-2">({{$ctrl.getNumSelectedIndividuals()}} selected)</span>
                                        </div>-->
                                        <div data-ng-repeat="resident in $ctrl.residents">
                                            <label data-ng-class="{'grayed':!resident.hasEmail}">
                                                <input type="checkbox"
                                                       data-ng-disabled="!$ctrl.editEvent.shouldSendNotification || !resident.hasEmail"
                                                       data-ng-readonly="!$ctrl.editEvent.shouldSendNotification || !resident.hasEmail"
                                                       data-ng-model="resident.isAssociated"
                                                       data-ng-click="$ctrl.onResidentClicked( resident )">
                                                {{resident.fullName}} {{ resident.hasEmail ? "" : "(No email on file)" }}
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-4 col-12  form-label-popup">Additional Emails:</label>
                                <div class="col-sm-8 col-12">
                                    <input type="text" data-ng-model="$ctrl.editEvent.additionalEmailsString" class="form-control form-control-sm" />
                                    <div class="note-text margin-top-10">
                                        You can enter up to three email addresses (Separated by comma or semicolon) that will also be sent the
                                        reminder email in addition to the residents selected above.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="padding-top-10 clearfix">
                        <span class="text-button" data-ng-hide="$ctrl.showExpandedCalendarEventModel" data-ng-click="$ctrl.expandCalendarEventModel()">More Details</span>
                        <span class="text-button" data-ng-show="$ctrl.editEvent.eventId" style="margin-right: 10px;" data-ng-click="$ctrl.deleteCalendarEvent($ctrl.editEvent.eventId)">Delete This Event</span>
                        <span class="pull-right">
                            <span class="btn btn-primary margin-right-10" data-ng-click="$ctrl.saveCalendarEvent()">{{$ctrl.editEvent.eventId | iif : "Save" : "Create"}}</span>
                            <!--<span class="text-button" data-ng-click="$ctrl.setEditEvent( null )">Cancel</span>-->
                        </span>
                    </div>
                </div>
            </form>
        </div>


        <div id="calendar-readonly-event-panel" class="modal-container" data-ng-if="$ctrl.viewEvent != null">
            <div class="modal-overlay" data-ng-click="$ctrl.clearViewEvent()"></div>
            <div class="ca-modal-dialog modal-sm">
                <h4>Event Details</h4>
                <form>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-12 form-label-popup">Date:</label>
                        <div class="col-sm-8 col-12">
                            <span>{{ $ctrl.viewEvent.dateOnly | date:'EEEE, MMMM d, yyyy' }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-12 form-label-popup">Time:</label>
                        <div class="col-sm-8 col-12">
                            {{ $ctrl.viewEvent.timeOnly || "All Day" }} <span data-ng-if="$ctrl.viewEvent.timeOnly">{{ $ctrl.currentTimeZoneAbbreviation }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-12 form-label-popup">What:</label>
                        <div class="col-sm-8 col-12">
                            {{ $ctrl.viewEvent.title }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-12 form-label-popup">Description:</label>
                        <div class="col-sm-8 col-12">
                            <div id="view-event-desc" data-ng-bind-html="$ctrl.viewEvent.description"></div>
                        </div>
                    </div>
                </form>

                <span class="text-link" data-ng-click="$ctrl.clearViewEvent()" style="position: absolute; bottom: 5px; right: 5px;">Close</span>
            </div>
        </div>

    </div>
</div>
