<div class="page page-my-profile margin-vertical padding white-bg spinner-effect">
    
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
    <div data-ng-show="$ctrl.needsToAcceptTerms" class="alert" style="margin-bottom:1em;">
        <p>
            Welcome! We're always ecstatic to see someone new join. Your information and privacy are important to
            us. Please take a moment to review our policies. Also, we recommend
            that you update your password to something different than what was emailed to you.
        </p>
        <p style="text-align:center; font-size: 1.25em;">
            <br />
            <a href="/TermsOfService.html" target="_blank" style="margin-left:12px;">Terms of Service</a>
            <a href="/PrivacyPolicy.html" target="_blank" style="margin-left:12px;">Privacy Policy</a>
            <br />
            <label style="cursor: pointer;"><input type="checkbox" style="margin-right: 1em;" data-ng-model="$ctrl.hasAcceptedTerms" />I accept these policies</label><br />
            <span style="font-size:small;">You must check the "I accept these policies" above then click "Save" below to continue.</span>
        </p>
    </div>
    <div id="my-profile" style="position:relative;">
        <div class="loading-overlay" style="background-image:none;" data-ng-show="$ctrl.needsToAcceptTerms && !$ctrl.hasAcceptedTerms"></div>

        <h2>Profile Information</h2>

        <div>
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item" style="cursor: pointer;">
                    <span class="nav-link" data-ng-class="{'active':$ctrl.selectedProfileView==='Primary'}" data-ng-click="$ctrl.selectedProfileView='Primary'">
                        Primary
                    </span>
                </li>
                <li class="nav-item" style="cursor: pointer;">
                    <span class="nav-link" data-ng-class="{'active':$ctrl.selectedProfileView==='Secondary'}" data-ng-click="$ctrl.selectedProfileView='Secondary'">
                        Secondary
                    </span>
                </li>
            </ul>
        </div>
        <hr />

        <form data-ng-if="$ctrl.selectedProfileView==='Primary'" class="row g-4">
            <div class="col-12">
                <label for="firstNameTextBox" class="form-label">
                    First Name:
                </label>
                <input id="firstNameTextBox" class="form-control form-control-sm" data-ng-model="$ctrl.profileInfo.firstName" type="text" />
            </div>

            <div class="col-12">
                <label for="lastNameTextBox" class="form-label">
                    Last Name:
                </label>
                <input id="lastNameTextBox" class="form-control form-control-sm" data-ng-model="$ctrl.profileInfo.lastName" type="text" />
            </div>

            <div class="col-12">
                <label for="emailTextBox" class="form-label">
                    Email:
                </label>
                <input id="emailTextBox" class="form-control form-control-sm" data-ng-model="$ctrl.profileInfo.email" type="text" />
                <div class="form-text">This is also used for login. Your email address will never be used for anything other than communication with your association and we will never give out your contact information.</div>
            </div>

            <div class="col-12">
                <label for="passwordTextBox" class="form-label">
                    Password:
                </label>
                <input id="passwordTextBox" class="form-control form-control-sm" data-ng-model="$ctrl.profileInfo.password" data-ng-change="$ctrl.onPasswordChange()" type="password" maxlength="100" autocomplete="new-password" />
                <div class="col-12">
                    <span class="form-text">
                        Enter a value to change your password.
                    </span>
                    <label style="font-size: small;" class="ms-2"><input type="checkbox" data-ng-model="$ctrl.shouldShowPassword" data-ng-change="$ctrl.onShowPassword()" /> Show password</label>
                    <div data-ng-if="$ctrl.profileInfo.password.length > 0" class="mb-2">
                        <b>Password Strength:</b>
                        <span class="status-pill red" data-ng-class="{'status-pill-selected':$ctrl.passwordComplexity === 'short'}">Too Short</span>
                        <span class="status-pill green" data-ng-class="{'status-pill-selected':$ctrl.passwordComplexity === 'simple'}">Simple</span>
                        <span class="status-pill green" data-ng-class="{'status-pill-selected':$ctrl.passwordComplexity === 'complex'}">Complex</span>
                        <br />
                        If you plan on using online payments, your password must be complex which means at least 12 characters and have at least one letter, number, and symbol. If not, a simple
                        password that is at least 6 characters of any type will suffice.
                    </div>
                </div>
            </div>

            <div class="col-12">
                <label for="phoneNumberTextBox" class="form-label">
                    Cell Phone Number:
                </label>
                <input id="phoneNumberTextBox" class="form-control form-control-sm" data-ng-model="$ctrl.profileInfo.phoneNumber" type="text" />
                <span class="form-text">Enter the phone number at which you can most frequently be contacted. This may be used by your neighbors in case of an emergency in your association. You can add an alternate phone number in the secondary tab.</span>
                <div data-ng-if="$ctrl.canHideContactInfo">
                    <br />
                    <label><input type="checkbox" id="showMyPhoneNumber" data-ng-model="$ctrl.profileInfo.showPhoneInMeetNeighbors" /> Show my phone number and email address on the <a href="#!/BuildingResidents">Residents</a> page.</label>
                        <div class="note-text">With this unchecked, your neighbors can still contact you, but we keep your email address private. If you check this box, you consent to sharing your actual email address and phone number.</div>
                    <br />
                </div>
            </div>

            <!--<div class="col-12">
                <label class="form-label">
                    SMS Consent:
                </label>
                <div class="col-8">
                    I consent to accept SMS from my association.
                    <label><input type="radio" />Yes</label>
                    <label><input type="radio" />No</label>
                    <span class="note-text">Answer yes to enable emergency notifications or announcements from your association. We will never still or market to your number. It will only be used for important announcements from your association.</span>
                </div>
            </div>-->

            <div class="col-12">
                <label class="form-label" for="includeInDiscussionEmailTextBox">
                    Discussion Email:
                </label>
                <input id="includeInDiscussionEmailTextBox" class="form-check-input" data-ng-model="$ctrl.profileInfo.includeInDiscussionEmail" type="checkbox" />
                <div class="form-text">Indicates if you want to receive emails sent to the discussion group email address.</div>
            </div>

            <div class="col-12">
                <label class="form-label" for="includeInDiscussionEmailTextBox">
                    Discussion Threads:
                </label>
                <div class="col-8">
                    <label style=""><input type="radio" data-ng-model="$ctrl.profileInfo.defaultDigestFrequency" value="none" name="digest-frequency" />None</label>
                    <label style="margin-left: 14px;"><input type="radio" data-ng-model="$ctrl.profileInfo.defaultDigestFrequency" value="instant" name="digest-frequency" />Immediately</label>
                    <label style="margin-left: 14px;"><input type="radio" data-ng-model="$ctrl.profileInfo.defaultDigestFrequency" value="nightly" name="digest-frequency" />Nightly</label>
                    <label style="margin-left: 14px;"><input type="radio" data-ng-model="$ctrl.profileInfo.defaultDigestFrequency" value="weekly" name="digest-frequency" />Weekly on Sunday</label>
                    <br />
                    <span class="form-text">When new discussion threads get created, this is how often you'll receive updates on missed comments. Only sent when on the premium plan. <a href="https://help.communityally.org/discussion-threads/" target="_blank">Learn about discussion threads.</a>.</span>
                </div>
            </div>
        </form>

        <form data-ng-if="$ctrl.selectedProfileView==='Secondary'" class="row g-4">
            <div class="col-md-6 col-sm-12">
                <div class="col-12">
                    <label class="form-label" for="alternate-phone-number-text-box">Alternate Phone:</label>
                    <input id="alternate-phone-number-text-box" type="text" maxlength="30" class="form-control form-control-sm" data-ng-model="$ctrl.profileInfo.alternatePhoneNumber" />
                </div>
            </div>

            <div class="col-12">
                <label class="fw-bold">Alternate Mailing Address</label>
                <span class="note-text">&nbsp;(Only set this if it differs from your home address)</span>
                <street-address-form data-street-address="$ctrl.profileInfo.mailingAddressObject"></street-address-form>
            </div>
        </form>

        <hr />

        <div style="text-align: center;">
            <button id="save-profile-button" data-ng-disabled="$ctrl.needsToAcceptTerms && !$ctrl.hasAcceptedTerms" class="btn btn-primary" style="float:none;"
                    data-ng-click="$ctrl.onSaveInfo();" type="button" value="Save" data-ng-style="$ctrl.saveButtonStyle">
                Save
            </button>
            <br />
            <span id="profile-error-label" style="font-weight: bold; font-size: 1.25em" data-ng-style="{color:'#0C0'}">{{ $ctrl.resultMessage }}</span>
        </div>
    </div>

    <script type="text/javascript">
        $( document ).ready( function()
        {
            $( "[id$='phoneNumberTextBox']" ).mask( "(999) 999-9999", { autoclear: false } );
        } );
    </script>
</div>

<div class="page page-my-profile margin-vertical padding white-bg spinner-effect">
    <div id="my-profile" style="position:relative;">
        <div class="loading-overlay" style="background-image:none;" data-ng-show="$ctrl.needsToAcceptTerms && !$ctrl.hasAcceptedTerms"></div>
        <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
        <h2>Profile Photo</h2>
        <div class="mb-3">
            If using a profile photo, you must use a photo of yourself (you can include family) and it cannot contain any nudity or profanity. Photos that don't meet these
            guidelines will be automatically cleared out. Ideally, use a head shot that will help your neighbors recognize you. The only exception is that property managers
            may use their company logo.
        </div>
        <div class="col-12">
            <div class="col-3"></div>
            <div class="col-9">
                <label class="mb-3"><input id="profile-image-radio-blank" type="radio" name="profile" data-ng-model="$ctrl.profileImageType" data-ng-click="$ctrl.saveProfilePhoto('blank')" value="blank" /><img src="/assets/images/blank-headshot.png" style="width: 80px; height: 80px;" /> Blank Image</label><br />
                <label class="mb-3"><input id="profile-image-radio-gravatar" type="radio" name="profile" data-ng-model="$ctrl.profileImageType" data-ng-click="$ctrl.saveProfilePhoto('gravatar')" value="gravatar" /><img data-ng-src="{{ $ctrl.gravatarUrl }}" style="width: 80px; height: 80px;" /> Gravatar (<a href="https://en.gravatar.com/" target="_blank">Learn more</a>)</label><br />
                <label><input id="profile-image-radio-photo" type="radio" name="profile" data-ng-model="$ctrl.profileImageType" value="upload" />Uploaded Photo</label>
                <div data-ng-show="$ctrl.profileImageType === 'upload'">
                    <div style="float: left; width: 82px; height: 82px; border: 1px solid black;">
                        <img id="profile-image-uploaded" data-ng-if="$ctrl.profileImageType === 'upload' && $ctrl.profileInfo.avatarUrl" style="width: 80px; height: 80px;" data-ng-src="{{$ctrl.profileInfo.avatarUrl}}" alt="Profile image" />
                    </div>
                    <div style="margin-left: 90px;">
                        <span>The image will be cropped to a square.</span><br />
                        <input id="JQFileUploader" type="file" name="files[]" data-url="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
