<div class="page-documents">
    <section class="padding white-bg padding margin-vertical box-shadow">
        <div data-ng-if="$ctrl.isLoading" class="loading-overlay"></div>
        <h1 data-ng-if="!$ctrl.canManage">{{ $ctrl.committee.name }}</h1>
        <h1 data-ng-if="$ctrl.canManage" class="can-edit-inline" data-onaftersave="$ctrl.onUpdateCommitteeName();" data-editable-text="$ctrl.committee.name">{{ $ctrl.committee.name }}</h1><br />
        <br />

        <nav class="nav nav-pills justify-content-center">
                
            <a class="nav-item nav-link" data-ng-href="#!/Committee/{{$ctrl.committeeId}}/Home" id="info-sub-view-link-docs"
                data-ng-class="{'active':$ctrl.selectedView==='Home'}" data-ng-click="$ctrl.selectedView='Home'">
                Home
            </a>
                
            <a class="nav-item nav-link" href="#!/Committee/{{$ctrl.committeeId}}/Docs" id="info-sub-view-link-docs"
                data-ng-class="{'active':$ctrl.selectedView==='Docs'}" data-ng-click="$ctrl.selectedView='Docs'">
                Documents
            </a>
                
            <a class="nav-item nav-link" href="#!/Committee/{{$ctrl.committeeId}}/Info" id="info-sub-view-link-info"
                data-ng-class="{'active':$ctrl.selectedView==='Info'}" data-ng-click="$ctrl.selectedView='Info'">
                Info/FAQs
            </a>
                
            <a class="nav-item nav-link" href="#!/Committee/{{$ctrl.committeeId}}/Members" id="info-sub-view-link-members"
                data-ng-class="{'active':$ctrl.selectedView==='Members'}" data-ng-click="$ctrl.selectedView='Members'">
                Members
            </a>

        </nav>
    </section>
        
    <committee-home data-ng-if="$ctrl.selectedView === 'Home'" data-committee="$ctrl.committee"></committee-home>
        
    <div class="padding white-bg margin-vertical spinner-effect" data-ng-if="$ctrl.selectedView === 'Docs'">
        <documents data-committee="$ctrl.committee"></documents>
    </div>
        
    <div class="padding white-bg margin-vertical spinner-effect" data-ng-if="$ctrl.selectedView === 'Info'">
        <faqs data-committee="$ctrl.committee"></faqs>
    </div>

    <div class="padding white-bg margin-vertical spinner-effect" data-ng-if="$ctrl.selectedView === 'Members'">
        <committee-members data-committee="$ctrl.committee"></committee-members>
    </div>
</div>