<section class="content-full-width" data-ng-if="welcomeMessage.length > 0">
    <div>
        <h3>Welcome!</h3>
        <div id="welcome-message-label">{{ welcomeMessage }}</div>
    </div>
</section>


<div class="row">
    <div class="col-md-6">
        <div class="generic portlet-box white margin-vertical" id="home-value-panel">
            <div class="portlet-header">
                <h3 class="title">To-Do's</h3>
            </div>
            <div class="portlet-body">
                <todo-list committee="$ctrl.committee"></todo-list>
            </div>
        </div>
        
        <group-send-email data-ng-if="$ctrl.canManage" committee="$ctrl.committee"></group-send-email>
    </div>

    <div class="col-md-6">
        <!--<group-comments thread-id="committee-home-{{ $ctrl.committee.committeeId }}"></group-comments>-->
        <group-comment-threads committee-id="$ctrl.committee.committeeId"></group-comment-threads>
    </div>
</div>