<div class="page page-manage-assessmenthistory">
    <h1>{{ $ctrl.pageTitle }}</h1>
    
    <div data-ng-if="$ctrl.shouldShowNeedsAssessmentSetup">
        <div data-ng-if="$ctrl.hasAssessments === false">
            Assessment tracking can only be enabled if you have regular assessments. You association indicated that you do not have regular assessments on the assessment questionnaire. If you need to change that, visit the bottom of <a href="#!/Financials/OnlinePayments">the online payments page</a>.
        </div>
        <div data-ng-if="$ctrl.hasAssessments !== false">
            Before you can start tracking assessments, you need to fill out the assessment questionnaire on <a href="#!/Financials/OnlinePayments">the online payments page</a>.
        </div>
    </div>

    <div data-ng-if="!$ctrl.shouldShowNeedsAssessmentSetup">
        <p data-ng-if="!$ctrl.isForMemberGroup">
            <label><input id="enable-tracking-checkbox" type="checkbox" data-ng-change="$ctrl.onChangePeriodicPaymentTracking()" data-ng-model="$ctrl.isPeriodicPaymentTrackingEnabled">Enable Payment History for Residents</label><br>
            <span style="font-size:small;">By enabling the payment history, residents will be able to see what {{ $ctrl.payPeriodName }} they're paying for. As payments are made, this chart will be automatically updated. Be certain to have at least each home's most recent payment recorded because that is how residents will know what payment they're making next.</span>
        </p>
        <p class="clearfix">
            <label><input type="checkbox" data-ng-model="$ctrl.showPaymentInfo" data-ng-change="$ctrl.onshowPaymentInfo()">Show Payment Amounts</label>
            <label class="ms-3" data-ng-if="$ctrl.showPaymentInfo"><input type="checkbox" data-ng-model="$ctrl.shouldColorCodePayments" data-ng-change="$ctrl.onshowPaymentInfo()">Color-code Paid/Partial</label>
            <label class="ms-3" title="This will show the simple calculation of a home's assessment amount multiplied by the # payments missed since the last payment. Late fees and gaps in payments are not included." data-toggle="tooltip"><input type="checkbox" data-ng-model="$ctrl.shouldShowBalanceCol" data-ng-change="$ctrl.onshowBalanceCol()">Show Est. Balance</label>
            <button class="btn btn-primary ms-3" data-ng-click="$ctrl.showCreateSpecialAssessment()" type="button">Add Special Assessment</button>
        </p>
        <div data-ng-if="$ctrl.shouldShowFillInSection" style="padding: 10px; border: 1px solid black;">
            You can speed things up by marking all homes as paid back to a certain date.<br />
            <br />
            Set all homes paid for period:
            <select data-ng-model="$ctrl.selectedFillInPeriod" data-ng-options="p as p.name for p in $ctrl.visiblePeriodEntries"></select>
            <button type="button" data-ng-click="$ctrl.populatePaidForPeriod()" class="btn btn-primary">Mark As Paid</button>
        </div>
        <div class="margin-top-10 spinner-effect">
            <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

            <div>
                <span class="text-link" style="margin-left: 15%;" data-ng-click="$ctrl.browseFuture()">Ahead 6 {{ $ctrl.payPeriodName }}s</span>
                <span class="text-link pull-right" data-ng-click="$ctrl.browsePast()">Back 6 {{ $ctrl.payPeriodName }}s</span>
            </div>

            <span class="note-text">Click on a cell to edit payment</span>

            <!--The main table of payments-->
            <table id="assessment-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-end" style="width: 15%;">

                        </th>
                        <th data-ng-if="$ctrl.shouldShowBalanceCol">
                            Est. Balance
                        </th>
                        <th data-ng-repeat="period in $ctrl.visiblePeriodEntries" class="text-center" data-ng-click="$ctrl.onPeriodHeaderClick( period )" data-ng-style="{'font-size': $ctrl.isForMemberGroup ? '1.1em' : '', 'background-color': period.isTodaysPeriod ? '#EEF' : 'default', 'color' : period.specialAssessmentId ? 'blue' : 'default', 'cursor' : period.specialAssessmentId ? 'pointer' : 'default', 'font-size': period.specialAssessmentId ? 'small' : 'default' }">
                            {{ period.name }}
                            <div data-ng-if="period.specialAssessmentId" class="note-text" style="font-size: xx-small;">(Special)</div>
                        </th>
                    </tr>
                </thead>

                <tbody data-ng-if="$ctrl.showRowType === 'unit'">
                    <tr data-ng-repeat="unit in $ctrl.nameSortedUnitPayments" ng-init="unitIndex = $index">
                        <td class="text-bold text-end">
                            <span title="{{ unit.unitId }}">{{ unit.name }}</span>
                            <div class="unit-owner-names ellipsis" title="{{ owner.name }}" ng-repeat="owner in unit.displayOwners">{{ owner.name ? owner.name : "&nbsp;" }}</div>
                        </td>
                        <td data-ng-if="$ctrl.shouldShowBalanceCol">
                            {{ unit.estBalance | currency }}
                        </td>
                        <td ng-repeat="payment in unit.displayPayments" id="pay-cell-{{ unitIndex }}-{{ $index }}" class="month-cell" data-ng-click="$ctrl.onUnitPaymentCellClick( unit, payment )">
                            <div data-ng-if="!$ctrl.showPaymentInfo">
                                <img src="/assets/images/check.png" data-ng-show="payment.isPaid">
                            </div>
                            <div data-ng-if="$ctrl.showPaymentInfo">
                                <div data-ng-if="!payment.isEmptyEntry && payment.amount != 0">
                                    <div data-ng-if="$ctrl.shouldColorCodePayments">
                                        <span data-ng-style="{'color': payment.amount !== null && payment.amount != undefined && !payment.isPaid ? 'red' : 'black'}">{{ payment.amount | currency }}</span>
                                    </div>
                                    <div data-ng-if="!$ctrl.shouldColorCodePayments">{{ payment.amount | currency }}</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tbody data-ng-if="$ctrl.showRowType === 'member'">
                    <tr data-ng-repeat="payer in $ctrl.payers" ng-init="memberIndex = $index">
                        <td class="text-bold text-end">
                            {{ payer.name }}
                        </td>
                        <td ng-repeat="payment in payer.displayPayments" id="pay-cell-{{ memberIndex }}-{{ $index }}" class="month-cell" data-ng-click="$ctrl.onMemberPaymentCellClick( payer, payment )">
                            <div data-ng-if="!$ctrl.showPaymentInfo">
                                <img src="/assets/images/check.png" data-ng-show="payment.isPaid">
                            </div>
                            <div data-ng-if="$ctrl.showPaymentInfo">
                                <span data-ng-show="payment.isPaid">{{ payment.amount | currency }}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr data-ng-if="$ctrl.showPaymentInfo" class="text-bold">
                        <th class="text-end">Sum:</th>
                        <th data-ng-if="$ctrl.shouldShowBalanceCol">
                            {{ $ctrl.totalEstBalance | currency }}
                        </th>
                        <th data-ng-repeat="period in $ctrl.visiblePeriodEntries" id="bottomsum-cell-{{ unitIndex }}-{{ $index }}" class="month-cell">
                            {{ $ctrl.getPaymentSumForPayPeriod( $index ) | currency }}
                        </th>
                    </tr>
                </tfoot>

            </table>
            <div class="text-end mb-1">
                Export To: <a data-ng-href="{{$ctrl.baseApiUri}}PublicPaymentHistory/Xlsx?vid={{ $ctrl.viewExportViewId }}" data-ng-click="$ctrl.onExportClick('Xlsx')" download="AssessmentHistory.xlsx">Excel (xslx)</a> or <a data-ng-href="{{$ctrl.baseApiUri}}PublicPaymentHistory/Csv?vid={{ $ctrl.viewExportViewId }}" data-ng-click="$ctrl.onExportClick('Csv')" download="AssessmentHistory.csv">CSV</a>
            </div>

            <div class="text-end">
                <span class="text-link note-text" data-ng-click="$ctrl.showBulkSet()">Show Bulk Set</span>
            </div>
        </div>


        <div id="edit-payment-container" class="modal-container" data-ng-show="$ctrl.editPayment" data-ng-escape="$ctrl.editPayment = null">
            <div class="modal-overlay" data-ng-click="$ctrl.editPayment = null"></div>
            <div class="ca-modal-dialog modal-sm">
                <div class="loading-overlay" data-ng-show="$ctrl.isSavingPayment"></div>

                <span style="float: right;" class="close-x" data-ng-click="$ctrl.editPayment = null">&times;</span>
                <h3>Payment for {{$ctrl.editPayment.periodName}} {{$ctrl.editPayment.payment.year}}</h3>
                <form>
                    <div class="mb-3 row px-3">
                        <label class="col-6 col-sm-4 form-label" for="is-paid-checkbox">PAID:</label>
                        <div class="col-6 col-sm-8 px-0">
                            <input id="is-paid-checkbox" type="checkbox" data-ng-model="$ctrl.editPayment.payment.isPaid" />
                        </div>
                    </div>

                    <div class="mb-3 row px-3">
                        <label class="col-sm-4 form-label">Amount:</label>
                        <div class="col-sm-8 px-0">
                            <input type="text" id="paid-amount-textbox" class="form-control form-control-sm" data-ng-model="$ctrl.editPayment.payment.amount" />
                        </div>
                    </div>

                    <div class="mb-3 row px-3">
                        <label class="col-sm-4 form-label">Check Number:</label>
                        <div class="col-sm-8 px-0">
                            <input type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editPayment.payment.checkNumber" />
                            <span class="text-link" data-ng-if="$ctrl.editPayment.payment.wePayCheckoutId && !$ctrl.editPayment.payment.paymentsInfoId" data-ng-click="$ctrl.viewWePayDetails($ctrl.editPayment.payment.wePayCheckoutId)">View WePay Payment Details</span>
                            <span class="text-link" data-ng-if="$ctrl.editPayment.payment.paymentsInfoId" data-ng-click="$ctrl.viewOnlinePaymentDetails($ctrl.editPayment.payment.paymentsInfoId)">View Online Payment Details</span>
                        </div>
                    </div>

                    <div class="mb-3 row px-3" data-ng-if="$ctrl.showRowType === 'unit'">
                        <label class="col-sm-4 form-label">Paid By:</label>
                        <div class="col-sm-8 px-0">
                            <select class="form-control form-control-sm" data-ng-model="$ctrl.editPayment.payment.payerUserId" data-ng-options="p.userId as p.name for p in $ctrl.payers"></select>
                            <select class="form-control form-control-sm form-select" data-ng-if="false" data-ng-model="$ctrl.editPayment.payment.payerUserId">
                                <option data-ng-repeat="owner in $ctrl.editPayment.unit.owners" value="{{ owner.userId }}">{{ owner.name }}</option>
                                <option disabled="disabled">--------------</option>
                                <option data-ng-repeat="payer in $ctrl.editPayment.filteredPayers" value="{{ payer.userId }}">{{ payer.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row px-3">
                        <label class="col-sm-4 form-label">Payment Date:</label>
                        <div class="col-sm-8 px-0">
                            <input type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editPayment.payment.paymentDate" data-ui-date />
                        </div>
                    </div>

                    <div>
                        <label class="form-label" title="PP: {{$ctrl.editPayment.payment.paymentId}}, PI: {{$ctrl.editPayment.payment.paymentsInfoId}}">Payer notes:</label>
                        <textarea class="form-control" data-ng-model="$ctrl.editPayment.payment.payerNotes" rows="2" readonly="readonly" disabled></textarea>
                    </div>

                    <div>
                        <label class="form-label">Notes:</label>
                        <textarea class="form-control" data-ng-model="$ctrl.editPayment.payment.notes" rows="2"></textarea>
                    </div>

                    <div class="text-end mt-3">
                        <input id="save-edit-button" class="btn btn-primary" type="button" value="Save" data-ng-click="$ctrl.onSavePayment($event)" />
                        <!--<input id="cancel-edit-button" class="btn btn-primary" type="button" value="Cancel" data-ng-click="$ctrl.editPayment = null" />-->
                    </div>
                </form>
            </div>
        </div>

        <div id="create-special-assessment-container" class="modal-container" data-ng-if="$ctrl.editSpecialAssessment" data-ng-escape="$ctrl.editSpecialAssessment = null">
            <div class="modal-overlay" data-ng-click="$ctrl.editSpecialAssessment = null"></div>
            <form class="ca-modal-dialog">
                <span style="float: right;" class="close-x" data-ng-click="$ctrl.editSpecialAssessment = null">&times;</span>
                <h3>{{$ctrl.editSpecialAssessment.specialAssessmentId ? 'Edit' : 'Create'}} Special Assessment</h3>

                <div class="mb-3">
                    <label for="specialAssessmentName" class="form-label fw-bold">Name/Title</label>
                    <input type="text" class="form-control" id="specialAssessmentName" data-ng-model="$ctrl.editSpecialAssessment.assessmentName">
                </div>
                <div class="mb-3">
                    <label for="specialAssessmentDate" class="form-label fw-bold">Assessment Date</label>
                    <input id="specialAssessmentDate" type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editSpecialAssessment.assessmentDate" data-ui-date />
                    <div class="form-text">When this assessment was levied</div>
                </div>
                <div class="mb-3">
                    <label for="specialAssessmentAmount" class="form-label fw-bold">Amount</label>
                    $<input id="specialAssessmentAmount" type="number" class="form-control form-control-sm" data-ng-model="$ctrl.editSpecialAssessment.amount" />
                    <div class="form-text">Leave blank if different for each home</div>
                </div>
                <div class="mb-3">
                    <label for="specialAssessmentDescription" class="form-label fw-bold">Description</label>
                    <textarea rows="4" class="form-control" id="specialAssessmentDescription" data-ng-model="$ctrl.editSpecialAssessment.description"></textarea>
                    <div class="form-text">OPTIONAL. Indicate what the assessment is for. If each home pays a different amount, remind them of that amount or how to find that amount.</div>
                </div>
                <div class="mb-3">
                    <label for="specialAssessmentDueDate" class="form-label fw-bold">Due Date</label>
                    <input id="specialAssessmentDueDate" type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editSpecialAssessment.dueDate" data-ui-date />
                    <div class="form-text">OPTIONAL. If there's a due date for payment</div>
                </div>
                <div class="mb-3">
                    <label for="specialAssessmentLateFeeAmount" class="form-label fw-bold">Late Fee</label>
                    <input id="specialAssessmentLateFeeAmount" type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editSpecialAssessment.lateFeeAmount" />
                    <div class="form-text">OPTIONAL. If there's an additional fee if paid after the due date</div>
                </div>
                <div class="text-end">
                    <input class="btn btn-danger" data-ng-if="$ctrl.editSpecialAssessment.specialAssessmentId" type="button" value="Delete" data-ng-click="$ctrl.onDeleteSpecialAssessment();" />
                    <input class="btn btn-primary" type="button" value="Save" data-ng-click="$ctrl.onSaveSpecialAssessment();" />
                </div>
            </form>
        </div>
    </div>
</div>