<div class="page-documents">
    <section class="padding white-bg padding margin-vertical box-shadow header-pill-menu-section">
        <h3>Financials</h3>

        <nav class="nav nav-pills justify-content-center">
            <a class="nav-item nav-link" href="#!/Financials/OnlinePayments"
               data-ng-class="{'active':$ctrl.selectedView==='OnlinePayments'}">
                Online Payments
            </a>

            <a class="nav-item nav-link" href="#!/Financials/AssessmentHistory"
               data-ng-class="{'active':$ctrl.selectedView==='AssessmentHistory'}">
                Assessment History
            </a>

            <a class="nav-item nav-link" data-ng-href="#!/Financials/BankTransactions"
               data-ng-class="{'active':$ctrl.selectedView==='BankTransactions'}">
                Transactions
            </a>

            <a class="nav-item nav-link" href="#!/Financials/Reports"
               data-ng-class="{'active':$ctrl.selectedView==='Reports'}">
                Reports
            </a>

            <a class="nav-item nav-link" href="#!/Financials/Budgets"
               data-ng-class="{'active':$ctrl.selectedView==='Budgets'}">
                Budgets
            </a>
        </nav>
    </section>

    <manage-payments data-ng-if="$ctrl.selectedView === 'OnlinePayments'"></manage-payments>

    <assessment-history data-ng-if="$ctrl.selectedView === 'AssessmentHistory'"></assessment-history>

    <ledger data-ng-if="$ctrl.selectedView === 'BankTransactions'"></ledger>

    <financial-reports data-ng-if="$ctrl.selectedView === 'Reports'"></financial-reports>

    <budget-tool data-ng-if="$ctrl.selectedView === 'Budgets'"></budget-tool>
</div>