<div class="modal-container">
    <div class="modal-overlay" data-ng-click="$ctrl.closeManager()"></div>
    <div class="ca-modal-dialog container">
        <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
        <div class="row">
            <div class="col-12">
                <span style="float:right" class="close-x" data-ng-click="$ctrl.closeManager()">×</span>
                <h2>Manage Categories</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <select class="form-control form-control-sm" size="10" style="height: 400px; font-family: monospace;" data-ng-options="c as c.dropDownLabel for c in $ctrl.flatCategoryList" data-ng-model="$ctrl.selectedCategory" data-ng-change="$ctrl.onCategorySelected()"></select>
            </div>
            <div class="col-6">
                <h3 data-ng-if="!$ctrl.selectedCategory">Select a category from the list to edit.</h3>
                <div data-ng-if="$ctrl.selectedCategory">

                    <div data-ng-if="!$ctrl.shouldShowDeleteCategoryArea">
                        Name: <input type="text" data-ng-model="$ctrl.editName" maxlength="128" />
                        <div class="mt-2">
                            <button type="button" class="btn btn-primary" data-ng-click="$ctrl.updateCategoryName()">Save</button>
                            <button type="button" class="btn btn-danger" data-ng-click="$ctrl.shouldShowDeleteCategoryArea = true; $ctrl.shouldShowNewCategoryArea = false;">Delete Category</button>
                        </div>
                    </div>

                    <fieldset style="width: 100%;" data-ng-if="$ctrl.shouldShowDeleteCategoryArea">
                        <legend style="font-size: 1em;">Delete Category</legend>
                        <div>
                            This will delete the '{{$ctrl.selectedCategory.displayName}}' category.
                            <br />
                            <br />
                            Reassign ledger entries to: <span class="note-text">optional</span>
                            <select class="form-control form-control-sm" data-ng-options="c as c.dropDownLabel for c in $ctrl.flatCategoryList" data-ng-model="$ctrl.deleteCategoryRessignTo">
                                <option></option>
                            </select>
                            <div class="text-right mt-3">
                                <button type="button" class="btn btn-danger" data-ng-click="$ctrl.deleteCategory()">Delete Category</button>
                                <button type="button" class="btn btn-secondary" data-ng-click="$ctrl.shouldShowDeleteCategoryArea = false">Cancel</button>
                            </div>
                        </div>
                    </fieldset>

                    <div class="mt-5" data-ng-if="!$ctrl.shouldShowDeleteCategoryArea">
                        <button data-ng-if="!$ctrl.shouldShowNewCategoryArea" type="button" class="btn btn-primary" data-ng-click="$ctrl.showNewCategoryArea()">Add New Category</button>
                        <fieldset style="width: 100%;" data-ng-if="$ctrl.shouldShowNewCategoryArea">
                            <legend style="font-size: 1em;">Add New Category</legend>
                            <div>
                                Name:
                                <input type="text" data-ng-model="$ctrl.newName" data-ng-enter="$ctrl.saveNewCategory()" maxlength="128" />
                                <br />
                                <br />
                                Parent Category:
                                <select class="form-control form-control-sm" data-ng-options="c as c.dropDownLabel for c in $ctrl.flatCategoryList" data-ng-model="$ctrl.newCategoryParent">
                                    <option></option>
                                </select>
                                <div class="text-right mt-3">
                                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.saveNewCategory()">Save New</button>
                                    <button type="button" class="btn btn-secondary" data-ng-click="$ctrl.shouldShowNewCategoryArea = false">Cancel</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
