<div class="page-documents">
    <section class="padding white-bg padding margin-vertical box-shadow header-pill-menu-section">
        <h3>Financials</h3>

        <nav class="nav nav-pills justify-content-center">
            <a class="nav-item nav-link" href="#!/Financials/OnlinePayments"
               data-ng-class="{'active':$ctrl.selectedView==='OnlinePayments'}">
                Online Payments
            </a>
            
            <a class="nav-item nav-link" data-ng-href="#!/Financials/Transactions"
                   data-ng-class="{'active':$ctrl.selectedView==='Transactions'}">
                Ledger
            </a>

            <a class="nav-item nav-link" href="#!/Financials/AssessmentHistory"
               data-ng-class="{'active':$ctrl.selectedView==='AssessmentHistory'}">
                Assessment History
            </a>

            <a class="nav-item nav-link" href="#!/Financials/Budgets"
               data-ng-class="{'active':$ctrl.selectedView==='Budgets'}">
                Budgets
            </a>

            <a class="nav-item nav-link" href="#!/Financials/Reports"
               data-ng-class="{'active':$ctrl.selectedView==='Reports'}">
                Reports
            </a>
        </nav>
    </section>

    <div class="padding white-bg margin-vertical spinner-effect" data-ng-if="$ctrl.selectedView === 'Transactions'">
        Coming soon! Keep track of your association's spending and automatically sync bank account activity.
    </div>

    <manage-payments data-ng-if="$ctrl.selectedView === 'OnlinePayments'"></manage-payments>

    <assessment-history data-ng-if="$ctrl.selectedView === 'AssessmentHistory'"></assessment-history>

    <div class="padding white-bg margin-vertical spinner-effect" data-ng-if="$ctrl.selectedView === 'Budgets'">
        Coming soon! Easily and quickly create budgets from scratch, from previous years, or from spending activty.
    </div>

    <div class="padding white-bg margin-vertical spinner-effect" data-ng-if="$ctrl.selectedView === 'Reports'">
        Coming soon! View helpful reports to get an idea where your association stands financially.
    </div>
</div>