<div class="page page-manage-payments" style="min-height: 100px;">
    <div data-ng-if="$ctrl.isLoading" class="loading-overlay"></div>
    <h1 style="display: inline;">Association Ledger</h1>
    <span class="ml-4" style="color: blue; font-size: large; font-weight: bold;" title="We're looking for helpful feedback!">Beta</span>
    <p>
        Here you can track, categorize, and notate your association's spending and income. You can connect your bank account so that transactions are
        synchronized automatically.
    </p>
    <div class="container">
        <div data-ng-if="$ctrl.isLoading" class="loading-overlay"></div>
        <div class="row">
            <div class="col-10 pl-0">
                <fieldset style="width: 100%;">
                    <legend style="font-size: 1em;">Bank Accounts</legend>
                    <div>
                        <span data-ng-repeat="curAccount in $ctrl.ledgerAccounts">
                            <input class="ui-helper-hidden" type="checkbox" data-ng-model="curAccount.shouldShowInGrid" data-ng-change="$ctrl.updateLocalFilter()" />
                            <span class="text-link mr-3" data-ng-click="$ctrl.openEditAccountModal(curAccount)">{{curAccount.accountName}}</span>
                        </span>
                        <button class="btn btn-primary btn-sm mr-3" data-ng-click="$ctrl.showAddAccount()" type="button">Add Account</button>
                        <span data-ng-if="$ctrl.hasPlaidAccounts" class="text-link note-text" data-ng-click="$ctrl.syncPlaidAccounts()">Force Sync Recent Transactions</span>
                    </div>
                </fieldset>
            </div>
            <div class="col-2 text-right">
                <button class="btn btn-primary" type="button" data-ng-click="$ctrl.onAddTransaction()">Add Transaction</button>
                <br />
                <span class="note-text text-link" data-ng-click="$ctrl.shouldShowCategoryEditModal = true">Manage Categories</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pl-0">
                <fieldset style="width: 100%;">
                    <legend style="font-size: 1em;">Date Range</legend>
                    <div>
                        <span class="mr-5 ui-helper-hidden">Description: <input type="text" data-ng-model="$ctrl.filter.description" data-ng-change="$ctrl.onFilterDescriptionChange()" data-ng-model-options="{ debounce: 500 }" /></span>
                        <span class="mr-5">
                            <select data-ng-change="$ctrl.selectPresetDateRange()" data-ng-model="$ctrl.filterPresetDateRange" style="border: none;">
                                <option value="thisMonth">This Month</option>
                                <option value="lastMonth">Last Month</option>
                                <option value="thisYear">This Year</option>
                                <option value="lastYear">Last Year</option>
                                <option value="oneYear">One Year</option>
                                <option value="custom">Custom</option>
                            </select>
                            <input type="text" data-ng-model="$ctrl.filter.startDate" data-ui-date style="width: 100px;" data-ng-change="$ctrl.refreshEntries()" />
                            to
                            <input type="text" data-ng-model="$ctrl.filter.endDate" data-ui-date style="width: 100px;" data-ng-change="$ctrl.refreshEntries()" />
                        </span>
                        <span class="ui-helper-hidden">Category: <select><option>Test</option></select></span>

                        <div data-ng-if="$ctrl.spendingChartData" style="width: 400px; height: 150px; display: inline-block; float: right;">
                            <div style="width: 200px; height: 150px; display: inline-block;">
                                <canvas width="200" height="150" class="chart chart-doughnut" data-chart-data="$ctrl.spendingChartData" data-chart-labels="$ctrl.spendingChartLabels" legend="true"></canvas>
                            </div>
                            <div style="display: inline-block; width: 200px;">
                                <div data-ng-repeat="curEntry in $ctrl.spendingChartLabels">{{$index + 1}}. {{curEntry}} {{$ctrl.spendingChartData[$index] | currency}}</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <h4 class="m-3" data-ng-if="$ctrl.ledgerAccounts.length === 0">
        Get started by adding an account using the button above.
    </h4>

    <div style="position: relative;">
        <div data-ng-if="$ctrl.isLoading || $ctrl.isLoadingEntries" class="loading-overlay"></div>
        <div data-ui-grid="$ctrl.ledgerGridOptions" ui-grid-resize-columns ui-grid-pagination ui-grid-edit ui-grid-cellNav class="gridStyle margin-top-20"></div>
        <div style="height: 20px;"></div> <!-- Need to do because of the ui-grid footer floats -->
    </div>

    <div data-ng-if="$ctrl.editingTransaction" class="modal-container">
        <div class="modal-overlay" data-ng-click="$ctrl.editingTransaction = null"></div>
        <div class="ca-modal-dialog modal-lg container">
            <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
            <h2 title="{{$ctrl.editingTransaction.ledgerEntryId}}">Transaction Details</h2>
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Date:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control form-control-sm" data-ui-date data-ng-model="$ctrl.editingTransaction.transactionDate" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Amount:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="number" class="form-control form-control-sm" step=".01" pattern="^\d+(?:\.\d{1,2})?$" data-ng-model="$ctrl.editingTransaction.amount" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-2 col-xs-12">Description:</label>
                        <div class="col-sm-10 col-xs-12">
                            <input type="text" class="form-control form-control-sm" data-ng-enter="$ctrl.onSaveEntry()" data-ng-model="$ctrl.editingTransaction.description" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Category:</label>
                        <div class="col-sm-8 col-xs-12">
                            <select class="form-control form-control-sm" data-ng-options="c.financialCategoryId as c.dropDownLabel for c in $ctrl.flatCategoryList" data-ng-model="$ctrl.editingTransaction.financialCategoryId" data-ng-change="$ctrl.onEditTransactionCategoryChange()">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Account:</label>
                        <div class="col-sm-8 col-xs-12">
                            <select class="form-control form-control-sm" data-ng-options="a.ledgerAccountId as a.accountName for a in $ctrl.ledgerAccounts" data-ng-model="$ctrl.editingTransaction.ledgerAccountId"></select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 text-right">
                    <button id="save-entry-button" class="btn btn-primary" type="button" value="Save" data-ng-click="$ctrl.onSaveEntry()">Save</button>
                    <button id="cancel-entry-button" class="btn btn-secondary" type="button" value="Cancel" data-ng-click="$ctrl.editingTransaction = null">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="$ctrl.createAccountInfo" class="modal-container">
        <div class="modal-overlay" data-ng-click="$ctrl.closeAccountAndReload()"></div>
        <div class="ca-modal-dialog modal-lg container">
            <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
            <h2 class="mb-4">Create Account</h2>
            <div data-ng-if="$ctrl.createAccountInfo.type === null" class="row">
                <div class="col-6 text-center">
                    <button data-ng-if="$ctrl.isPremiumPlanActive" type="button" class="btn btn-primary" data-ng-click="$ctrl.startPlaidFlow()">Sync Account</button>
                    <b data-ng-if="!$ctrl.isPremiumPlanActive">Sync accounts are only available on <a href="https://help.communityally.org/why-go-premium/" target="_blank">our premium plan</a>.</b>
                    <div class="note-text">Our software will automatically retrieve categorized transactions from your bank via <a href="https://plaid.com/security/" target="_blank">Plaid</a>.</div>
                </div>

                <div class="col-6 text-center">
                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.createAccountInfo.type = 'manual'">Manual Account</button>
                    <div class="note-text">You will manually add an categorize transactions.</div>
                </div>
            </div>

            <div data-ng-if="$ctrl.createAccountInfo.type === 'plaid'" class="row">
                <div class="col-12 text-center" data-ng-if="$ctrl.newPlaidAccounts.length === 0">
                    Launching Plaid setup...
                </div>

                <div class="col-12">
                    Created Accounts:
                    <table>
                        <thead>

                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                    <div data-ng-repeat="curAccount in $ctrl.newPlaidAccounts">
                        <div>{{$index + 1}}. {{curAccount.accountName}}</div>
                    </div>
                    <div class="m-2">
                        Plaid will begin processing your records immediately, but it still takes some time. Come back in 5-10 minutes and you should see the first batch of transactions loaded covering the last 30 days. After
                        around 30 minutes you should see as far back as your bank allows, this can vary from 90 days to 2 years.
                    </div>
                </div>

                <div class="col-sm-12 text-right">
                    <button class="btn btn-primary" type="button" data-ng-click="$ctrl.closeAccountAndReload()">Close</button>
                </div>
            </div>

            <div data-ng-if="$ctrl.createAccountInfo.type === 'manual'" class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Name:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="new-account-name-field" type="text" class="form-control form-control-sm" data-ng-enter="$ctrl.onSaveNewAccount()" data-ng-model="$ctrl.createAccountInfo.name" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 text-right">
                    <button id="save-entry-button" class="btn btn-primary" type="button" value="Save" data-ng-click="$ctrl.onSaveNewAccount()">Save</button>
                    <button id="cancel-entry-button" class="btn btn-primary" type="button" value="Cancel" data-ng-click="$ctrl.createAccountInfo = null">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="$ctrl.editAccount" class="modal-container">
        <div class="modal-overlay" data-ng-click="$ctrl.editAccount = null"></div>
        <div class="ca-modal-dialog modal-sm container">
            <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
            <h2 class="mb-4">Edit Account</h2>

            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Name:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editAccount.accountName" data-ng-enter="$ctrl.onEditAccount()" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Type:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editAccount.accountType" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Bank:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control form-control-sm" data-ng-if="$ctrl.editAccount.syncType !== 'plaid'" data-ng-model="$ctrl.editAccount.bankName" />
                            <span data-ng-if="$ctrl.editAccount.syncType === 'plaid'">{{$ctrl.editAccount.bankName}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Added:</label>
                        <div class="col-sm-8 col-xs-12">{{$ctrl.editAccount.createdDateUtc | date:'short'}}</div>
                    </div>
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Sync Type:</label>
                        <div class="col-sm-8 col-xs-12">
                            {{$ctrl.editAccount.syncType}}
                        </div>
                    </div>
                    <div class="form-group row" data-ng-if="$ctrl.editAccount.syncLastUpdatedUtc">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Last Sync:</label>
                        <div class="col-sm-8 col-xs-12">{{$ctrl.editAccount.syncLastUpdatedUtc | date:'medium'}}</div>
                    </div>
                    <div class="form-group row" data-ng-if="$ctrl.editAccount.syncBalance">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">Sync Balance:</label>
                        <div class="col-sm-8 col-xs-12">{{$ctrl.editAccount.syncBalance | currency}}</div>
                    </div>
                </div>

                <div class="col-sm-12 text-right">
                    <button id="save-entry-button" class="btn btn-primary" type="button" value="Save" data-ng-click="$ctrl.onEditAccount()">Save</button>
                    <button id="cancel-entry-button" class="btn btn-primary" type="button" value="Cancel" data-ng-click="$ctrl.editAccount = null">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <financial-category-manager data-ng-if="$ctrl.shouldShowCategoryEditModal" data-on-closed="$ctrl.onCategoryManagerClosed(didMakeChanges)"></financial-category-manager>
</div>
