<div class="page page-manage-payments" style="min-height: 100px;">
    <div data-ng-if="!$ctrl.showPaymentPage">
        We're currently having some trouble with our payment provider regarding growing fees so we're not able to
        sign-up new online payment accounts at this time.
    </div>

    <div data-ng-if="$ctrl.showPaymentPage">
        <div class="loading-overlay" data-ng-if="$ctrl.isLoading"></div>

        <div class="error-text">{{ $ctrl.errorMessage }}</div>

        <div data-ng-if="$ctrl.hasLoadedPage" class="row">


            <div id="sign-up-panel" data-ng-if="$ctrl.hasAssessments == null" class="col-lg-9 col-md-12">
                <div data-ng-show="$ctrl.isLoading" class="loading-overlay"></div>

                <div data-ng-switch on="$ctrl.signUpStep">
                    <div ng-switch-when="0">
                        Before you can start collecting payments, please answer a few questions.<br><br>
                        <span>Does your association collect regular assessments?<br>(Sometimes called association, or common area, fees, or dues)</span><br>
                        <span id="periodic-payment-does-collect" class="text-link" data-ng-click="$ctrl.signUp_HasAssessments(true)">Yes</span><br>
                        <span id="periodic-payment-doesnt-collect" class="text-link" data-ng-click="$ctrl.signUp_HasAssessments(false)">No</span><br>
                    </div>

                    <div ng-switch-when="1">
                        <span>How often do residents pay assessments?</span><br>
                        <div data-ng-repeat="timeUnit in $ctrl.periodicPaymentFrequencies" style="margin-bottom: 10px;">
                            <div class="text-link" data-ng-click="$ctrl.signUp_AssessmentFrequency( $index )">{{ timeUnit.name }}</div>
                            <div class="note-text" data-ng-if="timeUnit.signUpNote">{{ timeUnit.signUpNote }}</div>
                        </div>
                    </div>

                    <div ng-switch-when="2">
                        <span>How much does each unit pay?</span><br>
                        <div>
                            <small>
                                Make sure to enter the full amount. Do not include any discounts residents might receive
                                due to board positions or special situations, for example. You will be able add those
                                discounts or adjustments later.
                            </small>
                        </div>
                        <br>
                        <div data-ng-show="$ctrl.signUpInfo.allPayTheSame">
                            Every unit pays <input class="form-control form-control-sm" style="width: 90px;" data-ng-model="$ctrl.signUpInfo.allPayTheSameAmount" type="number"> per <span>{{ $ctrl.periodicPaymentFrequencies[ $ctrl.signUpInfo.frequencyIndex ].intervalName }}</span>.<br>
                            <span class="text-link" data-ng-click="$ctrl.signUpInfo.allPayTheSame=false">Click here if each unit pays a different amount.</span>
                        </div>
                        <div data-ng-hide="$ctrl.signUpInfo.allPayTheSame">
                            <table border="1" class="text-start">
                                <thead>
                                    <tr>
                                        <th>Unit</th>
                                        <th>Base Assessment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="unit in $ctrl.signUpInfo.units">
                                        <td>{{ unit.name }}</td>
                                        <td><input data-ng-model="unit.assessment" style="width:125px;"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="font-weight: bold;">
                                        <td>Total</td>
                                        <td>{{ $ctrl.getSignUpSum() | currency }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <br>
                        <span class="btn btn-primary" data-ng-click="$ctrl.signUp_Commit()">Done</span>
                    </div>
                </div>
            </div>

            <div data-ng-if="$ctrl.hasAssessments != null">
                <h3>Online Payment Settings</h3>

                <form data-ng-show="$ctrl.paymentInfo.isWePaySetup || $ctrl.paymentInfo.payPalClientId || ($ctrl.paymentInfo.isDwollaSetup && $ctrl.paymentInfo.dwollaFundingIsVerified) || ($ctrl.paymentInfo.isStripeSetup && $ctrl.paymentInfo.stripeConnectChargesEnabled)">
                    <div class="row mb-3 px-3">
                        <label for="allow-payments-checkbox" class="col-6 col-sm-4 form-label">Allow Online Payments:</label>
                        <div class="col-6 col-sm-8">
                            <input id="allow-payments-checkbox" type="checkbox" data-ng-change="$ctrl.saveAllowSetting()" data-ng-model="$ctrl.paymentInfo.areOnlinePaymentsAllowed">
                        </div>
                    </div>
                </form>

                <div class="alert alert-warning" data-ng-if="$ctrl.paymentInfo.isDwollaSetup && !$ctrl.paymentInfo.isStripeSetup">
                    We're are transitioning to a new payment provider, Stripe. Dwolla will stop working October 10th. We're here to help you transition, just reach out via help or chat.
                    <br />
                    <br />
                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.shouldShowPaymentSignupModal = true">Sign-up Now</button>
                </div>

                <div class="alert alert-info" data-ng-if="$ctrl.shouldShowNewStripeSignUpMessage">
                    Great job setting up Stripe. If it makes sense for your association, make sure to <a href="https://help.communityally.org/the-stripe-dashboard/#add-users" target="_blank">add another user or two to Stripe</a> so that you don't lose access and others can step in to help if needed.
                </div>

                <!--<div data-ng-if="!$ctrl.paymentInfo.isDwollaSetup && !$ctrl.allowStripeSignUp">
                    <div data-ng-if="false">
                        We use <a href="https://www.dwolla.com/security/" target="_blank">Dwolla</a> to allow residents to make payments to your association via checking accounts (credit cards are not supported). Dwolla securely handles all of our payment transactions to offer you
                        an incredible layer of security. To start receiving payments you need to associate a bank account (savings or checking)
                        for your association via Dwolla. Payments will be automatically sent to this bank account once a Dwolla payment has cleared which takes about a week.
                        <br />
                        <br />
                        Payment notifications will be sent to your treasurer group email address, learn more at <a href="#!/BuildingResidents">
                            the bottom of your residents page
                        </a>. Signing-up confirms your agreement to our <a href="https://login.condoally.com/TermsOfService.html">Terms or Service</a> and
                        <a href="https://login.condoally.com/PrivacyPolicy.html">Privacy Policy</a>.
                        <br>
                        <br>
                        Dwolla is completely free for the association. Payers pay a 0.5% payment fee when your association is on the premium plan ($5 max), 1% when on the free plan ($10 max). For
                        for your association via Dwolla. Payments will be automatically sent to this bank account once a Dwolla payment has cleared which takes about a week. Payment
                        example, 0.5% is $0.50 on a $100 payment, $1 on $200, an $1.50 on $300. <a href="https://help.communityally.org/setting-up-online-payments/" target="_blank">Dwolla Sign-up Help Guide</a>
                        <br />
                        <br />
                        <button type="button" class="btn btn-primary" data-ng-click="$ctrl.showDwollaSignUpModal()">Sign up to Accept Payments</button>
                        <button type="button" class="btn btn-primary" data-ng-if="$ctrl.shouldShowPlaidTestSignUpButton" data-ng-click="$ctrl.addDwollaAccountViaPlaid()">Hey Mark, click this to try and use Innovator Checking from TwinStar Credit Union</button>
                    </div>
                </div>-->

                <div data-ng-if="!$ctrl.paymentInfo.isWePaySetup">

                    <div data-ng-if="$ctrl.allowNewWePaySignUp">
                        We use WePay to securely handle all of our payment transactions to offer you
                        an incredible layer of security. To start receiving payments from your residents you need to create a WePay account
                        for your association. Payments will be sent to this WePay account and you can then specify how frequently you want
                        the balance to be transferred to your association's checking account.<br>
                        <br>
                        Fees when paying electronically:<br />
                        E-Check/ACH: $1.50<br />
                        Credit Card: 2.9% + $1.30<br />
                        You can choose if the payer or association covers these fees.<br />
                        <br />
                        <a href="https://support.wepay.com/hc/en-us" target="_blank">Learn more about <img src="/assets/images/wepay.png" alt="WePay" /> here</a>.<br>
                        <br>
                        <a href="{{ $ctrl.paymentInfo.wePayLoginUri }}">Sign up Now</a>
                    </div>

                    <!--<div data-ng-if="!$ctrl.allowNewWePaySignUp">
            We are in the process of changing our payment provider so sign-up is currently disabled. If you would like to sign-up anyway, please
            contact support.
        </div>-->
                </div>

                <div data-ng-if="$ctrl.paymentInfo.isStripeSetup" data-ng-class="{'payment-provider-panel': $ctrl.hasMultipleProviders}" class="my-3">
                    <h5 data-ng-if="$ctrl.hasMultipleProviders">Stripe</h5>

                    <div data-ng-if="!$ctrl.paymentInfo.stripeConnectChargesEnabled">
                        Stripe has not yet enabled your account to accept payments. You may need to add more information or wait for their Approval.
                        <br />
                        <span class="text-link" data-ng-click="$ctrl.signUpForStripe()">Log-in to Stripe Now</span>
                    </div>

                    <div data-ng-if="$ctrl.paymentInfo.stripeConnectChargesEnabled">
                        Stripe is successfully enabled.
                        <br />
                        <a class="text-link" href="https://dashboard.stripe.com/login" target="_blank">Log-in to the Stripe Dashboard</a>
                        <br />
                        <br />
                        <div data-ng-if="$ctrl.stripePayoutAccounts">
                            Stripe pays out to:
                            <div style="font-weight: bold;" data-ng-repeat="acct in $ctrl.stripePayoutAccounts">{{acct}}</div>
                        </div>
                    </div>
                </div>

                <div data-ng-if="$ctrl.paymentInfo.isDwollaSetup" class="mb-2" data-ng-class="{'payment-provider-panel': $ctrl.hasMultipleProviders}">
                    <h5 data-ng-if="$ctrl.hasMultipleProviders">Dwolla</h5>

                    <div class="alert alert-warning" data-ng-if="$ctrl.paymentInfo.isDwollaSetup && $ctrl.paymentInfo.isStripeSetup">
                        Dwolla will stop working October 10th. Thank you for signing-up for Stripe.
                    </div>

                    <div>Linked Account: <span class="fw-bold">{{$ctrl.paymentInfo.groupDwollaFundingSourceName}}</span></div>
                    <div data-ng-if="!$ctrl.paymentInfo.dwollaFundingIsVerified" class="fw-bold mt-4 mb-4">
                        Your bank account is still pending micro-deposit verification.
                        <br />
                        <button type="button" class="btn btn-primary" data-ng-click="$ctrl.showMicroDepositModal()">Enter Micro-Deposit Amounts</button>
                    </div>
                    <span class="text-link" data-ng-click="$ctrl.disconnectDwolla()">Unlink Dwolla bank account</span>
                </div>

                <!--<div data-ng-if="$ctrl.paymentInfo.isWePaySetup && !$ctrl.paymentInfo.needsReLogin">
        <table style="width:100%;">
            <tr>
                <td style="width:50%;">WePay Balance: {{ $ctrl.paymentInfo.balanceDetail.availableBalance | currency }}</td>
                <td style="width:50%;">WePay Pending Balance: {{ $ctrl.paymentInfo.balanceDetail.pendingBalance | currency }}</td>
                <td style="width:33%; display: none;">
                    <input type="button" value="Withdrawal" data-ng-click="$ctrl.onWithdrawalClick();" />
                </td>
            </tr>
        </table>
        <div data-ng-if="isAdmin">
            <span class="text-link" data-ng-click="">Clear access token</span>
        </div>
    </div>-->

                <div data-ng-if="$ctrl.paymentInfo.isWePaySetup" data-ng-class="{'payment-provider-panel': $ctrl.hasMultipleProviders}">
                    <h5 data-ng-if="$ctrl.hasMultipleProviders">WePay</h5>

                    <div class="alert alert-warning">
                        WePay will stop working October 15th because they are shutting down their small business services. We're here to help you transition to Stripe, just reach out via help or chat.
                        <br />
                        <br />
                        <button type="button" class="btn btn-primary" data-ng-click="$ctrl.shouldShowPaymentSignupModal = true">Sign-up for Stripe Now</button>
                    </div>

                    <div data-ng-if="$ctrl.paymentInfo.needsReLogin">
                        You need to log-in to WePay with your association's account if you want to re-enable WePay payments.<br>
                        <a href="{{ $ctrl.paymentInfo.wePayLoginUri }}">Log-in Now</a>
                    </div>

                    <div data-ng-if="!$ctrl.paymentInfo.needsReLogin">
                        WePay is successfully enabled. You can disable WePay payments if you'd like to move users to other payment methods. You can always undo this.<br />
                        <span class="text-link" data-ng-click="$ctrl.clearWePayAccessToken()">Disable WePay</span>
                        <div data-ng-if="$ctrl.paymentInfo.balanceDetail.payoutAccountName || $ctrl.paymentInfo.balanceDetail.wePayAccountEmail" class="mt-3">
                            <span data-ng-if="$ctrl.paymentInfo.balanceDetail.payoutAccountName">
                                WePay pays out to:
                                <span style="font-weight: bold;">{{$ctrl.paymentInfo.balanceDetail.payoutAccountName}}</span>
                            </span>
                            <span class="note-text">(Account Admin: {{$ctrl.paymentInfo.balanceDetail.wePayAccountEmail}})</span>
                        </div>
                    </div>
                </div>

                <div data-ng-if="!$ctrl.paymentInfo.isStripeSetup" class="mb-3 mt-3">
                    <button type="button" data-ng-if="!$ctrl.paymentInfo.isWePaySetup && !$ctrl.paymentInfo.isStripeSetup" class="btn btn-primary" data-ng-click="$ctrl.shouldShowPaymentSignupModal = true">Setup an Online Payment Processor</button>
                    <span class="text-link note-text" data-ng-if="$ctrl.paymentInfo.isWePaySetup || $ctrl.paymentInfo.isStripeSetup" data-ng-click="$ctrl.shouldShowPaymentSignupModal = true">Setup Another Online Payment Processor</span>
                </div>

                <!--<div data-ng-hide="$ctrl.paymentInfo.payPalClientId">
        <h3>Setup PayPal Payments</h3>
        In order to accept payments via PayPal you need to sign-up for a PayPal business account. It only takes a few
        minutes and we've written a helpful guide to walk you through the process.<br />
        <a href="https://help.communityally.org/accept-payments-through-paypal/" target="_blank">Accept Payments Through PayPal Guide</a><br />
        <br />
        Once you get near the end of sign-up you'll need to paste in your PayPal client ID and secret API value here to
        enable payments.<br />
        <form>
            <div class="form-group row">
                <label class="col-sm-4">Client ID:</label>
                <div class="col-sm-8"><input type="text" class="form-control form-control-sm" data-ng-model="$ctrl.payPalSignUpClientId"></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Client Secret:</label>
                <div class="col-sm-8"><input type="text" class="form-control form-control-sm" data-ng-model="$ctrl.payPalSignUpClientSecret"></div>
            </div>

            <div data-ng-if="$ctrl.payPalSignUpErrorMessage" class="text-error">
                {{ $ctrl.payPalSignUpErrorMessage }}
            </div>

            <div class="text-end mt-3">
                <input class="btn btn-primary" type="button" value="Enable PayPal Payments" data-ng-click="$ctrl.enablePayPal();">
            </div>
        </form>
    </div>-->

                <h3 class="margin-top-50">Online Payment History</h3>

                <div class="wide_tble_wrap">

                    <div data-ng-if="!$ctrl.paymentInfo.electronicPayments || $ctrl.paymentInfo.electronicPayments.length === 0" class="note-text">
                        No online payments have been made yet.
                    </div>

                    <!--<table class="table table-bordered" data-ng-if="$ctrl.paymentInfo.electronicPayments.length > 0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Unit</th>
                    <th>Resident</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="payment in $ctrl.paymentInfo.electronicPayments" data-ng-class="{ 'highlight': (payment.wePayCheckoutId == $ctrl.highlightWePayCheckoutId) }">
                    <td>{{ payment.submitDateUtc | date }}</td>
                    <td>{{ payment.unitName }}</td>
                    <td>{{ payment.resident }}</td>
                    <td>{{ payment.amount | currency }}</td>
                    <td>{{ payment.status }}</td>
                    <td>{{ payment.notes }}</td>
                    <td>
                        <span class="text-link" data-ng-if="payment.wePayCheckoutId" data-ng-click="$ctrl.showWePayCheckoutInfo( payment.wePayCheckoutId )">WePay Details</span>
                        <span class="text-link" data-ng-if="payment.payPalCheckoutId" data-ng-click="$ctrl.showPayPalCheckoutInfo( payment.payPalCheckoutId )">PayPal Details</span>
                        <span class="text-link" data-ng-if="payment.paragonReferenceNumber" data-ng-click="$ctrl.showParagonCheckoutInfo( payment.paragonReferenceNumber )">Paragon Details</span>
                    </td>
                </tr>
            </tbody>
        </table>-->
                    <div data-ng-if="$ctrl.paymentInfo.electronicPayments.length > 0" data-ui-grid="$ctrl.paymentsGridOptions" ui-grid-resize-columns ui-grid-pagination ui-grid-auto-resize class="gridStyle margin-top-20"></div>
                    <div style="height: 20px;"></div>
                </div>

                <div data-ng-if="$ctrl.paymentInfo.payPalClientId">
                    <h3 class="margin-top">PayPal Settings</h3>

                    <div class="row mb-3">
                        <label class="col-sm-4 form-label">Client ID:</label>
                        <div class="col-sm-8">
                            <span data-ng-if="!$ctrl.isUpdatingPayPalCredentials">{{$ctrl.paymentInfo.payPalClientId}}</span>
                            <input data-ng-if="$ctrl.isUpdatingPayPalCredentials" type="text" class="form-control" data-ng-model="$ctrl.payPalSignUpClientId" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 form-label">Client Secret:</label>
                        <div class="col-sm-8">
                            <span data-ng-if="!$ctrl.isUpdatingPayPalCredentials">
                                <span>{{$ctrl.paymentInfo.payPalMaskedSecret}}</span>&nbsp;<span class="note-text">(Hidden for security)</span>
                            </span>
                            <input data-ng-if="$ctrl.isUpdatingPayPalCredentials" type="text" class="form-control" data-ng-model="$ctrl.payPalSignUpClientSecret" />
                        </div>
                    </div>

                    <div class="text-end mt-3" data-ng-if="!$ctrl.isUpdatingPayPalCredentials">
                        <span class="note-text">If you are concerned that your PayPal account may be hacked you should reset your PayPal credentials. After you reset your API credentials you can update the values here.</span><br />
                        <input class="btn btn-primary" type="button" value="Update Credentials" data-ng-click="$ctrl.updatePayPalCredentials();">
                    </div>

                    <div class="text-end mt-3" data-ng-if="$ctrl.isUpdatingPayPalCredentials">
                        <div data-ng-if="$ctrl.payPalSignUpErrorMessage" class="text-error">
                            {{ $ctrl.payPalSignUpErrorMessage }}
                        </div>

                        <input id="save-edit-button" class="btn btn-primary" type="button" value="Save" data-ng-click="$ctrl.enablePayPal();" />
                        <input id="cancel-edit-button" class="btn btn-secondary" type="button" value="Cancel" data-ng-click="$ctrl.isUpdatingPayPalCredentials = false" />
                    </div>
                </div>



                <h3 class="margin-top-50">Custom Payment Instructions</h3>
                <p>
                    You can add optional payment information that is shown at the top of the online payment section on your home page. Useful payment information such as
                    amounts and due dates as well as links to online third-party payment providers can be entered here.
                </p>

                <div data-ng-if="!$ctrl.shouldShowCustomInstructions" class="text-link" style="width: 100%;" data-ng-click="$ctrl.showCustomInstructionsEditor()">
                    Add Custom Payment Information
                </div>

                <!--Not sure why we need width 100% on this DIVs-->
                <div data-ng-if="$ctrl.shouldShowCustomInstructions" style="width: 100%;">
                    <textarea id="tiny-mce-editor"></textarea>
                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.saveCustomInstructions()">Save Instructions</button>
                </div>



                <div data-ng-if="$ctrl.paymentInfo.isWePaySetup || $ctrl.paymentInfo.isStripeSetup">
                    <h3 class="margin-top-50" data-ng-if="$ctrl.paymentInfo.isWePaySetup && !$ctrl.paymentInfo.isStripeSetup">WePay Fees</h3>
                    <h3 class="margin-top-50" data-ng-if="!$ctrl.paymentInfo.isWePaySetup && $ctrl.paymentInfo.isStripeSetup">Stripe Fees</h3>
                    <h3 class="margin-top-50" data-ng-if="$ctrl.paymentInfo.isWePaySetup && $ctrl.paymentInfo.isStripeSetup">Stripe and WePay Fees</h3>
                    <p>
                        <span data-ng-if="$ctrl.paymentInfo.isWePaySetup && !$ctrl.paymentInfo.isStripeSetup">WePay</span>
                        <span data-ng-if="!$ctrl.paymentInfo.isWePaySetup && $ctrl.paymentInfo.isStripeSetup">Stripe</span>
                        <span data-ng-if="$ctrl.paymentInfo.isWePaySetup && $ctrl.paymentInfo.isStripeSetup">Stripe and WePay</span> charges a fee to handle online payments. You can choose how those transaction fees
                        are paid, either paid by the resident or paid by the association.
                    </p>
                    <div data-ng-if="$ctrl.paymentInfo.isWePaySetup && $ctrl.paymentInfo.isStripeSetup" class="mt-2 mb-1">
                        Show example fees for
                        <label><input type="radio" data-ng-change="$ctrl.updateTestFee()" data-ng-model="$ctrl.exampleFeeService" value="stripe" /> Stripe</label>
                        <label><input type="radio" data-ng-change="$ctrl.updateTestFee()" data-ng-model="$ctrl.exampleFeeService" value="wepay" /> WePay</label>
                    </div>
                    <div class="spinner-effect">
                        <div data-ng-show="$ctrl.isLoadingPayment" class="loading-overlay"></div>
                        <div class="wide_tble_wrap" style="overflow-x: auto;">
                            <table class="table table-bordered table-vertical-middle">
                                <thead>
                                    <tr>
                                        <th>Payment Method</th>
                                        <th>Fee</th>
                                        <th>Payment handling</th>
                                        <th>Example Amount</th>
                                        <th>Resident Would Pay</th>
                                        <th>Association Would Receive</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Electronic Check (ACH)</td>
                                        <td>
                                            <span data-ng-if="$ctrl.exampleFeeService === 'wepay'">$1.50</span>
                                            <span data-ng-if="$ctrl.exampleFeeService === 'stripe'">{{$ctrl.isPremiumPlanActive ? "0.8%" : "1.6%"}}</span>
                                        </td>
                                        <td>
                                            <label><input type="radio" data-ng-change="$ctrl.onChangeFeePayerInfo('ach')" data-ng-model="$ctrl.paymentInfo.payerPaysAchFee" data-ng-value="true" /> Payer pays <span class="note-text">(default)</span></label><br />
                                            <label><input type="radio" data-ng-change="$ctrl.onChangeFeePayerInfo('ach')" data-ng-model="$ctrl.paymentInfo.payerPaysAchFee" data-ng-value="false" /> Association pays</label>
                                        </td>
                                        <td rowspan="2" class="text-center">
                                            <span>$</span><input type="text" class="form-control form-control-sm d-inline-block" style="width: 90px;" data-ng-model="$ctrl.testFee.amount" data-ng-change="$ctrl.updateTestFee()" />
                                        </td>
                                        <td>
                                            {{ $ctrl.testFee.achResidentPays | currency }}
                                        </td>
                                        <td>
                                            {{ $ctrl.testFee.achAssociationReceives | currency }}
                                        </td>
                                    </tr>
                                    <tr data-ng-if="$ctrl.paymentInfo.isWePaySetup && $ctrl.exampleFeeService === 'wepay'">
                                        <td>Credit Card</td>
                                        <td>2.9% + $1.30</td>
                                        <td>
                                            <label><input type="radio" data-ng-change="$ctrl.onChangeFeePayerInfo('cc')" data-ng-model="$ctrl.paymentInfo.payerPaysCCFee" data-ng-value="true" /> Payer pays <span class="note-text">(default)</span></label><br />
                                            <label><input type="radio" data-ng-change="$ctrl.onChangeFeePayerInfo('cc')" data-ng-model="$ctrl.paymentInfo.payerPaysCCFee" data-ng-value="false" /> Association pays</label>
                                        </td>
                                        <td>
                                            {{ $ctrl.testFee.ccResidentPays | currency }}
                                        </td>
                                        <td>
                                            {{ $ctrl.testFee.ccAssociationReceives | currency }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div data-ng-show="$ctrl.isLoadingPayment" style="z-index:100;" class="container-overlay"></div>
                    </div>
                </div>




                <div id="AssessmentsPanel" data-ng-if="$ctrl.hasAssessments" class="margin-top-50">
                    <h3>{{$ctrl.homeName}} Assessments</h3>
                    <p>
                        The {{$ctrl.homeName.toLowerCase()}} assessments are set upon setup of your online payments. Click the assessment amount below to adjust.

                        <!--If you need to make an adjustment to a base assessment, please
            contact support and they'll be happy to help you. If a unit receives a discount, you can use the adjusted assessment and
            reason column to indicate as such. For example, some associations compensate their board members for their duty via a discount on their assessment.-->
                    </p>
                    <div>
                        Assessment Frequency: <b>{{$ctrl.assessmentFrequencyLabel}}</b>
                    </div>
                    <div class="wide_tble_wrap">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-end" style="width: 260px;">{{$ctrl.homeName}}</th>
                                    <th class="text-center" style="width: 140px;">Assessment</th>
                                    <th class="text-start">Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="unit in $ctrl.units">
                                    <td class="text-end">{{ unit.name }}</td>
                                    <!--<td class="text-center">
                            <span data-ng-if="$ctrl.userInfo.isAdmin" class="text-button test1" data-onshow="selectText();" data-onaftersave="$ctrl.onUnitAssessmentChanged( unit );" data-editable-text="unit.assessment">{{ unit.assessment | currency }}</span>
                            <span data-ng-if="!$ctrl.userInfo.isAdmin">{{ unit.assessment | currency }}</span>
                        </td>-->
                                    <td class="text-center"><span class="text-button" data-onshow="$ctrl.selectText();" data-onaftersave="$ctrl.onUnitAssessmentChanged( unit );" data-editable-text="unit.adjustedAssessment">{{ (unit.adjustedAssessment || 0) | currency }}</span></td>
                                    <td class="text-start"><span class="text-button" data-onshow="$ctrl.selectText();" e-maxlength="250" data-onaftersave="$ctrl.onUnitAssessmentChanged( unit );" data-editable-text="unit.adjustedAssessmentReason">{{ unit.adjustedAssessmentReason || "edit" }}</span></td>
                                </tr>
                            </tbody>
                            tb
                            <tfoot>
                                <tr>
                                    <th class="text-end">Total</th>
                                    <!--<th class="text-center">{{ $ctrl.assessmentSum | currency }}</th>-->
                                    <th class="text-center">{{ $ctrl.adjustedAssessmentSum | currency }}</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div>
                        Or you can set all {{$ctrl.homeName.toLowerCase()}}s to the same amount here:
                        $<input type="number" style="width: 90px;" data-ng-model="$ctrl.setAllAssessmentAmount" />
                        <input id="save-edit-button" class="btn btn-primary" type="button" value="Set All Assessments" data-ng-click="$ctrl.setAllUnitAssessments()" />
                    </div>
                    <div data-ng-show="$ctrl.isLoadingUnits" style="z-index:100;" class="container-overlay"></div>


                    <h3 class="margin-top-50">Late Fees</h3>
                    <div class="error-text" data-ng-if="!$ctrl.isAssessmentTrackingEnabled">
                        Late fees can only be enabled if assessment tracking is enabled.<br />
                        <a href="#!/AssessmentHistory">Visit the Assessment History page</a>
                    </div>

                    <div class="spinner-effect">
                        <div data-ng-if="!$ctrl.isAssessmentTrackingEnabled" class="gray-overlay"></div>
                        <div data-ng-show="$ctrl.isLoading || $ctrl.isLoadingLateFee" class="loading-overlay"></div>
                        <form data-ng-submit="$ctrl.saveLateFee()">
                            <p>
                                Add a late fee if a resident hasn't paid their assessment by the <input style="width: 45px;" maxlength="2" class="form-control form-control-sm d-inline-block" type="text" data-ng-model="$ctrl.lateFeeInfo.lateFeeDayOfMonth" /><sup>{{ getLateFeeDateSuper() }}</sup> day of the month.

                            </p>
                            <div class="margin-top" data-ng-style="{ 'color': !$ctrl.lateFeeInfo.lateFeeDayOfMonth ? '#AAA' : '#000'}">
                                How much is the late fee? <input type="text" class="form-control form-control-sm d-inline" style="width: 200px;" data-ng-model="$ctrl.lateFeeInfo.lateFeeAmount" />
                                <br />
                                <span class="note-text">You can enter a flat amount like $124.45 or a percent like 10%</span>
                            </div>
                            <p class="text-end" style="max-width:450px;">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </p>

                            <p>
                                If you want to give a resident a break on the late fee even if they're passed due, you can tell them to select
                                "other" for the type of payment on the home page and have them enter their normal assessment in the amount field.
                            </p>

                        </form>
                    </div>

                </div>

                <div data-ng-if="!$ctrl.hasAssessments" class="margin-top-50">
                    You answered "no" to your association having regular assessments. If you'd like to change that, <span class="text-button" data-ng-click="$ctrl.hasAssessments = null">click here</span>.
                </div>

            </div>

        </div>

        <div data-ng-if="$ctrl.viewingWePayCheckoutId" class="modal-container" data-ng-escape="$ctrl.showWePayCheckoutInfo( null )">
            <div class="modal-overlay" data-ng-click="$ctrl.showWePayCheckoutInfo( null )"></div>
            <div class="ca-modal-dialog modal-sm">
                <div class="loading-overlay" data-ng-show="$ctrl.isLoadingCheckoutDetails"></div>
                <table>
                    <tbody>
                        <tr><td class="AlignRightBold">Checkout Id: </td><td>{{ $ctrl.checkoutInfo.checkoutId }}</td></tr>
                        <tr><td class="AlignRightBold">Create Time: </td><td>{{ $ctrl.checkoutInfo.createTime | date:'short' }}</td></tr>
                        <tr><td class="AlignRightBold">State: </td><td>{{ $ctrl.checkoutInfo.state }}</td></tr>
                        <tr><td class="AlignRightBold">Short Description: </td><td>{{ $ctrl.checkoutInfo.shortDescription }}</td></tr>
                        <tr><td class="AlignRightBold">Long Description: </td><td>{{ $ctrl.checkoutInfo.longDescription }}</td></tr>
                        <tr><td class="AlignRightBold">Amount Paid: </td><td>{{ $ctrl.checkoutInfo.amountPaid | currency }}</td></tr>
                        <tr><td class="AlignRightBold">Processing Fee: </td><td>{{ $ctrl.checkoutInfo.processingFee | currency }}</td></tr>
                        <tr><td class="AlignRightBold">Fee Payer: </td><td>{{ $ctrl.checkoutInfo.feePayer }}</td></tr>
                        <tr><td class="AlignRightBold">Gross Paid: </td><td>{{ $ctrl.checkoutInfo.grossPaid | currency }}</td></tr>
                        <tr><td class="AlignRightBold">Refund Reason: </td><td>{{ $ctrl.checkoutInfo.refundReason }}</td></tr>
                        <tr><td class="AlignRightBold">Payment Method: </td><td>{{ $ctrl.checkoutInfo.paymentMethod }}</td></tr>
                        <tr><td class="AlignRightBold">Payer Name: </td><td>{{ $ctrl.checkoutInfo.payerName }}</td></tr>
                        <tr><td class="AlignRightBold">Payer Email: </td><td>{{ $ctrl.checkoutInfo.payerEmail }}</td></tr>
                        <tr><td class="AlignRightBold">Payment Error: </td><td>{{ $ctrl.checkoutInfo.paymentError }}</td></tr>
                    </tbody>
                </table>
                <br />
                <br />
                <p class="note-text text-end">(Click anywhere outside this window to close)</p>
            </div>
        </div>

        <div data-ng-if="$ctrl.viewingPayPalCheckoutId" class="modal-container" data-ng-escape="$ctrl.showPayPalCheckoutInfo( null )">
            <div class="modal-overlay" data-ng-click="$ctrl.showPayPalCheckoutInfo( null )"></div>
            <div class="ca-modal-dialog modal-sm">
                <div class="loading-overlay" data-ng-show="$ctrl.isLoadingCheckoutDetails"></div>
                <table>
                    <tbody>
                        <tr><td class="AlignRightBold">Checkout Id: </td><td>{{ $ctrl.checkoutInfo.checkoutId }}</td></tr>
                        <tr><td class="AlignRightBold">Create Time: </td><td>{{ $ctrl.checkoutInfo.createTimeUtc | date:'EEEE, MMMM d, yyyy h:mm a' }}</td></tr>
                        <tr><td class="AlignRightBold">State: </td><td>{{ $ctrl.checkoutInfo.state }}</td></tr>
                        <tr><td class="AlignRightBold">Short Description: </td><td>{{ $ctrl.checkoutInfo.shortDescription }}</td></tr>
                        <tr><td class="AlignRightBold">Amount Paid: </td><td>{{ $ctrl.checkoutInfo.amountPaid | currency }}</td></tr>
                        <tr><td class="AlignRightBold">Payment Method: </td><td>{{ $ctrl.checkoutInfo.paymentMethod }}</td></tr>
                        <tr><td class="AlignRightBold">Payer Name: </td><td>{{ $ctrl.checkoutInfo.payerName }}</td></tr>
                        <tr><td class="AlignRightBold">Payer Email: </td><td>{{ $ctrl.checkoutInfo.payerEmail }}</td></tr>
                        <tr><td class="AlignRightBold">Payment Error: </td><td>{{ $ctrl.checkoutInfo.paymentError }}</td></tr>
                    </tbody>
                </table>
                <br />
                <br />
                <p class="note-text text-end">(Click anywhere outside this window to close)</p>
            </div>
        </div>

        <div data-ng-if="$ctrl.viewingParagonReferenceNumber" class="modal-container" data-ng-escape="$ctrl.showParagonCheckoutInfo( null )">
            <div class="modal-overlay" data-ng-click="$ctrl.showParagonCheckoutInfo( null )"></div>
            <div class="ca-modal-dialog modal-sm">
                <div class="loading-overlay" data-ng-show="$ctrl.isLoadingCheckoutDetails"></div>
                <table>
                    <tbody>
                        <tr><td class="AlignRightBold">Auth Code: </td><td>{{ $ctrl.checkoutInfo.authorization_code }}</td></tr>
                        <tr><td class="AlignRightBold">Date: </td><td>{{ $ctrl.checkoutInfo.date }}</td></tr>
                        <tr><td class="AlignRightBold">Amount: </td><td>{{ $ctrl.checkoutInfo.total_amount }}</td></tr>
                        <tr><td class="AlignRightBold">Reference #: </td><td>{{ $ctrl.checkoutInfo.payment_reference_number }}</td></tr>
                        <tr><td class="AlignRightBold">Result Message: </td><td>{{ $ctrl.checkoutInfo.result_message }}</td></tr>
                    </tbody>
                </table>
                <br />
                <br />
                <p class="note-text text-end">(Click anywhere outside this window to close)</p>
            </div>
        </div>

        <div data-ng-if="$ctrl.viewingDwollaEntry" class="modal-container" data-ng-escape="$ctrl.showDwollaTransferInfo( null )">
            <div class="modal-overlay" data-ng-click="$ctrl.showDwollaTransferInfo( null )"></div>
            <div class="ca-modal-dialog modal-sm" style="width: 550px; margin-left: -275px;">
                <div class="loading-overlay" data-ng-show="$ctrl.isLoadingCheckoutDetails"></div>
                <table>
                    <tbody>
                        <tr><td class="text-end" style="width:100px">Transfer ID: </td><td class="text-bold">{{ $ctrl.checkoutInfo.dwollaTransferId }}</td></tr>
                        <tr><td class="text-end">ACH ID: </td><td class="text-bold">{{ $ctrl.checkoutInfo.individualAchId }}</td></tr>
                        <tr><td class="text-end">Status: </td><td class="text-bold">{{ $ctrl.checkoutInfo.status }}</td></tr>
                        <tr><td class="text-end">Amount: </td><td class="text-bold">{{ $ctrl.checkoutInfo.amountString }}</td></tr>
                        <tr><td class="text-end">Payer Notes: </td><td class="text-bold">{{ $ctrl.checkoutInfo.payerNotes }}</td></tr>
                        <tr data-ng-if="$ctrl.checkoutInfo.feeAmountString"><td class="text-end">Payer Fee: </td><td class="text-bold">{{ $ctrl.checkoutInfo.feeAmountString }}</td></tr>
                        <tr><td class="text-end">Created: </td><td class="text-bold">{{ $ctrl.checkoutInfo.createdDateUtc | date:'EEEE, MMMM d, yyyy h:mm a' }}</td></tr>
                        <tr><td class="text-end">From Acct: </td><td class="text-bold">{{ $ctrl.checkoutInfo.sourceFundingSourceName }}</td></tr>
                        <tr><td class="text-end">To Acct: </td><td class="text-bold">{{ $ctrl.checkoutInfo.destFundingSourceName }}</td></tr>
                        <tr><td class="text-end">Clearing: </td><td class="text-bold">{{ $ctrl.checkoutInfo.clearingSource }}</td></tr>
                        <tr><td class="text-end">Cancel: </td><td class="text-bold"><span class="text-link" data-ng-if="$ctrl.checkoutInfo.cancelUri" data-ng-click="$ctrl.cancelDwollaTransfer()">Cancel</span><span data-ng-if="$ctrl.checkoutInfo.dwollaTransferId && !$ctrl.checkoutInfo.cancelUri">No longer available</span></td></tr>
                    </tbody>
                </table>
                <br />
                <br />
                Dwolla payments usually take 5 business days to clear which is means about a full week. <a href="https://developers.dwolla.com/concepts/transfer-processing-times#transfer-processing-times" target="_blank">Learn about Dwolla processing times</a>
                <br />
                <br />
                <p class="note-text text-end">(Click anywhere outside this window to close)</p>
            </div>
        </div>

        <div data-ng-if="$ctrl.viewingStripeEntry" class="modal-container" data-ng-escape="$ctrl.showStripeTransferInfo( null )">
            <div class="modal-overlay" data-ng-click="$ctrl.showStripeTransferInfo( null )"></div>
            <div class="ca-modal-dialog modal-sm" style="width: 600px; margin-left: -300px;">
                <div class="loading-overlay" data-ng-show="$ctrl.isLoadingCheckoutDetails"></div>
                <table>
                    <tbody>
                        <tr><td class="text-end" style="width:130px">Status: </td><td class="text-bold">{{ $ctrl.checkoutInfo.status }}</td></tr>
                        <tr><td class="text-end">Total Amount Paid: </td><td class="text-bold">{{ $ctrl.checkoutInfo.amountString }}</td></tr>
                        <tr data-ng-if="$ctrl.checkoutInfo.feeAmountString"><td class="text-end">Stripe Fee: </td><td class="text-bold">{{ $ctrl.checkoutInfo.feeAmountString }}</td></tr>
                        <tr data-ng-if="$ctrl.checkoutInfo.netAmountString"><td class="text-end">Net Amount: </td><td class="text-bold">{{ $ctrl.checkoutInfo.netAmountString }}</td></tr>
                        <tr><td class="text-end">Payment Intent ID: </td><td class="text-bold">{{ $ctrl.checkoutInfo.stripePaymentIntentId }}</td></tr>
                        <tr><td class="text-end">Charge ID: </td><td class="text-bold">{{ $ctrl.checkoutInfo.stripeChargeId }}</td></tr>
                        <tr><td class="text-end">Payer Notes: </td><td class="text-bold">{{ $ctrl.checkoutInfo.payerNotes }}</td></tr>
                        <tr><td class="text-end">Created: </td><td class="text-bold">{{ $ctrl.checkoutInfo.createdDateUtc | date:'EEEE, MMMM d, yyyy h:mm a' }}</td></tr>
                        <tr><td class="text-end">From Acct: </td><td class="text-bold">{{ $ctrl.checkoutInfo.sourceFundingSourceName }}</td></tr>
                    </tbody>
                </table>
                <br />
                <br />
                Stripe ACH payments usually take 5 business days to clear which is means about a full week. <a href="https://stripe.com/docs/payouts#payout-schedule" target="_blank">Learn about Stripe processing times</a>
                <br />
                <br />
                <p class="note-text text-end">(Click anywhere outside this window to close)</p>
            </div>
        </div>

        <div class="modal-container" data-ng-show="$ctrl.shouldShowDwollaAddAccountModal">
            <div class="modal-overlay" data-ng-click=""></div>
            <div class="ca-modal-dialog modal-lg">
                <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
                <span style="float: right;" class="close-x" data-ng-click="$ctrl.hideDwollaAddAccountModal()">&times;</span>
                <h2>Add Bank Account</h2>
                <div class="mb-1 text-center" data-ng-if="!$ctrl.dwollaIavToken">
                    Please check this box. An extra layer of safety for our site.
                    <br />
                    <br />
                    <div id="recaptcha-check-elem" class="g-recaptcha" style="display: inline-block; margin: 0 auto;" data-sitekey="6LfNM3UUAAAAAENjycvvELqQ7PzRQ1y0PtxGFMvF"></div>
                    <br />
                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.startDwollaSignUp()">Begin</button>
                </div>
                <span class="note-text mt-3">
                    Note: For an extra layer of security, the account addition process takes place through Dwolla's servers only. The information you enter below does not
                    interact with Community Ally's server.
                </span>
                <div id="dwolla-iav-container"></div>
                <div class="text-center" data-ng-if="$ctrl.isDwollaIavDone">
                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.hideDwollaAddAccountModal()">Close</button>
                </div>
            </div>
        </div>

        <div class="modal-container" data-ng-if="$ctrl.shouldShowMicroDepositModal">
            <div class="modal-overlay" data-ng-click="$ctrl.shouldShowMicroDepositModal = false"></div>
            <div class="ca-modal-dialog modal-sm">
                <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
                <span style="float: right;" class="close-x" data-ng-click="$ctrl.shouldShowMicroDepositModal = false">&times;</span>
                <h2>Enter Micro-Deposit Amounts</h2>
                <div class="row m-1">
                    <div class="col-sm-12 col-md-6">
                        <h3>Amount 1</h3>
                        <input type="text" data-ng-model="$ctrl.dwollaMicroDepositAmount1String" />
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h3>Amount 2</h3>
                        <input type="text" data-ng-model="$ctrl.dwollaMicroDepositAmount2String" />
                    </div>
                </div>
                <div class="text-center">
                    <span class="note-text">Order of amounts entered does not matter</span>
                    <br />
                    <button type="button" class="btn btn-primary mt-3" data-ng-click="$ctrl.submitDwollaMicroDepositAmounts()">Submit</button>
                </div>
            </div>
        </div>

        <div class="modal-container" data-ng-if="$ctrl.shouldShowPaymentSignupModal">
            <div class="modal-overlay" data-ng-click="$ctrl.shouldShowPaymentSignupModal = false"></div>
            <div class="ca-modal-dialog modal-lg">
                <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
                <span style="float: right;" class="close-x" data-ng-click="$ctrl.shouldShowPaymentSignupModal = false">&times;</span>
                <h2>Online Payments</h2>
                <div class="row m-1">
                    <p>
                        We're at the point now where we can discuss putting humans on Mars and AI taking over the world, yet no one has made it easy to collect payments online? Unfortunately,
                        that's the situation we're in. We've been through a few payment processors over the
                        years and we wish we could offer a clear winner, but for now, sadly, you'll need to pick a solution that you think works best for your association's needs.
                    </p>

                    <div data-ng-if="false">
                        <h4 class="mt-4" style="text-decoration: none;">Integrated Options</h4>
                        <p>
                            Payments take place through your website. Payments are automatically tracked and recorded in your assessment history.
                        </p>
                        <hr />
                    </div>

                    <div>
                        <h4>Stripe</h4>
                        Notes:
                        <ul>
                            <li><b>Requires EIN and a corporation in good standing</b></li>
                        </ul>
                        Pros:
                        <ul>
                            <li>World-class security, reporting, and financial dashboard</li>
                            <li>Very easy checkout experience for residents</li>
                        </ul>
                        Cons:
                        <ul>
                            <li>Very complicated sign-up process for the HOA</li>
                            <li>Payers pay a <b>0.8%</b> ($0.80 per $100) fee for on our premium plan or <b>1.6%</b> on our free plan. There are no other fees for the association. You'll probably want to remind folks if they can still pay by check or consider covering the Stripe fees.</li>
                        </ul>

                        <button type="button" data-ng-if="!$ctrl.paymentInfo.isStripeSetup" class="btn btn-primary" data-ng-click="$ctrl.shouldShowPaymentSignupModal = false; $ctrl.shouldShowStripePrefaceModal = true;">Get Started with Stripe</button>
                        <div data-ng-if="$ctrl.paymentInfo.isStripeSetup" class="note-text">You're already setup with Stripe</div>
                    </div>

                    <hr data-ng-if="false" class="mt-4 mb-4" />

                    <div data-ng-if="false">
                        <h4>WePay</h4>
                        Notes:
                        <ul>
                            <li><b>Requires EIN and a corporation in good standing</b></li>
                        </ul>
                        Pros:
                        <ul>
                            <li>Lowest fees in the business at <b>$1.50</b> flat fee per transaction. There are no other fees for the association.</li>
                        </ul>
                        Cons:
                        <ul>
                            <li>Painful checkout experience for residents (They need to login to their bank site for every payment)</li>
                        </ul>
                        <a class="btn btn-primary" data-ng-if="!$ctrl.paymentInfo.isWePaySetup" data-ng-href="{{ $ctrl.paymentInfo.wePayLoginUri }}">Get Started with WePay</a>
                        <div data-ng-if="$ctrl.paymentInfo.isWePaySetup" class="note-text">You're already setup with WePay</div>
                    </div>

                    <hr class="mt-4" />

                    <h4 class="mt-5" style="text-decoration: none;">Nonintegrated Options</h4>
                    <p>
                        Payments are not automatically tracked so you'll need to manually mark off payments in the assessment history. You can specify
                        instructions for your residents via the "Custom Payment Instructions" field.
                    </p>
                    <hr />

                    <div>
                        <h4>Your Bank</h4>
                        <p>
                            Many banks support direct bill pay or electronic payments, and many don't even charge fees. Check with association's bank to see if they support some way to allow residents to send their
                            dues payments electronically.
                        </p>
                        Pros:
                        <ul>
                            <li>Should be easy</li>
                            <li>Support local</li>
                        </ul>
                        Cons:
                        <ul>
                            <li>Depending on the bank, you might have to handle paper checks, which kind of defeats the purpose of online payments</li>
                        </ul>
                    </div>

                    <hr class="mt-4 mb-4" />

                    <div>
                        <h4>Direct Payment Apps</h4>
                        <p>
                            First check if this is allowed in your state or municipality! For small associations, you might be able to get away with using a person-to-person payment app like Venmo, PayPal, or Zelle.
                        </p>
                        Pros:
                        <ul>
                            <li>Super easy for all parties</li>
                            <li>Many apps don't have fees</li>
                        </ul>
                        Cons:
                        <ul>
                            <li>Again, it's most likely illegal. Almost every state disallows deposits of association funds into a personal bank account (commingling of funds) and most of these payment apps don't allow business accounts to sign-up</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-container" data-ng-if="$ctrl.shouldShowStripePrefaceModal">
            <div class="modal-overlay" data-ng-click="$ctrl.shouldShowStripePrefaceModal = false"></div>
            <div class="ca-modal-dialog modal-sm">
                <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>
                <span style="float: right;" class="close-x" data-ng-click="$ctrl.shouldShowStripePrefaceModal = false">&times;</span>
                <p class="mt-4">
                    Before you start, make sure you have your EIN handy. Also, open our Stripe sign-up guide in another window for easy reference.
                    <div class="mt-3 text-center">
                        <a href="https://help.communityally.org/stripe-sign-up-guide/" target="_blank">Open Stripe Sign-up Guide 🗗</a>
                        <br />
                        <br />
                        <button type="button" class="btn btn-primary" data-ng-click="$ctrl.signUpForStripe()">Get Started with Stripe</button>
                    </div>
                </p>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $( ".collapsibleContainer" ).collapsiblePanel();
</script>