<div class="page page-manage-resident spinner-effect">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

    <p class="margin-bottom-10 text-12" style="display: none;">
        Are your neighbors not receiving emails from this site? If so, make sure they add "sender@condoally.com" to their list of trusted email senders.
    </p>

    <p data-ng-if="$ctrl.showIsRenter">
        Here you can manage the people that live in your association. Simply click on their name to edit their information.
    </p>

    <p data-ng-if="!$ctrl.showIsRenter">
        Here you can manage the members of your association. Simply click on their name to edit their information.
    </p>

    <ul data-ng-if="$ctrl.showIsRenter">
        <li>Renters can only view site data, no editing or payments. You can choose if renters can view documents and send emails with the settings below.</li>
        <li>Owners can view all site data, view documents, and make payments. They cannot modify anything.</li>
        <li>Admin users have complete control over the site and only they can see the "Manage" menu.</li>
    </ul>

    <div id="MissingEmailsLabel" data-ng-show="$ctrl.badEmailsExist" class="margin-top-10 margin-bottom-10 text-error">
        Some neighbors are missing their email address. In order for your neighbors to log-in, you must set their email address then send them a welcome email.
    </div>

    <div class="text-error" data-ng-if="$ctrl.hasOneAdmin">
        Your site only has one administrator resident. It's a good idea to have at least two admin residents to be safe. The general practice is
        to make every board member an admin.
    </div>

    <div data-ng-if="$ctrl.showAddHomeLink" class="mt-2 mb-2 alert alert-info">
        Since you're a new site, you can still adjust your unit/home listing manually if you need to:<br />
        <a href="https://help.communityally.org/how-to-add-or-edit-homes/" target="_blank">How to Add or Edit Homes</a>
        <br />
        <br />
        We'd be happy to help you bulk load your data in. Simply fill out this spreadsheet and email it to hello@CommunityAlly.org:
        <br />
        <a href="/assets/files/AllyResidentsImport.csv" download="AllyResidentsImport.csv">Download Bulk Import Spreadsheet</a>
    </div>

    <div class="clearfix">
        <button class="btn btn-primary pull-right" data-ng-click="$ctrl.setEdit( {boardPosition:0, shouldSendWelcomeEmail: false} );">Add New {{ $ctrl.showIsRenter ? 'Resident' : 'Member' }}</button>
    </div>

    <div data-ui-grid="$ctrl.residentGridOptions" data-ui-grid-selection ui-grid-resize-columns class="gridStyle margin-top-20"></div>

    <div class="clearfix">
        <span data-ng-if="$ctrl.residentGridOptions.data.length > 5" class="note-text">{{ $ctrl.residentGridOptions.data.length }} {{$ctrl.memberTypeLabel}}{{ $ctrl.residentGridOptions.data.length > 1 ? 's' : '' }}</span>
        <a href="javascript:void(0)" class="text-link pull-right ml-4" data-ng-click="$ctrl.exportResidentCsv()">Export To CSV</a>
        <span href="javascript:void(0)" data-ng-if="$ctrl.showKansasPtaExport" class="text-link pull-right" data-ng-click="$ctrl.exportKansasPtaCsv()">Export To Kansas PTA-formatted CSV</span>
    </div>

    <div data-ng-if="$ctrl.showPendingMembers" class="portlet-box white mt-4 mb-4 no-padding">
        <div class="loading-overlay" data-ng-show="$ctrl.isLoadingPending"></div>
        <div class="portlet-header">
            <div class="title">Pending Members</div>
        </div>

        <div class="portlet-body">
            <div class="mb-3">
                Here you can view people that have filled out the member sign-up form, but aren't yet approved. You can share the sign-up page link to recruit new members:<br />
                <a id="sign-up-page-link" data-ng-href="{{$ctrl.pendingMemberSignUpUrl}}">{{$ctrl.pendingMemberSignUpUrl}}</a>
                &nbsp;(<span class="text-link clipboard-button" data-clipboard-target="#sign-up-page-link" data-clipboard-action="copy">copy to clipboard</span>)
            </div>

            <div data-ng-if="$ctrl.pendingMemberGridOptions.data.length > 0" data-ui-grid="$ctrl.pendingMemberGridOptions" data-ui-grid-selection ui-grid-resize-columns class="gridStyle margin-top-20"></div>
            <div data-ng-if="$ctrl.pendingMemberGridOptions.data.length === 0" class="note-text">
                There are currently no pending member sign-ups.
            </div>
        </div>
    </div>

    <div id="EditUserContainer" class="modal-container" data-ng-show="$ctrl.editUser != null" data-ng-escape="$ctrl.setEdit( null )">
        <div class="modal-overlay"></div>
        <form id="editUserForm" name="$ctrl.editUserForm" novalidate class="ca-modal-dialog modal-lg">
            <div class="loading-overlay" data-ng-show="$ctrl.isSavingUser"></div>

            <span style="float: right;" class="close-x" data-ng-click="$ctrl.setEdit( null )">&times;</span>
            <h2>{{$ctrl.memberTypeLabel}} Details</h2>

            <div>
                <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item" style="cursor: pointer;">
                        <span class="nav-link" data-ng-class="{'active':$ctrl.selectedResidentDetailsView==='Primary'}" data-ng-click="$ctrl.selectedResidentDetailsView='Primary'">
                            Primary
                        </span>
                    </li>
                    <li class="nav-item" style="cursor: pointer;">
                        <span class="nav-link" data-ng-class="{'active':$ctrl.selectedResidentDetailsView==='Secondary'}" data-ng-click="$ctrl.selectedResidentDetailsView='Secondary'">
                            Secondary
                        </span>
                    </li>
                </ul>
            </div>
            <hr />

            <div class="row" data-ng-if="$ctrl.selectedResidentDetailsView==='Primary'">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">First Name:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="edit-user-first-text-box" type="text" class="form-control form-control-sm" required name="editUserFirstTextBox" data-ng-model="$ctrl.editUser.firstName" data-ng-enter="$ctrl.onSaveResident()" data-ng-escape="$ctrl.setEdit( null )" autocomplete="off" data-lpignore="true" data-form-type="other" />
                            <div class="validation-label" data-ng-show="$ctrl.editUserForm.editUserFirstTextBox.$error.required">Required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-last-name-text-box" class="col-sm-4 col-xs-12">Last Name:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="edit-user-last-name-text-box" type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editUser.lastName" data-ng-enter="$ctrl.onSaveResident()" data-ng-escape="$ctrl.setEdit( null )" autocomplete="off" data-lpignore="true" data-form-type="other" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-email-text-box" class="col-sm-4 col-xs-12">Email:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="edit-user-email-text-box" type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editUser.email" data-ng-enter="$ctrl.onSaveResident()" data-ng-escape="$ctrl.setEdit( null )" autocomplete="off" data-lpignore="true" data-form-type="other" />
                            <div class="note-text" style="color: red;" data-ng-if="$ctrl.editUser.postmarkReportedBadEmailUtc">
                                Email undeliverable:
                                <b>{{$ctrl.editUser.friendlyBadEmailReason}}</b>
                                <a href="https://help.communityally.org/undeliverable-email-addresses/" target="_blank">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12" data-ng-if="$ctrl.shouldShowHomePicker">
                    <div class="form-group row">
                        <label class="col-sm-4 col-xs-12">{{ $ctrl.homeName }}:</label>
                        <div class="col-sm-8 col-xs-12">
                            <div data-ng-if="!$ctrl.editUser.showAdvancedHomePicker">
                                <select class="form-control form-control-sm" data-ng-model="$ctrl.editUser.singleUnitId" data-ng-options="o.unitId as o.name for o in $ctrl.allUnits">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div data-ng-if="$ctrl.editUser.showAdvancedHomePicker"
                                 selection-mode="{{ $ctrl.multiselectMulti }}"
                                 isteven-multi-select
                                 input-model="$ctrl.allUnits"
                                 output-model="$ctrl.editUser.units"
                                 helper-elements="{{ $ctrl.multiselectOptions }}"
                                 button-label="name"
                                 item-label="name"
                                 search-property="name"
                                 max-height="300px"
                                 tick-property="isSelectedForEditUser">
                            </div>

                            <span data-ng-if="$ctrl.multiselectMulti === 'single'" class="text-link note-text" data-ng-click="$ctrl.enableMultiHomePicker()">Click here to select multiple {{ $ctrl.homeName.toLowerCase() }}s</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12" data-ng-if="$ctrl.showIsRenter">
                    <div class="form-group row">
                        <label for="is-renter-checkbox" class="col-sm-4 col-xs-12">Is a Renter/Manager:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="is-renter-checkbox" class="validation-label" type="checkbox" data-ng-model="$ctrl.editUser.isRenter" />
                            <br />
                            <span class="note-text">Indicates this person is not a {{ $ctrl.homeName.toLowerCase() }} owner.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="is-site-manager-checkbox" class="col-sm-4 col-xs-12">Is Admin:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="is-site-manager-checkbox" type="checkbox" data-ng-model="$ctrl.editUser.isSiteManager" /><br>
                            <span class="note-text">Admin users can edit site information.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="phone-number-text-box" class="col-sm-4 col-xs-12">Phone Number:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="phone-number-text-box" type="text" maxlength="30" class="form-control form-control-sm" data-ng-model="$ctrl.editUser.phoneNumber" autocomplete="off" data-lpignore="true" data-form-type="other" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label class="col-sm-4 col-xs-12">Board Position:</label>
                        <div class="col-sm-8 col-xs-12">
                            <select class="form-control form-control-sm" data-ng-model="$ctrl.editUser.boardPosition" data-ng-options="bp.id as bp.name for bp in $ctrl.boardPositions"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" data-ng-if="$ctrl.selectedResidentDetailsView==='Secondary'">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="alternate-phone-number-text-box" class="col-sm-4 col-xs-12 font-weight-bold">Alternate Phone:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="alternate-phone-number-text-box" type="text" maxlength="30" class="form-control form-control-sm" data-ng-model="$ctrl.editUser.alternatePhoneNumber" autocomplete="off" data-lpignore="true" data-form-type="other" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">

                    </div>
                </div>

                <div class="col-12">
                    <label class="font-weight-bold">Alternate Mailing Address</label>
                    <div class="note-text">Only set this if it differs from the home address for the owner listed on the 'Primary' tab.
                    Do not add a different person here. Other persons living at the same address should be added using the 'Add Resident' button.</div>
                    <street-address-form data-street-address="$ctrl.editUser.mailingAddressObject" data-use-care-of="true"></street-address-form>
                </div>

                <div class="col-12">
                    <label for="manager-notes-text-box" class="font-weight-bold" title="{{$ctrl.editUser.userId}}">Notes:</label>
                    <div class="col-12">
                        <textarea id="manager-notes-text-box" type="text" maxlength="4000" rows="3" class="form-control form-control-sm" data-ng-model="$ctrl.editUser.managerNotes"></textarea>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <label class="font-weight-bold">Communication Restriction:</label>
                    <div class="col-12">
                        <select data-ng-model="$ctrl.editUser.commRestriction">
                            <option value="">Unrestricted (Default)</option>
                            <option value="BoardOnly">User can only send group emails to the board or property manager groups, cannot use discussion threads</option>
                            <option value="IndBoardOnly">User can only send group emails to individual board members, cannot use discussion threads</option>
                            <option value="AdminBan">User can neither send emails nor use discussion threads</option>
                        </select>
                        <div class="note-text">You can limit who a user can send to through the site.</div>
                        <div class="text-error" data-ng-if="$ctrl.editUser.commRestriction && $ctrl.editUser.isSiteManager">This user is a site admin which means they'll be able to adjust this restriction themselves</div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-sm-6">
                    <div data-ng-show="$ctrl.editUser.userId.length > 0">
                        <div data-ng-hide="$ctrl.sentWelcomeEmail">
                            <input class="btn btn-primary" ng-disabled="$ctrl.editUserForm.$dirty" type="button" value="Send Welcome Email" data-ng-click="$ctrl.onSendWelcome();" />
                            <div data-ng-show="$ctrl.editUserForm.$dirty" class="note-text">
                                Save your changes then come back to send a welcome email.
                            </div>
                            <div data-ng-hide="$ctrl.editUserForm.$dirty" class="note-text">
                                This will send login instructions with a new password.
                            </div>
                        </div>
                        <div data-ng-show="$ctrl.sentWelcomeEmail" data-ng-click="$ctrl.setEdit( null )" style="color: blue;">
                            Welcome email has been sent!
                        </div>
                    </div>
                    <div class="text-sm-center" data-ng-show="!$ctrl.editUser.userId">
                        <input id="send-welcome-checkbox" type="checkbox" data-ng-model="$ctrl.editUser.shouldSendWelcomeEmail">&nbsp;<label style="display:inline-block;" for="send-welcome-checkbox">Send Welcome Email with Login Info</label>
                    </div>
                </div>

                <div class="col-sm-6 text-sm-right">
                    <button id="save-edit-button" class="btn btn-primary" ng-disabled="$ctrl.editUserForm.$invalid" type="button" data-ng-click="$ctrl.onSaveResident();">{{ $ctrl.editUser.pendingMemberId ? "Approve" : "Save" }}</button>
                    <button id="cancel-edit-button" class="btn btn-secondary" data-ng-if="!$ctrl.editUser.pendingMemberId" type="button" data-ng-click="$ctrl.setEdit( null )">Cancel</button>
                    <button id="remove-resident-button" class="btn btn-danger" data-ng-if="$ctrl.editUser.userId.length > 0" type="button" data-ng-click="$ctrl.onDeleteResident();">Remove Resident</button>
                    <button class="btn btn-secondary" data-ng-if="$ctrl.editUser.pendingMemberId" data-ng-click="$ctrl.rejectPendingMember();">Reject</button>

                    <input type="hidden" value="{{$ctrl.editUser.userId}}" />
                    <div class="text-sm-right" data-ng-if="$ctrl.editUser.userId.length > 0">
                        <span class="note-text" data-ng-if="$ctrl.editUser.lastLoginDateUtc">Last logged-in {{ $ctrl.editUser.lastLoginDateUtc | date:'EEEE, MMMM d, y h:mma' }}</span>
                        <span class="note-text" data-ng-if="!$ctrl.editUser.lastLoginDateUtc">Has not logged-in yet</span>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div data-ng-if="$ctrl.showLaunchSite" class="mt-4 mb-4">
        <div data-ng-show="!$ctrl.siteLaunchedDateUtc">
            Is your site new and are you ready to share it with your fellow residents?
            <br />
            <button type="button" class="btn btn-primary" data-ng-click="$ctrl.onSendAllWelcome();" data-ng-hide="$ctrl.allEmailsSent">Launch Site</button>
            <span style="font-weight:bold; color:#22F;" data-ng-show="$ctrl.allEmailsSent">All emails sent!</span>
            <br>
            <span>
                This will send all of the residents an email with log-in instructions and basic site information. This will not send
                an email to you or anyone else who has already logged-in.
            </span>
        </div>

        <div data-ng-show="$ctrl.siteLaunchedDateUtc !== null" class="note-text">
            Looking for the "Launch Site" button?<br />
            This site has already been successfully launched. If you need to send login instructions to users, click on their name above, then click
            the "Send Welcome Email" button. If needed, you can <span class="text-link" data-ng-click="$ctrl.siteLaunchedDateUtc = null">show the launch site button</span> again.
        </div>
    </div>


    <div class="spinner-effect mt-4 mb-4" data-ng-if="$ctrl.shouldShowResidentPermissions">
        <div class="loading-overlay" data-ng-show="$ctrl.isLoadingSettings"></div>

        <h4>{{$ctrl.memberTypeLabel}} Permissions</h4>

        <div data-ng-if="$ctrl.showEmailSettings">
            <div data-ng-if="$ctrl.hasMemberNotOwnerRenter">
                <label><input type="checkbox" data-ng-model="$ctrl.residentSettings.allowOwnersToSendEmail" data-ng-change="$ctrl.saveResidentSettings();" />Allow members to send group emails</label>
            </div>
            <div data-ng-if="!$ctrl.hasMemberNotOwnerRenter">
                <label><input type="checkbox" data-ng-model="$ctrl.residentSettings.allowOwnersToSendEmail" data-ng-change="$ctrl.saveResidentSettings();" />Allow owners to send group emails</label><br />
                <label><input type="checkbox" data-ng-model="$ctrl.residentSettings.allowRentersToSendEmail" data-ng-change="$ctrl.saveResidentSettings();" />Allow renters to send group emails</label><br />
            </div>

            <span class="note-text">
                When disabled, residents, who are neither board-members nor admin, can only send to the "Board", "Discussion", and "Property Managers" group email addresses. Only board members can send to the entire association.
                When enabled, all residents can send emails to all groups. If you find too many emails being sent around, uncheck this box. You can find more about group emails at the bottom of the <a href="#!/BuildingResidents">Residents</a> page.
            </span>
        </div>

        <div class="mt-4" data-ng-if="!$ctrl.hasMemberNotOwnerRenter">
            <label><input type="checkbox" data-ng-model="$ctrl.residentSettings.rentersCanViewDocs" data-ng-change="$ctrl.saveResidentSettings()" />Renters can view documents</label>
        </div>

        <div class="mt-4" data-ng-if="!$ctrl.hasMemberNotOwnerRenter">
            <label><input type="checkbox" data-ng-model="$ctrl.residentSettings.canHideContactInfo" data-ng-change="$ctrl.saveResidentSettings()" />Residents can hide their contact info on the <a href="#!/BuildingResidents">Residents</a> page.</label><br />
            <span class="note-text">
                Residents' phone and email address can be shown on the Residents page. If you check this box, residents have the option in <a href="#!/MyProfile">their profile page</a> to hide
                their contact info from other non-admin users. We believe in sharing contact info to promote collaboration and transparency, but we understand
                the world is not perfect and sometimes privacy is more important.
            </span>
        </div>

        <div class="mt-4">
            <label><input type="checkbox" data-ng-model="$ctrl.residentSettings.isDiscussionEmailGroupEnabled" data-ng-change="$ctrl.saveResidentSettings()" />Enable the discussion group email</label><br />
            <span class="note-text">
                The discussion group emails works like the other group emails at the bottom of the <a href="#!/BuildingResidents">Residents</a> page, except users can unsubscribe from specific
                discussions. We've since decided that the home page discussion threads are a better option for discussions and the discussion group email should not be used, but leave it here for
                groups that prefer email.
            </span>
        </div>

        <div class="mt-4">
            <label><input type="checkbox" data-ng-model="$ctrl.residentSettings.whoCanCreateDiscussionThreads" data-ng-change="$ctrl.saveResidentSettings()" data-ng-true-value="'everyone'" data-ng-false-value="'board'" />Non-Admin can create discussion threads</label><br />
            <span class="note-text">
                When enabled, anyone can start new discussion threads on the home page. If disabled, only board members and/or site admin can create discussion threads
            </span>
        </div>

        <p id="toggle-email-history-link" class="text-link mt-4" data-ng-click="$ctrl.toggleEmailHistoryVisible()">{{ $ctrl.showEmailHistory ? "Hide" : "Show" }} Email History</p>
        <div data-ng-if="$ctrl.showEmailHistory" class="mb-5">
            <h4>Group Email History</h4>
            <span class="note-text">Here you can view group emails sent in the last 6 months.</span>
            <div data-ui-grid="$ctrl.emailHistoryGridOptions" data-ui-grid-selection ui-grid-resize-columns ui-grid-pagination class="gridStyle margin-top-20"></div>
            <br />
        </div>

        <div id="view-email-body-container" class="modal-container" data-ng-if="$ctrl.viewingRecentEmailBody" data-ng-escape="$ctrl.closeViewingEmail()">
            <div class="modal-overlay" data-ng-click="$ctrl.closeViewingEmail()"></div>
            <div class="ca-modal-dialog modal-lg">
                <span style="float: right;" class="close-x" data-ng-click="$ctrl.closeViewingEmail()">&times;</span>
                <h3>Email Message</h3>
                <p style="white-space: pre-wrap;">
                    {{ $ctrl.viewingRecentEmailBody }}
                </p>
            </div>
        </div>
    </div>

    <div data-ng-show="$ctrl.isAdmin">
        <br />
        For Admins only.<br />
        <div style="border:1px solid #000;">
            Email: <input type="text" data-ng-model="$ctrl.adminSetPass_Username" /><br />
            Password: <input type="text" data-ng-model="$ctrl.adminSetPass_Password" /><br />
            <input type="button" value="Set Password" data-ng-click="$ctrl.OnAdminSetPassword();" />
        </div>
        <span style="color:#F00;">{{ $ctrl.adminSetPass_ResultMessage }}</span><br />
    </div>

    <div data-ng-show="$ctrl.isAdmin">
        <h3>Bulk Add</h3>
        <table style="width: 100%;" border="1">
            <thead>
                <tr>
                    <th style="width:13%;">Unit</th>
                    <th>Email</th>
                    <th style="width:10%;">First</th>
                    <th style="width:10%;">Last</th>
                    <th style="width:10%;">Phone</th>
                    <th style="width:5%;">Renter</th>
                    <th style="width:5%;">Admin</th>
                    <th style="">Mailing</th>
                    <th style="">Alternate Phone</th>
                    <th style="">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="row in $ctrl.bulkImportRows">
                    <td>
                        <select style="width:97%;" data-ng-model="row.unitId" data-ng-options="o.unitId as o.name for o in $ctrl.allUnits">
                            <option value=""></option>
                        </select>
                        <div data-ng-if="row.unitId === undefined" style="color: #F00; font-weight: bold;">
                            Invalid unit
                        </div>
                    </td>
                    <td>
                        <input style="width:97%;" type="text" data-ng-model="row.email" />
                        <div data-ng-if="row.emailHasDupe" style="color: #F00; font-weight: bold;">Duplicate Email</div>
                    </td>
                    <td><input style="width:97%;" data-ng-style="{'background-color':row.firstName?'white':'red'}" type="text" data-ng-model="row.firstName" /></td>
                    <td><input style="width:97%;" type="text" data-ng-model="row.lastName" /></td>
                    <td><input style="width:97%;" type="text" data-ng-model="row.phoneNumber" /></td>
                    <td class="text-center"><input type="checkbox" data-ng-model="row.isRenter" /></td>
                    <td class="text-center"><input type="checkbox" data-ng-model="row.isAdmin" /></td>
                    <td><input style="width:97%;" type="text" data-ng-model="row.mailingAddress" /></td>
                    <td><input style="width:97%;" type="text" data-ng-model="row.alternatePhone" /></td>
                    <td><input style="width:97%;" type="text" data-ng-model="row.managerNotes" /></td>
                </tr>
            </tbody>
        </table>
        <br />
        <button type="button" data-ng-click="$ctrl.addBulkRow()">Add Row</button>
        <button type="button" data-ng-click="$ctrl.submitBulkRows()">Submit {{$ctrl.bulkImportRows.length}} {{ $ctrl.bulkImportRows.length === 1 ? "Resident" : "Residents" }}</button>

        <fieldset>
            <legend>Parse CSV</legend>
            <p>
                CSV text columns must go in order: unit name, email address, first name, last name, phone number, is renter, is admin, alternate mailing address, alternate phone, notes.
                Specify any text for is renter/admin, an empty value means false.
            </p>
            <textarea style="width: 90%;" data-ng-model="$ctrl.bulkImportCsv" rows="10"></textarea>
            <label><input type="checkbox" data-ng-model="$ctrl.bulkParseNormalizeNameCase" />Normalize Name Casing</label>
            <button type="button" data-ng-click="$ctrl.parseBulkCsv()">Parse</button>
        </fieldset>

    </div>
</div>