<div class="page page-manage-resident spinner-effect">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

    <p class="margin-bottom-10 text-12">
        Are your neighbors not receiving e-mails from this site? If so, make sure they add "sender@condoally.com" to their list of trusted e-mail senders.
    </p>

    <p data-ng-if="$ctrl.showIsRenter">
        Here you can manage the people that live in your association. Simply click on their name to edit their information.
    </p>

    <p data-ng-if="!$ctrl.showIsRenter">
        Here you can manage the members of your association. Simply click on their name to edit their information.
    </p>

    <ul data-ng-if="$ctrl.showIsRenter">
        <li>Renters can only view site data, no editing or payments. You can choose if renters can view documents and send e-mails with the settings below.</li>
        <li>Owners can view all site data, view documents, and make payments. They cannot modify anything.</li>
        <li>Admin users have complete control over the site and only they can see the "Manage" menu.</li>
    </ul>

    <div id="MissingEmailsLabel" data-ng-show="$ctrl.badEmailsExist" class="margin-top-10 margin-bottom-10 text-error">
        Some neighbors are missing their e-mail address. In order for your neighbors to log-in, you must set their e-mail address then send them a welcome e-mail.
    </div>

    <div class="text-error" data-ng-if="$ctrl.hasOneAdmin">
        Your site only has one adminisitrator resident. It's a good idea to have at least two admin residents to be safe. The general practice is
        to make every board member an admin.
    </div>

    <div class="clearfix">
        <button class="btn btn-primary pull-right" data-ng-click="$ctrl.setEdit( {boardPosition:0, shouldSendWelcomeEmail: false} );">Add New {{ $ctrl.showIsRenter ? 'Resident' : 'Member' }}</button>
    </div>

    <div data-ui-grid="$ctrl.residentGridOptions" data-ui-grid-selection class="gridStyle margin-top-20"></div>
    
    <div class="clearfix"> 
        <span data-ng-if="$ctrl.residentGridOptions.data.length > 5" class="note-text">{{ $ctrl.residentGridOptions.data.length }} residents</span>
        <a href="javascript:void(0)" class="text-link pull-right" data-ng-click="$ctrl.exportResidentCsv()">Export To CSV</a>
    </div>

    <div id="EditUserContainer" class="modal-container" data-ng-show="$ctrl.editUser != null" data-ng-escape="$ctrl.setEdit( null )">
        <div class="modal-overlay" data-ng-click="$ctrl.setEdit( null )"></div>
        <form id="editUserForm" name="$ctrl.editUserForm" novalidate class="ca-modal-dialog modal-lg">
            <div class="loading-overlay" data-ng-show="$ctrl.isSavingUser"></div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-first-text-box" class="col-sm-4 col-xs-12">First Name:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="edit-user-first-text-box" type="text" class="form-control form-control-sm" required name="editUserFirstTextBox" data-ng-model="$ctrl.editUser.firstName" />
                            <div class="validation-label" data-ng-show="$ctrl.editUserForm.editUserFirstTextBox.$error.required">Required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-last-name-text-box" class="col-sm-4 col-xs-12">Last Name:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="edit-user-last-name-text-box" type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editUser.lastName" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="edit-user-email-text-box" class="col-sm-4 col-xs-12">E-mail:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="edit-user-email-text-box" type="text" class="form-control form-control-sm" data-ng-model="$ctrl.editUser.email" />
                            <div class="note-text" style="color: red;" data-ng-if="$ctrl.editUser.postmarkReportedBadEmailUtc">E-mail address was reported undeliverable.</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label class="col-sm-4 col-xs-12">{{ $ctrl.homeName }}:</label>
                        <div class="col-sm-8 col-xs-12">
                            <div data-ng-if="!$ctrl.editUser.showAdvancedHomePicker">
                                <select class="form-control form-control-sm" data-ng-model="$ctrl.editUser.singleUnitId" data-ng-options="o.unitId as o.name for o in $ctrl.allUnits">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div data-ng-if="$ctrl.editUser.showAdvancedHomePicker"
                                 selection-mode="{{ $ctrl.multiselectMulti }}"
                                 isteven-multi-select
                                 input-model="$ctrl.allUnits"
                                 output-model="$ctrl.editUser.units"
                                 helper-elements="{{ $ctrl.multiselectOptions }}"
                                 button-label="name"
                                 item-label="name"
                                 max-height="300px"
                                 tick-property="isSelectedForEditUser">
                            </div>

                            <span data-ng-if="$ctrl.multiselectMulti === 'single'" class="text-link note-text" data-ng-click="$ctrl.enableMultiHomePicker()">Click here to select multiple units</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row" data-ng-if="$ctrl.showIsRenter">
                        <label for="is-renter-checkbox" class="col-sm-4 col-xs-12">Is a Renter/Unit Manager:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="is-renter-checkbox" class="validation-label" type="checkbox" data-ng-model="$ctrl.editUser.isRenter" /><br />
                            <span class="note-text">Indicates this person is not a unit owner.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="is-site-manager-checkbox" class="col-sm-4 col-xs-12">Is Admin:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="is-site-manager-checkbox" type="checkbox" data-ng-model="$ctrl.editUser.isSiteManager" /><br>
                            <span class="note-text">Admin users can edit site information.</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="phone-number-text-box" class="col-sm-4 col-xs-12">Phone Number:</label>
                        <div class="col-sm-8 col-xs-12">
                            <input id="phone-number-text-box" type="text" maxlength="30" class="form-control form-control-sm" data-ng-model="$ctrl.editUser.phoneNumber" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label class="col-sm-4 col-xs-12">Board Position:</label>
                        <div class="col-sm-8 col-xs-12">
                            <select class="form-control form-control-sm" data-ng-model="$ctrl.editUser.boardPosition" data-ng-options="bp.id as bp.name for bp in $ctrl.boardPositions"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div data-ng-show="$ctrl.editUser.userId.length > 0">
                        <div data-ng-hide="$ctrl.sentWelcomeEmail">
                            <input class="btn btn-primary" ng-disabled="$ctrl.editUserForm.$dirty" type="button" value="Send Welcome E-mail" data-ng-click="$ctrl.onSendWelcome();" />
                            <div data-ng-show="$ctrl.editUserForm.$dirty" class="note-text">
                                Save your changes then come back to send a welcome e-mail.
                            </div>
                            <div data-ng-hide="$ctrl.editUserForm.$dirty" class="note-text">
                                This will send login instructions with a new password.
                            </div>
                        </div>
                        <div data-ng-show="$ctrl.sentWelcomeEmail" data-ng-click="$ctrl.setEdit( null )" style="color: blue;">
                            Welcome e-mail has been sent!
                        </div>
                    </div>
                    <div class="text-sm-center" data-ng-show="!$ctrl.editUser.userId">
                        <input id="send-welcome-checkbox" type="checkbox" data-ng-model="$ctrl.editUser.shouldSendWelcomeEmail">&nbsp;<label style="display:inline-block;" for="send-welcome-checkbox">Send Welcome E-mail with Login Info</label>
                    </div>
                </div>

                <div class="col-sm-6 text-sm-right">
                    <input id="save-edit-button" class="btn btn-primary" ng-disabled="$ctrl.editUserForm.$invalid" type="button" value="Save" data-ng-click="$ctrl.onSaveResident();" />
                    <input id="cancel-edit-button" class="btn btn-primary" type="button" value="Cancel" data-ng-click="$ctrl.setEdit( null )" />
                    <input id="remove-resident-button" class="btn btn-primary" data-ng-show="$ctrl.editUser.userId.length > 0" type="button" value="Remove Resident" data-ng-click="$ctrl.onDeleteResident();" />
                    <input type="hidden" value="{{$ctrl.editUser.userId}}" />
                    <div class="text-sm-right" data-ng-if="$ctrl.editUser.userId.length > 0">
                        <span class="note-text" data-ng-if="$ctrl.editUser.lastLoginDateUtc">Last logged-in {{ $ctrl.editUser.lastLoginDateUtc | date:'EEEE, MMMM d, y h:mma' }}</span>
                        <span class="note-text" data-ng-if="!$ctrl.editUser.lastLoginDateUtc">Has not logged-in yet</span>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <br />
    <div data-ng-show="$ctrl.siteLaunchedDateUtc === null">
        Is your site new and are you ready to share it with your fellow residents?<br />
        <input type="button" data-ng-click="$ctrl.onSendAllWelcome();" data-ng-hide="$ctrl.allEmailsSent" value="Launch Site" />
        <span style="font-weight:bold; color:#22F;" data-ng-show="$ctrl.allEmailsSent">All e-mails sent!</span>
        <br>
        <span>
            This will send all of the residents an e-mail with log-in instructions and basic site information. This will not send
            an e-mail to you or anyone else who has already logged-in.
        </span>
    </div>

    <div data-ng-show="$ctrl.siteLaunchedDateUtc !== null" class="note-text">
        Looking for the "Launch Site" button?<br />
        This site has already been successfully launched. If you need to send login instructions to users, click on their name above, then click
        the "Send Welcome E-mail" button.
    </div>

    <br />
    <br />

    <div class="spinner-effect" data-ng-if="$ctrl.showIsRenter">
        <div class="loading-overlay" data-ng-show="$ctrl.isLoadingSettings"></div>

        <h4>Resident Permissions</h4>
        <label><input type="checkbox" data-ng-model="$ctrl.residentSettings.allowOwnersToSendEmail" data-ng-change="$ctrl.saveResidentSettings();" />Allow owners to send e-mails from the home page</label><br />
        <label><input type="checkbox" data-ng-model="$ctrl.residentSettings.allowRentersToSendEmail" data-ng-change="$ctrl.saveResidentSettings();" />Allow renters to send e-mails from the home page</label><br />
        <span class="note-text">
            Admin always have the ability to send e-mails via the form on the home page. With these two check boxes
            you can control who else can use that form to send e-mails.
        </span>
        <br />
        <br />
        <label><input type="checkbox" data-ng-model="$ctrl.residentSettings.rentersCanViewDocs" data-ng-change="$ctrl.saveResidentSettings()" />Renters can view documents</label>
        <br />
        <label><input type="checkbox" data-ng-model="$ctrl.residentSettings.canHideContactInfo" data-ng-change="$ctrl.saveResidentSettings()" />Residents can hide their contact info on the <a href="#!/BuildingResidents">Residents</a> page.</label><br />
        <span class="note-text">
            Residents' phone and e-mail address can be shown on the Residents page. If you check this box, residents have the option in <a href="#!/MyProfile">their profile page</a> to hide
            their contact info from other non-admin users. We believe in sharing contact info to promote collaboration and transparency, but we understand
            the world is not perfect and sometimes privacy is more important.
        </span>
    </div>

    <div data-ng-show="$ctrl.isAdmin">
        <br />
        For Admins only.<br />
        <div style="border:1px solid #000;">
            E-mail: <input type="text" data-ng-model="$ctrl.adminSetPass_Username" /><br />
            Password: <input type="text" data-ng-model="$ctrl.adminSetPass_Password" /><br />
            <input type="button" value="Set Password" data-ng-click="$ctrl.OnAdminSetPassword();" />
        </div>
        <span style="color:#F00;">{{ $ctrl.adminSetPass_ResultMessage }}</span><br />
    </div>

    <div data-ng-show="$ctrl.isAdmin">
        <h3>Bulk Add</h3>
        <table style="width: 100%;" border="1">
            <thead>
                <tr>
                    <th style="width:13%;">Unit</th>
                    <th>Email</th>
                    <th style="width:13%;">First</th>
                    <th style="width:13%;">Last</th>
                    <th style="width:13%;">Phone</th>
                    <th style="width:9%;">Renter</th>
                    <th style="width:9%;">Admin</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="row in $ctrl.bulkImportRows">
                    <td>
                        <select style="width:97%;" data-ng-model="row.unitId" data-ng-options="o.unitId as o.name for o in $ctrl.allUnits">
                            <option value=""></option>
                        </select>
                        <div data-ng-if="row.unitId === undefined" style="color: #F00; font-weight: bold;">
                            Invalid unit
                        </div>
                    </td>
                    <td><input style="width:97%;" type="text" data-ng-model="row.email" /></td>
                    <td><input style="width:97%;" type="text" data-ng-model="row.firstName" /></td>
                    <td><input style="width:97%;" type="text" data-ng-model="row.lastName" /></td>
                    <td><input style="width:97%;" type="text" data-ng-model="row.phoneNumber" /></td>
                    <td class="text-center"><input type="checkbox" data-ng-model="row.isRenter" /></td>
                    <td class="text-center"><input type="checkbox" data-ng-model="row.isAdmin" /></td>
                </tr>
            </tbody>
        </table>
        <br />
        <button type="button" data-ng-click="$ctrl.addBulkRow()">Add Row</button>
        <button type="button" data-ng-click="$ctrl.submitBulkRows()">Submit {{$ctrl.bulkImportRows.length}} {{ $ctrl.bulkImportRows.length === 1 ? "Resident" : "Residents" }}</button>

        <fieldset>
            <legend>Parse CSV</legend>
            <p>
                CSV text columns must go in order: unit name, e-mail address, first name, last name, phone number, is renter, is admin.
                Specify any text for is renter/admin, an empty value means false.
            </p>
            <textarea style="width: 90%;" data-ng-model="$ctrl.bulkImportCsv" rows="10"></textarea>
            <button type="button" data-ng-click="$ctrl.parseBulkCsv()">Parse</button>
        </fieldset>

    </div>
</div>