<div class="page page-manage-polls">
    <div class="loading-overlay" data-ng-show="$ctrl.isLoading"></div>

    <h1>Create a Vote</h1>

    <p>
        Here you can add and edit votes that can be used to gather feedback for issues that come up in your association.
    </p>

    <ul>
        <li>Votes are anonymous but completely audited and trackable should the need arise.</li>
        <li>Each unit/home can only cast one vote, regardless of the number of residents living in that unit/home.</li>
        <li>Users can vote and change their vote any number of times until the vote's expiration date at which point the results will be shown.</li>
    </ul>

    <form id="edit-item-form" name="editItemForm" class="spinner-effect margin-top col-6" novalidate>
        <div class="row mb-3 px-3">
            <label class="form-label">Enter Question:<span class="validation-label" data-ng-show="$ctrl.editItemForm.PollQuestionTextBox.$error.required">Required</span></label>
            <input id="poll-question-textbox" type="text" class="form-control form-control-sm" maxlength="80" name="PollQuestionTextBox" data-ng-model="$ctrl.editingItem.questionText" required />
        </div>

        <div class="row mb-3 px-3">
            <label class="form-label">Question Details: <span class="note-text">(optional)</span></label>
            <textarea id="poll-details-textbox" data-ng-model="$ctrl.editingItem.detailText" maxlength="1000" rows="4" class="form-control"></textarea>
        </div>

        <h2>Answers</h2>

        <ol class="mt-3 question-list">
            <li ng-repeat="answer in $ctrl.editingItem.answers" class="margin-top-10">
                <div class="mb-3 ms-4">
                    <!--<label>{{ $index + 1 }}</label>-->
                    <input id="poll-answer-textbox-{{ $index }}" type="text" class="form-control form-control-sm" data-ng-model="answer.answerText" maxlength="60" data-ng-change="$ctrl.onAnswersChange()" required />
                </div>

                <div class="row mb-3 ms-4">
                    <div class="ps-0">
                        <label class="form-label">Details: <span class="note-text">(optional)</span></label>
                    </div>
                    <textarea id="poll-answer-detail-textbox-{{ $index }}" class="form-control" data-ng-model="answer.detailText" rows="3" maxlength="1000"></textarea>
                </div>

                <div>
                    <span id="remove-answer-{{ $index }}" data-ng-if="$index > 1" class="text-button poll-answer-remove" class="text-link" data-ng-click="$ctrl.removeAnswer($index)">Remove</span>
                </div>
            </li>
        </ol>

        <div data-ng-if="!$ctrl.editPollHasAbstain" class="mb-2">
            <span class="text-link note-text" data-ng-click="$ctrl.addAbstain()">Quick Add Abstain Answer</span>
        </div>

        <p class="text-center">
            <button id="add-poll-answer-button" class="btn btn-primary" data-ng-click="$ctrl.addAnswer();">Add Another Possible Answer</button>
        </p>

        <p class="margin-top-20">
            Enter the date at which this vote will close:<input class="form-control form-control-sm d-inline-block" style="width: 100px" id="poll-expiration-textbox" name="PollExpirationDateTextBox" type="text" data-ui-date data-ng-model="$ctrl.editingItem.pollExpirationDateUtc" required />
            <span class="validation-label" data-ng-show="$ctrl.editItemForm.PollExpirationDateTextBox.$error.required">Required</span><br />
            <span class="note-text">
                On noon of this date the vote will close, regardless of the number of units that have voted. Votes will stay on the home page 3 days after this date to allow residents to view the results.
            </span>
        </p>

        <div class="mb-4">
            Who can take part in this vote?
            <select data-ng-model="$ctrl.editingItem.votingGroupShortName" data-ng-change="$ctrl.onWhoGroupChange()" data-ng-options="g.recipientTypeName as g.displayName for g in $ctrl.whoCanVoteGroups">
            </select>
            <div class="note-text" data-ng-if="$ctrl.whoGroupNumPossibleVotes">
                The selected group can cast {{$ctrl.whoGroupNumPossibleVotes}} possible vote{{$ctrl.whoGroupNumPossibleVotes===1 ? '' : 's'}}
                <span class="text-link" data-ng-if="!$ctrl.shouldShowVoters" data-ng-click="$ctrl.shouldShowVoters = true">(Show voters)</span>
                <span class="text-link" data-ng-if="$ctrl.shouldShowVoters" data-ng-click="$ctrl.shouldShowVoters = false">(Hide voters)</span>
                <div data-ng-if="$ctrl.shouldShowVoters">
                    {{$ctrl.whoGroupMembersTooltip}}
                </div>
            </div>
        </div>

        <!--<p data-ng-if="$ctrl.shouldShowMemberCheckbox">
            <label style="margin-bottom: 0;"><input type="checkbox" data-ng-model="$ctrl.editingItem.isMemberBasedVote" data-ng-change="$ctrl.onWhoGroupChange()"> Allow all members to vote, not just one per home</label>
            <br />
            <span class="note-text">
                By default, votes allow only one response per household. If you check this box, everyone in a home can cast their own vote. (As long as they're in the 'Who can take part' group selected above)
            </span>
        </p>-->

        <p>
            <label style="margin-bottom: 0;"><input type="checkbox" data-ng-model="$ctrl.editingItem.allowOtherAnswer"> Allow users to type in their own responses</label><br />
            <span class="note-text">
                If selected, users will be able to enter their own text as a reponse. If not selected, users
                can only select from the list of answers specified here.
            </span>
        </p>

        <p>
            <label style="margin-bottom: 0;"><input type="checkbox" data-ng-model="$ctrl.shouldAllowMultipleAnswers" data-ng-change="$ctrl.onMultiAnswerChange()"> Allow users to choose more than one answer</label>
            <br />
            <span class="note-text" data-ng-if="$ctrl.shouldAllowMultipleAnswers">
                Users can choose up to <input type="number" min="2" max="20" data-ng-model="$ctrl.editingItem.maxNumResponses" /> answers.
            </span>
        </p>

        <p data-ng-if="!$ctrl.editingItem.postDateUtc">
            <label style="margin-bottom: 0;"><input type="checkbox" data-ng-model="$ctrl.editingItem.isAnonymous"> Responses are anonymous</label><br />
            <span class="note-text">
                If selected, you will not be able to see how units voted, only total response counts. Anonymous votes can help to provide
                more votes and/or more honest feedback.
            </span>
        </p>

        <p data-ng-if="!$ctrl.editingItem.postDateUtc">
            <div data-ng-if="$ctrl.isPremiumPlanActive">
                <label style="margin-bottom: 0;"><input type="checkbox" data-ng-model="$ctrl.editingItem.shouldSendAnnouncementEmail"> Send announcement email</label>
                <br />
                <span class="note-text">
                    Checking this will send out an email to residents that a vote has been added. <a class="font-italic" target="_blank" href="https://help.communityally.org/wp-content/uploads/2022/01/sample-poll-email.png">View Sample Email</a>
                </span>
            </div>
            <div class="note-text" data-ng-if="!$ctrl.isPremiumPlanActive">
                You can send out vote email notifications on our premium plan.
            </div>
        </p>

        <p data-ng-if="$ctrl.isPremiumPlanActive">
            <label style="margin-bottom: 0;"><input type="checkbox" data-ng-model="$ctrl.editingItem.shouldSendReminderEmail"> Send reminder email</label>
            <br />
            <span class="note-text">
                Checking this will cause an email reminder to be sent out 1 day before the vote's expiration date to anyone that hasn't yet voted.
            </span>
        </p>

        <p class="text-end">
            <input id="poll-submit" class="btn btn-primary" type="button" ng-disabled="$ctrl.editItemForm.$invalid" value="{{ $ctrl.editingItem.postDateUtc != null | iif: 'Save Changes' : 'Add Vote' }}" data-ng-click="$ctrl.onSavePoll();" />
            <input id="poll-cancel-edit" class="btn btn-primary" type="button" value="Cancel Edit" data-ng-show="$ctrl.editingItem.postDateUtc != null" data-ng-click="$ctrl.cancelEdit()" />
            <div class="note-text">Votes can be edited until the first vote is received, then they are locked from any changes.</div>
        </p>
    </form>


    <h1 class="margin-top">Vote History</h1>

    <div data-ng-if="$ctrl.pollHistory.length > 0">
        <table id="poll-table" class="table table-bordered table-responsive">
            <thead>
                <tr class="hidden-xs">
                    <th style="width: 10%"></th>
                    <!--<th>Status</th>-->
                    <th style="width:52%;">Question</th>
                    <th>Who</th>
                    <th>Post Date</th>
                    <th>Expiration Date</th>
                    <th style="width: 15%">Posted By</th>
                    <th>Results</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="pollItem in $ctrl.pollHistory">
                    <td>
                        <div data-ng-if="pollItem.activeState === 'inprogress'" class="note-text" title="The vote has responses and can no longer be changed">
                            In progress
                        </div>
                        <div data-ng-if="pollItem.activeState === 'closed'" class="note-text" title="The expiration date has passed">
                            Closed
                        </div>
                        <div data-ng-if="!pollItem.activeState">
                            <span id="edit-poll-{{ $index }}" class="text-button" data-ng-click="$ctrl.onEditItem( pollItem );">Edit</span>
                            <span id="delete-poll-{{ $index }}" class="text-button" data-ng-click="$ctrl.onDeleteItem( pollItem );">Delete</span>
                        </div>
                    </td>
                    <!--<td class="poll-entry-{{ $index }}-status"></td>-->
                    <td class="poll-entry-{{ $index }}-question-text">{{::pollItem.questionText}}<span class="note-text ms-2" data-ng-if="$ctrl.isSuperAdmin">(Poll ID: {{pollItem.pollId}})</span></td>
                    <td class="poll-entry-{{ $index }}-who">
                        <span>{{::$ctrl.formatVoteGroupName(pollItem.votingGroupShortName)}}</span>
                    </td>
                    <td class="poll-entry-{{ $index }}-post-date">{{::pollItem.postDateUtc | date:'M/d/yyyy'}}</td>
                    <td class="poll-entry-{{ $index }}-expiration-date">{{::pollItem.pollExpirationDateUtc | date:'M/d/yyyy'}}</td>
                    <td class="poll-entry-{{ $index }}-author-name">{{::pollItem.authorName | date:'M/d/yyyy'}}</td>
                    <td class="text-center">
                        <span class="text-button" data-ng-click="$ctrl.onViewResults( pollItem )">View</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div data-ng-if="$ctrl.pollHistory.length === 0" class="note-text">
        There have not been any votes yet
    </div>
</div>

<div class="modal-container" data-ng-if="$ctrl.viewingPollResults">
    <div class="modal-overlay" data-ng-click="$ctrl.onViewResults( null )"></div>
    <div class="ca-modal-dialog">
        <span style="float:right" class="close-x" data-ng-click="$ctrl.onViewResults( null )">&times;</span>
        <div>
            <h2>Results for: {{ $ctrl.viewingPollResults.questionText }}</h2>
        </div>
        <br />
        <br />
        <div style="float: left; width:60%;">
            <canvas id="poll-result-chart" width="469" height="234" class="chart chart-doughnut" data-chart-data="$ctrl.viewingPollResults.chartData" data-chart-labels="$ctrl.viewingPollResults.chartLabels" legend="true"></canvas>
        </div>
        <div style="float: left; width:39%;">
            <div data-ng-if="$ctrl.viewingPollResults.unitVoteText">
                Your unit voted:
                <span style="font-weight:bold;">{{ $ctrl.viewingPollResults.unitVoteText }}</span>
            </div>
            <div data-ng-if="!$ctrl.viewingPollResults.unitVoteText">
                Your unit did not vote in this poll.
            </div>
            <br />
            <ul>
                <li data-ng-repeat="answerCount in $ctrl.viewingPollResults.answerCounts">
                    <span>{{ answerCount.label }}:</span> <b>{{ answerCount.count }}</b>
                </li>
            </ul>
            <!--<div data-ng-repeat="answerCount in $ctrl.viewingPollResults.answerCounts">
                <span style="font-weight: bold;">{{ answerCount.label }}:</span> {{ answerCount.count }}
            </div>-->
        </div>
        <div class="clearfix"></div>
        <div class="mt-3 mb-3 note-text" data-ng-if="$ctrl.viewingPollResults.isAnonymous">This was an anonymous poll so individual responses cannot be viewed.</div>
        <div class="mt-3 mb-3" data-ng-if="!$ctrl.viewingPollResults.isAnonymous && $ctrl.viewingPollResults.responses.length > 0">
            <h2>Responses</h2>
            <table border="1" class="table">
                <thead>
                    <tr>
                        <th>Resident</th>
                        <th data-ng-if="$ctrl.shouldShowHomeCol">Home</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="response in $ctrl.viewingPollResults.responses">
                        <td>{{response.userFullName}}</td>
                        <td data-ng-if="$ctrl.shouldShowHomeCol">{{response.unitName}}</td>
                        <td>{{response.answerText}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span style="position:absolute; right: 5px; bottom: 5px;" class="note-text">Click anywhere to close</span>
    </div>
</div>