<div class="page page-manage-payments">
    <div data-ng-if="!$ctrl.showPaymentPage">
        We're currently having some trouble with our payment provider regarding growing fees so we're not able to
        sign-up new online payment accounts at this time.
    </div>

    <div data-ng-if="$ctrl.showPaymentPage">
        <div class="loading-overlay" data-ng-if="$ctrl.isLoading"></div>

        <div style="color:#00F; font-size:large;">{{ $ctrl.message }}</div>

        <div data-ng-if="$ctrl.hasLoadedPage" class="row">
            
            <div id="sign-up-panel" data-ng-if="$ctrl.hasAssessments == null" class="col-lg-9 col-md-12">
                <div data-ng-show="$ctrl.isLoading" class="loading-overlay"></div>

                <div data-ng-switch on="$ctrl.signUpStep">
                    <div ng-switch-when="0">
                        Before you can start collecting payments, please answer a few questions.<br><br>
                        <span>Does your association collect regular assessments?<br>(Sometimes called association, or common area, fees, or dues)</span><br>
                        <span id="periodic-payment-does-collect" class="text-link" data-ng-click="$ctrl.signUp_HasAssessments(true)">Yes</span><br>
                        <span id="periodic-payment-doesnt-collect" class="text-link" data-ng-click="$ctrl.signUp_HasAssessments(false)">No</span><br>
                    </div>

                    <div ng-switch-when="1">
                        <span>How often do residents pay assessments?</span><br>
                        <div data-ng-repeat="timeUnit in $ctrl.PeriodicPaymentFrequencies">
                            <span class="text-link" data-ng-click="$ctrl.signUp_AssessmentFrequency( $index )">{{ timeUnit.name }}</span>
                        </div>
                    </div>

                    <div ng-switch-when="2">
                        <span>How much does each unit pay?</span><br>
                        <div>
                            <small>
                                Make sure to enter the full amount. Do not include any discounts residents might receive
                                due to board positions or special situations, for example. You will be able add those
                                discounts or adjustments later.
                            </small>
                        </div>
                        <br>
                        <div data-ng-show="$ctrl.signUpInfo.allPayTheSame">
                            Every unit pays <input class="form-control form-control-sm" style="width: 90px;" data-ng-model="$ctrl.signUpInfo.allPayTheSameAmount" type="number"> per <span>{{ $ctrl.PeriodicPaymentFrequencies[ $ctrl.signUpInfo.frequencyIndex ].intervalName }}</span>.<br>
                            <span class="text-link" data-ng-click="$ctrl.signUpInfo.allPayTheSame=false">Click here if each unit pays a different amount.</span>
                        </div>
                        <div data-ng-hide="$ctrl.signUpInfo.allPayTheSame">
                            <table border="1" class="text-left">
                                <thead>
                                    <tr>
                                        <th>Unit</th>
                                        <th>Base Assessment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="unit in $ctrl.signUpInfo.units">
                                        <td>{{ unit.name }}</td>
                                        <td><input data-ng-model="unit.assessment" style="width:125px;"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="font-weight: bold;">
                                        <td>Total</td>
                                        <td>{{ $ctrl.getSignUpSum() | currency }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <br>
                        <span class="text-link" data-ng-click="$ctrl.signUp_Commit()">Done</span>
                    </div>
                </div>
            </div>

            <div id="signed-up-panel" data-ng-if="$ctrl.hasAssessments != null">

                <div data-ng-hide="$ctrl.paymentInfo.isWePaySetup">

                    We are in the process of changing our payment provider so sign-up is currently disabled. Please check back soon or reach out
                    to support for more information.
                    <!--We use WePay to securely handle all of our payment transactions to offer you
                    an incredible layer of security. To start receiving payments from your residents you need to create a WePay account
                    for your association. Payments will be sent to this WePay account and you can then specify how frequently you want
                    the balance to be transferred to your association's checking account.<br>
                    <br>
                    Fees when paying electronically:<br />
                    E-Check/ACH: $1.50<br />
                    Credit Card: 2.9% + $1.30<br />
                    You can choose if the payer or association covers these fees.<br />
                    <br />
                    <a href="https://support.wepay.com/hc/en-us" target="_blank">Learn more about <img src="/assets/images/wepay.png" alt="WePay" /> here</a>.<br>
                    <br>
                    <a href="{{ $ctrl.paymentInfo.wePayLoginUri }}">Sign up Now</a>-->

                </div>

                <form data-ng-show="$ctrl.paymentInfo.isWePaySetup || $ctrl.paymentInfo.payPalClientId">
                    <div class="form-group row">
                        <label for="allow-payments-checkbox" class="col-xs-6 col-sm-4">Allow Online Payments:</label>
                        <div class="col-xs-6 col-sm-8">
                            <input id="allow-payments-checkbox" type="checkbox" data-ng-change="$ctrl.saveAllowSetting()" data-ng-model="$ctrl.paymentInfo.areOnlinePaymentsAllowed">
                        </div>
                    </div>
                </form>

                <!--<div data-ng-if="$ctrl.paymentInfo.isWePaySetup && !$ctrl.paymentInfo.needsReLogin">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:50%;">WePay Balance: {{ $ctrl.paymentInfo.balanceDetail.availableBalance | currency }}</td>
                            <td style="width:50%;">WePay Pending Balance: {{ $ctrl.paymentInfo.balanceDetail.pendingBalance | currency }}</td>
                            <td style="width:33%; display: none;">
                                <input type="button" value="Withdrawal" data-ng-click="$ctrl.onWithdrawalClick();" />
                            </td>
                        </tr>
                    </table>
                    <div data-ng-if="isAdmin">
                        <span class="text-link" data-ng-click="">Clear access token</span>
                    </div>
                </div>-->

                <div data-ng-if="$ctrl.paymentInfo.isWePaySetup && $ctrl.paymentInfo.needsReLogin">
                    You need to log-in to WePay with your association's account to re-enable access.<br>
                    <a href="{{ $ctrl.paymentInfo.wePayLoginUri }}">Log-in Now</a>
                </div>

                <!--<div data-ng-hide="$ctrl.paymentInfo.payPalClientId">
        <h3>Setup PayPal Payments</h3>
        In order to accept payments via PayPal you need to sign-up for a PayPal business account. It only takes a few
        minutes and we've written a helpful guide to walk you through the process.<br />
        <a href="https://help.communityally.org/accept-payments-through-paypal/" target="_blank">Accept Payments Through PayPal Guide</a><br />
        <br />
        Once you get near the end of sign-up you'll need to paste in your PayPal client ID and secret API value here to
        enable payments.<br />
        <form>
            <div class="form-group row">
                <label class="col-sm-4">Client ID:</label>
                <div class="col-sm-8"><input type="text" class="form-control form-control-sm" data-ng-model="$ctrl.payPalSignUpClientId"></div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4">Client Secret:</label>
                <div class="col-sm-8"><input type="text" class="form-control form-control-sm" data-ng-model="$ctrl.payPalSignUpClientSecret"></div>
            </div>

            <div data-ng-if="$ctrl.payPalSignUpErrorMessage" class="text-error">
                {{ $ctrl.payPalSignUpErrorMessage }}
            </div>

            <div class="text-right mt-3">
                <input class="btn btn-primary" type="button" value="Enable PayPal Payments" data-ng-click="$ctrl.enablePayPal();">
            </div>
        </form>
    </div>-->

                <h3 class="margin-top">Electronic Payment History</h3>
                <div class="wide_tble_wrap">
                    <div data-ng-if="!$ctrl.paymentInfo.electronicPayments || $ctrl.paymentInfo.electronicPayments.length === 0">
                        No electronic payments have yet been made.
                    </div>

                    <table class="table table-bordered" data-ng-if="$ctrl.paymentInfo.electronicPayments.length > 0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Unit</th>
                                <th>Resident</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Notes</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="payment in $ctrl.paymentInfo.electronicPayments" data-ng-class="{ 'highlight': (payment.wePayCheckoutId == $ctrl.highlightWePayCheckoutId) }">
                                <td>{{ payment.submitDate | date }}</td>
                                <td>{{ payment.unitName }}</td>
                                <td>{{ payment.resident }}</td>
                                <td>{{ payment.amount | currency }}</td>
                                <td>{{ payment.status }}</td>
                                <td>{{ payment.notes }}</td>
                                <td>
                                    <span class="text-link" data-ng-if="payment.wePayCheckoutId" data-ng-click="$ctrl.showWePayCheckoutInfo( payment.wePayCheckoutId )">WePay Details</span>
                                    <span class="text-link" data-ng-if="payment.payPalCheckoutId" data-ng-click="$ctrl.showPayPalCheckoutInfo( payment.payPalCheckoutId )">PayPal Details</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div data-ng-if="$ctrl.paymentInfo.payPalClientId">
                    <h3 class="margin-top">PayPal Settings</h3>

                    <div class="form-group row">
                        <label class="col-sm-4">Client ID:</label>
                        <div class="col-sm-8">
                            <span data-ng-if="!$ctrl.isUpdatingPayPalCredentials">{{$ctrl.paymentInfo.payPalClientId}}</span>
                            <input data-ng-if="$ctrl.isUpdatingPayPalCredentials" type="text" class="form-control" data-ng-model="$ctrl.payPalSignUpClientId" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4">Client Secret:</label>
                        <div class="col-sm-8">
                            <span data-ng-if="!$ctrl.isUpdatingPayPalCredentials">
                                <span>{{$ctrl.paymentInfo.payPalMaskedSecret}}</span>&nbsp;<span class="note-text">(Hidden for security)</span>
                            </span>
                            <input data-ng-if="$ctrl.isUpdatingPayPalCredentials" type="text" class="form-control" data-ng-model="$ctrl.payPalSignUpClientSecret" />
                        </div>
                    </div>

                    <div class="text-right mt-3" data-ng-if="!$ctrl.isUpdatingPayPalCredentials">
                        <span class="note-text">If you are concerned that your PayPal account may be hacked you should reset your PayPal credentials. After you reset your API credentials you can update the values here.</span><br />
                        <input class="btn btn-primary" type="button" value="Update Credentials" data-ng-click="$ctrl.updatePayPalCredentials();">
                    </div>

                    <div class="text-right mt-3" data-ng-if="$ctrl.isUpdatingPayPalCredentials">
                        <div data-ng-if="$ctrl.payPalSignUpErrorMessage" class="text-error">
                            {{ $ctrl.payPalSignUpErrorMessage }}
                        </div>

                        <input id="save-edit-button" class="btn btn-primary" type="button" value="Save" data-ng-click="$ctrl.enablePayPal();" />
                        <input id="cancel-edit-button" class="btn btn-secondary" type="button" value="Cancel" data-ng-click="$ctrl.isUpdatingPayPalCredentials = false" />
                    </div>
                </div>

                <div data-ng-if="$ctrl.paymentInfo.isWePaySetup">
                    <h3 class="margin-top">Manage WePay Fees</h3>

                    <p>
                        WePay charges a fee to handle online payments. You can choose how those transaction fees
                        are paid.
                    </p>
                    <div class="spinner-effect">
                        <div data-ng-show="$ctrl.isLoadingPayment" class="loading-overlay"></div>
                        <div class="wide_tble_wrap">
                            <table class="table table-bordered table-vertical-middle">
                                <thead>
                                    <tr>
                                        <th>Payment Method</th>
                                        <th>Fee</th>
                                        <th>Payment handling</th>
                                        <th>Example Amount</th>
                                        <th>Resident Pays</th>
                                        <th>Association Receives</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Electronic Check (ACH)</td>
                                        <td>$1.50</td>
                                        <td>
                                            <label><input type="radio" data-ng-change="$ctrl.onChangeFeePayerInfo('ach');" data-ng-model="$ctrl.paymentInfo.payerPaysAchFee" data-ng-value="true" /> Payer pays</label><br />
                                            <label><input type="radio" data-ng-change="$ctrl.onChangeFeePayerInfo('ach');" data-ng-model="$ctrl.paymentInfo.payerPaysAchFee" data-ng-value="false" /> Association pays</label>
                                        </td>
                                        <td rowspan="2" class="text-center">
                                            <span>$</span><input type="text" class="form-control form-control-sm d-inline-block" style="width: 90px;" data-ng-model="$ctrl.testFee.amount" data-ng-change="$ctrl.updateTestFee()" />
                                        </td>
                                        <td>
                                            {{ $ctrl.testFee.achResidentPays | currency }}
                                        </td>
                                        <td>
                                            {{ $ctrl.testFee.achAssociationReceives | currency }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Credit Card</td>
                                        <td>2.9% + $1.30</td>
                                        <td>
                                            <label><input type="radio" data-ng-change="$ctrl.onChangeFeePayerInfo('cc');" data-ng-model="$ctrl.paymentInfo.payerPaysCCFee" data-ng-value="true" /> Payer pays</label><br />
                                            <label><input type="radio" data-ng-change="$ctrl.onChangeFeePayerInfo('cc');" data-ng-model="$ctrl.paymentInfo.payerPaysCCFee" data-ng-value="false" /> Association pays</label>
                                        </td>
                                        <td>
                                            {{ $ctrl.testFee.ccResidentPays | currency }}
                                        </td>
                                        <td>
                                            {{ $ctrl.testFee.ccAssociationReceives | currency }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div data-ng-show="$ctrl.isLoadingPayment" style="z-index:100;" class="container-overlay"></div>
                    </div>
                </div>

                <div id="AssessmentsPanel" data-ng-if="$ctrl.hasAssessments">
                    <h3 class="margin-top">Unit Assessments</h3>
                    <p>
                        The unit assessments are set upon setup of your online payments. If you need to make an adjustment to a base assessment, please
                        contact support and they'll be happy to help you. If a unit receives a discount, you can use the adjusted assessment and
                        reason column to indicate as such. For example, some associations compensate their board members for their duty via a discount on their assessment.
                    </p>
                    <div class="wide_tble_wrap">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-right" style="width: 260px;">Unit</th>
                                    <th class="text-center" style="width: 140px;">Assessment</th>
                                    <th class="text-left">Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="unit in $ctrl.units">
                                    <td class="text-right">{{ unit.name }}</td>
                                    <!--<td class="text-center">
                                        <span data-ng-if="$ctrl.userInfo.isAdmin" class="text-button test1" data-onshow="selectText();" data-onaftersave="$ctrl.onUnitAssessmentChanged( unit );" data-editable-text="unit.assessment">{{ unit.assessment | currency }}</span>
                                        <span data-ng-if="!$ctrl.userInfo.isAdmin">{{ unit.assessment | currency }}</span>
                                    </td>-->
                                    <td class="text-center"><span class="text-button" data-onshow="$ctrl.selectText();" data-onaftersave="$ctrl.onUnitAssessmentChanged( unit );" data-editable-text="unit.adjustedAssessment">{{ (unit.adjustedAssessment || 0) | currency }}</span></td>
                                    <td class="text-left"><span class="text-button" data-onshow="$ctrl.selectText();" e-maxlength="250" data-onaftersave="$ctrl.onUnitAssessmentChanged( unit );" data-editable-text="unit.adjustedAssessmentReason">{{ unit.adjustedAssessmentReason || "edit" }}</span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-right">Total</th>
                                    <!--<th class="text-center">{{ $ctrl.assessmentSum | currency }}</th>-->
                                    <th class="text-center">{{ $ctrl.adjustedAssessmentSum | currency }}</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div data-ng-show="$ctrl.isLoadingUnits" style="z-index:100;" class="container-overlay"></div>


                    <h3 class="margin-top">Late Fees</h3>
                    <div class="error-text" data-ng-if="!$ctrl.isAssessmentTrackingEnabled">
                        Late fees can only be enabled if assessment tracking is enabled.<br />
                        <a href="#!/AssessmentHistory">Visit the Assessment History page</a>
                    </div>

                    <div class="spinner-effect">
                        <div data-ng-if="!$ctrl.isAssessmentTrackingEnabled" class="gray-overlay"></div>
                        <div data-ng-show="$ctrl.isLoading || $ctrl.isLoadingLateFee" class="loading-overlay"></div>
                        <form data-ng-submit="$ctrl.saveLateFee()">
                            <p>
                                Add a late fee if a resident hasn't paid their assessment by the <input style="width: 45px;" maxlength="2" class="form-control form-control-sm d-inline-block" type="text" data-ng-model="$ctrl.lateFeeInfo.lateFeeDayOfMonth" /><sup>{{ getLateFeeDateSuper() }}</sup> day of the month.

                            </p>
                            <div class="margin-top" data-ng-style="{ 'color': !$ctrl.lateFeeInfo.lateFeeDayOfMonth ? '#AAA' : '#000'}">
                                How much is the late fee? <input type="text" class="form-control form-control-sm d-inline" style="width: 200px;" data-ng-model="$ctrl.lateFeeInfo.lateFeeAmount" />
                                <br />
                                <span class="note-text">You can enter a flat amount like $124.45 or a percent like 10%</span>
                            </div>
                            <p class="text-right" style="max-width:450px;">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </p>

                            <p>
                                If you want to give a resident a break on the late fee even if they're passed due, you can tell them to select
                                "other" for the type of payment on the home page and have them enter their normal assessment in the amount field.
                            </p>

                        </form>
                    </div>

                </div>

            </div>

        </div>

        <div data-ng-if="$ctrl.viewingWePayCheckoutId" class="modal-container" data-ng-escape="$ctrl.showWePayCheckoutInfo( null )">
            <div class="modal-overlay" data-ng-click="$ctrl.showWePayCheckoutInfo( null )"></div>
            <div class="ca-modal-dialog modal-sm" data-ng-click="$ctrl.showWePayCheckoutInfo( null )">
                <div class="loading-overlay" data-ng-show="$ctrl.isLoadingCheckoutDetails"></div>
                <table>
                    <tbody>
                        <tr><td class="AlignRightBold">Checkout Id: </td><td>{{ $ctrl.checkoutInfo.checkoutId }}</td></tr>
                        <tr><td class="AlignRightBold">Create Time: </td><td>{{ $ctrl.checkoutInfo.createTime | date:'short' }}</td></tr>
                        <tr><td class="AlignRightBold">State: </td><td>{{ $ctrl.checkoutInfo.state }}</td></tr>
                        <tr><td class="AlignRightBold">Short Description: </td><td>{{ $ctrl.checkoutInfo.shortDescription }}</td></tr>
                        <tr><td class="AlignRightBold">Long Description: </td><td>{{ $ctrl.checkoutInfo.longDescription }}</td></tr>
                        <tr><td class="AlignRightBold">Amount Paid: </td><td>{{ $ctrl.checkoutInfo.amountPaid | currency }}</td></tr>
                        <tr><td class="AlignRightBold">Processing Fee: </td><td>{{ $ctrl.checkoutInfo.processingFee | currency }}</td></tr>
                        <tr><td class="AlignRightBold">Fee Payer: </td><td>{{ $ctrl.checkoutInfo.feePayer }}</td></tr>
                        <tr><td class="AlignRightBold">Gross Paid: </td><td>{{ $ctrl.checkoutInfo.grossPaid | currency }}</td></tr>
                        <tr><td class="AlignRightBold">Refund Reason: </td><td>{{ $ctrl.checkoutInfo.refundReason }}</td></tr>
                        <tr><td class="AlignRightBold">Payment Method: </td><td>{{ $ctrl.checkoutInfo.paymentMethod }}</td></tr>
                        <tr><td class="AlignRightBold">Payer Name: </td><td>{{ $ctrl.checkoutInfo.payerName }}</td></tr>
                        <tr><td class="AlignRightBold">Payer Email: </td><td>{{ $ctrl.checkoutInfo.payerEmail }}</td></tr>
                        <tr><td class="AlignRightBold">Payment Error: </td><td>{{ $ctrl.checkoutInfo.paymentError }}</td></tr>
                    </tbody>
                </table>
                <br />
                <br />
                <p class="note-text text-right">(Click anywhere to close)</p>
            </div>
        </div>

        <div data-ng-if="$ctrl.viewingPayPalCheckoutId" class="modal-container" data-ng-escape="$ctrl.showPayPalCheckoutInfo( null )">
            <div class="modal-overlay" data-ng-click="$ctrl.showPayPalCheckoutInfo( null )"></div>
            <div class="ca-modal-dialog modal-sm" data-ng-click="$ctrl.showPayPalCheckoutInfo( null )">
                <div class="loading-overlay" data-ng-show="$ctrl.isLoadingCheckoutDetails"></div>
                <table>
                    <tbody>
                        <tr><td class="AlignRightBold">Checkout Id: </td><td>{{ $ctrl.checkoutInfo.checkoutId }}</td></tr>
                        <tr><td class="AlignRightBold">Create Time: </td><td>{{ $ctrl.checkoutInfo.createTimeUtc | date:'EEEE, MMMM d, yyyy h:mm a' }}</td></tr>
                        <tr><td class="AlignRightBold">State: </td><td>{{ $ctrl.checkoutInfo.state }}</td></tr>
                        <tr><td class="AlignRightBold">Short Description: </td><td>{{ $ctrl.checkoutInfo.shortDescription }}</td></tr>
                        <tr><td class="AlignRightBold">Amount Paid: </td><td>{{ $ctrl.checkoutInfo.amountPaid | currency }}</td></tr>
                        <tr><td class="AlignRightBold">Payment Method: </td><td>{{ $ctrl.checkoutInfo.paymentMethod }}</td></tr>
                        <tr><td class="AlignRightBold">Payer Name: </td><td>{{ $ctrl.checkoutInfo.payerName }}</td></tr>
                        <tr><td class="AlignRightBold">Payer Email: </td><td>{{ $ctrl.checkoutInfo.payerEmail }}</td></tr>
                        <tr><td class="AlignRightBold">Payment Error: </td><td>{{ $ctrl.checkoutInfo.paymentError }}</td></tr>
                    </tbody>
                </table>
                <br />
                <br />
                <p class="note-text text-right">(Click anywhere to close)</p>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">
    $( ".collapsibleContainer" ).collapsiblePanel();
</script>